.bl-wr{position:relative;width:1400px;margin:0 auto}
#bl-i-ct.bl-sb{padding-bottom:80px}
#bl-i-cont{min-height:350px}
.bl-ar-nvgx{overflow:hidden;padding-bottom:55px;margin-bottom:65px;padding-top:90px;border-bottom:3px solid #e4e4e4;text-align:center}
.bl-ar-nvgx ul{display:inline-block;overflow:hidden;text-align:center}
.bl-ar-nvgx ul li{position:relative;float:left;line-height:1;padding:0 16px;font-size:15px;color:#c0c1c1;font-family:'Noto Sans KR'}
.bl-ar-nvgx ul li:before{content:'';display:block;position:absolute;left:-2.5px;top:5px;width:5px;height:5px;border-radius:50%;background:#cbcbcb}
.bl-ar-nvgx ul li:first-child:before{display:none}
.bl-ar-nvgx ul li img{display:inline-block;position:relative;top:1px;height:12px;vertical-align:top}
.bl-ar-nvgx ul li:last-child{color:#9b6b5e}
.bl-ar-nvgx em{display:block;margin-top:20px;font-family:'AritaBuri';font-weight:bold;font-size:45px;color:#312b28}
.bl-ar-nvgx ul li br{display:none}
.bl-ar > div{position:absolute;top:50%}
.bl-ar div[data-arr="right"]{right:0}
.bl-ar div[data-arr="left"]{left:0}
.bl-ar > div *{float:left}
.bl-ar div[data-arr="left"] img{transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.bl-ar > div p{position:relative;line-height:1.3;font-family:'AritaBuri';font-weight:bold;font-size:18px;color:#555;transition:all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1)}
.bl-ar div[data-arr="right"] p{padding-right:30px}
.bl-ar div[data-arr="left"] p{padding-left:30px}
.bl-ar div[data-arr="right"] a:hover p{color:#9b6b5e}
.bl-ar div[data-arr="left"] a:hover p{color:#9b6b5e}
.bl-ar div[data-arr="right"] p:before{content:'';position:absolute;top:7px;right:0;display:block;width:10px;height:3px;background:#b6b6b6;border-radius:3px;transform:rotate(45deg);transition:0.5s}
.bl-ar div[data-arr="right"] p:after{content:'';position:absolute;top:12px;right:0;display:block;width:10px;height:3px;background:#b6b6b6;border-radius:3px;transform:rotate(-45deg);transition:0.5s}
.bl-ar div[data-arr="left"] p:before{content:'';position:absolute;top:7px;left:0;display:block;width:10px;height:3px;background:#b6b6b6;border-radius:3px;transform:rotate(-45deg);transition:0.5s}
.bl-ar div[data-arr="left"] p:after{content:'';position:absolute;top:12px;left:0;display:block;width:10px;height:3px;background:#b6b6b6;border-radius:3px;transform:rotate(45deg);transition:0.5s}
.bl-ar div[data-arr="left"] a:hover p:before,.bl-ar div[data-arr="left"] a:hover p:after,.bl-ar div[data-arr="right"] a:hover p:after,.bl-ar div[data-arr="right"] a:hover p:before{background:#9b6b5e;transition:0.5s}
.bl-bx-ar{position:absolute;top:-159px;left:0;width:100%}
.bl-ar-prgx .bl-bx{margin-bottom:60px}
.bl-ar-prgx .bl-bx > h3{margin-bottom:20px;font-family:'AritaBuri';font-size:25px}
.bl-ar-prgx .bl-bx table{border-top:2px solid #9b6b5e}
.bl-ar-prgx .bl-bx table .bl-cntx{width:30%;text-align:left}
.bl-ar-prgx .bl-bx table th{width:17%;padding:15px 10px;background:#9b6b5e;border-bottom:1px solid #d0b2a8;color:#fff}
.bl-ar-prgx .bl-bx table td{width:10%;padding:25px 20px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;color:#444;text-align:center;word-break:keep-all;font-family:'Noto Sans KR'}
.bl-ar-prgx .bl-bx table td span{display:block;color:#9b6b5e;font-weight:700}
.bl-ar-cmpx h3{font-size:18px;color:#9b6b5e;font-weight:500;font-family:'Playfair Display'}
.bl-ar-cmpx .bl-cntx-01{position:relative;padding:140px 0 350px 0}
.bl-ar-cmpx .bl-cntx-01 .bl-tx{width:32%}
.bl-ar-cmpx .bl-cntx-01 .bl-tx p{line-height:1.8;color:#555;font-size:16px;font-weight:300;word-break:keep-all}
.bl-ar-cmpx .bl-cntx-01 .bl-tx b{display:block;margin:50px 0 20px 0;font-size:30px;color:#222;font-family:'AritaBuri';word-break:keep-all}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2{position:absolute;right:0;top:50px}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{margin:250px 50px 0 0}
.bl-ar-cmpx .bl-cntx-02{overflow:hidden;padding:0 100px;margin:100px 0}
.bl-ar-cmpx .bl-cntx-02 h3{font-size:40px;margin-bottom:20px;text-align:left;font-family:'Playfair Display'}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2{height:560px;background:url(img/csscontent-01.jpg) no-repeat 50% 10%}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx{padding:110px 0 0 30px}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx p{line-height:1.8;font-size:18px;font-weight:300}
.bl-ar-cmpx .bl-cntx-02 ul{width:100%;margin-top:-10%}
.bl-ar-cmpx .bl-cntx-02 ul li{float:left;padding:3.37% 0 2.949%;width:33.33%;text-align:center;background:#fff;box-sizing:border-box;border:1px solid #ddd;border-left:0}
.bl-ar-cmpx .bl-cntx-02 ul li:first-child{border-left:1px solid #eee}
.bl-ar-cmpx .bl-cntx-02 ul li p{margin-top:20px;font-size:18px;color:#222;text-align:center;font-family:'AritaBuri';font-weight:bold;font-size:25px}
.bl-ar-cmpx .bl-cntx-02 ul li span{color:#9b6b5e;font-family:'Playfair Display'}
.bl-bjx-tx{opacity:0.78;position:absolute;font-weight:800;white-space:nowrap}
.bl-bjx-tx{top:55%;left:50%;font-size:180px;color:#9b6b5e;transform:translateX(-32vw);font-family:'Playfair Display'}
.bl-ar-sndx .bl-pic2{width:100%;height:450px}
.bl-ar-sndx .bl-tx{display:flex;justify-content:space-around;align-items:flex-start;width:90%;background:#fff;padding:50px;margin:-60px auto 40px}
.bl-ar-sndx .bl-tx h3{width:70%;font-size:34px;font-family:'AritaBuri'}
.bl-ar-sndx .bl-tx h3 span{font-size:18px;display:block;color:#9b6b5e}
.bl-ar-sndx .bl-tx p{line-height:1.8;color:#555;font-size:16px;font-weight:400;word-break:keep-all}
.bl-ar-sndx .bl-tx p b{display:block;margin-top:15px;color:#222}
.bl-ar-brnx .bl-pic-ls > li{margin-bottom:40px;margin-top:0}
.bl-ar-brnx .bl-pic-ls > li:nth-child(3n+2){margin:0 2% 40px}
.bl-ar-brnx .bl-pic-ls > li a > *:not(.bl-pic2){padding:0}
.bl-ar-brnx .bl-pic-ls > li p{height:24px;margin-top:15px;font-size:16px;text-align:center;color:#222;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.bl-ar-brnx .bl-brnx-nf{overflow:hidden}
.bl-ar-brnx .bl-nf-pic{float:left;position:relative;width:50%;height:420px}
.bl-ar-brnx .bl-nf-tx{float:right;width:45%;margin-top:5%}
.bl-ar-brnx .bl-nf-tx h3{margin-bottom:25px;font-size:25px;color:#222;font-weight:600;font-family:'AritaBuri'}
.bl-ar-brnx .bl-nf-tx ul li{position:relative;min-height:30px;padding-left:120px;margin-bottom:20px;font-family:'Noto Sans KR';font-weight:400;font-size:16px;color:#666}
.bl-ar-brnx .bl-nf-tx ul li em{position:relative;display:inline-block;position:absolute;left:0;width:120px;padding-left:26px;color:#9b6b5e}
.bl-ar-brnx .bl-nf-tx ul li em:before{content:"";display:block;position:absolute;top:50%;left:0;width:6px;height:9px;background:url(img/csscontent-02.png) no-repeat center center / auto;transform:translateY(-50%)}
.bl-ar-brnx .bl-nf-tx ul li .bl-snsx a{margin-right:10px}
.bl-ar-brnx .bl-nf-tx ul li .bl-snsx img{height:23px}
.bl-ar-brnx .bl-brnx-tx{clear:both;margin-top:50px;padding:40px 0;border-top:1px dashed #ddd;text-align:center}
.bl-ar-brnx .bl-brnx-tx img{max-width:100% !important;height:auto !important}
.bl-ar-brnx .bl-bt-ar{text-align:center}
a.bl-bt-mr{display:inline-block;line-height:1em;margin-top:59px;padding:18px 80px 18px 41px;background:url(img/csscontent-03.png) no-repeat center right 40px;border:5px solid #c7cace;font-family:'Noto Sans KR';font-weight:600;font-size:14px;color:#7d7d7d !important;border-radius:39px}
a.bl-bt-mr:hover{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 40px;border:5px solid #9b6b5e;color:#fff !important}
.bl-ar-fclx .bl-cntx2{display:flex;align-items:center;justify-content:space-between}
.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{margin-left:40px}
.bl-ar-fclx .bl-cntx2 > .bl-pic2{width:50%;position:relative}
.bl-ar-fclx .bl-cntx2 > .bl-pic2:before{z-index:-1;content:'';display:block;position:absolute;left:0;top:0;width:572px;height:760px;margin-right:63px;border-radius:285px 285px 0 0;background-color:#AE8171}
.bl-ar-fclx .bl-cntx2 .bl-tx{width:50%}
.bl-ar-fclx .bl-cntx2 .bl-tx span{font-weight:bold;font-size:18px;color:#9b6b5e;font-family:'AritaBuri'}
.bl-ar-fclx .bl-cntx2 .bl-tx h3{margin:15px 0 20px 0;font-family:'AritaBuri';color:#222;font-size:40px;word-break:keep-all}
.bl-ar-fclx .bl-cntx2 .bl-tx p{line-height:1.8;font-weight:300;font-size:17px;color:#666;letter-spacing:0.3px;word-break:keep-all}
.bl-cntx3{margin-top:120px;padding:120px 0;background:#f3f3ef}
.bl-cntx3 h3{font-size:40px;color:#756965;text-align:center;font-family:'AritaBuri'}
.bl-cntx4{margin:100px auto}
.bl-cntx4 .bl-pic2{position:relative}
.bl-cntx4 .bl-pic2 .bl-nrx-pic{width:100%;height:425px}
.bl-cntx4 .bl-pic2 .bl-nrx-tx{position:absolute;bottom:-35px;right:45px;background:#9b6b5e;padding:30px 60px 40px 60px;color:#fff;text-align:center;font-weight:300;letter-spacing:-1px}
.bl-cntx4 .bl-pic2 .bl-nrx-tx h3{font-size:32px;font-family:'AritaBuri'}
.bl-cntx4 .bl-pic2 .bl-nrx-tx span{margin-bottom:10px;display:block;font-size:16px;color:#eaeaea;letter-spacing:1.5px;font-weight:400;font-family:'Playfair Display'}
.bl-cntx5{overflow:hidden;padding:120px 0;background:#f6f6f6;text-align:center}
.bl-cntx5 h3{margin-bottom:50px;font-size:40px;color:#222;text-align:center;font-family:'AritaBuri'}
.bl-cntx5 img{height:45px}
.bl-ls-ndx{display:flex;flex-wrap:wrap;justify-content:center}
.bl-ls-ndx li{position:relative;margin-top:50px;width:33.3%;text-align:center}
.bl-ls-ndx li p{margin:15px 0 0 0;color:#444;text-align:center;font-size:18px;font-weight:500;word-break:keep-all}
.bl-ls-ndx li img{display:inline-block}
.bl-ls-ndx li .bl-pic2{position:relative}
.bl-ls-ndx li span{display:block;line-height:30px;width:30px;height:30px;margin:20px auto 11px;border-radius:50%;background:#756965;color:#fff;font-size:14px;text-align:center}
.bl-ls-prcx{margin-top:80px;display:flex;flex-wrap:wrap;justify-content:flex-start;align-items:flex-start}
.bl-ls-prcx li{position:relative;width:20%;padding:0 0 40px 0;text-align:center}
.bl-ls-prcx li:after{content:"";position:absolute;top:-4px;left:50%;margin-left:-4px;width:8px;height:8px;background:#756965;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.bl-ls-prcx li p{color:#666;font-size:16px;font-weight:400;word-break:keep-all}
.bl-ls-prcx li p:before{content:'';display:block;width:100%;height:1px;margin-bottom:15px;background:#eee}
.bl-tbl01{border-top:2px solid #9b6b5e}
.bl-tbl01 .bl-cntx{width:30%;text-align:left}
.bl-tbl01 th{width:25%;padding:15px 10px;background:#9b6b5e;border-bottom:1px solid #d0b2a8;color:#fff}
.bl-tbl01 td{padding:25px 20px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;background:#fff;color:#444;text-align:center;word-break:keep-all;font-family:'Noto Sans KR'}
.bl-tbl01 td span{display:block;color:#9b6b5e;font-weight:700}
.bl-ar-wddx .bl-cntx2{position:relative}
.bl-ar-wddx .bl-cntx2:before{opacity:0.3;content:'';position:absolute;left:-3%;bottom:-100px;display:block;width:100%;height:100%;background:url(img/flower.svg) no-repeat;background-position:0 100%;background-size:350px 310px}
.bl-ar-wddx .bl-cntx2 .bl-wr{display:flex;align-items:center;justify-content:space-between;flex-direction:row-reverse}
.bl-ar-wddx .bl-cntx2 .bl-wr > div{width:50%}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2{position:relative}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before{z-index:1;content:'';display:block;position:absolute;right:0;top:45px;width:572px;height:760px;margin-right:45px;border:1px solid #9b6b5e;border-radius:285px 285px 0 0;transition:all 3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s}
.bl-ar-wddx .bl-cntx2 .bl-tx{margin-left:40px}
.bl-ar-wddx .bl-cntx2 .bl-tx span{font-weight:bold;font-size:18px;color:#9b6b5e;font-family:'Playfair Display'}
.bl-ar-wddx .bl-cntx2 .bl-tx h3{margin:15px 0 20px 0;font-family:'AritaBuri';color:#222;font-size:40px}
.bl-ar-wddx .bl-cntx2 .bl-tx p{line-height:1.8;font-weight:300;font-size:17px;color:#666;letter-spacing:0.3px;word-break:keep-all}
.bl-ls-ndx.bl-v1x{display:flex;flex-wrap:wrap;justify-content:space-evenly}
.bl-ls-ndx.bl-v1x li{position:relative;margin-top:50px;width:48%;text-align:center}
.bl-ls-prcx li{position:relative;width:16.6%;padding:0 0 40px 0;text-align:center}
.bl-ar-mthx .bl-cntx2{display:flex;align-items:center;justify-content:space-between;background:#9b6b5e}
.bl-ar-mthx .bl-cntx2 >{overflow:hidden}
.bl-ar-mthx .bl-cntx2 > .bl-pic2{width:-webkit-calc(100% - 480px);width:calc(100% - 480px);height:435px}
.bl-ar-mthx .bl-cntx2 > .bl-pic2{position:relative}
.bl-ar-mthx .bl-cntx2 .bl-tx{width:480px;padding:0 40px}
.bl-ar-mthx .bl-cntx2 .bl-tx span{opacity:0.9;font-weight:bold;font-size:18px;color:#fff;font-family:'Playfair Display'}
.bl-ar-mthx .bl-cntx2 .bl-tx h3{margin:10px 0 20px 0;font-family:'AritaBuri';color:#fff;font-size:35px}
.bl-ar-mthx .bl-cntx2 .bl-tx p{line-height:1.8;font-weight:300;font-size:17px;color:#fff;letter-spacing:0.3px;word-break:keep-all}
.bl-ar-mthx .bl-cntx2 a.bl-bt-mr{display:inline-block;line-height:1em;margin-top:30px;padding:18px 80px 18px 41px;background:url(img/csscontent-04.png) no-repeat center right 40px;border:5px solid #fff;font-family:'Noto Sans KR';font-weight:600;font-size:14px;color:#fff !important;border-radius:39px}
.bl-ar-mthx .bl-cntx2 a.bl-bt-mr:hover{background:#fff url(img/csscontent-03.png) no-repeat center right 40px;border:5px solid #fff;color:#9b6b5e !important}
.bl-ar-slmx .bl-cntx2{display:flex;align-items:center;justify-content:space-between}
.bl-ar-slmx .bl-cntx2 > div{width:50%}
.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{margin-left:40px}
.bl-ar-slmx .bl-cntx2 > .bl-pic2{position:relative}
.bl-ar-slmx .bl-cntx2 > .bl-pic2:before{z-index:-1;content:'';display:block;position:absolute;left:0;top:0;width:572px;height:760px;margin-right:63px;border-radius:285px 285px 0 0;background-color:#AE8171}
.bl-ar-slmx .bl-cntx2 .bl-tx span{font-weight:bold;font-size:18px;color:#9b6b5e;font-family:'Playfair Display'}
.bl-ar-slmx .bl-cntx2 .bl-tx h3{margin:15px 0 20px 0;font-family:'AritaBuri';color:#222;font-size:40px}
.bl-ar-slmx .bl-cntx2 .bl-tx p{line-height:1.8;font-weight:300;font-size:17px;color:#666;letter-spacing:0.3px;word-break:keep-all}
.bl-ar-mmnx .bl-cntx2{position:relative}
.bl-ar-mmnx .bl-cntx2:before{opacity:0.15;content:'';position:absolute;left:-3%;bottom:-100px;display:block;width:100%;height:100%;background:url(img/flower03.svg) no-repeat;background-position:0 100%;background-size:350px 310px}
.bl-ar-mmnx .bl-cntx2 .bl-wr{display:flex;align-items:center;justify-content:space-between;flex-direction:row-reverse}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2{width:50%;position:relative}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before{z-index:1;content:'';display:block;position:absolute;right:0;top:45px;width:572px;height:760px;margin-right:45px;border:1px solid #9b6b5e;border-radius:285px 285px 0 0;transition:all 3s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s}
.bl-ar-mmnx .bl-cntx2 .bl-tx{width:50%}
.bl-ar-mmnx .bl-cntx2 .bl-tx{margin-left:40px}
.bl-ar-mmnx .bl-cntx2 .bl-tx span{font-weight:bold;font-size:18px;color:#9b6b5e;font-family:'Playfair Display'}
.bl-ar-mmnx .bl-cntx2 .bl-tx h3{margin:15px 0 20px 0;font-family:'AritaBuri';color:#222;font-size:40px}
.bl-ar-mmnx .bl-cntx2 .bl-tx p{line-height:1.8;font-weight:300;font-size:17px;color:#666;letter-spacing:0.3px;word-break:keep-all}
.bl-ar-plcx{clear:both;margin-top:50px}
.bl-ar-plcx h6{margin-bottom:20px;font-weight:700;font-size:17px;color:#222}
.bl-ar-plcx h2{padding:30px 0;font-weight:700;font-size:40px;color:#222;text-align:center}
.bl-ar-plcx p{line-height:1.6;font-size:14px}
.bl-ar-plcx ul li,.bl-ar-plcx p{line-height:1.6;font-weight:300;font-size:15px;color:#666}
.bl-ar-plcx ul li ul{margin-bottom:10px;padding-left:15px}
.bl-ar-plcx ul li{margin-bottom:8px}
.bl-ar-plcx ul li:last-child{margin:0}
.bl-ar-plcx ul li ul li{margin-bottom:2px;font-size:15px}
.bl-ar-plcx ul li ul{margin-top:5px;margin-bottom:20px}
.bl-ar-plcx .bl-nrx-plcx{padding:40px 0;border-bottom:1px solid #ddd}
.bl-ar-plcx .bl-nrx-plcx:last-child{border:none}
.bl-ar-plcx .bl-ls-tx{margin-top:5px}
.bl-ar-plcx .bl-ls-tx > li:before{content:'-';margin-right:7px}
.bl-ar-nc .bl-pic-ls > li a > *:not(.bl-pic2){padding:0}
.bl-ar-nc .bl-pic-ls > li a p{margin:15px 0 7px 0;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
@media all and (max-width:1420px){
.bl-ar-nvgx.bl-wr{margin-bottom:50px}
.bl-wr{width:96%;margin:0 auto}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2{height:380px}
.bl-ar-cmpx .bl-cntx-02 ul{margin-top:0}
.bl-ar-cmpx .bl-cntx-02{margin-bottom:50px}
.bl-ar-cmpx .bl-cntx-02{padding:0 2%}
.bl-ar-cmpx .bl-cntx-01{position:relative;padding:140px 0 220px 0}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic01{height:500px}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{height:380px}
.bl-bjx-tx{top:70%}
.bl-ar-fclx .bl-cntx2 > .bl-pic2{width:60%}
.bl-ar-slmx .bl-cntx2 > .bl-pic2{width:60%}
.bl-ls-ndx li{width:31%;margin:50px 1% 0 1%}
.bl-ls-ndx li img{width:100%}
}
@media all and (max-width:1280px){
.bl-ar-nvgx em{font-size:35px}
.bl-ar-mmnx .bl-cntx2 .bl-tx h3,.bl-ar-slmx .bl-cntx2 .bl-tx h3,.bl-ar-mthx .bl-cntx2 .bl-tx h3,.bl-ar-wddx .bl-cntx2 .bl-tx h3,.bl-ar-fclx .bl-cntx2 .bl-tx h3{font-size:30px}
.bl-ar-fclx .bl-cntx2 .bl-tx{width:40%}
.bl-ar-slmx .bl-cntx2 > .bl-tx{width:40%}
.bl-ar-sndx .bl-tx{width:95%}
.bl-ar-sndx .bl-tx h3{width:100%}
}
@media all and (max-width:1200px){
#bl-i-hd .bl-tp-mn{border-bottom:1px solid #eee}
.bl-ar-cmpx .bl-cntx-01{padding:90px 0 140px 0}
.bl-bjx-tx{font-size:120px}
.bl-ar-cmpx .bl-cntx-01 .bl-tx{width:40%}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic01{height:400px}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{height:260px;margin:200px 30px 0 0}
.bl-ar-mmnx .bl-cntx2{justify-content:space-around}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2 img,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2 img,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-fclx .bl-cntx2 > .bl-pic2,.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{width:455px}
.bl-ar-fclx .bl-cntx2 > .bl-pic2:before{width:100%;height:100%}
.bl-ar-wddx .bl-cntx2:before{opacity:0.15}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before{height:100%}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-tx{width:40%;margin-left:0}
.bl-ar-slmx .bl-cntx2 > .bl-pic2,.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{width:455px}
.bl-ar-slmx .bl-cntx2 > .bl-pic2:before{width:100%;height:100%}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before{width:100%;height:100%}
.bl-ar-mmnx .bl-cntx2:before{display:none}
.bl-ar-mmnx .bl-cntx2 .bl-tx{width:40%;margin-left:0}
}
@media all and (max-width:1024px){
.bl-ar > div p{font-size:0}
.bl-ar-nvgx{padding-top:50px}
.bl-ar-fclx .bl-cntx2{justify-content:space-between}
.bl-ar-sndx .bl-tx{flex-direction:column;padding-bottom:0}
.bl-ar-sndx .bl-tx h3{margin-bottom:30px}
}
@media all and (max-width:960px){
.bl-ar-cmpx .bl-cntx-01 .bl-tx{width:42%}
.bl-ar-cmpx .bl-cntx-01 .bl-tx b{font-size:25px}
.bl-ar-cmpx .bl-cntx-01{padding:30px 0 120px 0}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic01{height:300px}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{height:200px}
.bl-bjx-tx{top:73%;left:70%;font-size:90px}
.bl-ar-cmpx .bl-cntx-02{margin-bottom:0}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2{height:300px}
.bl-ar-cmpx .bl-cntx-02 ul li p{font-size:18px}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx{padding:80px 0 0 30px}
.bl-ls-prcx li{width:25%}
.bl-ar-fclx .bl-cntx2 > .bl-pic2,.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{width:400px}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before{width:400px;top:30px;margin-right:30px}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2 img{width:400px}
.bl-ar-mthx .bl-cntx2 .bl-tx{width:400px}
.bl-ar-mthx .bl-cntx2 > .bl-pic2{width:-webkit-calc(100% - 400px);width:calc(100% - 400px)}
.bl-ar-slmx .bl-cntx2 > .bl-pic2,.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{width:400px}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before{width:400px;top:30px;margin-right:30px}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2 img{width:400px}
}
@media all and (max-width:860px){
.bl-ar-fclx .bl-cntx2 > .bl-pic2,.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{width:350px}
.bl-ar-fclx .bl-cntx2 .bl-tx h3{font-size:24px}
.bl-ar-mthx .bl-cntx2 .bl-tx h3{font-size:24px}
.bl-ar-mthx .bl-cntx2 .bl-tx{width:350px}
.bl-ar-mthx .bl-cntx2 > .bl-pic2{width:-webkit-calc(100% - 350px);width:calc(100% - 350px)}
.bl-ar-slmx .bl-cntx2 > .bl-pic2,.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{width:350px}
.bl-ar-slmx .bl-cntx2 .bl-tx h3{font-size:24px}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2 img{width:350px}
}
@media all and (max-width:767px){
.bl-wr{width:94%}
#bl-i-ct.bl-sb{padding-bottom:40px}
.bl-ar-cmpx h3{font-size:14px}
.bl-ar-cmpx .bl-cntx-01{overflow:hidden}
.bl-ar-cmpx .bl-cntx-01 .bl-tx b{margin:15px 0 25px 0;font-size:18px}
.bl-ar-cmpx .bl-cntx-01 .bl-tx p{font-size:14px}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{height:140px;margin:200px 10px 0 0}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic01{height:250px}
.bl-ar-cmpx .bl-cntx-02{width:100%;padding:0;margin-top:60px}
.bl-ar-cmpx .bl-cntx-02 h3{font-size:20px}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2{height:250px}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx p{font-size:14px;word-break:keep-all}
.bl-ar-cmpx .bl-cntx-02 ul li p{margin-top:13px;font-size:15px}
.bl-ar div[data-arr="right"] p:before{content:'';right:-10px}
.bl-ar div[data-arr="right"] p:after{content:'';right:-10px}
.bl-ar div[data-arr="left"] p:before{content:'';left:-10px}
.bl-ar div[data-arr="left"] p:after{content:'';left:-10px}
.bl-ar-nvgx.bl-wr{margin-bottom:30px}
.bl-ar-nvgx{padding:30px 0 20px}
.bl-ar-nvgx ul li img{top:0}
.bl-ar-nvgx ul li:before{width:3px;height:3px;left:-1.5px}
.bl-ar-nvgx ul li{padding:0 12px;font-size:13px}
.bl-ar-nvgx em{margin-top:10px;font-size:22px}
.bl-bx-ar{top:-100px}
.bl-ar-brnx .bl-pic-ls > li p{font-size:14px}
.bl-ar-brnx .bl-nf-pic{width:100%;height:350px}
.bl-ar-brnx .bl-nf-tx{width:100%}
.bl-ar-brnx .bl-nf-tx h3{margin-bottom:15px;font-size:18px}
.bl-ar-brnx .bl-nf-tx ul li{padding-left:110px;font-size:14px}
.bl-ar-brnx .bl-nf-tx ul li em{width:110px;padding-left:18px}
.bl-ar-brnx a.bl-bt-mr{margin-top:0}
a.bl-bt-mr{font-family:Sans-serif;margin-top:35px;padding:16px 60px 16px 30px;background:url(img/csscontent-03.png) no-repeat center right 30px;font-size:12px}
a.bl-bt-mr:hover{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 30px;border:5px solid #9b6b5e;color:#fff !important}
.bl-ar-mthx .bl-cntx2 a.bl-bt-mr{padding:16px 60px 16px 30px;background:url(img/csscontent-04.png) no-repeat center right 30px;font-size:12px}
.bl-ar-mthx .bl-cntx2 a.bl-bt-mr:hover{background:#fff url(img/csscontent-03.png) no-repeat center right 30px;border:5px solid #fff;color:#9b6b5e !important}
.bl-ar-plcx{margin-top:20px !important}
.bl-ar-plcx h2{padding:0px 0;font-weight:600;font-size:22px}
.bl-ar-plcx h6{margin-bottom:10px;font-weight:600;font-size:14px}
.bl-ar-plcx ul li{margin-bottom:5px}
.bl-ar-plcx ul li ul{padding-left:10px}
.bl-ar-plcx ul li ul li{font-size:13px}
.bl-ar-plcx ul li,.bl-ar-plcx p{line-height:1.7;font-size:13px}
.bl-ar-plcx .bl-nrx-plcx{padding:25px 0}
.bl-ar-prgx .bl-bx{margin-bottom:40px}
.bl-ar-prgx .bl-bx > h3{position:relative;padding-left:15px;font-size:18px}
.bl-ar-prgx .bl-bx > h3:before{content:'';position:absolute;left:0;top:4px;display:inline-block;width:3px;height:18px;background:#9b6b5e}
.bl-ar-prgx .bl-bx table{border-top:0}
.bl-ar-prgx .bl-bx table th{display:block;width:100%;padding:10px;font-size:13px}
.bl-ar-prgx .bl-bx table td,.bl-ar-prgx .bl-bx table .bl-cntx{display:block;width:100%;text-align:center;border-left:1px solid #ddd;padding:10px;font-size:13px}
.bl-ar-prgx .bl-bx table .bl-cntx{background:#fff8f5;font-weight:300}
.bl-ar-prgx .bl-bx table td span{display:inline-block;margin-right:5px}
.bl-ar-prgx .bl-bx table td span:after{content:' : '}
.bl-ar-prgx .bl-bx table td.bl-tdx-nnx{display:none}
.bl-ar-prgx .bl-bx table tr{display:block;margin-top:20px}
.bl-ar-prgx .bl-bx table tr:first-child{margin-top:0}
.bl-tbl01 th,.bl-tbl01 td{display:block;width:100%;padding:10px;font-size:13px}
.bl-tbl01 td{border-left:1px solid #ddd}
.bl-tbl01 td span{display:inline-block;padding-right:3px}
.bl-tbl01 td span:after{content:' : '}
.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{margin-left:20px}
.bl-ar-fclx .bl-cntx2 > .bl-pic2,.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{width:290px}
.bl-ar-fclx .bl-cntx2 .bl-tx{width:43%}
.bl-ar-fclx .bl-cntx2 .bl-tx h3{margin:8px 0 13px 0;font-size:20px}
.bl-ar-fclx .bl-cntx2 .bl-tx span{font-size:13px}
.bl-ar-fclx .bl-cntx2 .bl-tx p{font-size:14px}
.bl-ar-wddx .bl-cntx2:before{display:none}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2 img{width:290px}
.bl-ar-wddx .bl-cntx2 .bl-tx h3{margin:8px 0 13px 0;font-size:20px}
.bl-ar-wddx .bl-cntx2 .bl-tx span{font-size:13px}
.bl-ar-wddx .bl-cntx2 .bl-tx p{font-size:14px}
.bl-ar-mthx .bl-cntx2{flex-direction:column}
.bl-ar-mthx .bl-cntx2 > .bl-pic2{width:100%;height:300px}
.bl-ar-mthx .bl-cntx2 .bl-tx{width:100%;padding:30px}
.bl-ar-mthx .bl-cntx2 .bl-tx h3{margin:8px 0 13px 0;font-size:20px}
.bl-ar-mthx .bl-cntx2 .bl-tx p{font-size:14px}
.bl-ar-mthx .bl-cntx2 .bl-tx span{font-size:13px}
.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{margin-left:20px}
.bl-ar-slmx .bl-cntx2 > .bl-pic2,.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{width:290px}
.bl-ar-slmx .bl-cntx2 .bl-tx{width:43%}
.bl-ar-slmx .bl-cntx2 .bl-tx h3{margin:8px 0 13px 0;font-size:20px}
.bl-ar-slmx .bl-cntx2 .bl-tx span{font-size:13px}
.bl-ar-slmx .bl-cntx2 .bl-tx p{font-size:14px}
.bl-ar-mmnx .bl-cntx2:before{display:none}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2 img{width:290px}
.bl-ar-mmnx .bl-cntx2 .bl-tx h3{margin:8px 0 13px 0;font-size:20px}
.bl-ar-mmnx .bl-cntx2 .bl-tx span{font-size:13px}
.bl-ar-mmnx .bl-cntx2 .bl-tx p{font-size:14px}
.bl-cntx3{padding:60px 0;margin-top:60px}
.bl-cntx3 h3{font-size:20px}
.bl-cntx4{margin:60px 0 20px 0}
.bl-cntx4 .bl-pic2 .bl-nrx-tx{padding:25px 30px}
.bl-cntx4 .bl-pic2 .bl-nrx-tx h3{font-size:20px}
.bl-cntx4 .bl-pic2 .bl-nrx-tx span{font-size:13px}
.bl-cntx4 .bl-pic2 .bl-nrx-pic{height:250px}
.bl-ls-ndx li p{font-size:14px;font-weight:300}
.bl-ls-prcx li p{font-size:14px}
.bl-cntx5{padding:60px 0}
.bl-cntx5 h3{margin-bottom:20px;font-size:20px}
.bl-ar-sndx .bl-pic2{height:300px}
.bl-ar-sndx .bl-tx{padding:0;margin-top:40px}
.bl-ar-sndx .bl-tx h3 span{font-size:13px}
.bl-ar-sndx .bl-tx h3{margin-bottom:20px;font-size:20px}
.bl-ar-sndx .bl-tx p{font-size:14px}
}
@media all and (max-width:640px){
.bl-ar-brnx .bl-pic-ls > li:nth-child(3n+2){margin-left:0;margin-right:0}
.bl-bjx-tx{top:58%}
.bl-ar-cmpx .bl-cntx-02{margin-top:0}
.bl-ar-cmpx .bl-cntx-01 .bl-tx{width:53%}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic02{display:none}
.bl-ar-fclx .bl-cntx2{overflow:hidden;flex-direction:column}
.bl-ar-fclx .bl-cntx2 .bl-tx{margin-top:30px;width:90%;text-align:center}
.bl-ar-wddx .bl-cntx2 .bl-wr{flex-direction:column}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-tx{margin-top:60px;width:90%;text-align:center}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before{top:30px;right:-30px;margin-right:0}
.bl-ar-slmx .bl-cntx2{overflow:hidden;flex-direction:column}
.bl-ar-slmx .bl-cntx2 .bl-tx{margin-top:30px;width:90%;text-align:center}
.bl-ar-mmnx .bl-cntx2 .bl-wr{flex-direction:column}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-tx{margin-top:60px;width:90%;text-align:center}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before{top:30px;right:-30px;margin-right:0}
.bl-ls-ndx{justify-content:space-between}
.bl-ls-ndx li{width:49%;margin:30px 0 0 0}
.bl-ls-ndx li span{line-height:26px;width:26px;height:26px;font-size:12px}
.bl-ls-ndx.bl-v1x li{margin-top:30px}
.bl-ls-prcx li{width:33.3%}
.bl-ls-prcx li p{font-size:12px}
.bl-cntx4 .bl-pic2 .bl-nrx-tx{right:0}
}
@media all and (max-width:600px){
.bl-ar-cmpx .bl-cntx-02 ul li{width:100%;border:0;background:#f6f6f6}
.bl-ar-cmpx .bl-cntx-02 ul li:nth-child(2){background:#fff}
}
@media all and (max-width:500px){
.bl-ar-cmpx .bl-cntx-01 .bl-pic2{position:static}
.bl-ar-cmpx .bl-cntx-01 .bl-pic2 .bl-pic01{width:100%;height:auto}
.bl-ar-cmpx .bl-cntx-01 .bl-tx{width:100%;margin-top:30px}
.bl-bjx-tx{top:18%}
.bl-ar-cmpx .bl-cntx-01{padding:0 0 60px 0}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2{position:relative;height:auto;background:url(img/csscontent-01.jpg) no-repeat 60% 10%}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.4)}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx{padding:80px 10px}
.bl-ar-cmpx .bl-cntx-02 .bl-pic2 .bl-tx p{color:#fff}
.bl-ar-cmpx .bl-cntx-02 h3{color:#ffd1c0}
.bl-ar-brnx .bl-nf-pic{height:250px}
.bl-ar-nvgx em{font-size:17px}
}
@media all and (max-width:460px){
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-tx{width:94%}
.bl-ar-slmx .bl-cntx2 .bl-tx p br,.bl-ar-mmnx .bl-cntx2 .bl-tx p br,.bl-ar-fclx .bl-cntx2 .bl-tx p br,.bl-ar-wddx .bl-cntx2 .bl-tx p br,.bl-ar-mthx .bl-cntx2 .bl-tx p br{display:none}
}
@media all and (max-width:400px){
.bl-ar-fclx .bl-cntx2 > .bl-pic2,.bl-ar-fclx .bl-cntx2 > .bl-pic2 img{width:250px}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before{top:20px;right:-20px}
.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-wddx .bl-cntx2 .bl-wr > .bl-pic2 img{width:250px}
.bl-ar-slmx .bl-cntx2 > .bl-pic2,.bl-ar-slmx .bl-cntx2 > .bl-pic2 img{width:250px}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before{top:20px;right:-20px}
.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2:before,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2,.bl-ar-mmnx .bl-cntx2 .bl-wr > .bl-pic2 img{width:250px}
}
@media all and (max-width:350px){
.bl-bx-ar{display:none}
.bl-ar-nvgx ul li{padding:0 7px}
}
