body,p,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,button,select{font-family:'Playfair Display', Noto Sans KR , '맑은 고딕', '돋움', Dotum, '굴림', Gulim, Sans-serif;color:#444}
html,body{font-size:15px;line-height:1.5;min-width:320px}
h1,h2,h3,h4,h5,h6{font-size:1rem}
input,textarea,button,select{font-size:0.9375rem}
img,fieldset,button{border:0}
textarea{overflow:auto}
input[type=submit],input[type=button],button{cursor:pointer}
img{vertical-align:top}
address,em{font-style:normal}
table{border-spacing:0;border-collapse:collapse}
table,th,td{border:none}
caption{overflow:hidden;line-height:0;text-indent:-2000em}
legend,.hidden{padding:0;margin:0;overflow:hidden !important;text-indent:100%;white-space:nowrap;font-size:0}
i{font-style:normal}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
figure{padding:0px;margin:0px}
a:link{text-decoration:none;color:#444}
a:visited{text-decoration:none;color:#444}
a:hover{text-decoration:none;color:#444}
a:active{text-decoration:none}
a:focus{text-decoration:none}
ul,ol,li{list-style:none}
body{-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none}
input,select,textarea,label{display:inline-block;box-sizing:border-box;width:auto;vertical-align:middle;line-height:1.4}
input[type=text],input[type=password],input[type=tel],input[type=date],input[type=email],input[type=number],textarea{height:33px;padding:7px 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle}
textarea{resize:none}
select{height:33px;padding:0 8px;margin:2px 0px;border:1px solid #ddd;background:#fff;vertical-align:middle}
select::-ms-expand{background-color:transparent;border:0}
input[type="text"],input[type="password"],input[type="submit"],input[type="button"],input[type="number"],input[type="file"],select,textarea{-webkit-border-radius:1px;-webkit-appearance:none}
select{padding-right:30px;background:url(img/select-arrow.svg) no-repeat calc(100% - 10px) 50%;background-size:7px 7px}
body:is(.bl-bbsx-vwx,.bl-bd-rvwx,.bl-pd-vwx,.bl-rvwx,.bl-vwx,.bl-vwx-mr) select{padding-right:10px}
input[type=file]{background:#eee;font-size:1.08em}
input[readonly],input[disabled]{background:#eee}
input[type=checkbox],input[type=radio]{width:13px;height:13px;margin:2px 3px 1px 0}
input[type=checkbox] + label,input[type=radio] + label{margin-right:20px}
table{width:100%}
.bl-ip50{width:50px !important}
.bl-ip70{width:70px !important}
.bl-ip100{width:100px !important}
.bl-ip200{width:200px !important}
.bl-ip300{width:300px !important}
.bl-ip400{width:400px !important}
.bl-ip-fllx{width:100% !important}
.bl-tx-pntx{color:#5971d1}
.bl-tx-pntx2{color:#d1597f}
.bl-tx-pntx3{color:#74b777}
.bl-tx-pntx4{color:#989898}
.bl-tx-pntx5{color:#000}
.bl-tx-pntx6{color:#e69035}
.bl-mrkx{display:inline-block;position:relative;width:10px;height:14px;margin-bottom:-2px;vertical-align:middle;text-indent:100%;overflow:hidden;white-space:nowrap}
.bl-mrkx:after{content:'*';display:inline-block;position:absolute;top:0;left:0;line-height:17px;font-size:14px;font-weight:600;text-indent:0;color:#c51917}
#bl-i-pdtx{position:fixed;top:0px;left:0px;z-index:99;width:100%;background:#1a1b1d;text-align:center;font-weight:300;color:#f9ed89}
#bl-i-pdtx a{display:inline-block;margin-left:10px;color:#ff7f7f}
.bl-tcx{text-align:center !important}
.bl-tlx{text-align:left !important}
.bl-trx{text-align:right !important}
.bl-mt0x{margin-top:0px !important}
.bl-mt1x{margin-top:10px !important}
.bl-mt2x{margin-top:20px !important}
.bl-mt3x{margin-top:30px !important}
.bl-bt-ar{padding:30px 0;text-align:center}
.bl-bt-ar.right{text-align:right}
.bl-bt-ar.left{text-align:left}
.bl-bt2{display:inline-block;overflow:hidden;position:relative;min-width:100px;height:45px;line-height:43px;box-sizing:border-box;padding:0 15px;margin:2px 0px;background:#41464e;border:1px solid #25282d;color:#fff !important;text-align:center;vertical-align:middle;transition:all 0.4s ease-out 0.1s;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0)}
.bl-bt2 span{position:relative;z-index:2}
.bl-bt2.bl-rdx{background:#c40251;border:1px solid #c40251}
.bl-bt2.bl-blx{background:#2377d0;border:1px solid #1760ad}
.bl-bt2.bl-blcx{background:#2d2b2b;border:1px solid #1f1f1f}
.bl-bt2.bl-gryx{background:#92999e;border:1px solid #92999e}
.bl-bt2.bl-whtx{background:#fff;border:1px solid #cdcdcd;color:#444 !important}
.bl-bt2.bl-lgx{min-width:150px;height:50px;line-height:48px;font-size:16px;letter-spacing:-1px}
.bl-bt2.bl-smx{min-width:60px;height:23px;line-height:21px;padding:0 10px;font-size:12px}
.bl-bt-ar .bl-bt2{height:45px;line-height:43px}
.bl-bt-ar .bl-bt2.bl-smx{height:23px;line-height:21px}
.bl-bt-ar .bl-bt2.bl-lgx{height:50px;line-height:48px}
table .bl-bt2{height:33px;line-height:31px}
.bl-bt2:before{content:'';display:block;position:absolute;top:0px;right:0px;bottom:0px;left:0px;z-index:1;width:120%;height:110%;background:#fff;transform:translateX(-120%) skew(-15deg);transition:transform 0.7s cubic-bezier(0, 0, 0.21, 0.87) 0s}
.bl-bt2:hover:before,.bl-bt2:focus:before{background:#fff;transform:translateX(-10%) skew(-15deg) perspective(500px)}
.bl-bt2:hover,.bl-bt2:focus{color:#222 !important;box-shadow:0px 10px 15px rgba(0,0,0,0.15)}
input.bl-bt2:hover,input.bl-bt2:focus{opacity:0.8;color:#fff !important}
label.bl-bt2.bl-whtx:hover,label.bl-bt2.bl-whtx:focus{color:#222 !important}
label.bl-bt2.bl-whtx:before{display:none}
#bl-i-ct table.bl-tbl{margin-top:15px;border-top:1px solid #868686}
#bl-i-ct table.bl-tbl thead th{background:#f5f5f5;border-bottom:1px dashed #cecece}
#bl-i-ct table.bl-tbl thead tr:last-child th{border-bottom:1px solid #868686}
#bl-i-ct table.bl-tbl thead th[rowspan]{border-bottom:1px solid #868686;border-right:1px dashed #cecece}
#bl-i-ct table.bl-tbl tbody th{background:#f5f5f5;border:1px solid #e0e0e0;border-right-color:#868686}
#bl-i-ct table.bl-tbl thead + tbody th{background:transparent;border-right-color:#e0e0e0}
#bl-i-ct table.bl-tbl th,#bl-i-ct table.bl-tbl td{padding:10px;letter-spacing:-0.5px;line-height:1.4em;word-break:keep-all}
#bl-i-ct table.bl-tbl th{text-align:center;font-weight:500}
#bl-i-ct table.bl-tbl tbody td{border:1px solid #e0e0e0;text-align:left}
#bl-i-ct table.bl-tbl tbody tr td:last-child{border-right-width:0px}
#bl-i-ct table.bl-tbl tbody tr td:first-child,#bl-i-ct table.bl-tbl tbody tr th:first-child{border-left-width:0px}
#bl-i-ct table.bl-tbl thead + tbody tr td{text-align:center}
#bl-i-ct table.bl-tbl .bl-tlx{text-align:left !important}
#bl-i-ct table.bl-tbl .bl-trx{text-align:right !important}
#bl-i-ct table.bl-tbl .bl-ls{margin-top:0px}
#bl-i-ct .bl-mbx-nf{display:none}
.bl-tb-cl ul{display:table;width:100%;table-layout:fixed}
.bl-tb-cl ul > li{display:table-cell;margin-left:-0.1px;vertical-align:middle}
.bl-tb-cl ul > li:first-child{margin-left:0px}
.bl-tb-cl ul > li > a{display:block;text-align:center}
.bl-ar-stmx{box-sizing:border-box;margin:0 auto;padding:0 15px}
.bl-ar-stmx .bl-gn:after{content:'';display:block;clear:both}
.bl-ar-stmx .bl-gn > li{float:left;width:15%;margin-left:2%}
.bl-ar-stmx .bl-gn > li:first-child{margin-left:0px}
.bl-ar-stmx .bl-gn > li > a{display:block;position:relative;padding:40px 0px;background:#eff7f9;font-size:23px;font-weight:600;color:#1b1b1b;text-align:center;letter-spacing:-1px;transition:all 0.3s ease 0s}
.bl-ar-stmx .bl-gn > li > a span{position:relative;z-index:5}
.bl-ar-stmx .bl-gn > li > a:after{content:'';display:block;position:absolute;left:0px;top:0px;z-index:2;width:100%;height:100%;background:#54b9f3;background-image:linear-gradient(0deg, #54b9f3, #0ab19b);background-image:-ms-linear-gradient(0deg, #54b9f3, #0ab19b);background-image:-webkit-linear-gradient(0deg, #54b9f3, #0ab19b);background-image:-moz-linear-gradient(0deg, #54b9f3, #0ab19b);background-image:-o-linear-gradient(0deg, #54b9f3, #0ab19b);transform:scaleX(0);transform-origin:0 0;transition:all 0.4s ease-out 0s}
.bl-ar-stmx .bl-gn > li > a:hover,.bl-ar-stmx .bl-gn > li:hover > a{color:#fff}
.bl-ar-stmx .bl-gn > li > a:hover:after,.bl-ar-stmx .bl-gn > li:hover > a:after{transform:scaleX(1)}
.bl-ar-stmx .bl-gn > li > ul{margin-top:30px}
.bl-ar-stmx .bl-gn > li > ul > li{margin-bottom:10px;padding-left:20px}
.bl-ar-stmx .bl-gn > li > ul > li > a{display:inline-block;position:relative;padding-left:10px;font-size:18px;font-weight:300;color:#333;letter-spacing:-1px;transition:all 0.3s ease 0s}
.bl-ar-stmx .bl-gn > li > ul > li > a:before{content:'';display:block;position:absolute;left:0px;top:13px;width:4px;height:1px;background:#666;transition:all 0.3s ease 0s}
.bl-ar-stmx .bl-gn > li > ul > li > a:hover{color:#3c9ed6}
.bl-ar-stmx .bl-gn > li > ul > li > a:hover:before{background:#3c9ed6}
.bl-ly-pp{position:absolute;z-index:90}
.bl-ly-pp a{display:block}
.bl-ly-pp img{max-width:100%}
.bl-ly-pp .bl-bt{padding:3px 10px;background:#292b42;text-align:right}
.bl-ly-pp .bl-bt button{display:inline-block;margin-left:15px;background:none;color:#fff;font-size:12px}
[data-pop-layer="layer"]{position:fixed;top:0px;left:0px;z-index:1000;width:100%;height:100%;background:rgba(0,0,0,0.2)}
[data-pop-layer="layer"] .bl-pp-bx{position:absolute;top:50%;left:50%;min-width:400px;min-height:600px;box-sizing:border-box;background:#fff;box-shadow:3px 15px 20px rgba(0,0,0,0.15);transform:translate(-50%, -50%)}
[data-pop-layer="layer"] .bl-pp-bx h2{height:67px;padding:0 20px !important;border-bottom:1px solid #eee;font-size:25px !important;font-weight:500;letter-spacing:-1px}
[data-pop-layer="layer"] .bl-pp-bx h2:after{content:'';display:inline-block;height:100%;vertical-align:middle}
[data-pop-layer="layer"] .bl-pp-bx h2 span{display:inline-block;width:99%;vertical-align:middle}
[data-pop-layer="layer"] .bl-pp-bx .bl-bt-cls{position:absolute;top:0px;right:-70px;width:70px;height:68px;line-height:68px;background:#34383e;box-shadow:3px 10px 15px rgba(0,0,0,0.15)}
[data-pop-layer="layer"] .bl-pp-bx .bl-bt-cls span{display:inline-block;position:relative;width:18px;height:18px;margin:-4px auto 0;vertical-align:middle;background:url(img/csscommonc-01.png) no-repeat 50% 0;background-size:18px 18px;text-indent:100%;overflow:hidden;white-space:nowrap}
[data-pop-layer="layer"] .bl-pp-bx .bl-bt-cls:focus{outline:none}
[data-pop-layer="layer"] .bl-pp-bx .bl-pp-cntx{overflow-y:auto;max-height:532px;box-sizing:border-box;padding:20px 20px 40px}
body:is(.bl-bbsx-vwx,.bl-bd-rvwx,.bl-pd-vwx,.bl-rvwx,.bl-vwx,.bl-vwx-mr) [data-pop-layer="layer"] .bl-pp-bx h2{height:68px;box-sizing:border-box}
.bl-ar-ldnx{position:fixed;top:0px;left:0px;z-index:90;width:100%;height:100%;background:rgba(255,255,255,0.7)}
.bl-ar-ldnx .bl-pic2{position:absolute;top:50%;left:50%;z-index:91;width:150px;height:150px;transform:translate(-50%, -50%)}
@media screen and (max-width:1024px){
.bl-ar-stmx .bl-gn > li{width:32%;margin-left:2%;margin-bottom:30px}
.bl-ar-stmx .bl-gn > li:nth-child(3n+1){clear:both;margin-left:0px}
[data-pop-layer="layer"] .bl-pp-bx{top:0px !important;left:0px !important;width:100% !important;height:100%  !important;min-width:inherit;min-height:inherit;transform:translate(0,0)}
[data-pop-layer="layer"] .bl-pp-bx h2{height:67px;box-sizing:border-box;padding-right:80px !important}
[data-pop-layer="layer"] .bl-pp-bx .bl-pp-cntx{height:calc(100% - 67px);max-height:inherit}
[data-pop-layer="layer"] .bl-pp-bx .bl-bt-cls{right:0px;box-shadow:none}
.bl-ly-pp{left:50% !important;transform:translateX(-50%)}
}
@media screen and (max-width:600px){
#bl-i-ct .bl-scr-tbl{overflow:auto}
#bl-i-ct .bl-scr-tbl .bl-tbl{width:650px}
#bl-i-ct .bl-mbx-nf{display:block}
.bl-ar-stmx .bl-gn > li{width:49%}
.bl-ar-stmx .bl-gn > li:nth-child(3n+1){clear:none;margin-left:2%}
.bl-ar-stmx .bl-gn > li:nth-child(2n+1){clear:left;margin-left:0px}
.bl-ar-stmx .bl-gn > li > a{font-size:20px}
.bl-ly-pp{width:90% !important;height:auto !important}
.bl-ly-pp img{max-width:100%;width:100%}
[data-pop-layer="layer"] .bl-pp-bx h2{font-size:20px !important}
}
@media screen and (max-width:420px){
.bl-ar-stmx .bl-gn > li > ul > li > a{font-size:16px}
[data-pop-layer="layer"] .bl-pp-bx h2{font-size:17px !important}
[data-pop-layer="layer"] .bl-pp-bx h2 span{line-height:1.3em}
}
