.bl-ar-kv{position:relative;width:100%;height:753px;clear:both}
.bl-ar-kv .bl-kv{position:relative;display:block;width:100%;height:753px;margin:0 auto}
.bl-ar-kv .bl-kv.bl-kv-sl-01{background:url(img/cssmaincss-01.jpg)no-repeat center center / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-02{background:url(img/cssmaincss-02.jpg)no-repeat center center / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-03{background:url(img/cssmaincss-03.jpg)no-repeat center center / cover}
.bl-ar-kv .slick-prev{z-index:70;left:50px;width:76px;height:76px;background:url(img/cssmaincss-04.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translate(0, -50%)}
.bl-ar-kv .slick-next{z-index:70;right:50px;width:76px;height:76px;background:url(img/cssmaincss-05.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translateY(-50%)}
.bl-ar-kv .slick-prev:before,.bl-ar-kv .slick-next:before{content:''}
.bl-kv-ct-bxx{width:100%;height:100%;margin:0 auto;transition:0.5s}
.bl-kv-ct{position:absolute;left:53%;top:50%;width:50%;box-sizing:border-box;transition:0.5s;transform:translateY(-50%)}
.bl-kv-ct > h2{line-height:1em;margin-bottom:17px;font-family:'AritaBuri';font-weight:normal;font-size:61px;color:#9b6b5e;letter-spacing:-2.5px;white-space:nowrap}
.bl-kv-ct > h2 > strong{font-family:'AritaBuri';font-weight:bold}
.bl-kv-ct > h2:nth-child(2){margin-bottom:43px;color:#716969}
.bl-kv-sbtx{display:block;line-height:31px;margin-top:0;padding-left:5px;font-family:'Noto Sans KR';font-weight:300;font-size:17px;color:#666}
.bl-kv-sbtx > strong{font-weight:500;color:#222}
a.bl-bt-mr{display:inline-block;line-height:1em;margin-top:59px;padding:23px 80px 23px 41px;background:url(img/csscontent-03.png) no-repeat center right 40px;border:5px solid #c7cace;font-family:'Noto Sans KR';font-weight:600;font-size:13px;color:#7d7d7d !important;border-radius:39px}
a.bl-bt-mr:hover{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 40px;border:5px solid #9b6b5e;color:#fff !important}
.bl-ar-ab{position:relative;display:block;width:100%;margin:0 auto}
.bl-ar-ab .bl-ab-bxx{overflow:hidden;display:block;width:100%;margin:0 auto;padding:156px 0 183px;max-width:1400px}
.bl-ar-ab .bl-ab-bxx-tp{display:flex;justify-content:flex-end;align-items:flex-start;position:relative;width:100%;margin-bottom:669px;flex-direction:row}
.bl-ar-ab .bl-ab-bxx-bt{display:flex;justify-content:flex-start;align-items:flex-start;position:relative;width:100%;padding-bottom:135px;flex-direction:row}
.bl-ar-ab .bl-ab-it-01{display:flex;justify-content:flex-start;align-items:flex-start;position:absolute;top:5px;left:98px;flex-direction:row}
.bl-ar-ab .bl-tx-vrtx{display:block;font-size:20px;color:#222;font-weight:500;transform:rotate(270deg) translate(-72px, -45px)}
.bl-ar-ab .bl-ab-it-02{display:block;position:absolute;right:53px;bottom:2px}
.bl-ar-ab .bl-ab-tt{position:relative;font-weight:bold;color:#222}
.bl-ar-ab .bl-ab-tt::before{content:"";display:block;position:absolute;top:50%;left:-32px;width:10px;height:10px;background:#efb78b;transform:translateY(-50%);border-radius:5px}
.bl-ar-ab .bl-ab-prx{display:flex;justify-content:flex-start;align-items:flex-start;flex-direction:column}
.bl-ar-ab .bl-ab-prx > h4{line-height:1em;margin-bottom:15px;font-weight:normal;font-size:90px;color:#222}
.bl-ar-ab .bl-ab-prx > h5{line-height:1em;margin-bottom:46px;font-weight:normal;font-size:4.375rem;color:#222;letter-spacing:2.5px}
.bl-ar-ab .bl-ab-prx > span{display:block;font-weight:300;font-size:17px;color:#666;letter-spacing:0.3px}
.bl-ar-ab .bl-ab-prx > span > strong{color:#222}
.bl-ar-ab .bl-ab-prx > .bl-bt-mr{margin-top:55px;border:5px solid #dcdcdc;color:#7d7d7d}
.bl-ar-ab .bl-ab-prx > .bl-bt-mr:hover{border:5px solid #9b6b5e}
.bl-ar-crx .bl-sl2 .slick-list{margin:0 -10px}
.bl-ar-crx .slick-slide{margin:0 10px}
.bl-ar-crx .slick-prev{opacity:0.3;z-index:80;left:-8%;width:76px;height:76px;background:url(img/cssmaincss-04.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translate(0, -50%)}
.bl-ar-crx .slick-next{opacity:0.3;z-index:80;right:-8%;width:76px;height:76px;background:url(img/cssmaincss-05.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translateY(-50%)}
.bl-ar-crx .slick-prev:before,.bl-ar-crx .slick-next:before{content:''}
.bl-ar-crx .slick-prev:hover,.bl-ar-crx .slick-next:hover{opacity:1}
.bl-ar-crx{position:relative;display:block;width:100%;margin-bottom:186px}
.bl-ar-crx .bl-wr2{overflow:hidden;margin:0 auto;max-width:1400px}
.bl-ar-crx .bl-ls > li{position:relative;height:614px}
.bl-ar-crx .swiper-button-prev{position:absolute;display:block;opacity:0.3;z-index:80;top:50%;left:5%;width:76px;height:76px;background:#fff url(img/cssmaincss-04.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translate(0, -50%);cursor:pointer}
.bl-ar-crx .swiper-button-next{position:absolute;display:block;opacity:0.3;z-index:80;top:50%;right:5%;width:76px;height:76px;background:#fff url(img/cssmaincss-05.png) no-repeat 50% 50%;border:3px solid #c8c8c8;border-radius:50%;font-size:0;transition:0.7s;transform:translateY(-50%);cursor:pointer}
.bl-ar-crx div[class*="swiper-button"]:focus{outline:none}
.bl-ar-crx div[class*="swiper-button"]:hover{opacity:1}
.bl-ar-crx .bl-crx-ct{display:block;position:absolute;top:340px;left:0;width:100%;padding:0 30px}
.bl-ar-crx .bl-crx-sbtx{display:block;line-height:1.7;margin-bottom:22px;font-weight:400;font-size:16px;color:#9b6b5e}
.bl-ar-crx .bl-crx-tx{display:block;line-height:1em;margin-bottom:32px;font-family:'AritaBuri';font-size:35px;color:#222}
.bl-ar-crx .swiper-scrollbar{display:none;position:relative;width:100%;margin-top:27px}
.bl-ar-crx .swiper-scrollbar{background:#f6f6f6;opacity:1 !important}
.bl-ar-crx .swiper-scrollbar-drag{background:#ae8370}
.bl-ar-crx .swiper-scrollbar{height:6px}
.bl-ar-crx .bl-ctgx-ar{display:flex;justify-content:flex-start;align-items:center;width:100%;flex-direction:row;flex-wrap:wrap}
.bl-ar-crx .bl-ctgx-ar > li{line-height:1em;margin:2px 5px 6px 0}
.bl-ar-crx .bl-ctgx-ar > li a{display:block;padding:11px 12px 9px;border:1px solid rgba(43, 43, 43, 0.45);font-weight:300;font-size:14px;color:#222;border-radius:30px}
.bl-ar-crx .bl-ctgx-ar > li:hover a{border-radius:30px;background:#222;color:#fff}
.bl-ar-cmmx{display:flex;justify-content:flex-start;align-items:flex-start;width:100%;margin:0 auto 147px;flex-direction:row;max-width:1920px}
.bl-cmmx-lf{display:block;position:relative;width:50%;height:700px;background:url(img/cssmaincss-06.jpg) no-repeat 80% 50%}
.bl-cmmx-ct{display:flex;justify-content:flex-start;align-items:flex-start;position:absolute;bottom:100px;left:260px;flex-direction:column}
.bl-cmmx-tx{display:block;line-height:1em;margin-bottom:28px;font-size:65px;color:#222;font-family:'Playfair Display' , 'Noto Sans KR'}
.bl-cmmx-ct-smx>.bl-cmmx-tx{margin-bottom:26px;font-size:35px;color:#fff}
.bl-cmmx-sbtx{line-height:30px;font-weight:300;font-size:17px;color:#666}
.bl-cmmx-ct-smx > .bl-cmmx-sbtx{line-height:1em;margin-bottom:68px;font-size:16px}
.bl-cmmx-ct > .bl-bt-mr{margin-left:0}
.bl-cmmx-rt{display:flex;justify-content:flex-start;align-items:flex-start;width:50%;flex-direction:column}
.bl-cmmx-rt-bt{display:block;position:relative;width:100%;margin:0 auto}
.bl-cmmx-rt-tp{display:block;position:relative;width:100%;height:350px;margin:0 auto;background:url(img/cssmaincss-07.jpg) no-repeat 50%}
.bl-cmmx-rt-bt{display:block;position:relative;width:100%;height:350px;margin:0 auto;background:url(img/cssmaincss-08.jpg) no-repeat 50%}
.bl-cmmx-ct-smx{display:flex;justify-content:flex-start;align-items:center;position:absolute;top:50%;left:50%;color:#fff;transform:translate(-50%, -50%);flex-direction:column}
.bl-cmmx-sbtx-smx{display:block;margin-bottom:59px;font-weight:300;font-size:16px;text-align:center;word-break:keep-all}
.bl-vwx-mr{position:relative;color:#fff !important;letter-spacing:1px}
.bl-vwx-mr::before{content:"";display:block;position:absolute;bottom:-9px;left:0;width:100%;height:1px;background:#fff}
.bl-vwx-mr:hover:before{content:"";z-index:9;display:block;position:absolute;bottom:-9px;left:0;width:100%;height:1px;background:#fff;transition:0.5s;animation:bl-k-strx-vwx 1s}
.bl-cmmx-tx>.bl-fntx-26{font-size:26px}
.bl-ar-cstx{display:flex;justify-content:flex-start;align-items:flex-start;width:100%;margin:0 auto 143px;flex-direction:row;max-width:1206px}
.bl-cstx-lf{display:flex;justify-content:flex-start;align-items:flex-start;width:62.8%;margin-right:71px;flex-direction:column}
.bl-cstx-lf > h2{line-height:1em;margin-top:-3px;margin-bottom:10px;font-weight:normal;font-size:90px;color:#222;font-family:'Playfair Display' , 'Noto Sans KR'}
.bl-cstx-lf > h3{line-height:1em;margin-bottom:41px;font-weight:normal;font-size:70px;color:#222;font-family:'Playfair Display' , 'Noto Sans KR'}
.bl-cstx-sbtx{display:block;margin-bottom:80px;font-weight:300;font-size:17px;color:#333}
.bl-cstx-sbtx>strong{font-weight:400;color:#9b6b5e}
.bl-cstx-sv-ar{display:flex;justify-content:flex-start;align-items:flex-start;padding-left:5px;flex-direction:row}
.bl-cstx-sv-ar > li{position:relative;display:block;width:139px;height:139px;box-sizing:border-box;margin-right:14px;border-radius:7px}
.bl-cstx-sv-ar > li:before{content:"";position:absolute;z-index:-1;top:0;right:0;bottom:0;left:0;border-radius:7px;border:1px solid #dcdcdc;transition:border 0.1s ease-out}
.bl-cstx-sv-ar > li:hover:before{border-color:#9b6b5e;border-width:2px}
.bl-cstx-sv-ar > li:hover{margin-top:-23px;box-shadow:17px 17px 65px rgba(177, 131, 115, 0.26)}
.bl-cstx-sv-ar > li > a{display:flex;justify-content:center;align-items:center;width:100%;height:100%;font-family:'Noto Sans KR';color:#666;flex-direction:column}
.bl-cstx-sv-ar > li > a > img{display:block;margin-bottom:22px}
.bl-cstx-rt{position:relative;display:flex;justify-content:flex-start;align-items:flex-start;flex-direction:row;flex-wrap:wrap}
.bl-cllx-ic{position:absolute;left:-73px;top:0;display:flex;justify-content:center;align-items:center;width:73px;height:70px;background:#9b6b5e;flex-direction:row;border-radius:8px 0 0 8px}
.bl-tt-wr{display:flex;justify-content:flex-start;align-items:flex-start;flex-wrap:wrap}
.bl-ls-wr{padding-left:61px;display:flex;flex-wrap:wrap;align-items:flex-start;flex-direction:column}
.bl-cllx-nf{display:flex;justify-content:flex-start;align-items:flex-start;padding-top:12px;padding-left:61px;border-left:1px solid #ddd;flex-direction:column}
.bl-cllx-tt{display:block;line-height:1em;margin-bottom:5px;font-weight:600;font-size:18px;color:#9b6b5e}
.bl-cllx-nmbx{display:block;line-height:1.1em;margin-bottom:33px;font-size:43px;color:#222;font-family:'Playfair Display';text-transform:uppercase}
.bl-cllx-ntx{display:block;line-height:1.8;margin-bottom:35px;font-weight:300;font-size:17px;color:#666;word-break:keep-all}
.bl-cllx-ntx > strong{font-weight:400;color:#333}
.bl-scdx-ar{display:flex;justify-content:flex-start;align-items:stretch;flex-direction:column}
.bl-scdx-ar>li{display:flex;justify-content:space-between;align-items:center;padding:13px 0 15px;border-bottom:1px solid #ddd;font-size:1.063rem;flex-direction:row}
.bl-scdx-tt{position:relative;padding:0 41px 0 26px;color:#9b6b5e}
.bl-scdx-tt::before{content:"";display:block;position:absolute;top:50%;left:0;width:6px;height:9px;background:url(img/csscontent-02.png) no-repeat center center / auto;transform:translateY(-50%)}
.bl-scdx-ct{padding-right:14px;font-weight:400;font-size:19px;color:#666}
.bl-scdx-ar>li:last-child > .bl-scdx-ct{font-size:15px}
.bl-cllx-nf>.bl-bt-mr{margin-top:44px;border:5px solid rgba(158, 158, 158, 0.36)}
.bl-st0x{stroke-dasharray:0;stroke-dashoffset:0;fill:none}
.bl-st1x{opacity:0;fill:none}
svg#bl-i-rl02{z-index:-1;position:absolute;left:0;top:-10px;width:630px;height:467px}
svg#bl-i-rl01{position:absolute;z-index:50;top:45px;right:-45px;height:844px}
.active .bl-st0x{stroke:#AE8171;stroke-width:1;fill:none;stroke-dasharray:2231;animation:bl-k-strx-anix 3.5s;animation-delay:0.5s}
.active .bl-st1x{opacity:1;stroke:#d6d6d6;stroke-width:1;fill:none;stroke-dasharray:857;animation:bl-k-strx-n02x 2s;animation-delay:0.5s}
@keyframes bl-k-strx-anix{from{stroke-dashoffset:2231}to{stroke-dashoffset:0}}
@keyframes bl-k-strx-n02x{0%{stroke-dashoffset:857}100%{stroke-dashoffset:0}}
@keyframes bl-k-strx-vwx{0%{width:0}100%{width:100%}}
@media screen and (max-width:1700px){
.bx-prev{transform:translate(600px, -50%)}
.bl-ar-crx .swiper-button-prev{left:10px}
.bl-ar-crx .swiper-button-next{right:10px}
}
@media screen and (max-width:1536px){
.bl-kv-ct > h2{font-size:56px}
.bl-ar-crx .bl-crx-ct{top:310px}
.bl-ar-crx .swiper-button-next,.bl-ar-crx .swiper-button-prev{opacity:1;border-radius:0;width:70px;height:70px;transform:translate(0, 0)}
.bl-ar-crx .swiper-button-prev{top:auto;bottom:-35px;left:50px;background:#545455 url(img/cssmaincss-04.png) no-repeat 50% 50%;border:0}
.bl-ar-crx .swiper-button-next{top:auto;bottom:-35px;left:122px;right:auto;background:#545455 url(img/cssmaincss-05.png) no-repeat 50% 50%;border:0}
}
@media screen and (max-width:1440px){
.bl-ar-ab .bl-ab-tt{padding-right:5%}
.bl-ar-ab .bl-ab-prx{padding-left:5%}
.bl-ar-ab .bl-ab-it-01{left:5%}
.bl-ar-crx .bl-wr2{width:96%}
.bl-ar-crx .bl-crx-ct{left:0;width:100%;padding:0 20px}
.bl-ar-crx .bl-ctgx-ar > li a{padding:8px;font-size:13px}
}
@media screen and (max-width:1399px){
.bl-ab-bxx{box-sizing:border-box;padding:161px 40px 186px}
.bl-crx-ct{top:320px}
.bl-cmmx-ct{left:70px}
.bl-ar-kv .slick-prev,.bl-ar-kv .slick-next{transform:translateY(0)}
.bl-ar-kv .slick-prev{z-index:70;top:auto;bottom:5px;left:auto;right:71px;width:70px;height:70px;background:#fff url(img/cssmaincss-04.png) no-repeat 50% 50%;border:0;border-radius:0;transform:translate(0, 0)}
.bl-ar-kv .slick-next{z-index:70;top:auto;bottom:5px;right:0;width:70px;height:70px;background:#fff url(img/cssmaincss-05.png) no-repeat 50% 50%;border:0;border-radius:0;transform:translateY(0)}
.bl-kv-sl-01 .bl-kv-ct{left:47%}
}
@media screen and (max-width:1280px){
.bl-ab-it-02{display:flex;justify-content:flex-end;flex-direction:row}
.bl-ar-ab .bl-ab-bxx-bt{padding-bottom:80px}
.bl-ar-ab .bl-ab-bxx{padding:100px 0 120px}
.bl-ar-ab .bl-ab-it-02{bottom:80px}
.bl-ab-it-02>img{height:650px}
svg#bl-i-rl01{height:650px}
.bl-ar-ab .bl-ab-bxx{padding:100px 0}
.bl-ar-ab .bl-ab-prx > h4{font-size:70px}
.bl-ar-ab .bl-ab-prx > h5{font-size:50px}
.bl-cmmx-ct-smx{transform:translate(-50%, -50%)}
.bl-ar-cstx{box-sizing:border-box;width:96%}
.bl-cstx-sv-ar>li{width:120px;height:120px}
.bl-scdx-tt{padding:0 15px 0 13px}
}
@media screen and (max-width:1200px){
.bl-ar-crx .swiper-button-next,.bl-ar-crx .swiper-button-prev{display:none}
.bl-ar-crx .swiper-scrollbar{display:block;width:96%;margin:30px auto 0}
.bl-ar-crx{margin-bottom:100px}
.bl-ar-kv,.bl-ar-kv .bl-kv{height:-webkit-calc(100vh - 90px);height:calc(100vh - 90px)}
.bl-ar-kv .bl-kv:before{content:'';position:absolute;left:0;top:0;display:block;width:100%;height:100%;background:rgba(0 0 0 / 30%)}
.bl-kv-sl-01 .bl-kv-ct,.bl-kv-ct{left:0;width:100%;padding:0 5%;text-align:left}
.bl-ar-kv .bl-kv.bl-kv-sl-01{background:url(img/cssmaincss-09.jpg)no-repeat 80% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-02{background:url(img/cssmaincss-02.jpg)no-repeat 13% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-03{background:url(img/cssmaincss-03.jpg)no-repeat 10% 50% / cover}
.bl-kv-ct > h2:nth-child(2),.bl-kv-ct > h2{color:#fff}
.bl-kv-sbtx{color:#fff}
.bl-kv-sbtx > strong{color:#fff}
.bl-ar-kv a.bl-bt-mr{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 40px;border:0;color:#fff !important}
.bl-cstx-sv-ar > li > a > img{margin-bottom:8px}
}
@media screen and (max-width:1023px){
.bl-crx-ct{top:150px}
.bl-ar-ab .bl-ab-prx{padding-left:3%}
.bl-ar-ab .bl-ab-it-01 img{height:430px}
.bl-ab-it-02 > img{height:580px}
.bl-ar-ab .bl-ab-prx > h4{font-family:'Playfair Display';font-size:60px}
.bl-ar-ab .bl-ab-prx > h5{font-family:'Playfair Display';font-size:45px;letter-spacing:0}
.bl-ar-ab .bl-ab-it-02{right:30px}
svg#bl-i-rl01{top:30px;right:-30px;height:580px}
.bl-cstx-lf{width:58%}
.bl-cllx-nf{padding-left:50px}
}
@media screen and (max-width:1024px){
.bl-ar-cstx{display:block;overflow:hidden;margin-bottom:80px}
.bl-cstx-lf{float:left;display:block;width:58%;margin-right:2%;padding-top:5%}
.bl-cllx-nf{padding-left:30px}
.bl-cllx-ntx{line-height:1.8}
.bl-cstx-lf > h2{font-size:55px}
.bl-cstx-lf > h3{font-size:40px}
.bl-cstx-sv-ar{display:block}
.bl-cstx-sv-ar > li{float:left;width:-webkit-calc(20% - 12px);width:calc(20% - 12px);height:120px}
.bl-cstx-sv-ar > li:hover{margin-top:0}
.bl-cstx-sv-ar > li:last-child{margin-right:0}
.bl-cstx-sbtx{margin-bottom:30px}
}
@media screen and (max-width:960px){
.bl-kv-ct > h2{font-size:45px}
.bl-ar-ab .bl-ab-prx > h4{font-family:'Playfair Display';font-size:55px}
.bl-ar-ab .bl-ab-prx > h5{font-family:'Playfair Display';font-size:40px;letter-spacing:-1px}
.bl-tp-mn-lf{display:none}
.bl-tp-mn>h1{transform:translateX(0)}
.bl-tp-mn-rt>span{display:none}
.bl-tp-mn-rt>span.bl-bt-mn{display:flex}
.bl-hm-fllx-mn-tp-lf{align-items:flex-start;flex-direction:column}
.bl-hm-fllx-mn-tp-lf>li:first-child{margin-bottom:10px}
.bl-hm-fllx-mn-ct{margin:0 auto}
.bl-nv-ar{display:none}
.bx-controls-direction>a{width:45px;height:45px}
.bl-crx-ct{top:280px;left:20px}
.bl-ar-cmmx{overflow:hidden;margin-bottom:80px;display:block}
.bl-cmmx-lf{width:100%;height:400px}
.bl-cmmx-rt{width:100%}
.bl-cmmx-tx{font-size:3rem}
.bl-cmmx-ct{bottom:60px;left:50px}
.bl-cmmx-ct>.bl-bt-mr{margin-top:35px}
.bl-cmmx-rt{display:block}
.bl-cstx-rt{display:block;float:right;width:38%}
.bl-cmmx-rt > div{float:left;width:50%}
.bl-cmmx-ct-smx{display:block;width:100%;padding:0 40px;text-align:center}
.bl-cmmx-rt-tp{background:url(img/cssmaincss-07.jpg) no-repeat 100%}
.bl-cmmx-rt-bt{background:url(img/cssmaincss-08.jpg) no-repeat 0% 50%}
}
@media screen and (max-width:860px){
.active .bl-st1x,svg#bl-i-rl02{opacity:0;display:none}
.bl-ar-ab .bl-ab-bxx{padding:150px 0 60px;margin:100px 0}
.bl-ar-ab .bl-ab-it-02{bottom:auto;top:0}
.bl-ar-ab .bl-ab-bxx-bt{position:static}
.bl-ar-ab .bl-ab-bxx-tp{display:none}
.bl-ar-ab .bl-ab-bxx-bt,.bl-ar-ab .bl-ab-prx,.bl-ab-it-02{display:block}
.bl-cstx-rt{width:42%}
.bl-cstx-lf{width:55%;padding-top:0}
.bl-cstx-sv-ar > li{width:-webkit-calc(33.3% - 12px);width:calc(33.3% - 12px);margin-bottom:14px}
.bl-cstx-sv-ar > li:nth-child(3n){margin-right:0}
}
@media screen and (max-width:767px){
a.bl-bt-mr{font-family:Sans-serif;margin-top:35px;padding:16px 60px 16px 30px;background:url(img/csscontent-03.png) no-repeat center right 30px;font-size:12px}
a.bl-bt-mr:hover{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 30px;border:5px solid #9b6b5e;color:#fff !important}
.bl-ar-kv .bl-kv.bl-kv-sl-01{background:url(img/cssmaincss-09.jpg)no-repeat 85% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-02{background:url(img/cssmaincss-02.jpg)no-repeat 20% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-03{background:url(img/cssmaincss-03.jpg)no-repeat 10% 50% / cover}
.bl-ar-kv .slick-prev{z-index:70;top:auto;bottom:5px;left:auto;right:51px;width:50px;height:50px;background:#fff url(img/cssmaincss-04.png) no-repeat 50% 50%;border:0;border-radius:0;transform:translate(0, 0)}
.bl-ar-kv .slick-next{z-index:70;top:auto;bottom:5px;right:0;width:50px;height:50px;background:#fff url(img/cssmaincss-05.png) no-repeat 50% 50%;border:0;border-radius:0;transform:translateY(0)}
.bl-ar-kv a.bl-bt-mr{padding:16px 60px 16px 30px;background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 30px}
.bl-ar-kv a.bl-bt-mr:hover{background:#9b6b5e url(img/csscontent-04.png) no-repeat center right 30px;border:0;color:#fff !important}
.bl-kv-sbtx{line-height:1.7;font-family:Sans-serif;font-size:14px;word-break:keep-all}
.bl-kv-ct > h2:nth-child(2){margin-bottom:20px}
.bl-kv-ct > h2{font-size:30px}
.bl-ar-crx{margin-bottom:60px}
.bl-ar-crx .bl-crx-sbtx{margin-bottom:10px;font-size:14px}
.bl-ar-crx .bl-ctgx-ar > li a{font-size:11px}
.bl-ar-crx .bl-crx-tx{margin-bottom:25px;font-size:24px;font-weight:bold}
.bl-ar-crx .bl-ls > li{height:480px}
.bl-ar-crx .bl-crx-ct{top:200px}
.bl-ar-ab .bl-ab-prx > span{font-size:14px}
.bl-ab-bxx-bt{padding-bottom:50px}
.bl-ab-it-02{bottom:120px;z-index:-1}
.bl-vwx-mr{font-size:12px}
.bl-vwx-mr::before{bottom:-3px}
.bl-vwx-mr:hover:before{bottom:-3px}
.bl-cmmx-ct{bottom:80px}
.bl-cmmx-sbtx-smx,.bl-cmmx-sbtx{line-height:1.8;font-size:14px}
.bl-cmmx-ct-smx>.bl-cmmx-tx,.bl-cmmx-tx{font-size:24px}
.bl-cmmx-tx>.bl-fntx-26{font-size:19px}
.bl-scdx-ar>li:last-child > .bl-scdx-ct,.bl-scdx-ct{font-size:14px}
.bl-cllx-nmbx{font-size:35px}
.bl-cllx-ntx{font-size:14px}
.bl-cllx-tt{font-size:13px}
.bl-scdx-ar>li,.bl-cstx-sbtx{font-size:14px}
.bl-cstx-lf > h2{font-size:40px}
.bl-cstx-sv-ar{justify-content:center;flex-wrap:wrap}
.bl-cstx-sv-ar>li{margin-bottom:10px}
}
@media screen and (max-width:680px){
.bl-ar-ab .bl-ab-it-02{right:auto;left:50%;transform:translateX(-50%)}
.bl-ar-ab .bl-ab-prx{padding:500px 0 0 0;text-align:center}
.bl-ar-ab .bl-ab-bxx{margin:60px 0 0 0;padding-bottom:0}
.bl-ar-ab .bl-ab-prx > h4{font-size:40px}
.bl-ar-ab .bl-ab-prx > h5{margin-bottom:24px;font-size:30px}
.bl-ar-ab .bl-ab-prx > .bl-bt-mr{margin-top:30px}
}
@media screen and (max-width:640px){
.bl-kv-ct > h2{font-size:25px}
.bl-ar-cstx{width:100%;margin-bottom:0}
.bl-cstx-sv-ar > li{width:-webkit-calc(33.3% - 4px);width:calc(33.3% - 4px);margin-right:6px;margin-bottom:6px}
.bl-cstx-sbtx{margin-top:10px}
.bl-cstx-lf > h3{display:inline-block;margin-bottom:0;padding-left:10px;font-size:30px}
.bl-cstx-lf > h2{display:inline-block;font-size:30px}
.bl-cstx-lf{float:none;width:94%;margin:0 auto}
.bl-cstx-rt{width:100%;background:#f6f6f6;margin-top:60px}
.bl-cllx-nmbx{margin-bottom:20px}
.bl-cllx-ntx{margin-bottom:25px}
.bl-cllx-nf{padding:60px 0;border-left:0;align-items:center}
.bl-cllx-ic{display:none}
.bl-cllx-nf>.bl-bt-mr{margin-top:30px}
.bl-ar-cmmx{margin-bottom:60px}
.bl-scdx-tt{padding:0 47px 0 13px}
}
@media screen and (max-width:580px){
.bl-kv-sbtx br{display:none}
.bl-ar-crx{overflow:hidden}
.bl-ar-crx .bl-wr2{overflow:inherit}
.bl-ar-crx .bl-crx-ct{top:auto;bottom:30px}
.bl-cmmx-ct>.bl-bt-mr{margin-top:25px}
.bl-cmmx-lf{height:300px;background:url(img/cssmaincss-06.jpg) no-repeat 70% 20%}
.bl-cmmx-ct{left:30px;bottom:40px}
.bl-cmmx-rt > div{width:100%}
.bl-cmmx-sbtx-smx{margin-bottom:30px}
.bl-cmmx-rt-bt,.bl-cmmx-rt-tp{height:250px}
svg#bl-i-rl01,.bl-ab-it-02 > img{height:480px}
.bl-ar-ab .bl-ab-prx{padding-top:410px}
}
@media screen and (max-width:500px){
.bl-kv-ct{top:65%}
.bl-ar-kv .bl-kv.bl-kv-sl-01{background:url(img/cssmaincss-09.jpg)no-repeat 85% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-02{background:url(img/cssmaincss-02.jpg)no-repeat 26% 50% / cover}
.bl-ar-kv .bl-kv.bl-kv-sl-03{background:url(img/cssmaincss-03.jpg)no-repeat 25% 50% / cover}
.bl-ar-ab .bl-ab-prx > h4{margin-bottom:7px;font-size:30px}
.bl-ar-ab .bl-ab-prx > h5{font-size:25px}
.bl-cstx-sv-ar > li > a > img{height:38px}
.bl-snsx-ar>li:first-child{margin-left:0}
.bl-cp{text-align:center}
}
@media screen and (max-width:440px){
.bl-ar-ab .bl-ab-it-02{left:47%}
svg#bl-i-rl01,.bl-ab-it-02 > img{height:400px}
.bl-ar-ab .bl-ab-prx{padding-top:330px}
.bl-ar-crx .bl-ls > li{height:440px}
}
@media screen and (max-width:380px){
.bl-kv-ct > h2{margin-bottom:7px;font-size:20px}
.bl-ar-ab .bl-ab-prx{padding-top:260px}
svg#bl-i-rl01,.bl-ab-it-02 > img{height:340px}
}
