.gt-nvgx{margin-bottom:10rem}
.gt-slcx-ctgx .gt-nvgx li{float:left}
.gt-slcx-ctgx .gt-nvgx:after{content:'';display:block;clear:both}
.gt-slcx-ctgx .gt-nvgx li:nth-child(2){margin-left:2rem;margin-right:2rem}
.gt-ctgx-nf li{margin-bottom:10rem}
.gt-ctgx-nf .gt-ctgx-nm{font-weight:500;font-size:24rem}
.gt-ctgx-nf .gt-ctgx-dscx{font-weight:200;font-size:17rem}
#gt-i-ft-enx{height:120rem;padding-left:20rem;width:100%;color:#000;z-index:10;position:relative;background-color:#F4F3EF;border-top:1px solid #ccc}
.gt-in-enx{width:100%;height:100%;display:inline-flex;flex-wrap:nowrap;justify-content:space-between;align-items:center}
.gt-in-enx .gt-cpyx-enx{width:45%;font-size:16rem;font-weight:bold}
.gt-in-enx .gt-cpyx-enx p{font-size:12rem;font-weight:normal}
.gt-in-enx .gt-cpyx-enx a:nth-child(n){font-size:14rem;font-weight:normal}
.gt-in-enx .gt-prvx-mn{width:45%;display:flex;bottom:0;font-weight:400}
#gt-i-ft-enx .gt-prvx-mn a{margin-left:36rem}
.gt-in-enx .gt-scr-enx{width:10%;display:contents}
#gt-i-ft-enx #gt-i-scrx-tp{width:74rem;height:74rem;line-height:74rem;border-radius:50%;background-color:#000;color:#ecece4;text-align:center}
@media screen and (max-width: 1280px){
.gt-slcx-ctgx{margin-bottom:75rem}
.gt-ctgx-nf .gt-ctgx-nm{font-weight:500;font-size:20rem}
.gt-ctgx-nf .gt-ctgx-dscx{font-weight:200;font-size:14rem}
}
@media screen and (max-width: 800px){
#gt-i-ft-enx{height:auto;padding:15rem 0 28rem;font-size:14rem}
.gt-in-enx{display:flex;flex-direction:column;align-items:center}
.gt-mo-enx{margin:10rem 0}
.gt-mo-enx:nth-child(1){order:3;width:auto}
.gt-mo-enx:nth-child(2){order:2;width:auto;justify-content:space-between}
.gt-mo-enx:nth-child(3){order:1;width:auto}
#gt-i-ft-enx .gt-prvx-mn a{margin:10rem}
.gt-in-enx .gt-scr-enx{display:flex;justify-content:flex-end}
#gt-i-ft-enx #gt-i-scrx-tp{width:46rem;height:46rem;line-height:46rem}
}
