body{font-family:"Noto Sans", sans-serif}
img{aspect-ratio:auto;height:auto!important}
.gt-snwx{display:inline-block;width:88rem;height:88rem}
.gt-snwx::before{content:"";display:block;width:100%;height:100%;background:url(img/ic-snow.svg) no-repeat center center/cover;transform:rotate(0deg);transition:1s ease}
.gt-snwx.aos-animate{transform:rotate(45deg)}
.gt-glsx.gt-fndx .gt-tp{width:100%;height:2165rem;color:#ECECE4;position:relative;overflow:hidden}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt{position:absolute;color:#ECECE4;z-index:2;padding-top:0;top:115rem}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt h1{left:0;padding:0 23rem;font-family:'Orbitron', serif !important;text-transform:uppercase;color:#ECECE4;font-size:17vw;transition:all 1s ease}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx{font-size:1.2vw;font-weight:300;color:#ECECE4}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx .gt-lxx-lf{float:left}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx .gt-lxx-rt{float:right;position:absolute;right:100rem}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx .gt-lxx-rt span:first-child{display:block;transform:translateX(-70rem);opacity:0.6}
.gt-glsx.gt-fndx .gt-tp .gt-bk{width:100%;height:100%;position:relative}
.gt-glsx.gt-fndx .gt-tp .gt-bk > *{width:100%;height:100%;object-fit:cover;position:absolute;top:0;left:0;transition:all 0.6s ease}
.gt-glsx.gt-fndx .gt-tp .gt-bt{position:absolute;bottom:0;text-align:center;font-size:46rem;width:100%;transition:all 0.6s ease}
.gt-glsx.gt-fndx .gt-tp .gt-bt i{font-size:46rem}
.gt-glsx.gt-fndx .gt-mddx{overflow:hidden}
.gt-glsx.gt-fndx .gt-mddx .gt-tp-tt{text-align:center;font-size:34rem;font-weight:500;margin:75rem 0 85rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1{padding-left:130rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-pic-wr2{width:465rem;margin-right:235rem;margin-top:-20rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx{position:relative}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-snwx{position:absolute;left:440rem;top:5rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx strong{font-weight:700}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-tx12{font-size:105rem;line-height:1;margin-bottom:30rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-tx23{font-size:28rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2{margin-top:107rem;position:relative;padding-bottom:395rem;padding-left:68rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx{margin-right:32rem;margin-top:110rem;text-transform:uppercase;writing-mode:vertical-lr;position:relative;width:185rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx12{font-size:30rem;position:absolute;right:0}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx12::after{content:"";position:absolute;left:20rem;top:190rem;width:1px;height:106rem;background-color:#000}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx23{font-size:49rem;font-weight:300;line-height:0.9;white-space:nowrap;padding-top:330rem;position:absolute;right:0}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx23 span{display:block}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx32{font-size:21rem;width:100%;position:absolute;font-weight:300;left:0;top:331rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-pic-wr2{width:623rem;margin-top:300rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx{font-size:20rem;padding-left:114rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-tt2{font-size:22rem;font-weight:600;display:block;margin-bottom:20rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-sb + .gt-tt2{margin-top:60rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-sb + .gt-sb{margin-top:18rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx{right:320rem;bottom:-140rem;position:absolute;width:442rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx svg{width:100%;stroke-dasharray:1120;stroke-dashoffset:1120}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx.aos-animate svg .gt-pthx{animation:gt-k-fndx-svgx 2s linear 3s forwards}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx.aos-animate svg .gt-pthx2{animation:gt-k-fndx-svgx 2s linear 1.5s forwards}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx.aos-animate svg .gt-pthx3{animation:gt-k-fndx-svgx 2s linear 0s forwards}
@keyframes gt-k-fndx-svgx{0%{stroke-dashoffset:1120}100%{stroke-dashoffset:0}}
.gt-glsx.gt-fndx .gt-mddx .gt-ar3{margin-top:-135rem;padding-bottom:100rem;width:1581rem;margin:0 auto}
.gt-glsx.gt-fndx .gt-mddx .gt-ar3 p{text-align:center;font-size:30rem;text-transform:uppercase;margin-bottom:80rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1{background-color:#000;color:#fff;padding:130rem 170rem 190rem;font-weight:300}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx12{font-size:49rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2{margin-top:130rem;width:1566rem;height:100vh;position:relative;position:relative;top:50rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 img{width:37.5vw;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%)}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2{position:absolute;top:19vh;left:53%;transform:translateX(-50%);width:100%;justify-content:space-between;align-items:center}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 .gt-svgx{width:432rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 .gt-svgx2{width:628rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 mask{transition:all 1s ease}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-771-143{stroke-dasharray:1500;stroke-dashoffset:1500}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-771-1432{stroke-dasharray:30;stroke-dashoffset:30}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-575{stroke-dasharray:90;stroke-dashoffset:90}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-574{stroke-dasharray:550;stroke-dashoffset:550}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-573{stroke-dasharray:120;stroke-dashoffset:120}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-572{stroke-dasharray:790;stroke-dashoffset:790}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-57{stroke-dasharray:230;stroke-dashoffset:230}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n1x #gt-i-mskx-771-143{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n2x #gt-i-mskx-771-1432{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n3x #gt-i-mskx-765-575{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n4x #gt-i-mskx-765-574{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n5x #gt-i-mskx-765-573{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n6x #gt-i-mskx-765-572{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.gt-n7x #gt-i-mskx-765-57{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx{margin:65rem auto 0;width:610rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx23{font-size:49rem;margin-bottom:33rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx32{font-size:26rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx32 + .gt-tx32{margin-top:27rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2{background-image:url(img/cssfounder-01.webp);background-size:cover;background-position:center top;background-repeat:no-repeat;padding:520rem 170rem 200rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2 p{font-size:20rem;text-align:center;font-weight:500;margin-bottom:40rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2 iframe,
.gt-glsx.gt-fndx .gt-bt .gt-ar2 video{width:100%;height:785rem;margin:0 auto}
@media (max-width: 1280px){
.gt-glsx.gt-fndx .gt-tp{height:208.3333vw}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt{top:68rem;width:100%}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt h1{font-size:16vw}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx{font-size:2vw}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx .gt-lxx-rt{right:40rem}
.gt-glsx.gt-fndx .gt-tp .gt-kv-tt .gt-lxx .gt-lxx-rt span:first-child{transform:translateX(-30rem)}
.gt-glsx.gt-fndx .gt-tp .gt-bt{bottom:5vh;font-size:15rem}
.gt-glsx.gt-fndx .gt-tp .gt-bt i{font-size:14rem}
.gt-glsx.gt-fndx .gt-mddx{padding:0 20rem}
.gt-glsx.gt-fndx .gt-mddx .gt-tp-tt{font-size:18rem;margin:30rem 0 25rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1{padding-left:0;display:block}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-pic-wr2{width:51.111111111vw;margin:0}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx{margin-top:44rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-snwx{left:170rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-tx12{font-size:40rem;white-space:nowrap}
.gt-glsx.gt-fndx .gt-mddx .gt-ar1 .gt-tx-bx .gt-tx23{font-size:20rem;line-height:1.25}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2{flex-wrap:wrap-reverse;margin-top:53rem;padding-bottom:calc(49.7778vw + 33rem);padding-left:0}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx{padding-left:0;font-size:14rem;width:100%}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-tt2{font-size:15rem;margin-bottom:14rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-sb br{display:none}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-tx-bx .gt-sb + .gt-tt2{margin-top:32rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-pic-wr2{margin-top:70rem;width:55.5556vw}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx{margin:40rem 12rem 0 28rem;width:auto}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx12{font-size:14rem;margin-bottom:65rem;position:static}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx12::after{height:35rem;left:7rem;top:95rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx23{font-size:14rem;padding-top:150rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-lf-tx .gt-tx32{font-size:10rem;left:-30rem;top:144rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar2 .gt-rtx-svgx{width:41.1944vw;right:0;bottom:-13vw}
.gt-glsx.gt-fndx .gt-mddx .gt-ar3{width:100%;padding-bottom:51rem}
.gt-glsx.gt-fndx .gt-mddx .gt-ar3 p{font-size:15rem;margin-bottom:20rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1{padding:52rem 20rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx12{font-size:20rem;line-height:1.3}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2{width:100%;margin-top:30rem;position:relative;top:auto;height:auto}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 img{width:48.8333vw;position:static;transform:none;margin:0 auto}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2{top:15vw;left:50%}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 mask{transition:all 2s ease}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 .gt-svgx{width:24.4444vw}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 .gt-svgx2{width:35.5556vw}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 .gt-svgx2 mask{transition-duration:0.8s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-771-1432{transition-delay:1s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-575{transition-delay:1.5s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-574{transition-delay:2s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-573{transition-delay:2.5s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-572{transition-delay:3s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2 #gt-i-mskx-765-57{transition-delay:3.6s}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-771-143{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-771-1432{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-765-575{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-765-574{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-765-573{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-765-572{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-pic-wr2 .gt-rtx-svgx2.aos-animate #gt-i-mskx-765-57{stroke-dashoffset:0}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx{margin-top:46rem;width:100%}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx23{font-size:20rem;margin-bottom:22rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx32{font-size:14rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar1 .gt-tx-bx .gt-tx32 + .gt-tx32{margin-top:10rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2{background-image:url(img/cssfounder-02.webp);padding:36.1111vw 20rem 100rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2 p{font-size:18rem}
.gt-glsx.gt-fndx .gt-bt .gt-ar2 iframe,
.gt-glsx.gt-fndx .gt-bt .gt-ar2 video{height:44.4444vw}
}
#gt-i-ft .gt-dgx{display:block;width:100%;background-color:#F4F3EF;position:absolute;left:0;bottom:99.9%;height:98rem;clip-path:polygon(80% 0%, 0% 100%, 100% 100%);transition:1s ease}
#gt-i-ft.aos-animate .gt-dgx{clip-path:polygon(80% 100%, 0% 100%, 100% 100%)}
