.gt-kv-tt{padding-top:95rem}
.gt-kv-tt h1{font-size:322rem;text-transform:uppercase}
.gt-kv-tt .gt-lxx{display:flex;align-items:flex-start;justify-content:space-between;font-size:24rem;font-weight:300}
.gt-kv-tt .gt-lxx p+p{padding-right:60rem}
.gt-kv-tt .gt-lxx p+p span{display:block;color:#ecece4;transform:translateX(-70rem);opacity:0.6}
.gt-wvx-tx{display:flex;width:100%;overflow:hidden;white-space:nowrap}
.gt-wvx-tx>*{animation:gt-k-wvx-tx 100s linear infinite;flex-shrink:0}
.gt-wvx-tx>*+*{padding-left:200rem}
@keyframes gt-k-wvx-tx{0%{transform:translateX(0%)}100%{transform:translateX(-100%)}}
#gt-i-prgx-nf .gt-tx-bx3 br{display:none}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx12{font-size:20rem}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx23{font-size:18rem;margin:20rem 0 10rem}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx32{font-size:14rem}
.gt-grnx .gt-hlfx{width:100%;display:flex;align-items:flex-start}
.gt-grnx .gt-hlfx>*{width:50%}
.gt-grnx #gt-i-prgx-nf{padding:20rem 0 0 50%}
.gt-grnx #gt-i-pntx{padding:150rem 0;font-size:0;overflow:hidden}
.gt-grnx #gt-i-pntx ol{display:flex;flex-direction:column;align-items:flex-end;counter-reset:guarantee_point}
.gt-grnx #gt-i-pntx ol li{display:flex;align-items:flex-start;width:96%;font-family:"Noto Sans", sans-serif;font-size:20rem;color:#F4F3EF;padding:32rem;min-height:220rem;border-radius:50rem 0 0 50rem;background-color:#841F01;box-shadow:0px -20px 24px rgba(0, 0, 0, 0.2);transform:translateX(100%);transition:1s ease}
.gt-grnx #gt-i-pntx ol li:nth-child(2){width:80%;background-color:#c17215;transition-delay:0.2s}
.gt-grnx #gt-i-pntx ol li:nth-child(3){width:64%;background-color:#006aa7;transition-delay:0.4s}
.gt-grnx #gt-i-pntx ol li:nth-child(4){width:48%;background-color:#797874;transition-delay:0.6s}
.gt-grnx #gt-i-pntx ol li:before{counter-increment:guarantee_point;content:counter(guarantee_point);display:block;width:53rem;height:53rem;line-height:53rem;border-radius:50%;background:#F4F3EF;box-shadow:inset 0px 4px 4px rgba(0, 0, 0, 0.25);font-size:26rem;font-weight:500;font-family:"Orbitron";text-align:center;color:#000;margin-right:206rem}
.gt-grnx #gt-i-pntx ol li+li{margin-top:-45rem}
.gt-grnx #gt-i-pntx ol li.aos-animate{transform:translateX(0)}
.gt-grnx .gt-blcx{background-color:#000;color:#ecece4}
.gt-grnx #gt-i-wrrx{padding:121rem 0 258rem;letter-spacing:-0.5rem;font-size:20rem}
.gt-grnx #gt-i-wrrx .gt-tt p{font-size:86rem;font-weight:200;margin-bottom:57rem}
.gt-grnx #gt-i-wrrx .gt-tt span{font-weight:300}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2{padding-top:130rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li{position:relative;width:100%}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li+li{margin-top:100rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li .gt-wrrx-lblx{float:right;color:#888;margin-top:10px}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li .gt-ctx{display:inline-block;padding:8rem 17rem;border:1px solid #fff;border-radius:8rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul{border-top:1px solid rgba(255, 255, 255, 0.3);margin-top:22rem;background-color:#000;z-index:1;position:relative}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li{display:flex;align-items:center;justify-content:space-between;border-bottom:1px solid rgba(255, 255, 255, 0.3);padding:38rem 0;position:relative}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li span{font-family:"Pretendard"}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li picture{width:230rem;position:absolute;right:calc(100% + 194rem);top:0}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-th{width:230rem;position:absolute;top:0;transform:translateY(10%);opacity:0;transition:0.5s ease}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm{display:flex;align-items:center}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm span{width:190rem;color:#888}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm p{font-size:37rem;height:38rem;overflow:hidden;text-transform:uppercase}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm p>*{display:block;line-height:100%;transition:0.5s ease}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm p em{font-weight:inherit}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li:hover .gt-th{transform:translateY(0);opacity:1}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li:hover .gt-nm p>*{transform:translateY(-100%)}
.gt-grnx #gt-i-mo{display:flex;justify-content:space-between;align-items:center;padding-bottom:82rem}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx12{font-size:25rem;opacity:0.5}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx23{font-size:50rem;font-weight:500;margin:20rem 0 110rem}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx32{font-size:27rem}
.gt-grnx #gt-i-mo .gt-pic-bx2{display:flex}
.gt-grnx #gt-i-mo .gt-pic-bx2 li{width:50%;overflow:hidden;border-radius:20rem}
.gt-grnx #gt-i-mo .gt-pic-bx2 li+li{margin-left:10rem}
@media screen and (max-width: 1280px){
.gt-kv-tt{padding-top:68rem}
.gt-kv-tt h1{font-size:85rem}
.gt-kv-tt .gt-lxx{font-size:13rem;margin-top:10rem}
.gt-kv-tt .gt-lxx p+p{padding-right:0}
.gt-kv-tt .gt-lxx p+p span{transform:translateX(-20rem)}
.gt-wvx-tx>*+*{padding-left:30rem}
#gt-i-prgx-nf .gt-tx-bx3 br{display:none}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx12{font-size:20rem}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx23{font-size:18rem;margin:20rem 0 10rem}
#gt-i-prgx-nf .gt-tx-bx3 .gt-tx32{font-size:14rem}
.gt-grnx .gt-hlfx{display:block}
.gt-grnx .gt-hlfx>*{width:100%}
.gt-grnx #gt-i-prgx-nf{padding:30rem 20rem 0}
.gt-grnx #gt-i-pntx{padding:50rem 20rem}
.gt-grnx #gt-i-pntx ol li{width:100% !important;font-size:14rem;padding:10rem 10rem 40rem;min-height:170rem;border-radius:15rem}
.gt-grnx #gt-i-pntx ol li:before{width:21rem;height:21rem;line-height:21rem;font-size:13rem;margin-right:25rem;flex-shrink:0}
.gt-grnx #gt-i-pntx ol li+li{margin-top:-85rem}
.gt-grnx #gt-i-pntx ol li:last-child{margin-top:-15rem}
.gt-grnx #gt-i-pntx ol li br{display:none}
.gt-grnx #gt-i-wrrx{padding:50rem 0 60rem;font-size:13rem}
.gt-grnx #gt-i-wrrx .gt-tt{position:static}
.gt-grnx #gt-i-wrrx .gt-tt p{font-size:30rem;margin-bottom:30rem;padding-bottom:20rem;border-bottom:1px solid rgba(255, 255, 255, 0.3)}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2{padding-top:30rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li+li{margin-top:50rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li .gt-wrrx-lblx{display:none}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li .gt-ctx{padding:8rem 15rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul{margin-top:13rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li{padding:15rem 0;justify-content:flex-start;align-items:center}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li picture{width:55rem;position:static;margin-right:20rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-th{width:55rem;position:static;transform:none;opacity:1}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm{display:block}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm span{width:auto}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-nm p{font-size:18rem;height:18rem;margin-top:7rem}
.gt-grnx #gt-i-wrrx .gt-flmx-ls2>li ul li .gt-dt{position:absolute;right:0;bottom:15rem}
.gt-grnx #gt-i-mo{display:block;padding-bottom:100rem}
.gt-grnx #gt-i-mo .gt-tx-bx3{margin-bottom:25rem}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx12{font-size:14rem}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx23{font-size:30rem;margin:10rem 0 40rem}
.gt-grnx #gt-i-mo .gt-tx-bx3 .gt-tx32{font-size:18rem}
.gt-grnx #gt-i-mo .gt-pic-bx2 li{border-radius:10rem}
.gt-grnx #gt-i-mo .gt-pic-bx2 li+li{margin-left:3rem}
}
