.gt-snsx{font-family:'Noto Sans', sans-serif}
.gt-kv-tt{padding-top:95rem}
.gt-kv-tt h1{left:100rem;transition:all 1s ease;position:relative;font-size:322rem;text-transform:uppercase}
.gt-kv-tt.aos-animate h1{left:24rem}
.gt-kv-tt .gt-lxx{display:flex;align-items:flex-start;justify-content:space-between;font-size:24rem;font-weight:300}
.gt-kv-tt .gt-lxx p+p{padding-right:60rem}
.gt-kv-tt .gt-lxx p+p span{display:block;color:#000;transform:translateX(-70rem);opacity:0.6}
.gt-glsx.gt-hs{position:relative}
.gt-glsx.gt-hs .gt-kv-tt .gt-lxx p+p span{color:#000}
.gt-glsx.gt-hs .gt-ct2{padding-top:360rem}
.gt-glsx.gt-hs .gt-fx-tx{text-align:center;font-size:69rem;position:sticky;position:-webkit-sticky;top:400rem;width:100%;z-index:10;color:#fff;mix-blend-mode:difference;height:340rem}
.gt-glsx.gt-hs .gt-fx-tx i{font-size:74rem}
.gt-glsx.gt-hs .gt-ls{position:relative;overflow:hidden;transition:all 0.3s ease;top:-450rem;justify-content:space-between}
.gt-glsx.gt-hs .gt-ls li{width:50%}
.gt-glsx.gt-hs .gt-ls li span{font-size:18rem;font-weight:500;margin-top:30rem;display:block}
.gt-glsx.gt-hs .gt-ls li picture{position:relative}
.gt-glsx.gt-hs .gt-ls li picture::after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background-color:#000;z-index:-1}
.gt-glsx.gt-hs .gt-ls li:nth-child(2n-1){float:left}
.gt-glsx.gt-hs .gt-ls li:nth-child(2n-1) span{text-align:right}
.gt-glsx.gt-hs .gt-ls li:nth-child(2n-1).gt-tp1 span{margin-right:-0rem}
.gt-glsx.gt-hs .gt-ls li:nth-child(2n){float:right}
.gt-glsx.gt-hs .gt-ls li:nth-child(2n).gt-tp1 span{margin-left:-0rem}
.gt-glsx.gt-hs .gt-ls li.gt-tp1{width:calc(50% - 149rem);margin-top:500rem}
.gt-glsx.gt-hs .gt-ls li.gt-tp22{width:calc(50% + 141rem)}
.gt-glsx.gt-hs .gt-ls li.gt-tp3{width:calc(50% + 302rem)}
.gt-glsx.gt-hs .gt-ls li.gt-tp4{width:50%}
.gt-glsx.gt-hs .gt-ls li:not(:last-child){margin-bottom:206rem}
.gt-glsx.gt-hs .gt-ls li:first-child{margin-top:0}
.gt-glsx.gt-hs .gt-ls li:nth-child(3){margin-top:4rem}
@media (max-width: 1280px){
.gt-kv-tt{padding-top:68rem}
.gt-kv-tt .gt-lxx{font-size:13rem;margin-top:10rem}
.gt-kv-tt .gt-lxx p+p{padding-right:0}
.gt-kv-tt .gt-lxx p+p span{transform:translateX(-20rem)}
.gt-glsx .gt-kv-tt{width:100%;overflow:hidden}
.gt-glsx .gt-kv-tt h1{font-size:70rem;left:0;text-align:left;white-space:nowrap;padding:0;transition-delay:0.5s;flex-wrap:nowrap}
.gt-glsx .gt-kv-tt h1 span{animation:gt-k-kv-tt-lpx 100s linear infinite;padding-right:40rem;display:inline-block}
.gt-glsx .gt-kv-tt h1 span.m{display:none}
.gt-glsx.gt-hs .gt-kv-tt h1{left:24rem}
.gt-glsx.gt-hs .gt-ct2{padding-top:310rem}
.gt-glsx.gt-hs .gt-ct2 .gt-fx-tx{font-size:22rem;top:310rem;height:160rem}
.gt-glsx.gt-hs .gt-ct2 .gt-fx-tx i{font-size:21rem}
.gt-glsx.gt-hs .gt-ct2 .gt-ls{top:-250rem}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li{width:100%;padding:0 !important}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li span{font-size:15rem;margin-top:16rem;word-break:keep-all}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li:nth-child(2n-1) span{margin-right:0}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li:nth-child(2n) span{margin-left:0}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li.gt-tp1{width:calc(50% + 90rem);margin-top:inherit}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li.gt-tp22{width:calc(50% + 70rem)}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li.gt-tp3{width:calc(50% + 130rem)}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li.gt-tp4{width:calc(50% + 40rem)}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li:nth-child(3){margin-top:inherit}
.gt-glsx.gt-hs .gt-ct2 .gt-ls li:not(:last-child){margin-bottom:66rem}
}
