.gt-pd-vwx .gt-bdyx-wr .gt-u561{margin:3.5em 0 0;padding:2.6em 0 2.4em;background-color:#fff;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;color:#151515;text-align:center}
.gt-pd-vwx .gt-bdyx-wr .gt-u563{margin:0;color:#b0a652;font-family:"Alexandria", sans-serif;font-size:0.58em;font-weight:400;letter-spacing:0.18em}
.gt-pd-vwx .gt-bdyx-wr .gt-u564{width:2.5em;height:1px;margin:1.15em auto;background-color:#b0a652}
.gt-pd-vwx .gt-bdyx-wr .gt-u561 h2{margin:0;color:#d1c86f;font-family:"Alexandria", sans-serif;font-size:1.55em;font-weight:300;letter-spacing:0.08em}
.gt-pd-vwx .gt-bdyx-wr .gt-u561 h2 strong{color:#151515;font-weight:600}
.gt-pd-vwx .gt-bdyx-wr .gt-u562{width:auto;margin:1.4em auto 0;color:#6d6d6d;font-size:0.7em;letter-spacing:0.02em}
@media (max-width: 1280px){
.gt-pd-vwx .gt-bdyx-wr .gt-u561{margin:35rem 0 0;padding:32rem 0 30rem}
.gt-pd-vwx .gt-bdyx-wr .gt-u563{font-size:11rem}
.gt-pd-vwx .gt-bdyx-wr .gt-u561 h2{font-size:22rem;line-height:1.45}
.gt-pd-vwx .gt-bdyx-wr .gt-u562{max-width:330rem;font-size:14rem;line-height:1.6}
}
