.gt-snwx{display:inline-block;width:88rem;height:88rem}
.gt-snwx::before{content:"";display:block;width:100%;height:100%;background:url(img/ic-snow.svg) no-repeat center center/cover;transform:rotate(0deg);transition:1s ease}
.gt-snwx.aos-animate{transform:rotate(45deg)}
.gt-wvx-tx{display:flex;width:100%;overflow:hidden;white-space:nowrap}
.gt-wvx-tx>*{animation:gt-k-wvx-tx 100s linear infinite;flex-shrink:0}
.gt-wvx-tx>*+*{padding-left:200rem}
@keyframes gt-k-wvx-tx{0%{transform:translateX(0%)}100%{transform:translateX(-100%)}}
.gt-kv-tt{padding-top:95rem}
.gt-kv-tt h1{font-size:322rem;text-transform:uppercase}
.gt-kv-tt .gt-lxx{display:flex;align-items:flex-start;justify-content:space-between;font-size:24rem;font-weight:300}
.gt-kv-tt .gt-lxx p+p{padding-right:60rem}
.gt-kv-tt .gt-lxx p+p span{display:block;color:#ecece4;transform:translateX(-70rem);opacity:0.6}
.gt-nstx-prgx{background-color:#000;color:#ecece4}
.gt-nstx-prgx .gt-prgx-kv{height:100vh;position:relative}
.gt-nstx-prgx .gt-prgx-kv::after{content:"";display:block;width:100%;height:20%;background:linear-gradient(180deg, transparent 0%, #000000 100%);position:absolute;left:0;bottom:0}
.gt-nstx-prgx .gt-prgx-kv .gt-rsrx-bt{display:block;position:absolute;left:50%;bottom:110rem;z-index:10}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb{width:auto;position:absolute;right:0;top:136rem;font-size:22rem;font-weight:300;z-index:99}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a{display:flex;align-items:center;justify-content:flex-end;margin-bottom:20rem;opacity:0.5;transition:0.3s ease}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a::after{content:"";display:block;width:11rem;height:1px;background-color:#fff;margin-left:15rem;transition:0.3s ease}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a.on,.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a:hover{opacity:1}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a.on::after,.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a:hover::after{width:35rem}
.gt-nstx-prgx #gt-i-vrvx .gt-in{padding:200rem 0 110rem;border-bottom:1px solid rgba(236, 236, 236, 0.3)}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx3{text-transform:uppercase;font-weight:100;font-size:70rem;margin-bottom:-15rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx3 p+p{text-align:right;margin-top:69rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx3 p span{font-weight:400}
.gt-nstx-prgx #gt-i-vrvx .gt-pic1{width:208rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22{padding:81rem 0 200rem;position:relative}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 span{font-size:57rem;font-weight:250;display:block}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-tx12{font-size:22rem;font-weight:600;margin-top:70rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-tx23{width:417rem;margin-top:20rem;font-size:20rem;font-weight:300}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-pic2{width:515rem;position:absolute;right:0;bottom:0}
.gt-nstx-prgx #gt-i-sv{display:flex;align-items:flex-start;padding:140rem 0 234rem}
.gt-nstx-prgx #gt-i-sv>*{width:50%}
.gt-nstx-prgx #gt-i-sv .gt-tt p{margin-top:61rem;font-size:57rem;font-weight:250}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls{padding-top:150rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li{font-weight:300}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li+li{margin-top:70rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li p{font-size:22rem;font-weight:600;margin:0 0 20rem 15rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li ul li{margin-top:14rem}
.gt-nstx-prgx #gt-i-gllx .swiper .swiper-wrapper{transition-timing-function:linear}
.gt-nstx-prgx #gt-i-gllx .swiper .swiper-wrapper .swiper-slide{width:844rem}
.gt-nstx-prgx #gt-i-mntx{padding:197rem 0 100rem;text-align:center}
.gt-nstx-prgx #gt-i-mntx .gt-tt{font-size:22rem;line-height:21rem}
.gt-nstx-prgx #gt-i-mntx .gt-tt::before{content:"Installers Program";display:inline-block;font-weight:250;padding-right:15rem;margin-right:15rem;border-right:1px solid #ecece4}
.gt-nstx-prgx #gt-i-mntx .gt-tx3{margin:20rem 0 70rem;font-size:40rem}
.gt-nstx-prgx #gt-i-mntx .gt-bt3{font-size:15rem;padding:10rem 17rem;min-width:unset}
@media screen and (max-width: 1280px){
.gt-snwx{width:27rem;height:27rem}
.gt-kv-tt{padding-top:68rem}
.gt-kv-tt h1{font-size:85rem}
.gt-kv-tt .gt-lxx{font-size:13rem;margin-top:10rem}
.gt-kv-tt .gt-lxx p+p{padding-right:0}
.gt-kv-tt .gt-lxx p+p span{transform:translateX(-20rem)}
.gt-wvx-tx>*+*{padding-left:30rem}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb{position:relative;right:auto;left:-20rem;top:0;font-size:14rem;margin:20rem 0 40rem}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a{margin-bottom:15rem;flex-direction:row-reverse}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a::after{width:8rem;margin:0 15rem 0 0}
.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a.on::after,.gt-nstx-prgx #gt-i-vrvx .gt-prgx-tb a:hover::after{width:24rem}
.gt-nstx-prgx #gt-i-vrvx .gt-in{padding:0 0 50rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx3{font-size:23rem;margin-bottom:50rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx3 p+p{text-align:left;margin-top:10rem}
.gt-nstx-prgx #gt-i-vrvx .gt-pic1{width:100rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22{padding:30rem 0 158rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 span{font-size:30rem;position:absolute;right:0;bottom:100%}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-tx12{font-size:15rem;margin-top:0}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-tx23{width:100%;margin-top:10rem;font-size:14rem}
.gt-nstx-prgx #gt-i-vrvx .gt-tx-bx22 .gt-pic2{width:152rem}
.gt-nstx-prgx #gt-i-sv{display:block;padding:50rem 0 80rem}
.gt-nstx-prgx #gt-i-sv>*{width:100%}
.gt-nstx-prgx #gt-i-sv .gt-tt p{margin-top:25rem;font-size:30rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls{padding-top:30rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li+li{margin-top:30rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li p{font-size:15rem;margin:0 0 15rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li ul{font-size:14rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li ul li{margin-top:10rem}
.gt-nstx-prgx #gt-i-sv .gt-srvx-ls>li ul li br{display:none}
.gt-nstx-prgx #gt-i-gllx .swiper .swiper-wrapper{transition-timing-function:linear}
.gt-nstx-prgx #gt-i-gllx .swiper .swiper-wrapper .swiper-slide{width:66.7vw}
.gt-nstx-prgx #gt-i-mntx{padding:100rem 0}
.gt-nstx-prgx #gt-i-mntx .gt-tt{font-size:16rem;line-height:10rem}
.gt-nstx-prgx #gt-i-mntx .gt-tx3{margin:30rem 0 40rem;font-size:25rem}
.gt-nstx-prgx #gt-i-mntx .gt-bt3{font-size:14rem;padding:8rem 28rem}
}
