.gt-pd-kv{position:relative}
.gt-pd-kv picture{width:100%;height:100%}
.gt-pd-kv::after{content:"";display:block;width:100%}
.gt-pd-tt{padding-top:90rem;position:absolute;top:100rem;padding-left:40rem;color:#fff}
.gt-pd-tt h1{font-size:70rem;text-transform:uppercase}
.gt-pd-tt .gt-sb-tt{padding-top:120rem}
.gt-pd-tt .gt-sb-tt p{font-family:"Noto Sans", sans-serif;line-height:140%}
.gt-pd-ls{max-width:1200px;margin:0 auto;padding:100rem 0rem}
.gt-pd-ls .gt-ls-it{display:flex;background-color:#EEEBE3;margin-bottom:50rem}
.gt-pd-ls picture{min-width:480px}
.gt-pd-ls .gt-ls-dscx{display:flex;flex-direction:column;align-items:flex-start;justify-content:center;padding-left:50rem;padding-right:50rem}
.gt-pd-ls .gt-ls-dscx p{font-family:'Noto Sans', sans-serif;line-height:20rem;font-size:15rem}
.gt-pd-ls .gt-ls-dscx p:first-child{padding-bottom:20rem;font-size:20rem;font-weight:500}
.gt-pd-ls .gt-ls-dscx p:nth-last-of-type(1){padding-bottom:40rem}
.gt-pd-ls .gt-ls-dscx a{display:inline-block}
.gt-pd-ls .gt-ls-dscx .gt-ls-bt{border:1px solid #000;border-radius:20rem;margin-right:8px;padding:10rem 30rem;font-weight:bold}
.gt-pd-ls .gt-ls-dscx .gt-ls-bt:hover{background-color:#000;color:#fff}
@media screen and (max-width: 1280px){
.gt-pd-kv{height:50vh}
.gt-pd-tt{padding-top:40rem;top:60rem;padding-left:20rem;padding-right:20rem;color:#fff}
.gt-pd-tt h1{font-size:35rem;word-break:keep-all;word-wrap:break-word}
.gt-pd-tt .gt-sb-tt{padding-top:40rem;font-size:14rem}
.gt-pd-tt .gt-sb-tt p{word-break:keep-all;word-wrap:break-word;padding-right:20rem}
.gt-pd-kv picture img{display:block;width:100%;height:100%;position:absolute;top:0;left:0;right:0;bottom:0;object-fit:cover}
.gt-pd-ls{padding:100rem 20rem}
.gt-pd-ls .gt-ls-it{flex-direction:column;margin-bottom:50rem}
.gt-pd-ls picture{min-width:auto;width:inherit}
.gt-pd-ls .gt-ls-dscx{padding:40rem 20rem}
}
@media screen and (max-width: 640px){
.gt-pd-ls .gt-ls-dscx .gt-ls-bt{padding:10rem 15rem}
}
