.oz-bbsx-ct{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:flex-start;align-items:flex-start}
.oz-bbsx-ct li{width:32.57%;margin:0 1.145% 1.145% 0}
.oz-bbsx-ct li:nth-child(3n){margin-right:0}
.oz-bbsx-ct li a{position:relative;display:block;overflow:hidden}
.oz-bbsx-ct li a figure{transition:all 0.5s linear}
.oz-bbsx-ct li:hover a figure{transform:scale(1.1)}
.oz-bbsx-ct li a > div{position:absolute;left:0;right:0;top:0;bottom:0;display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:100%;padding:15px;text-align:center;background:rgba(0,0,0,0.36);opacity:0;transition:all 0.3s linear}
.oz-bbsx-ct li:hover a > div{opacity:1}
.oz-bbsx-ct li a > div h3{font-size:18px;font-weight:500;color:#fff}
.oz-bbsx-ct li a > div div{margin:3px 0 0;font-size:15px;font-weight:400;color:#fff}
@media all and (max-width:1024px){
.oz-bbsx-ct li{width:49%;margin:0 2% 2% 0}
.oz-bbsx-ct li:nth-child(3n){margin-right:2%}
.oz-bbsx-ct li:nth-child(2n){margin-right:0}
.oz-bbsx-ct li a{position:relative;display:block;overflow:hidden}
.oz-bbsx-ct li a figure{transition:all 0.5s linear}
.oz-bbsx-ct li a > div{padding:10px}
.oz-bbsx-ct li a > div h3{font-size:17px}
.oz-bbsx-ct li a > div div{margin:2px 0 0;font-size:14px}
.oz-bbsx-ct li:hover a figure{transform:scale(1.1)}
.oz-bbsx-ct li:hover a > div{opacity:1}
}
@media all and (max-width:768px){
.oz-bbsx-ct li a > div{padding:1.8vw;opacity:1}
.oz-bbsx-ct li a > div h3{font-size:3.2vw}
.oz-bbsx-ct li a > div div{margin:0.4vw 0 0;font-size:2.8vw}
.oz-bbsx-ct li:hover a figure{transform:scale(1)}
}
.oz-bbsx-vwx .oz-in{max-width:1400px}
.oz-bbsx-vwx .oz-vwx-tt{margin:0 0 160px;padding:144px 0 0;text-align:center}
.oz-bbsx-vwx .oz-vwx-tt h2{font-size:48px;font-weight:600;color:#fff}
.oz-bbsx-vwx .oz-vwx-tt .oz-cntx-dvx{margin:5px 0 0;font-size:24px;font-weight:500;color:#fff}
.oz-bbsx-vwx .oz-vwx-tt ul{display:inline-block;margin:100px auto 0}
.oz-bbsx-vwx .oz-vwx-tt ul li{display:flex;margin:0 0 8px}
.oz-bbsx-vwx .oz-vwx-tt ul li:last-child{margin:0}
.oz-bbsx-vwx .oz-vwx-tt ul li span{width:65px;text-align:left;font-size:16px;font-weight:500;color:#fff}
.oz-bbsx-vwx .oz-vwx-tt ul li p{width:auto;max-width:calc(100% - 65px);text-align:left;font-size:16px;font-weight:500;color:rgba(255,255,255,0.7)}
.oz-bbsx-vwx .oz-vwx-tt.oz-scr h2{color:#222}
.oz-bbsx-vwx .oz-vwx-tt.oz-scr .oz-cntx-dvx{color:#222}
.oz-bbsx-vwx .oz-vwx-tt.oz-scr ul li span{color:#222}
.oz-bbsx-vwx .oz-vwx-tt.oz-scr ul li p{color:rgba(34,34,34,0.7)}
@media all and (max-width:1024px){
.oz-bbsx-vwx .oz-vwx-tt{margin:0 0 120px;padding:100px 0 0}
.oz-bbsx-vwx .oz-vwx-tt h2{font-size:42px}
.oz-bbsx-vwx .oz-vwx-tt .oz-cntx-dvx{margin:4px 0 0;font-size:20px}
.oz-bbsx-vwx .oz-vwx-tt ul{margin:65px auto 0}
.oz-bbsx-vwx .oz-vwx-tt ul li{margin:0 0 6px}
.oz-bbsx-vwx .oz-vwx-tt ul li:last-child{margin:0}
.oz-bbsx-vwx .oz-vwx-tt ul li span{width:65px;font-size:15px}
.oz-bbsx-vwx .oz-vwx-tt ul li p{max-width:calc(100% - 65px);font-size:15px}
}
@media all and (max-width:768px){
.oz-bbsx-vwx .oz-vwx-tt{margin:0 0 20vw;padding:16vw 0 0}
.oz-bbsx-vwx .oz-vwx-tt h2{font-size:8vw}
.oz-bbsx-vwx .oz-vwx-tt .oz-cntx-dvx{margin:0.8vw 0 0;font-size:4vw}
.oz-bbsx-vwx .oz-vwx-tt ul{margin:12vw auto 0}
.oz-bbsx-vwx .oz-vwx-tt ul li{margin:0 0 1.2vw}
.oz-bbsx-vwx .oz-vwx-tt ul li:last-child{margin:0}
.oz-bbsx-vwx .oz-vwx-tt ul li span{width:13vw;font-size:3vw}
.oz-bbsx-vwx .oz-vwx-tt ul li p{max-width:calc(100% - 13vw);font-size:3vw}
}
.oz-bbsx-vwx .oz-ytbx-ar{position:relative;margin:0 0 120px;padding:30% 0}
.oz-bbsx-vwx .oz-ytbx-ar iframe{position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%}
.oz-bbsx-vwx .oz-thmx-pic{margin:0 0 8px}
@media all and (max-width:1024px){
.oz-bbsx-vwx .oz-thmx-pic{margin:0 0 5px}
}
@media all and (max-width:768px){
.oz-bbsx-vwx .oz-thmx-pic{margin:0 0 1vw}
}
.oz-bbsx-vwx img{width:100%}
.oz-bbsx-vwx .oz-pic-ar{margin:0 0 120px}
.oz-bbsx-vwx .oz-ls-bt{margin:100px auto 0;text-align:center}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx{position:relative;display:inline-flex;justify-content:center;align-items:center;width:340px;height:60px;font-size:18px;font-family:'Montserrat';font-weight:700;color:#191919;border:2px solid #222;transition:all 0.3s ease}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx::before{content:'';position:absolute;left:0;top:0;bottom:0;width:0;height:100%;background:#222;transition:all 0.3s ease;z-index:-1}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx:hover{color:#fff}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx:hover:before{width:100%}
.oz-bbsx-vwx .oz-rtcx2 ul li{margin:0 0 8px}
.oz-bbsx-vwx .oz-rtcx2 ul li:last-child{margin:0}
@media all and (max-width:1024px){
.oz-bbsx-vwx .oz-thmx-pic{margin:0 0 5px}
.oz-bbsx-vwx .oz-rtcx2 ul li{margin:0 0 5px}
}
@media all and (max-width:768px){
.oz-bbsx-vwx .oz-thmx-pic{margin:0 0 1vw}
.oz-bbsx-vwx .oz-rtcx2 ul li{margin:0 0 1vw}
}
@media all and (max-width:1024px){
.oz-bbsx-vwx .oz-ytbx-ar{margin:0 0 100px}
.oz-bbsx-vwx .oz-pic-ar{margin:0 0 100px}
.oz-bbsx-vwx .oz-ls-bt{margin:80px auto 0}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx{width:290px;height:52px;font-size:16px}
}
@media all and (max-width:768px){
.oz-bbsx-vwx .oz-ytbx-ar{margin:0 0 14vw}
.oz-bbsx-vwx .oz-pic-ar{margin:0 0 14vw}
.oz-bbsx-vwx .oz-ls-bt{margin:14vw auto 0}
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx{width:240px;height:48px;font-size:16px}
}
@media all and (max-width:500px){
.oz-bbsx-vwx .oz-ls-bt .oz-bt-wx{width:48vw;height:10vw;font-size:3.2vw}
}
