.go_btn a{display: flex;width: 260px;height: 70px;align-items: center;justify-content: space-between;border: 1px solid #000000;padding: 0 25px;border-radius: 10px;position: relative;overflow: hidden}
.go_btn a:before{content: '';display: block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: #CE3E73;transform: translateX(-100%);transition: 0.7s}
.go_btn a:hover:before{transform: translateX(0%)}
.go_btn a .over{position: absolute;top: 50%;margin-top: -7px;left: -30px;transition: 0.7s}
.go_btn a:hover .over{transform: translateX(54px)}
.go_btn a i{display: block;transition: 0.7s}
.go_btn a:hover i{transform: translateX(54px)}
.go_btn a span{font-weight: 600;color: #000000;font-size: 18px;transition: 0.7s;position: relative;z-index: 3}
.go_btn a:hover span{color: #fff;transform: translateX(20px)}
#main .loc{position: fixed;left: 50%;transform: translateX(-50%);bottom: 20px;z-index: 999;opacity: 0;}
#main .loc.on{opacity: 1}
#main .loc ul{display: flex;background: #fff;height: 60px;padding: 0 40px;border: 1px solid #000000;border-radius: 60px;gap: 0 40px;align-items: center}
#main .loc ul li a{display: block;color: #000000;font-size: 22px;font-family: "trumpgothicpro", sans-serif;font-weight: 600}
#main .loc ul li.on a{color: #CE3E73;}
#main .main_con05{padding-top: 100px}
#main .main_con05 .con{display: flex;justify-content: space-between}
#main .main_con05 .con .title strong{font-size: 50px;line-height: 75px;color: #000000;display: block;margin-bottom: 46px}
#main .main_con05 .con ul{display: flex;border-right: 1px solid #DDDDDD}
#main .main_con05 .con ul li{border-left: 1px solid #DDDDDD}
#main .main_con05 .con ul li a{display: flex;height: 250px;width: 300px;align-items: center;justify-content: center;text-align: center}
#main .main_con05 .con ul li a strong{display: block;margin-top: 10px;font-size: 20px;color: #000000;}
#main .main_con05 .bg{display: flex;justify-content: center}
#main .main_con05 .bg svg{display: flex}
#main .main_con04 {position: relative;padding-top: 240px;}
#main .main_con04 .wrap{position: relative;height: 700px;display: flex;justify-content: center;align-items: center;border-radius: 20px;overflow: hidden}
#main .main_con04 .wrap .bg_in{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)}
#main .main_con05 .con ul li a path{transition: 0.7s}
#main .main_con05 .con ul li:hover a path{stroke: #CE3E73;fill: #CE3E73}
#main .main_con04 .wrap .bg_in img{display: block;}
#main .main_con04 .wrap .title{position: relative;top: 0}
#main .main_con04 .wrap .title strong{font-size: 150px;color: #FFFFFF;font-family: "trumpgothicpro", sans-serif;display: block}
#main .main_con03{padding-top: 240px;}
#main .main_con03 .con{display: flex}
#main .main_con03 .con > div{width: 50%}
#main .main_con03 .con .title strong{display: block;font-size: 150px;color: #000000;font-family: "trumpgothicpro", sans-serif}
#main .main_con03 .list ul li a{display: flex;height: 160px;align-items: center;position: relative;border-bottom: 1px solid #DDDDDD;position: relative}
#main .main_con03 .list ul li a:after{content: '';display: block;width: 10px;height: 2px;position: absolute;left: 0;bottom: -1px;background: #000000;transition: 0.7s}
#main .main_con03 .list ul li:hover a:after{background: #CE3E73;width: 100%}
#main .main_con03 .list ul li .date{position: absolute;right: 0;top: 50%;transform: translateY(-50%);display: flex;align-items: center;gap: 0 20px}
#main .main_con03 .list ul li .date span{display: flex;align-items: center;justify-content: center;width: 60px;height: 60px;border: 1px solid #DDDDDD;border-radius: 10px;font-size: 30px;color: #BBBBBB;font-weight: 600;font-family: "trumpgothicpro", sans-serif;padding-top: 7px;transition: 0.7s}
#main .main_con03 .list ul li:hover .date span{background: #CE3E73;border-color: #CE3E73;color: #fff}
#main .main_con03 .list ul li .date p{font-size: 60px;color: #000000;font-weight: 600;font-family: "trumpgothicpro", sans-serif;padding-top: 15px;transition: 0.7s}
#main .main_con03 .list ul li:hover .date p{color: #CE3E73}
#main .main_con03 .list ul li a .tit {padding-right: 200px;width: 100%}
#main .main_con03 .list ul li a .tit strong{display: block;font-size: 24px;color: #000000;font-weight: 600; white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;width: 100%}
#main .main_con02_title {text-align: center;padding-top: 176px;margin-bottom: 27px;}
#main .main_con02_title p{font-size: 30px;color: #000000;line-height: 45px;font-weight: 600;margin-bottom: }
#main .main_con02_title div:nth-child(2){margin-bottom: 20px;}
#main .main_con02_title strong{font-size: 150px;color: #000000;font-family: "trumpgothicpro", sans-serif;display: block;}
#main .main_con02{position: relative}
#main .main_con02 .motion_wrap{position: relative;height: 100vh}
#main .main_con02 .motion_wrap .business_bg{position: absolute;width: 100%;height: 100%;;top: 0;left: }
#main .main_con02 .motion_wrap .business_bg .business_img{position: absolute;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)}
#main .main_con02 .info_text .info_in{width: 500px;height: 766px;background: rgba(0,0,0,0.5);backdrop-filter: blur(30px);top: 50%;margin-top:-355.333333px;position: absolute;left: 60px;border-radius: 20px;overflow: hidden}
#main .main_con02 .info_text .info_in > div{height: 500%}
#main .main_con02 .info_text .info_in > div > div{height: 20%;padding: 60px 0}
#main .main_con02 .info_text .info_in > div > div .in{height: 100%;border-top: 1px solid rgba(255,255,255,0.1);;border-bottom: 1px solid rgba(255,255,255,0.1);display: flex;flex-direction: column;justify-content: space-between}
#main .main_con02 .info_text .info_in > div > div .in .line svg{display: block;margin: 0 auto}
#main .main_con02 .info_text .info_in > div > div .in .line img{display: block;margin: 0 auto;max-width: 100%}
#main .main_con02 .info_text .info_in > div > div .title{text-align: center;padding-top: 60px;}
#main .main_con02 .info_text .info_in > div > div .title strong{display: block;font-size: 42px;color: #FFFFFF;margin-bottom: 30px;}
#main .main_con02 .info_text .info_in > div > div .title p{font-size: 18px;color: #FFFFFF;font-weight: 300;line-height: 27px;}
#main .main_con01 .hori_wrap{display: flex;height: 100vh;align-items: center;width: 6210px}
#main .main_con01 .hori_wrap .con{display: flex;padding: 0 60px;}
#main .main_con01 .hori_wrap .con .title{width: 415px;}
#main .main_con01 .hori_wrap .con .list{padding-top: 80px;}
#main .main_con01 .hori_wrap .con .list ul li{position: relative}
#main .main_con01 .hori_wrap .con .list ul li .dot{position: absolute;top: 0;transform: translateY(-100%);left: 50%;margin-left: -50px;top: 5px;}
#main .main_con01 .hori_wrap .con ul{display: flex;gap: 0 10px}
#main .main_con01 .hori_wrap .con ul li a{display: block;width: 400px;height: 560px;overflow: hidden;border: 1px solid #999999;border-radius: 10px;position: relative}
#main .main_con01 .hori_wrap .con ul li a .over{display: table;top: 0;left: 0;position: absolute;opacity: 0;transition: 0.7s}
#main .main_con01 .hori_wrap .con ul li:hover a .over{opacity: 1}
#main .main_con01 .hori_wrap .con ul li a .wrap{padding: 0 50px;padding-bottom: 0;display: flex;flex-direction: column;justify-content: flex-end;height: 100%}
#main .main_con01 .hori_wrap .con ul li a .icon{margin-bottom: 50px;}
#main .main_con01 .hori_wrap .con ul li a .txt{height: 110px;display: flex;justify-content: space-between;align-items: center;border-top: 1px solid #E9E9E9;position: relative;z-index: 3;transition: 0.7s}
#main .main_con01 .hori_wrap .con ul li:hover a .txt{border-top: 1px solid rgba(255,255,255,0)}
#main .main_con01 .hori_wrap .con ul li:hover a .txt strong{color: #fff}
#main .main_con01 .hori_wrap .con ul li a .txt strong{display: block;color: #000000;font-size: 24px;letter-spacing: -0.7px;transition: 0.7s}
#main .main_con01 .hori_wrap .con ul li a .txt path{transition: 0.7s}
#main .main_con01 .hori_wrap .con ul li:hover a .txt path{stroke : #fff;transition: 0.7s}
#main .main_con01 .hori_wrap .con .title strong{display: block;color: #000000;font-size: 42px;margin-bottom: 70px;}
#main .main_con01 .hori_wrap .con .title p{font-size: 20px;line-height: 30px;color: #000000;}
#main .main_con00{background: #000;height: 40vh}
#main .main_con01_title{padding-top: 210px;}
#main .main_con01_title .inner{display: flex;gap: 0 20px;}
#main .main_con01_title strong{display: block;font-size: 150px;color: #000000;font-family: "trumpgothicpro", sans-serif;}
#main .main_visual{height: 100vh;display: flex;flex-direction: column;justify-content: flex-end;white-space: nowrap;position: relative;z-index: 5}
#main .main_visual .title_w strong{display: block;color: #000000;font-family: "trumpgothicpro", sans-serif;font-size: 199px;}
#main .main_visual .hori_w{display: flex;gap: 0 10px;align-items: flex-end}
#main .main_visual .hori_con{padding: 10px}
#main .main_visual .title_w{padding-left: 60px;display: flex;gap: 0 40px;}
#main .main_visual .title_w strong{transform: translateY(110%);animation: 1s title2;animation-fill-mode: forwards}
#main .main_visual .title_w div{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);animation: 1s title;animation-fill-mode: forwards}
#main .main_visual .hook{position: absolute;bottom: 408px;left: 50%;margin-left: -50px;transform: translateY(-100%)}
#main .main_visual .deco_bg{position: absolute;right: 0;top: 0%;transform: translateX(100%)}

#main .m_tit{display: flex;gap: 0 30px;}
#main .main_visual.on .title_w div.tit01, #main .main_visual .title_w div.tit01 strong{animation-delay: 0.4s}
#main .main_visual.on .title_w div.tit02, #main .main_visual .title_w div.tit02 strong{animation-delay: 0.6s}
#main .main_visual.on .title_w div.tit03, #main .main_visual .title_w div.tit03 strong{animation-delay: 0.8s}
#main .main_visual.on .title_w div.tit04, #main .main_visual .title_w div.tit04 strong{animation-delay: 1.0s}
#main .main_visual.on .title_w div.tit05, #main .main_visual .title_w div.tit05 strong{animation-delay: 1.2s}

@keyframes title{
    0%{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}
@keyframes title2{
    0%{transform: translateY(110%);}
    100%{transform: translateY(10px);}
}
#main .main_visual .hori_w{width: 4070px}
#main .main_visual .hori_w .box05{height: 408px;}
#main .main_visual .hori_w .box08{display: flex;gap: 10px;}
#main .main_visual .hori_w .box08 > div{display: flex;flex-direction: column;gap: 10px;}
#main .main_visual .hori_w .box07{position: relative;width: 1200px;height: 400px;position: relative}
#main .main_visual .hori_w .box07 .video_box{position: absolute;width: 100%;height: 100%;overflow: hidden;width: 1200px;border-radius: 20px;bottom: 0;left: 50%;transform: translateX(-50%);background: #000}
#main .main_visual .hori_w .box07 .video_box .box_con{position: absolute;width: 1920px;height: 960px;left: 50%;margin-left: -960px;bottom: 0}
#main .main_visual .hori_w .box07 .video_box .box_con video{width: 1920px;}
#main .main_visual .title_w2{position: absolute;top: 50%;transform: translateY(-90%) translateX(100%);position: absolute;width: 100%;text-align: center;}
#main .main_visual .title_w2 strong{font-size: 300px;color: #000000;font-weight: 600;font-family: "trumpgothicpro", sans-serif;display: block;will-change: transform}
#main .main_visual .title_w2 span{position: absolute;font-size: 30px;letter-spacing: 10px;font-family: "trumpgothicpro", sans-serif;font-weight: 600;bottom: -96px;left: 50%;transform: translateX(-50%);color: #fff;opacity: 0}
#main .main_visual .title_w2 .bef{position: relative}
#main .main_visual .title_w2 .bef *{text-shadow: 0 0 17px rgba(0,0,0,0.7)}
#main .main_visual .title_w2_02 strong{color: #fff}
#main .main_visual .title_w2_02 .aft{position: absolute;top: 50%;left: 50%;transform: translate(-50%,50%);opacity: 0}
#main .main_visual .box01 .img{animation: bg1 1s;animation-delay: 1s;animation-fill-mode: forwards;transform: translateY(70px);opacity: 0;}
#main .main_visual .box09 .img{animation: bg1 1s;animation-delay: 1s;animation-fill-mode: forwards;transform: translateY(70px);opacity: 0;}
#main .main_visual .box02 .img{animation: bg2 1s;animation-delay: 1.3s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
#main .main_visual .box08 .b01{animation: bg2 1s;animation-delay: 1.5s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
#main .main_visual .box08 .b03{animation: bg2 1s;animation-delay: 1.7s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
#main .main_visual .box08 .b04{animation: bg1 1s;animation-delay: 1.5s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
#main .main_visual .box08 .b02{animation: bg1 1s;animation-delay: 1.7s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
#main .main_visual .box03 .line{animation: bg2 1s;animation-delay: 1.9s;animation-fill-mode: forwards;transform: translateY(-70px);opacity: 0;}
@keyframes bg1{
    0%{transform: translateY(70px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes bg2{
    0%{transform: translateY(-70px);opacity: 0;}
    100%{transform: translateY(0);opacity: 1;}
}
/*
#main .main_visual .box01 .img{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 1s}
#main .main_visual.on .box01 .img{transform: translateY(0);opacity: 1;}
#main .main_visual .box09 .img{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 1s}
#main .main_visual.on .box09 .img{transform: translateY(0);opacity: 1;}
#main .main_visual .box02 .img{transform: translateY(-70px);opacity: 0;transition: 1s;transition-delay: 1.2s}
#main .main_visual.on .box02 .img{transform: translateY(0);opacity: 1;}
#main .main_visual .in_box01 .b01{transform: translateY(-70px);opacity: 0;transition: 1s;transition-delay: 1.4s}
#main .main_visual.on .in_box01 .b01{transform: translateY(0);opacity: 1;}
#main .main_visual .in_box02 .b04{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 1.4s}
#main .main_visual.on .in_box02 .b04{transform: translateY(0);opacity: 1;}
#main .main_visual .in_box01 .b02{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 1.6s}
#main .main_visual.on .in_box01 .b02{transform: translateY(0);opacity: 1;}
#main .main_visual .in_box02 .b03{transform: translateY(-70px);opacity: 0;transition: 1s;transition-delay: 1.6s}
#main .main_visual.on .in_box02 .b03{transform: translateY(0);opacity: 1;}
#main .main_visual .box03 .line{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 1.8s}
#main .main_visual.on .box03 .line{transform: translateY(0);opacity: 1;}
#main .main_visual .box04{transform: translateY(70px);opacity: 0;transition: 1s;transition-delay: 2s}
#main .main_visual.on .box04{transform: translateY(0);opacity: 1;}
#main .main_visual .box05{transform: translateY(-70px);opacity: 0;transition: 1s;transition-delay: 2s}
#main .main_visual.on .box05{transform: translateY(0);opacity: 1;}
*/
/*#main .main_visual .hori_w .box07 .video_box{width: 100vw;height: 100vh}*/

/*motiion*/
#main .main_con02 {overflow: hidden}
#main .main_con02 .motion_wrap .business_bg .business_img{clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);}
#main .main_con02 .motion_wrap .business_bg .business_img01{clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);overflow: hidden;padding: 0 60px;width: 100%;height: 100%}
#main .main_con02 .motion_wrap .business_bg .business_img01 > div{position: relative;width: 100%;height: 100%;overflow: hidden;border-radius: 20px;}
#main .main_con02 .motion_wrap .business_bg .business_img01 > div img{position: absolute;left: 50%;top: 50%;transform: translate(-50%, -69%)}
#main .main_con02 .motion_wrap .business_bg .business_img01 > div .bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(255,255,255,0.7);z-index: 1;backdrop-filter: grayscale(100%)	}
#main .main_con02 .info_text .info_in{transform: translateY(100%)}
#main .main_con02 .num_paging{position: absolute;right: 60px;bottom: 0;display: flex;z-index: 3}
#main .main_con02 .num_paging span{display: block;font-size: 300px;color: #FFFFFF;font-weight: 600;font-family: "trumpgothicpro", sans-serif;line-height: 322px}
#main .main_con02 .num_paging .num_w{height: 322px;overflow: hidden}

#main .mo_tit{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);animation-fill-mode: forwards}
#main .on .mo_tit{animation: 1s title_mo;animation-fill-mode: forwards}
@keyframes title_mo{
    0%{clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);}
    100%{clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}
#main .mo_tit *{transform: translateY(110%);}
#main .on .mo_tit *{transform: translateY(110%);animation: 1s title_mo2;animation-fill-mode: forwards}
#main .on .mo_tit:nth-child(2), #main .on .mo_tit:nth-child(2) *{animation-delay: 0.2s}
#main .on .mo_tit:nth-child(3), #main .on .mo_tit:nth-child(3)) *{animation-delay: 0.4s}
@keyframes title_mo2{
    0%{transform: translateY(110%);}
    100%{transform: translateY(10px);}
}

#main .main_con01 .hori_wrap .con{transform: translateY(100px);opacity: 0;transition: 1s}
#main .main_con01.on .hori_wrap .con{transform: translateY(0);opacity: 1;transition-delay: 0.6s}

#main .go_btn{transform: translateX(100px);opacity: 0;transition: 1s}
#main .on .go_btn{transform: translateX(0);opacity: 1;transition-delay: 0.6s}
#main .main_con05 .con .title strong{transform: translateX(100px);opacity: 0;transition: 1s}
#main .main_con05.on .con .title strong{transform: translateX(0);opacity: 1;transition-delay: 0.3s}
#main .main_con03 .list{transform: translateX(100px);opacity: 0;transition: 1s}
#main .main_con03.on .list{transform: translateX(0);opacity: 1;transition-delay: 0.9s}
#main .main_con05 .con ul{transform: translateY(100px);opacity: 0;transition: 1s}
#main .main_con05.on .con ul{transform: translateY(0);opacity: 1;transition-delay: 0.9s}
#sub.business.business01 .business_title .img_w{display: inline-block;width: 600px;}
#sub.business.business01 .thumb_slide{margin-left: 0}
@media (max-width: 1700px) {
    #main .main_visual .title_w strong{font-size: 180px;}
    #main .main_con01_title strong{font-size: 120px;}
    #main .main_con01 .hori_wrap .con .title strong{font-size: 36px;}
    #main .main_con02_title p{font-size: 24px;}
    #main .main_con02_title strong, #main .main_con03 .con .title strong{font-size: 120px}
    #main .main_con02 .info_text .info_in > div > div .title strong{font-size: 32px;}
    #main .main_con02 .info_text .info_in > div > div .title p{font-size: 16px;line-height: 1.5}
    #main .main_con02 .info_text .info_in > div > div .in .line svg{width: 300px;height: auto}
    #main .main_con02 .info_text .info_in > div > div .in .line img{width: 300px;height: auto}
    #main .main_con02 .info_text .info_in > div > div .in .line img{width: 300px;height: auto}
    #main .main_con02 .info_text .info_in {width: 410px;height: 636px;}
    #main .main_con02 .info_text .info_in{top: auto;bottom: 30px;margin-top: 0; left: 30px;}
    #main .main_con02 .num_paging, #main .main_con02 .num_paging .num_w{height: 220px;}
    #main .main_con02 .num_paging span{font-size: 200px;line-height: 220px}
    #main .main_con02 .num_paging{bottom: -20px;right: 30px;}
    #main .main_con03 .list ul li a{height: 130px;}
    #main .main_visual .title_w2 strong{font-size: 200px;}
    #header #gnb > ul > li > a span{width: 150px;}
    #footer .ft01 .sitemap > ul > li{width: 140px}
}
@media (max-width: 1650px) {
    #main .main_con01 .hori_wrap .con ul li a{width: 300px;height: 420px;}
	#main .main_con01 .hori_wrap{width: 4930px}
    #main .main_con01 .hori_wrap .con ul li a .over img{width: 300px;}
    #main .main_con01 .hori_wrap .con ul li a .wrap{padding: 0 20px;}
    #main .main_con01 .hori_wrap .con ul li a .icon img{width: 100%}
    #main .main_con01 .hori_wrap .con ul li a .txt strong{font-size: 19px;}
    #main .main_con01 .hori_wrap .con .title strong{font-size: 32px;}
    #main .main_con01 .hori_wrap .con .title p{font-size: 17px;line-height: 1.7}
    #main .main_con01 .hori_wrap .con .list{padding-top: 60px;}
    #main .main_con01 .hori_wrap .con .title strong{margin-bottom: 20px;}
    #main .main_con01 .hori_wrap .con .title{width: 345px;}
    #main .main_con02_title p{font-size: 20px;line-height: 1.7}
    #main .main_con02_title strong, #main .main_con03 .con .title strong{font-size: 100px;}
    #main .main_con03 .list ul li a .tit strong{font-size: 18px;}
    #main .main_con03 .list ul li .date span{width: 40px;height: 40px;font-size: 20px}
    #main .main_con03 .list ul li .date p{font-size: 40px;}
    #main .main_con03 .list ul li a{height: 100px;}
    #main .main_con03{padding-top: 120px;padding-bottom: 120px;}
    #main .main_con04 .wrap .title strong{font-size: 100px;}
    .inner{padding: 0 30px;}
    #main .main_con04 .wrap{height: 500px;}
    #main .main_con05 .con .title strong{font-size: 32px;line-height: 1.7}
    #main .main_con05 .con ul li a{width: 250px;height: 250px;}
    #main .main_con01_title{padding-top: 160px;}
    #footer{padding: 120px 20px;}
    #footer .ft01 .btn_top button{font-size: 90px;}
}
@media (max-width: 1400px) {
  #header .btn_w{display: flex;gap: 0 30px;}
 #header .menu_open_btn{display: block;}
 #header #gnb{display: block;position: fixed;right: 0;top: 0;z-index: 999;    background: #fff linear-gradient(#fff,#fff) no-repeat bottom left;transform: translateX(100%);transition: 1s;overflow-y: scroll;padding-bottom: 20px}
 #header #gnb.on{transform: translateX(0%);transition: 1s}
 #header #gnb > ul{display: block;}
#header #gnb > ul > li{border-bottom: 1px solid #F1F1F1}
#header #gnb > ul > li div{height: auto}
 #header #gnb > ul > li div{display: block;position: static;width: 100%;opacity: 1}
 #header #gnb > ul > li > a span{width: 100%;text-align: left;padding-left: 20px;}
 #header #gnb > ul > li{padding: 0 20px;}
 #header #gnb > ul > li div ul li a{text-align: left;padding-left: 20px;}
 #header #gnb > ul > li > a{height: auto;margin-bottom: 0;}
 #header #gnb > ul > li div{margin-top: 5px;}
 #header #gnb > ul > li div ul{display: none}
 #header #gnb > ul > li:hover div ul{display: flex;}
 #header #gnb{width: 360px;padding-top: 70px;}
 #header #gnb > ul > li div ul{height: auto}
 #header #gnb button{position: absolute;right: 20px;top: 20px;display: block}
 #header .bg{display: none}
 #header .lang ul{display: none;opacity: 1;pointer-events: all;position: absolute;border: none;box-shadow: 0 0 20px rgba(0,0,0,0.1)}
 #header .lang ul.on{display: block}
#header #gnb > ul > li div ul li a i{left: auto;right: 20px;transform: none}
 #header .lang ul{width: 100%;height: auto;background: #fff;border-radius: 10px;width: 90px;left: 50%;transform: translateX(-50%);padding: 20px 10px;}
 #header .lang ul li{padding: 0}
 #header .lang ul li a{text-align: center}
#header #gnb > ul{border-top: 1px solid #F1F1F1}
#header #gnb > ul > li > a span{padding: 0;text-align: center}
#header #gnb > ul > li div{margin-top: 0}
#header #gnb > ul > li > a{position: relative}
#header #gnb > ul > li > a:after{width: 74px;left: 50%;margin-left: -37px}
#header #gnb{        background-size: 1250px;}
 #header #gnb > ul > li:hover div ul{display: none}
#header #gnb > ul > li.on div ul{display: flex}
#header #gnb > ul > li.on > a{border-bottom: 1px solid #F1F1F1;}
#header #gnb > ul > li:hover > a:after{transform: scaleX(0)}
#header #gnb > ul > li.on > a:after{transform: scaleX(1)}
#header #gnb > ul > li.on > a span{color: #CE3E73;}
}
@media (max-width: 1200px) {
    #main .main_visual .box03 .ling img, #main .main_visual .box01 .img img, #main .main_visual .box02 .img img, #main .main_visual .box06 .line img, #main .main_visual .box09 .img img{width: 300px;}
    #main .main_visual .hori_w .box07{width: 700px;height: 300px;}
    #main .main_visual .hori_w .box07 .video_box{width: 700px;}
    #main .main_visual .hori_w .box05{height: 300px;}
    #main .main_visual .hori_w{width: 3690px;}
    #main .main_visual .hori_w .box08 img, #main .main_visual .box05 img, #main .main_visual .box04 img{width: 145px;}
    #main .main_visual .title_w strong{font-size: 150px;}
    #main .main_con04{padding-top: 0}
    #main .main_visual .hori_w {width: 3069px;}
    #main .main_visual .hook{bottom: 307px;}
    #footer .ft01 .sitemap > ul > li ul li a{font-size: 13px;}
    #footer .ft01 .sitemap > ul > li > a{font-size: 15px;}
    #footer .ft01 .sitemap > ul > li{width: 110px;}
    #main .main_visual .hori_w .box07 .video_box{transform: translateX(-41.2%)}
    #pri_pop > div > div{max-width: 90vw;padding: 60px 20px;}

}
@media (max-width: 1000px) {
    #main .main_visual .title_w{padding-left: 20px;}
    #main .main_visual .title_w{gap: 0 20px}
    #main .main_visual .title_w strong{font-size: 120px;}
    #main .main_con01_title strong{font-size: 90px;}
    #main .main_con01 .hori_wrap .con{padding: 0 20px;}
    #main .main_con01 .hori_wrap .con .title p{font-size: 14px;line-height: 1.7}
    #main .main_con01 .hori_wrap .con .title strong{font-size: 26px;}
    #main .main_con02_title p{font-size: 16px;}
    #main .main_con02_title strong, #main .main_con03 .con .title strong{font-size: 80px}
    #main .main_con02 .info_text .info_in > div > div .title strong{font-size: 24px;}
    #main .main_con02 .info_text .info_in > div > div .title strong{margin-bottom: 10px;}
    #main .main_con02 .info_text .info_in > div > div .title p{font-size: 13px;}
    #main .main_con02 .info_text .info_in > div > div .title{padding-top: 30px;}
    #main .main_con02 .info_text .info_in > div > div{padding: 30px 0}
    #main .main_con02 .info_text .info_in > div > div .in .line svg{width: 220px;}
    #main .main_con02 .info_text .info_in > div > div .in .line img{width: 220px;}
    #main .main_con02 .info_text .info_in {width: 330px;height: 420px;}
    #main .main_con02 .num_paging span{font-size: 130px;}
    #header .bg{display: none}
    #header .btn_w{display: flex;align-items: center;gap: 0 20px;}
    #header .btn_w svg{display: block;}
    #header .btn_w button{display: block;}
    #main .main_visual .deco_bg img{height: 100vh}

}

@media (max-width: 880px) {
	#header #gnb > ul > li > a span{font-size: 19px;}
    #header .lang ul{top: 30px}
    #header .lang ul{padding: 10px;}
    #header .lang ul li a{font-size: 13px;}
        #main .main_visual .hori_w .box07 .video_box{transform: translateX(-50%)}
    #pri_pop > div > div table th, #pri_pop > div > div table td{font-size: 8px;padding: 3px;}
    #main .main_visual .title_w2 span{font-size: 19px;bottom: -60px}
    #main .main_con01 .hori_wrap .con .list ul li .dot{display: none}
    #main .main_visual .hori_w .box07 .video_box .box_con{height: 100vh}
    #footer{padding: 50px 20px;}
    #main .main_con02 .motion_wrap .business_bg .business_img01 > div img{height: 100vh}
    #header{height: 65px;}
    #main .main_con02 .info_text .info_in{top: 100px;left: 20px;}
    #main .main_con02 .info_text .info_in > div > div .in .line{display: none}
    #main .main_con02 .info_text .info_in > div > div .title strong{font-size: 22px;}
    #main .main_con02 .info_text .info_in{height: 195px;border-radius: 15px;}
    #main .main_con02 .num_paging span{font-size: 80px;}
    #main .main_con02 .num_paging{bottom: -70px;right: 20px;}
    #main .main_con03 .con{display: block}
    #main .main_con03 .con > div{width: 100%}
    #main .main_con02_title strong, #main .main_con03 .con .title strong{font-size: 60px;}
    .go_btn a{width: 150px;height: 42px;}
    .go_btn a span{font-size: 13px}
    .go_btn a svg{width: 5px;height: auto}
    #main .main_con03 .list ul li a .tit strong{font-size: 14px;}
    #main .main_con03 .list ul li .date span{width: 30px;height: 30px;font-size: 13px;border-radius: 5px;padding-top: 4px;}
    #main .main_con03 .list ul li .date p{font-size: 24px;padding-top: 7px}
    #main .main_con03 .list ul li .date{gap: 0 10px;}
    #main .main_con03 .list ul li a{height: 70px}
    #main .main_con03 .list{padding-top: 30px}
    #main .main_con03{padding: 70px 0}
    .inner{padding: 0 20px;}
    #main .main_con04 .wrap{height: 370px;}
    #main .main_con04 .wrap .title strong{font-size: 70px;}
    #main .main_con05 .con{display: block;}
    #main .main_con05 .con .title strong{font-size: 26px;line-height: 1.7}
    .go_btn a{padding: 0 15px;}
    #main .main_con05 .con .title strong{margin-bottom: 20px;}
    #main .main_con05 .con ul{margin-top: 30px;}
    #main .main_con05 .con ul li{width: 100%}
    #main .main_con05 .con ul li a{width: 100%}
    #main .main_con05 .con ul li a strong{font-size: 15px;}
    #main .main_con05 .con ul li a{height: 150px;}
    #main .main_con05 .con ul li a svg{width: 30px;height: auto}
    #main .main_con05 .bg svg{width: 1600px;height: auto}
    #main .main_con04 .wrap{border-radius: 10px;}
    #main .main_con02 .motion_wrap .business_bg .business_img01{padding: 0 20px;}
    #main .main_con01_title strong{font-size: 50px;}
    #main .main_con02_title{padding-top: 70px}
    #header .hd_inner{padding: 0 20px;}
    #header #logo svg{width: 150px;height: auto}
    #header .lang svg{height: 15px;width: auto}
    #main .main_con01 .hori_wrap{display: block;height: auto;width: auto}
    #main .main_con01 .hori_wrap .con{display: block;}
    #main .main_con01 .hori_wrap .con .title p{display: none}
    #main .main_con01 .hori_wrap .con .list{padding-top: 0}
    #main .main_con01 .hori_wrap .con ul{flex-wrap: wrap;gap: 10px;}
    #main .main_con01 .hori_wrap .con ul li{width: calc(50% - 5px)}
    #main .main_con01 .hori_wrap .con ul li a{width: 100%;width: 100%}
    #main .main_con01 .hori_wrap .con ul li a .over{display: none}
    #main .main_con01 .hori_wrap .con ul li a{height: auto}
    #main .main_con01 .hori_wrap .con ul li a .txt strong{font-size: 12px;}
    #main .main_con01 .hori_wrap .con ul li a .txt{height: 40px;}
    #main .main_con01 .hori_wrap .con ul li a .wrap{border-radius: 8px;padding: 0 20px;}
    #main .main_con01 .hori_wrap .con .title strong{font-size: 20px;margin-bottom: 10px;}
    #main .main_con01 .hori_wrap .con{margin-top: 20px;}
    #footer .ft01 .sitemap > ul > li ul li a{font-size: 12px;}
    #footer .ft01 .sitemap > ul > li > a{font-size: 14px;margin-bottom: 10px;}
    #footer .ft02 ul li{font-size: 12px}
    #footer .ft02 ul{gap: 7px 0}
    #footer .ft02{margin-top: 30px;padding-top: 30px;}
    #footer .ft03 .copy address{font-size: 11px;}
    #footer .ft03 .family button{width: 160px;height: 40px;font-size: 13px;;padding: 0 15px;}
    #main .main_visual .title_w2 strong{font-size: 120px;}
    #main .main_visual .title_w2_02 .aft img{width: 190px;}
    #main .main_visual .title_w2_02 .aft{transform: translate(-50%, 0)}
    #main .loc ul li a{font-size: 14px;}
    #main .loc ul{gap: 0 20px;height: 30px;padding: 0 20px;}
    #main .loc{bottom: 10px;}
	#header #gnb > ul > li{padding: 0}
    #header #gnb > ul > li > a span{line-height: 60px;font-size: 16px;}
    #header #gnb > ul > li div ul li a{font-size: 15px;text-align: center;padding: 0}
	#header #gnb > ul > li div{border-right: none}
	#header #gnb > ul > li:hover div{border-right: none}
    #header #gnb > ul > li div ul{gap: 5px 0;padding: 20px 0}
    #header #gnb > ul > li div ul{padding: 10px 0}
    #main .main_visual .hook{margin-left: -35px}
    #main .main_visual .hook img{width: 70px;}
    #footer .ft01{display: block}
    #footer .ft01 .btn_top{display: flex;justify-content: flex-end}
    #pri_pop > div .sc p{font-size: 12px;line-height: 1.7}
	#pri_pop > div .sc strong{font-size: 16px;padding-bottom: 15px;}
    #footer .ft01 .btn_top button i.aft{display: none}
	#header #gnb > ul > li div ul{gap: 10px}
@keyframes title_mo2{
    0%{transform: translateY(105%);}
    100%{transform: translateY(10px);}
}
    #main .main_con02_title.on  p{animation: 1s title_mo_03;animation-fill-mode: forwards}
@keyframes title_mo_03{
    0%{transform: translateY(105%);}
    100%{transform: translateY(0px);}
}
	#main .main_visual .hori_w .box07 .video_box .box_con video{height: 100vh}
	
	#footer .award svg{ width: 130px; height: auto; }
	#footer .award{ bottom: 10px !important; }

}

@media (max-width: 600px) {
    #main .main_con04 .wrap{height: 320px}
    #main .main_con04 .wrap .bg_in img{height: 370px;}
    #main .main_con05{padding-top: 70px}
    #main .main_visual .title_w strong{font-size: 60px}
    #main .main_visual .title_w{gap: 0 10px;}
    #main .main_con01_title{padding-top: 70px;}
    #main .main_con02 .info_text .info_in > div > div .title strong{font-size: 17px;}
    #main .main_con02 .info_text .info_in > div > div .title p{font-size: 12.5px;}
    #main .main_con02 .info_text .info_in > div > div .title{text-align: left;padding-left: 15px;padding-right: 15px;}
    #main .main_con02 .info_text .info_in > div > div{padding: 15px 0 ;}
    #main .main_con02 .info_text .info_in{height: 155px; width: 290px}
    #main .main_con02 .info_text .info_in{top: 80px;left: 20px;}
    #main .main_con04 .wrap .title strong{font-size: 50px;}
    #main .main_con05 .con .title strong{font-size: 20px;}
    #main .main_con02_title strong, #main .main_con03 .con .title strong{font-size: 50px;}
    #footer .ft01 .sitemap > ul > li > ul{display: none;flex-wrap: wrap}
    #footer .ft01 .sitemap > ul{flex-wrap: wrap;gap: 10px}
    #footer .ft01 .sitemap > ul > li{width: calc(33.33% - 7px)}
    #footer .ft01 .sitemap > ul > li > a{margin-bottom: 0}
    #footer .ft02{padding-top: 20px;margin-top: 20px}
    #footer .ft03{display: block;}
    #footer .ft03 .copy address{margin-top: 15px;}
    #footer .ft03{margin-top: 20px;}
    #main .main_con03 .con .title strong{margin-bottom: 15px;}
    #footer .ft03 .family button{width: 100%}
    #main .main_visual .title_w2 strong{font-size: 90px;}
    #main .main_visual .hori_w .box07, #main .main_visual .hori_w .box07 .video_box{width: 360px}
        #main .main_visual .hori_w {
        width: 2629px;
    }
    #main .m_tit{gap: 0 15px}
    #header #gnb{width: 260px;}
    #footer .ft01 .btn_top button{font-size: 35px;}
    #footer .ft01 .btn_top button i{margin-bottom: 10px;}
    #footer .ft01 .btn_top button i svg{width: 13px;height: auto}
	
	#footer .award{ position:static !important; transform: translate(0,0) !important; margin-top: 20px !important;}
}
