 @charset "utf-8";
/* doc.css는 디자인페이지 스타일을 정의합니다. */

.map-area {margin-bottom:60px;}

.greeting {max-width:1075px; margin:0 auto;}
.greeting .row {display:flex; align-items:flex-end;}
.greeting .photo {flex:1 1 453px; max-width:453px;}
.greeting .info {flex:1 1 auto; width:1%; padding-left:85px; font-size:18px; line-height:1.8em;}
.greeting .info .cnt {color:#888; letter-spacing:.1em; margin-bottom:40px;}
.greeting .info .slogon {font-size:30px; line-height:1.8em; color:#000;letter-spacing:0; margin-bottom:40px;}

.location {padding:0 30px;}
.location .map {margin-bottom:65px;}
.location .row {display:flex; flex-wrap:wrap; align-items:center; justify-content: space-around; font-size:16px; line-height:1.6em;}
.location .addr-col {width:40%}
.location .addr-col .tit {font-size:22px; line-height:1.4em; color:#000;font-weight:700; margin-bottom:15px;} 
.location .addr-col p { margin-bottom:10px;}
.location .addr-col .tel-group {display:flex; margin-left:-20px;}
.location .addr-col .tel-group .group {display:flex; padding-left:20px; width:40%}
.location .addr-col .tel-group .tt {flex:1 1 33px; max-width:33px; }
.location .addr-col .tel-group .tel {flex:1 1 auto; width:1%; min-width:0; font-weight:700; color:#000; font-size:17px; line-height:1.6em;}
.location .info-col {padding-left:110px; width:60%;border-left:1px solid #ddd;}
.location .info-col .group {margin-bottom:40px; display:flex;}
.location .info-col .group:last-child {margin-bottom:0;}
.location .info-col .group .tit {flex:1 1 120px; max-width:120px; position:relative; font-size:20px; line-height:1.4em; color:#000; font-weight:700; padding-left:58px;}
.location .info-col .group .tit:before {content:"";position:absolute; top:0; left:0; width:43px; height:45px; background:url('../images/sub/icon_bus.png') 50% 50% no-repeat; background-position:50% 50%;}
.location .info-col .group .tit.subway:before {background-image:url('../images/sub/icon_subway.png')}
.location .info-col .group .cnt {flex:1 1 auto; width:1%; padding-left:50px;}
.location .info-col .group .cnt p {margin-bottom:5px;}
.location .info-col .group .cnt p:last-child {margin-bottom:0;}



