*{margin:0;padding:0;box-sizing:border-box}
html,body{width:100%;height:100%}
html{overflow-y:scroll}
body{background-color:#fff;word-break:keep-all;-webkit-text-size-adjust:100% !important;-moz-text-size-adjust:100% !important;-ms-text-size-adjust:100% !important}
body,h1,h2,h3,h4,h5,h6,th,td,li,dt,dd,a,p,input,textarea,select,option,button{color:#555;font-family:"Cormorant Garamond","Pretendard","돋움",dotum,sans-serif;font-size:14px;font-weight:normal}
img,fieldset,iframe{border:0 none}
ul,ol,li{list-style:none}
em,address{font-style:normal}
img,input,select,textarea{vertical-align:middle}
a{color:#7d7d7d;text-decoration:none;cursor:pointer}
a:hover{color:#333;text-decoration:none}
button,label{cursor:pointer;_cursor:hand}
button *{position:relative}
textarea{overflow:auto}
option{padding-right:6px}
.el-ip-tx,textarea{*margin:-1px 0;padding-right:1px}
.el-ip-chcx,.el-ip-rdx{width:13px;height:13px}
.el-blnx,legend,caption{text-indent:-9999px;font-size:0;line-height:0;overflow:hidden}
hr{display:none}
legend{*width:0}
:root legend{margin-top:-1px;font-size:0;line-height:0}
caption{*line-height:0}
img{max-width:100%}
.el-tstx{border:1px solid red}
.el-tstx2{background:#4f7beb}
.el-fntx{font-family:"Pretendard"}
.el-fntx{font-family:"Noto Sans KR"}
.el-fntx2{font-family:"Cormorant Garamond"}
#el-i-ldnx-pic{text-align:center;display:none;width:100%;margin:10px 0px 10px 0px}
.el-pp-tdyx-cls{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px}
.el-pp-cls{padding:1px 7px 3px 7px;color:#ffffff;background:#303030;vertical-align:middle;border:0px}
@media(max-width:767px){
.el-hm-ly-pp{width:96%!important;left:50%!important;top:50px!important;transform:translateX(-50%)}
.el-hm-ly-pp .el-pp-ct{height:100%!important}
.el-hm-ly-pp img{width:100%}
}
#el-i-wr{overflow:hidden}
#el-i-hd{position:fixed;left:0;top:0;z-index:1000;width:100%;height:110px;transition:all 0.4s}
#el-i-hd:after{display:block;content:"";width:100%;height:90px;position:absolute;left:0;top:100%;background:#eeeae2;transform-origin:top;transform:scaleY(0);transition:all 0.4s}
.el-hd{position:relative;padding:0 5%;text-align:center}
.el-hd h1{position:absolute;left:5%;top:36px;z-index:2000}
.el-hd h1 a{display:block;width:128px;height:42px;background:url(img/csscommonc-04.png) no-repeat;background-size:contain;text-indent:-9999px;transition:all 0.4s}
.el-hd .el-bt-mn{position:absolute;right:5%;top:45px;z-index:2000;display:flex;flex-wrap:wrap;justify-content:flex-end;width:50px;cursor:pointer}
.el-hd .el-bt-mn>div{overflow:hidden;width:100%;height:2px;margin-bottom:9px;background:#fff;transition:all 0.6s}
.el-hd .el-bt-mn>div:nth-child(2){width:80%}
.el-hd .el-bt-mn.el-pnmx>div:nth-child(1){transform:rotate(45deg) translateY(15.5px)}
.el-hd .el-bt-mn.el-pnmx>div:nth-child(2){opacity:0}
.el-hd .el-bt-mn.el-pnmx>div:nth-child(3){transform:rotate(-45deg) translateY(-15.5px)}
.el-hd .el-pcx-nv>ul{display:flex;align-items:center;justify-content:center}
.el-hd .el-pcx-nv>ul>li{position:relative;margin:0 3.5vw}
.el-hd .el-pcx-nv>ul>li>a{font-family:"Pretendard";font-size:17px;color:#fff;font-weight:500;line-height:110px}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn{display:none;position:absolute;left:0;top:100%;z-index:10}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn>ul{display:flex}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn>ul>li{position:relative;padding-right:23px;margin-right:23px;line-height:90px}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn>ul>li:after{display:block;content:"";width:1px;height:14px;background:#a6a39e;position:absolute;right:0;top:50%;margin-top:-7px}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn>ul>li:last-child:after{display:none}
.el-hd .el-pcx-nv>ul>li>.el-sb-mn>ul>li>a{font-family:"Pretendard";font-size:18px;color:#555}
@media(max-width:1399px){
.el-hd .el-pcx-nv{display:none}
}
@media(max-width:812px){
#el-i-hd{height:80px}
.el-hd h1{top:24px}
.el-hd h1 a{height:32px}
.el-hd .el-bt-mn{width:40px;top:28px}
}
#el-i-hd.on{background:#f5f3ee}
#el-i-hd.on:after{transform:scaleY(1)}
#el-i-hd.on .el-hd h1 a{background:url(img/csscommonc-05.png) no-repeat;background-size:contain}
#el-i-hd.on .el-hd .el-pcx-nv>ul>li>a{color:#000}
#el-i-hd.on .el-hd .el-bt-mn>div{background:#000}
.el-scr #el-i-hd{background:#f5f3ee}
.el-scr #el-i-hd .el-hd h1 a{background:url(img/csscommonc-05.png) no-repeat;background-size:contain}
.el-scr #el-i-hd .el-hd .el-pcx-nv>ul>li>a{color:#000}
.el-scr #el-i-hd .el-hd .el-bt-mn>div{background:#000}
#el-i-hd.el-llx{background:#f5f3ee}
#el-i-hd.el-llx .el-hd h1 a{background:url(img/csscommonc-05.png) no-repeat;background-size:contain}
#el-i-hd.el-llx .el-hd .el-bt-mn>div{background:#000}
.el-llx-mn{overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100vh;background:#f5f3ee;visibility:hidden;opacity:0}
.el-llx-mn .el-cnwx{display:flex;align-items:center;box-sizing:border-box;width:100%;height:100%;padding:110px 0}
.el-llx-mn .el-cnwx .el-pic{width:41.666%;height:100%}
.el-llx-mn .el-cnwx .el-pic>div{width:100%;height:100%;background:url(img/csscommonc-06.jpg) no-repeat;background-size:cover}
.el-llx-mn .el-cnwx .el-mn{box-sizing:border-box;width:calc(100% - 41.666%);padding:0 0 0 8%}
.el-llx-mn .el-cnwx .el-mn>ul>li{transition:all 0.4s}
.el-llx-mn .el-cnwx .el-mn>ul>li>a{font-family:"Cormorant Garamond";font-size:96px;color:#000}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb{display:none}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul{display:flex}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li{position:relative;padding-right:23px;margin-right:23px}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li:after{display:block;content:"";width:1px;height:14px;background:#a6a39e;position:absolute;right:0;top:50%;margin-top:-7px}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li:last-child:after{display:none}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li>a{font-family:"Pretendard";font-size:18px;color:#555}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li>a:hover{color:#000}
.el-llx-mn .el-cnwx .el-mn>ul>li.el-ctx{padding-bottom:20px}
@media(max-width:812px){
.el-llx-mn .el-cnwx .el-pic{display:none}
.el-llx-mn .el-cnwx .el-mn{width:100%}
.el-llx-mn .el-cnwx .el-mn>ul>li{width:100%}
.el-llx-mn .el-cnwx .el-mn>ul>li>a{font-size:14vw}
.el-llx-mn .el-cnwx .el-mn>ul>li .el-sb>ul>li>a{font-size:3vw}
}
.el-llx-mn .el-cnwx .el-pic>div{transform:scale(1.1);filter:blur(10px)}
.el-llx-mn .el-cnwx .el-mn>ul>li>a{display:block;transform:translateX(60px);opacity:0;filter:blur(10px)}
.el-llx-mn.open{visibility:visible;opacity:1;transition:opacity 0s, visibility 0s}
.el-llx-mn.open .el-cnwx .el-pic>div{animation:el-k-llx-n1x 2s 0.15s;animation-fill-mode:forwards}
.el-llx-mn.open .el-cnwx .el-mn>ul>li:nth-child(1)>a{animation:el-k-llx-n2x 1.6s 0.4s;animation-fill-mode:forwards}
.el-llx-mn.open .el-cnwx .el-mn>ul>li:nth-child(2)>a{animation:el-k-llx-n2x 1.6s 0.5s;animation-fill-mode:forwards}
.el-llx-mn.open .el-cnwx .el-mn>ul>li:nth-child(3)>a{animation:el-k-llx-n2x 1.6s 0.6s;animation-fill-mode:forwards}
.el-llx-mn.open .el-cnwx .el-mn>ul>li:nth-child(4)>a{animation:el-k-llx-n2x 1.6s 0.7s;animation-fill-mode:forwards}
.el-llx-mn.open .el-cnwx .el-mn>ul>li:nth-child(5)>a{animation:el-k-llx-n2x 1.6s 0.8s;animation-fill-mode:forwards}
@keyframes el-k-llx-n1x{0%{transform:scale(1.1);filter:blur(10px)}100%{transform:scale(1);filter:blur(0px)}}
@keyframes el-k-llx-n2x{0%{transform:translateX(60px);opacity:0;filter:blur(10px)}100%{transform:translateX(0);opacity:1;filter:blur(0px)}}
@keyframes el-k-llx-cls1{0%{transform:scale(1);filter:blur(0px)}100%{transform:scale(1.1);filter:blur(10px)}}
@keyframes el-k-llx-cls2{0%{transform:translateX(0);opacity:1;filter:blur(0)}100%{transform:translateX(60px);opacity:0;filter:blur(10px)}}
.el-llx-mn.el-cls{transition:opacity 1.1s 1.6s, visibility 0.2s 2.2s}
.el-llx-mn.el-cls .el-cnwx .el-pic>div{animation:el-k-llx-cls1 2s 0.8s;animation-fill-mode:backwards}
.el-llx-mn.el-cls .el-cnwx .el-mn>ul>li:nth-child(1)>a{animation:el-k-llx-cls2 1.6s 0.8s;animation-fill-mode:backwards}
.el-llx-mn.el-cls .el-cnwx .el-mn>ul>li:nth-child(2)>a{animation:el-k-llx-cls2 1.6s 0.7s;animation-fill-mode:backwards}
.el-llx-mn.el-cls .el-cnwx .el-mn>ul>li:nth-child(3)>a{animation:el-k-llx-cls2 1.6s 0.6s;animation-fill-mode:backwards}
.el-llx-mn.el-cls .el-cnwx .el-mn>ul>li:nth-child(4)>a{animation:el-k-llx-cls2 1.6s 0.5s;animation-fill-mode:backwards}
.el-llx-mn.el-cls .el-cnwx .el-mn>ul>li:nth-child(5)>a{animation:el-k-llx-cls2 1.6s 0.4s;animation-fill-mode:backwards}
.el-bt-mr{display:flex;align-items:center;height:46px}
.el-bt-mr span{font-size:17px;color:#000;font-weight:600}
.el-bt-mr i{display:block;width:46px;height:46px;margin-left:12px;border:1px solid #000;border-radius:50%;background:url(img/csscommonc-07.png) no-repeat center;transition:all 0.4s}
.el-bt-mr:hover i{display:block;width:46px;height:46px;margin-left:12px;border:1px solid #000;border-radius:50%;background:#000 url(img/csscommonc-08.png) no-repeat center}
.el-bt-mr.el-whx span{color:#fff}
.el-bt-mr.el-whx i{border:1px solid #fff;border-radius:50%;background:url(img/csscommonc-08.png) no-repeat center}
.el-bt-mr.el-whx:hover i{border:1px solid #000;background:#000 url(img/csscommonc-08.png) no-repeat center}
#el-i-ft{position:relative;z-index:100;padding:60px 5%;background:#1a1a1a}
.el-ft{display:flex;flex-wrap:wrap;justify-content:space-between}
.el-ft .el-lg{width:128px}
.el-ft .el-cntx{display:flex;box-sizing:border-box;width:calc(100% - 128px - 330px);padding:0 90px}
.el-ft .el-cntx>div{width:35%}
.el-ft .el-cntx dl{display:flex;margin-bottom:15px}
.el-ft .el-cntx dl:last-child{margin-bottom:0}
.el-ft .el-cntx dl dt{position:relative;width:150px;font-family:"Pretendard";font-size:16px;color:#fff;font-weight:500}
.el-ft .el-cntx dl dt:after{display:block;content:"";width:30px;height:1px;background:#5f5f5f;position:absolute;right:0;bottom:2px}
.el-ft .el-cntx dl dd{width:calc(100% - 150px);box-sizing:border-box;padding-left:25px;font-family:"Pretendard";font-size:16px;color:rgba(255,255,255,0.6);font-weight:500}
.el-ft .el-cntx>div:nth-child(2) dl dt{width:120px}
.el-ft .el-cntx>div:nth-child(2) dl dd{width:calc(100% - 120px)}
.el-ft .el-cp{width:330px;margin:60px 0 0;font-family:"Pretendard";font-size:16px;color:#969696;text-align:right}
@media(max-width:1720px){
.el-ft .el-cntx>div{width:45%}
}
@media(max-width:1540px){
.el-ft .el-cntx>div{width:50%}
}
@media(max-width:1399px){
.el-ft .el-cntx{display:block;width:calc(100% - 128px)}
.el-ft .el-cntx>div{width:100%}
.el-ft .el-cntx>div:nth-child(1){margin-bottom:15px}
.el-ft .el-cntx>div:nth-child(2) dl dt{width:150px}
.el-ft .el-cntx>div:nth-child(2) dl dd{width:calc(100% - 150px)}
}
@media(max-width:1080px){
.el-ft .el-cntx{box-sizing:border-box;padding:0 90px}
.el-ft .el-cp{width:100%;text-align:left}
}
@media(max-width:812px){
.el-ft .el-lg img{width:auto;height:30px}
.el-ft .el-cntx{display:block;width:100%;padding:40px 0 0}
.el-ft .el-cntx dl dt{font-size:14px}
.el-ft .el-cntx dl dd{font-size:14px}
.el-ft .el-cp{font-size:12px}
}
@media screen and (min-width:1400px){
.el-pcbx{display:block}
.el-tbbx{display:none}
.el-mbbx{display:none}
.el-mo{display:none}
.el-dnx{display:none}
#el-i-cont{position:relative}
#el-i-kv{position:fixed;left:0;top:0;width:100%;height:100vh;background:#000}
.el-kv{width:100%;height:100vh}
.el-kv video{width:100%;height:100%;object-fit:cover}
.el-kv .el-txtx3{position:absolute;left:5%;top:50%;z-index:20;transform:translateY(-50%);width:90%}
.el-kv .el-txtx3>div{overflow:hidden}
.el-kv .el-txtx3>div>span{display:block;transform:translateY(100%);font-size:95px;color:#fff;font-weight:400;line-height:1.3em}
.el-kv.on .el-txtx3>div>span{transform:translateY(0)}
.el-kv.on .el-txtx3>div:nth-child(1)>span{transition:all 1.6s}
.el-kv.on .el-txtx3>div:nth-child(2)>span{transition:all 1.6s 0.4s}
.el-kv .el-ctrx{display:flex;align-items:center;justify-content:center;width:100%;position:absolute;left:0%;bottom:60px;z-index:20}
.el-kv .el-ctrx .el-vprx{margin-right:40px}
.el-kv .el-ctrx .el-vnxx{margin-left:40px}
.el-kv .el-ctrx .el-vpgx{position:static}
.el-kv .el-ctrx .el-vpgx span{width:8px;height:8px;margin:0 10px;background:0;border:1px solid rgba(255,255,255,0.6);opacity:1;border-radius:50%;transition:all 0.24s}
.el-kv .el-ctrx .el-vpgx span.swiper-pagination-bullet-active{background:#fff}
.el-kv .el-scr{overflow:hidden;position:absolute;right:5%;bottom:0;z-index:10;width:40px;height:160px;box-shadow:-1px 0 0 inset rgba(255,255,255,0.4)}
.el-kv .el-scr .el-tx{font-family:"Pretendard";font-size:13px;color:#fff;font-weight:500;transform:rotate(-90deg) translate(-21px,0px)}
.el-kv .el-scr:after{display:block;content:"";width:2px;height:48px;background:#fff;position:absolute;right:0;top:-100%;animation:el-k-scr-anix 1.6s infinite linear}
@keyframes el-k-scr-anix{0%{top:-100%}100%{top:100%}}
.el-kv .swiper-slide-active .el-bk{transform:scale(1);z-index:10;transition:all 3s}
#el-i-ct{position:relative;z-index:100;padding-top:100vh}
.el-sec1{position:relative;overflow:hidden;display:flex;align-items:center;width:100%;height:730px;background:#f5f3ee;border-bottom:1px solid #ccc}
.el-sec1 .el-bk .el-rl1{position:absolute;left:-3.3%;top:-15%;width:45%;aspect-ratio:1/1;border:1px solid #ccc;border-radius:50%}
.el-sec1 .el-bk .el-rl2{position:absolute;left:41.666%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl3{position:absolute;right:5%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl4{position:absolute;right:11%;top:-20%;width:1px;height:105%;background:#ccc;transform:rotate(-45deg)}
.el-sec1 .el-cnwx{box-sizing:border-box;position:relative;z-index:100;display:flex;flex-wrap:wrap;align-items:center;width:100%;padding:0 5%}
.el-sec1 .el-cnwx .el-tt4{width:42.666%;perspective:800px}
.el-sec1 .el-cnwx .el-tt4>div{overflow:hidden}
.el-sec1 .el-cnwx .el-tt4>div>span{display:block;font-size:76px;color:#000;font-weight:500}
.el-sec1 .el-cnwx .el-tt4>div>span>.el-mpx{display:inline-block;position:relative;color:#000}
.el-sec1 .el-cnwx .el-tt4.on>div>span>.el-mpx{background:linear-gradient(
	135deg,
	#333 0%,
	#8a8a8a 40%,
	#d6d6d6 50%,
	#8a8a8a 60%,
	#333 100%
	);background-size:400% 400%;-webkit-background-clip:text;animation:el-k-mtlx-shnx 4.7s ease infinite alternate}
@keyframes el-k-mtlx-shnx{0%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}50%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:100% 50%}100%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}}
.el-mpx::after{content:'';position:absolute;top:-10%;left:-10%;width:120%;height:120%;background:linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);transform:translateX(-100%);animation:el-k-shnx-ffcx 3s infinite}
@keyframes el-k-shnx-ffcx{0%{transform:translateX(-100%) skewX(-45deg)}15%{transform:translateX(100%) skewX(-45deg)}100%{transform:translateX(100%) skewX(-45deg)}}
.el-tt4:not(.on) .el-mpx{animation:none}
.el-tt4:not(.on) .el-mpx::after{animation:none}
.el-sec1 .el-cnwx .el-txtx2{box-sizing:border-box;width:calc(100% - 42.666%);padding:0 0 0 5%}
.el-sec1 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec1 .el-cnwx .el-txtx2 .el-bt-mr{margin-top:35px}
.el-sec2{position:relative;padding:240px 0 70px;background:#fff}
.el-sec2 .el-rl{position:absolute;left:0;bottom:0;width:100%;height:1px;transform-origin:right;background:#ccc}
.el-sec2 .el-rl .el-pt{display:block;width:7px;height:7px;background:#373737;border-radius:50%;position:absolute;left:41%;bottom:-3px}
.el-sec2 .el-cnwx{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;width:100%}
.el-sec2 .el-cnwx .el-txtx{box-sizing:border-box;width:41.666%;padding:0 5%}
.el-sec2 .el-cnwx .el-txtx h2{font-size:20px;color:#000;font-weight:700}
.el-sec2 .el-cnwx .el-txtx h3{margin:40px 0 20px;font-size:56px;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-txtx p{font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-txtx a{margin-top:35px}
.el-sec2 .el-cnwx .el-prdx{box-sizing:border-box;width:calc(100% - 41.666%)}
.el-sec2 .el-cnwx .el-prdx .swiper-slide{width:456px;height:auto;background:#f5f3ee;padding-bottom:35px}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2{background:#f5f3ee;padding:0 5%;text-align:center}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tt{font-family:"Pretendard";font-size:20px;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tx{margin-top:10px;font-family:"Pretendard";font-size:17px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf{display:flex;align-items:center;justify-content:center;margin-top:10px;font-family:"Pretendard";font-size:15px;color:#555}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf .el-brx{width:1px;height:10px;margin:0 10px;background:#ccc}
.el-sec3{padding:170px 0 0;background:#fff}
.el-sec3 .el-cnwx{overflow:hidden;position:relative;box-sizing:border-box;width:100%;height:100vh;padding-left:50%;background:#f5f3ee;box-shadow:0 1px 0 #ccc, 0 -1px 0 #ccc}
.el-sec3 .el-cnwx .el-mgrx{overflow:hidden;position:absolute;left:0;top:0;width:50%;height:100%}
.el-sec3 .el-cnwx .el-mgrx video{width:100%;height:100%;object-fit:cover}
.el-sec3 .el-cnwx .el-cnrx{box-sizing:border-box;display:flex;align-items:center;width:100%;height:100%;padding:0 10%}
.el-sec3 .el-cnwx .el-cnrx h2{font-size:20px;color:#000;font-weight:700}
.el-sec3 .el-cnwx .el-cnrx h3{margin:40px 0 20px;font-size:56px;color:#000;font-weight:600}
.el-sec3 .el-cnwx .el-cnrx h4{font-size:22px;color:#111;font-weight:500}
.el-sec3 .el-cnwx .el-cnrx p{margin:20px 0 0;font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec3 .el-cnwx .el-cnrx a{margin-top:35px}
.el-sec4{padding:240px 0 200PX;background:#f5f3ee}
.el-sec4 .el-tx-bk{position:relative}
.el-sec4 .el-tx-bk .el-tx{position:absolute;left:0%;top:0;display:flex;white-space:nowrap;font-size:230px;font-weight:500;line-height:1em;color:#000}
.el-hddx-hghx{opacity:0;font-size:230px;font-weight:500;line-height:1em;white-space:nowrap}
@keyframes el-k-tx-scr{0%{transform:translate(0, 0)}100%{transform:translate(-50%, 0)}}
.el-sec4 .el-cnwx{overflow:hidden;position:relative;display:flex;align-items:center;justify-content:center;width:90%;height:700px;margin:90px auto 0;text-align:center}
.el-sec4 .el-cnwx video{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover}
.el-sec4 .el-cnwx .el-txtx2{position:relative;z-index:10}
.el-sec4 .el-cnwx .el-txtx2 h2{font-size:20px;color:#fff;font-weight:700}
.el-sec4 .el-cnwx .el-txtx2 h3{margin:40px 0 20px;font-size:56px;color:#fff;font-weight:600}
.el-sec4 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:18px;color:#fff;line-height:1.7em}
.el-sec4 .el-cnwx .el-txtx2 a{display:inline-flex;margin-top:35px}
}
@media screen and (min-width:813px) and (max-width:1399px){
.el-pcbx{display:none}
.el-tbbx{display:block}
.el-mbbx{display:none}
.el-mo{display:block}
.el-dnx{display:none}
#el-i-cont{position:relative}
#el-i-kv{position:fixed;left:0;top:0;width:100%;height:100vh;background:#000}
.el-kv{width:100%;height:100vh}
.el-kv video{width:100%;height:100%;object-fit:cover}
.el-kv .el-txtx3{position:absolute;left:5%;top:50%;z-index:20;transform:translateY(-50%);width:90%}
.el-kv .el-txtx3>div{overflow:hidden}
.el-kv .el-txtx3>div>span{display:block;transform:translateY(100%);font-size:95px;color:#fff;font-weight:400;line-height:1.3em}
.el-kv.on .el-txtx3>div>span{transform:translateY(0)}
.el-kv.on .el-txtx3>div:nth-child(1)>span{transition:all 1.6s}
.el-kv.on .el-txtx3>div:nth-child(2)>span{transition:all 1.6s 0.4s}
.el-kv .el-ctrx{display:flex;align-items:center;justify-content:center;width:100%;position:absolute;left:0%;bottom:60px;z-index:20}
.el-kv .el-ctrx .el-vprx{margin-right:40px}
.el-kv .el-ctrx .el-vnxx{margin-left:40px}
.el-kv .el-ctrx .el-vpgx{position:static}
.el-kv .el-ctrx .el-vpgx span{width:8px;height:8px;margin:0 10px;background:0;border:1px solid rgba(255,255,255,0.6);opacity:1;border-radius:50%;transition:all 0.24s}
.el-kv .el-ctrx .el-vpgx span.swiper-pagination-bullet-active{background:#fff}
.el-kv .el-scr{overflow:hidden;position:absolute;right:5%;bottom:0;z-index:10;width:40px;height:160px;box-shadow:-1px 0 0 inset rgba(255,255,255,0.4)}
.el-kv .el-scr .el-tx{font-family:"Pretendard";font-size:13px;color:#fff;font-weight:500;transform:rotate(-90deg) translate(-21px,0px)}
.el-kv .el-scr:after{display:block;content:"";width:2px;height:48px;background:#fff;position:absolute;right:0;top:-100%;animation:el-k-scr-anix 1.6s infinite linear}
@keyframes el-k-scr-anix{0%{top:-100%}100%{top:100%}}
.el-kv .swiper-slide-active .el-bk{transform:scale(1);z-index:10;transition:all 3s}
#el-i-ct{position:relative;z-index:100;padding-top:100vh}
.el-sec1{position:relative;overflow:hidden;display:flex;align-items:center;width:100%;height:730px;background:#f5f3ee;border-bottom:1px solid #ccc}
.el-sec1 .el-bk .el-rl1{position:absolute;left:-3.3%;top:-15%;width:45%;aspect-ratio:1/1;border:1px solid #ccc;border-radius:50%}
.el-sec1 .el-bk .el-rl2{position:absolute;left:41.666%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl3{position:absolute;right:5%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl4{position:absolute;right:11%;top:-20%;width:1px;height:105%;background:#ccc;transform:rotate(-45deg)}
.el-sec1 .el-cnwx{box-sizing:border-box;position:relative;z-index:100;display:flex;flex-wrap:wrap;align-items:center;width:100%;padding:0 5%}
.el-sec1 .el-cnwx .el-tt4{width:42.666%;perspective:800px}
.el-sec1 .el-cnwx .el-tt4>div{overflow:hidden}
.el-sec1 .el-cnwx .el-tt4>div>span{display:block;font-size:76px;color:#000;font-weight:500}
.el-sec1 .el-cnwx .el-tt4>div>span>.el-mpx{display:inline-block;position:relative;color:#000}
.el-sec1 .el-cnwx .el-tt4.on>div>span>.el-mpx{background:linear-gradient(
	135deg,
	#333 0%,
	#8a8a8a 40%,
	#d6d6d6 50%,
	#8a8a8a 60%,
	#333 100%
	);background-size:400% 400%;-webkit-background-clip:text;animation:el-k-mtlx-shnx 4.7s ease infinite alternate}
@keyframes el-k-mtlx-shnx{0%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}50%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:100% 50%}100%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}}
.el-mpx::after{content:'';position:absolute;top:-10%;left:-10%;width:120%;height:120%;background:linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);transform:translateX(-100%);animation:el-k-shnx-ffcx 3s infinite}
@keyframes el-k-shnx-ffcx{0%{transform:translateX(-100%) skewX(-45deg)}15%{transform:translateX(100%) skewX(-45deg)}100%{transform:translateX(100%) skewX(-45deg)}}
.el-tt4:not(.on) .el-mpx{animation:none}
.el-tt4:not(.on) .el-mpx::after{animation:none}
.el-sec1 .el-cnwx .el-txtx2{box-sizing:border-box;width:calc(100% - 42.666%);padding:0 0 0 5%}
.el-sec1 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec1 .el-cnwx .el-txtx2 .el-bt-mr{margin-top:35px}
@media(max-width:1140px){
.el-sec1 .el-cnwx{display:block}
.el-sec1 .el-cnwx .el-tt4{width:100%}
.el-sec1 .el-cnwx .el-txtx2{width:100%;padding:40px 0 0}
}
.el-sec2{position:relative;padding:240px 0 70px;background:#fff}
.el-sec2 .el-rl{position:absolute;left:0;bottom:0;width:100%;height:1px;transform-origin:right;background:#ccc}
.el-sec2 .el-rl .el-pt{display:block;width:7px;height:7px;background:#373737;border-radius:50%;position:absolute;left:41%;bottom:-3px}
.el-sec2 .el-cnwx{display:flex;align-items:center;justify-content:space-between;flex-wrap:wrap;width:100%}
.el-sec2 .el-cnwx .el-txtx{box-sizing:border-box;width:41.666%;padding:0 5%}
.el-sec2 .el-cnwx .el-txtx h2{font-size:20px;color:#000;font-weight:700}
.el-sec2 .el-cnwx .el-txtx h3{margin:40px 0 20px;font-size:56px;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-txtx p{font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-txtx a{margin-top:35px}
.el-sec2 .el-cnwx .el-prdx{box-sizing:border-box;width:calc(100% - 41.666%)}
.el-sec2 .el-cnwx .el-prdx .swiper-slide{width:456px;background:#f5f3ee;padding-bottom:35px;height:auto}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2{padding:0 5%;text-align:center}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tt{font-family:"Pretendard";font-size:20px;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tx{margin-top:15px;font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf{display:flex;align-items:center;justify-content:center;margin-top:10px;font-family:"Pretendard";font-size:15px;color:#555}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf .el-brx{width:1px;height:10px;margin:0 10px;background:#ccc}
@media(max-width:1280px){
.el-sec2 .el-cnwx{display:block}
.el-sec2 .el-cnwx .el-txtx{width:100%}
.el-sec2 .el-cnwx .el-prdx{width:90%;margin:60px auto 0}
.el-sec2 .el-cnwx .el-prdx .swiper-slide{width:360px}
}
.el-sec3{padding:170px 0 0;background:#fff}
.el-sec3 .el-cnwx{overflow:hidden;position:relative;box-sizing:border-box;width:100%;height:100vh;padding-left:50%;background:#f5f3ee;box-shadow:0 1px 0 #ccc, 0 -1px 0 #ccc}
.el-sec3 .el-cnwx .el-mgrx{overflow:hidden;position:absolute;left:0;top:0;width:50%;height:100%}
.el-sec3 .el-cnwx .el-mgrx video{width:100%;height:100%;object-fit:cover}
.el-sec3 .el-cnwx .el-cnrx{box-sizing:border-box;display:flex;align-items:center;width:100%;height:100%;padding:0 10%}
.el-sec3 .el-cnwx .el-cnrx h2{font-size:20px;color:#000;font-weight:700}
.el-sec3 .el-cnwx .el-cnrx h3{margin:40px 0 20px;font-size:56px;color:#000;font-weight:600}
.el-sec3 .el-cnwx .el-cnrx h4{font-size:22px;color:#111;font-weight:500}
.el-sec3 .el-cnwx .el-cnrx p{margin:20px 0 0;font-family:"Pretendard";font-size:18px;color:#555;line-height:1.7em}
.el-sec3 .el-cnwx .el-cnrx a{margin-top:35px}
.el-sec4{padding:240px 0 200PX;background:#f5f3ee}
.el-sec4 .el-tx-bk{position:relative}
.el-sec4 .el-tx-bk .el-tx{position:absolute;left:0%;top:0;display:flex;white-space:nowrap;font-size:200px;font-weight:500;line-height:1em;color:#000}
.el-hddx-hghx{opacity:0;font-size:200px;font-weight:500;line-height:1em;white-space:nowrap}
@keyframes el-k-tx-scr{0%{transform:translate(0, 0)}100%{transform:translate(-50%, 0)}}
.el-sec4 .el-cnwx{overflow:hidden;position:relative;display:flex;align-items:center;justify-content:center;width:90%;height:700px;margin:90px auto 0;text-align:center}
.el-sec4 .el-cnwx video{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover}
.el-sec4 .el-cnwx .el-txtx2{position:relative;z-index:10}
.el-sec4 .el-cnwx .el-txtx2 h2{font-size:20px;color:#fff;font-weight:700}
.el-sec4 .el-cnwx .el-txtx2 h3{margin:40px 0 20px;font-size:56px;color:#fff;font-weight:600}
.el-sec4 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:18px;color:#fff;line-height:1.7em}
.el-sec4 .el-cnwx .el-txtx2 a{display:inline-flex;margin-top:35px}
}
@media screen and (max-width:812px){
.el-pcbx{display:none}
.el-tbbx{display:none}
.el-mbbx{display:block}
.el-mo{display:block}
.el-dnx{display:none}
#el-i-cont{position:relative}
#el-i-kv{position:fixed;left:0;top:0;width:100%;height:100vh;background:#000}
.el-kv{width:100%;height:100vh}
.el-kv video{width:100%;height:100%;object-fit:cover}
.el-kv .el-txtx3{position:absolute;left:5%;top:50%;z-index:20;transform:translateY(-50%);width:90%}
.el-kv .el-txtx3>div{overflow:hidden}
.el-kv .el-txtx3>div>span{display:block;transform:translateY(100%);font-size:12vw;color:#fff;font-weight:400;line-height:1.3em}
.el-kv.on .el-txtx3>div>span{transform:translateY(0)}
.el-kv.on .el-txtx3>div:nth-child(1)>span{transition:all 1.6s}
.el-kv.on .el-txtx3>div:nth-child(2)>span{transition:all 1.6s 0.4s}
.el-kv .el-ctrx{display:flex;align-items:center;justify-content:center;width:100%;position:absolute;left:0%;bottom:60px;z-index:20}
.el-kv .el-ctrx .el-vprx{margin-right:40px}
.el-kv .el-ctrx .el-vnxx{margin-left:40px}
.el-kv .el-ctrx .el-vpgx{position:static}
.el-kv .el-ctrx .el-vpgx span{width:8px;height:8px;margin:0 10px;background:0;border:1px solid rgba(255,255,255,0.6);opacity:1;border-radius:50%;transition:all 0.24s}
.el-kv .el-ctrx .el-vpgx span.swiper-pagination-bullet-active{background:#fff}
.el-kv .el-scr{overflow:hidden;position:absolute;right:5%;bottom:0;z-index:10;width:40px;height:160px;box-shadow:-1px 0 0 inset rgba(255,255,255,0.4)}
.el-kv .el-scr .el-tx{font-family:"Pretendard";font-size:13px;color:#fff;font-weight:500;transform:rotate(-90deg) translate(-21px,0px)}
.el-kv .el-scr:after{display:block;content:"";width:2px;height:48px;background:#fff;position:absolute;right:0;top:-100%;animation:el-k-scr-anix 1.6s infinite linear}
@keyframes el-k-scr-anix{0%{top:-100%}100%{top:100%}}
.el-kv .swiper-slide-active .el-bk{transform:scale(1);z-index:10;transition:all 3s}
#el-i-ct{position:relative;z-index:100;padding-top:100vh}
.el-sec1{position:relative;overflow:hidden;display:flex;align-items:center;width:100%;padding:100px 0;background:#f5f3ee;border-bottom:1px solid #ccc}
.el-sec1 .el-bk .el-rl1{position:absolute;left:-3.3%;top:-15%;width:45%;aspect-ratio:1/1;border:1px solid #ccc;border-radius:50%}
.el-sec1 .el-bk .el-rl2{position:absolute;left:41.666%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl3{position:absolute;right:5%;top:0;width:1px;height:100%;background:#ccc}
.el-sec1 .el-bk .el-rl4{position:absolute;right:11%;top:-20%;width:1px;height:105%;background:#ccc;transform:rotate(-45deg)}
.el-sec1 .el-cnwx{box-sizing:border-box;position:relative;z-index:100;width:100%;padding:0 5%}
.el-sec1 .el-cnwx .el-tt4{width:100%;perspective:800px}
.el-sec1 .el-cnwx .el-tt4>div{overflow:hidden}
.el-sec1 .el-cnwx .el-tt4>div>span{display:block;font-size:10vw;color:#000;font-weight:500}
.el-sec1 .el-cnwx .el-tt4>div>span>.el-mpx{display:inline-block;position:relative;color:#000}
.el-sec1 .el-cnwx .el-tt4.on>div>span>.el-mpx{background:linear-gradient(
	135deg,
	#333 0%,
	#8a8a8a 40%,
	#d6d6d6 50%,
	#8a8a8a 60%,
	#333 100%
	);background-size:400% 400%;-webkit-background-clip:text;animation:el-k-mtlx-shnx 4.7s ease infinite alternate}
@keyframes el-k-mtlx-shnx{0%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}50%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:100% 50%}100%{color:transparent;text-shadow:2px 2px 0px rgba(0, 0, 0, 0.2);background-position:0% 50%}}
.el-mpx::after{content:'';position:absolute;top:-10%;left:-10%;width:120%;height:120%;background:linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);transform:translateX(-100%);animation:el-k-shnx-ffcx 3s infinite}
@keyframes el-k-shnx-ffcx{0%{transform:translateX(-100%) skewX(-45deg)}15%{transform:translateX(100%) skewX(-45deg)}100%{transform:translateX(100%) skewX(-45deg)}}
.el-tt4:not(.on) .el-mpx{animation:none}
.el-tt4:not(.on) .el-mpx::after{animation:none}
.el-sec1 .el-cnwx .el-txtx2{box-sizing:border-box;width:100%;padding:40px 0 0 0}
.el-sec1 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:16px;color:#555;line-height:1.7em}
.el-sec1 .el-cnwx .el-txtx2 .el-bt-mr{margin-top:35px}
.el-sec2{position:relative;padding:100px 0 70px;background:#fff}
.el-sec2 .el-rl{position:absolute;left:0;bottom:0;width:100%;height:1px;transform-origin:right;background:#ccc}
.el-sec2 .el-rl .el-pt{display:block;width:7px;height:7px;background:#373737;border-radius:50%;position:absolute;left:41%;bottom:-3px}
.el-sec2 .el-cnwx{width:100%}
.el-sec2 .el-cnwx .el-txtx{box-sizing:border-box;width:100%;padding:0 5%}
.el-sec2 .el-cnwx .el-txtx h2{font-size:20px;color:#000;font-weight:700}
.el-sec2 .el-cnwx .el-txtx h3{margin:40px 0 20px;font-size:10vw;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-txtx p{font-family:"Pretendard";font-size:16px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-txtx a{margin-top:35px}
.el-sec2 .el-cnwx .el-prdx{box-sizing:border-box;width:calc(100% - 0%);margin-top:60px}
.el-sec2 .el-cnwx .el-prdx .swiper-slide{width:300px;background:#f5f3ee;padding-bottom:30px;height:auto}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2{padding:0 5%;text-align:center}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tt{font-family:"Pretendard";font-size:16px;color:#000;font-weight:600}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-tx{margin-top:15px;font-family:"Pretendard";font-size:12px;color:#555;line-height:1.7em}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf{display:flex;align-items:center;justify-content:center;margin-top:10px;font-family:"Pretendard";font-size:12px;color:#555}
.el-sec2 .el-cnwx .el-prdx .swiper-slide .el-txtx2 .el-nf .el-brx{width:1px;height:10px;margin:0 10px;background:#ccc}
.el-sec3{padding:100px 0 0;background:#fff}
.el-sec3 .el-cnwx{overflow:hidden;position:relative;box-sizing:border-box;width:100%;background:#f5f3ee;box-shadow:0 1px 0 #ccc, 0 -1px 0 #ccc}
.el-sec3 .el-cnwx .el-mgrx{overflow:hidden;width:100%;height:50vh}
.el-sec3 .el-cnwx .el-mgrx video{width:100%;height:100%;object-fit:cover}
.el-sec3 .el-cnwx .el-cnrx{box-sizing:border-box;display:flex;align-items:center;width:100%;padding:40px 5%}
.el-sec3 .el-cnwx .el-cnrx h2{font-size:16px;color:#000;font-weight:700}
.el-sec3 .el-cnwx .el-cnrx h3{margin:40px 0 20px;font-size:40px;color:#000;font-weight:600}
.el-sec3 .el-cnwx .el-cnrx h4{font-size:18px;color:#111;font-weight:500}
.el-sec3 .el-cnwx .el-cnrx p{margin:20px 0 0;font-family:"Pretendard";font-size:16px;color:#555;line-height:1.7em}
.el-sec3 .el-cnwx .el-cnrx a{margin-top:35px}
.el-sec4{padding:140px 0 100px;background:#f5f3ee}
.el-sec4 .el-tx-bk{position:relative}
.el-sec4 .el-tx-bk .el-tx{position:absolute;left:0%;top:0;display:flex;white-space:nowrap;font-size:120px;font-weight:500;line-height:1em;color:#000}
.el-hddx-hghx{opacity:0;font-size:120px;font-weight:500;line-height:1em;white-space:nowrap}
@keyframes el-k-tx-scr{0%{transform:translate(0, 0)}100%{transform:translate(-50%, 0)}}
.el-sec4 .el-cnwx{overflow:hidden;position:relative;display:flex;align-items:center;justify-content:center;width:90%;height:700px;padding:0 5%;margin:90px auto 0;text-align:center}
.el-sec4 .el-cnwx video{position:absolute;left:0;top:0;width:100%;height:100%;object-fit:cover}
.el-sec4 .el-cnwx .el-txtx2{position:relative;z-index:10}
.el-sec4 .el-cnwx .el-txtx2 h2{font-size:16px;color:#fff;font-weight:700}
.el-sec4 .el-cnwx .el-txtx2 h3{margin:40px 0 20px;font-size:8.4vw;color:#fff;font-weight:600}
.el-sec4 .el-cnwx .el-txtx2 p{font-family:"Pretendard";font-size:14px;color:#fff;line-height:1.7em}
.el-sec4 .el-cnwx .el-txtx2 a{display:inline-flex;margin-top:35px}
}
