#header #gnb > ul > li > a span{ font-size: 17px; line-height: 1.5em; padding: 12px 0; }
#header #gnb > ul > li div ul li a{ font-size: 14px; }
#header #gnb > ul > li div ul li a i{ transform: translateX(-80px); }
#main .main_con01 .hori_wrap .con .title{ transform: translateY(-30px); }
#main .main_con01 .hori_wrap .con .title strong{ line-height: 1em; }
#sub .tab_list ul li a{ text-align: center; font-size: 16px; line-height: 1.2em; }
#sub.business .con01 .title .box_w > div ul li{ width: auto; padding: 0 20px; }
#sub.business .con07 > ul > li > ul > li em{width: auto; padding: 0 10px; }
#sub.business .info_text_list .list > ul > li{ height: auto; }
#sub.business .info_text_list .w{ height: auto; padding-top: 40px; padding-bottom: 40px; padding-right: 40px; }
#sub.group .con01 .txt_w ul li{ padding-left: 100px; }
#sub.group .con01 .txt_w ul li{ padding-left: 0 !important; display: flex; gap: 20px; }
#sub.group .con01 .txt_w ul li span br{ display: none !important; }
#sub.group .con01 .txt_w ul li span{ position: static; }
#sub.business .con01 .box_in .box > div{ padding-top: 110%; }
#sub.ci .ci_list .con .title span{ width: auto; padding: 0 20px; }


@media(max-width: 960px) {
    #sub.business .info_text_list .w{ padding-right: 0; padding-top: 0; }
    #sub.group .con01 .txt_w ul li { flex-flow: column; gap: 4px; }
    #sub.ci .ci_list .con .title span{ padding: 0 8px; }
    #main .main_con01 .hori_wrap .con .title{ transform: translateY(0); }
}