*{box-sizing:border-box;font-family:"Pretendard Variable" !important}
body{background:#f5f6fa}
.eb-blnx{position:absolute;width:1px;height:1px;overflow:hidden;clip:rect(0, 0, 0, 0);white-space:nowrap;clip-path:inset(50%)}
.eb-blcx-480{display:none}
@media screen and (max-width: 480px){
.eb-blcx-480{display:block}
}
.eb-scx-in{width:100%;max-width:1380px;margin:0 auto;padding:0 40px}
img{display:inline-block;vertical-align:middle;max-width:100%}
.eb-pntx{color:#1791f2}
.eb-lg-pic{text-align:center;padding:80px 0 70px}
.eb-lg-pic img{text-align:center;margin:0 auto}
.eb-hm-tt{color:#2d2d2d;text-align:center;font-size:40px;font-weight:700;line-height:normal;letter-spacing:-0.8px;text-align:center;padding-bottom:20px}
.eb-scx-chtx-1{padding-bottom:110px}
.eb-chnx-ls{display:flex;gap:25px;align-items:center}
.eb-chnx-ls li{flex:1;text-align:center;display:flex;align-items:center;flex-direction:column}
.eb-chnx-ls .eb-ic{display:block;overflow:hidden;border-radius:20px;margin:0 auto 27px;width:90px;height:90px;background-repeat:no-repeat;background-size:100% 100%;background-position:center center}
.eb-chnx-ls li{overflow:hidden;border-radius:36px}
.eb-chnx-ls label{box-sizing:border-box;width:100%;padding:24px 28px 82.5px 28px;background:#fff;transition:all 0.4s}
.eb-chnx-ls input{display:inline-block;margin-bottom:53px}
input[type="radio"]{position:relative;display:inline-block;appearance:none;-webkit-appearance:none;width:25px;height:25px;background:#d0d0d0;border-radius:6px;transition:all 0.4s}
input[type="radio"]:before{content:"";position:absolute;display:block;width:9px;height:4px;left:48%;top:46%;border-left:3px solid #fff;border-bottom:3px solid #fff;transform:translate(-46%, -58%) rotate(-45deg)}
input[type="radio"]:checked{background:#2196f3;filter:drop-shadow(0px 3px 7px rgba(33, 150, 243, 0.3))}
[data-index="1"] .eb-chnx-ls li:nth-child(1) label{background:#ffd012}
[data-index="2"] .eb-chnx-ls li:nth-child(2) label{background:#ff6c58}
[data-index="3"] .eb-chnx-ls li:nth-child(3) label{background:#00b900}
[data-index="4"] .eb-chnx-ls li:nth-child(4) label{background:#36de56}
[data-index="5"] .eb-chnx-ls li:nth-child(5) label{background:#00c70a}
.eb-chnx-ls li:nth-child(1) .eb-ic{background-image:url(img/csschatcou-01.png);filter:drop-shadow(0px 3.6px 18px rgba(180, 140, 31, 0.5))}
.eb-chnx-ls li:nth-child(2) .eb-ic{background-image:url(img/csschatcou-02.png);filter:drop-shadow(0px 3.6px 18px rgba(203, 123, 189, 0.5))}
.eb-chnx-ls li:nth-child(3) .eb-ic{background-image:url(img/csschatcou-03.png);filter:drop-shadow(0px 3.6px 18px rgba(68, 164, 71, 0.5))}
.eb-chnx-ls li:nth-child(4) .eb-ic{background-image:url(img/csschatcou-04.png);filter:drop-shadow(0px 3.6px 18px rgba(68, 164, 71, 0.5))}
.eb-chnx-ls li:nth-child(5) .eb-ic{background-image:url(img/csschatcou-05.png);filter:drop-shadow(0px 3.6px 18px rgba(68, 164, 71, 0.5))}
[data-index="1"] .eb-chnx-ls li:nth-child(1) .eb-ic{filter:unset;box-shadow:0px 3.6px 18px rgba(180, 140, 31, 0.5)}
[data-index="2"] .eb-chnx-ls li:nth-child(2) .eb-ic{filter:unset;box-shadow:0px 3.6px 18px 0px #d74510}
[data-index="3"] .eb-chnx-ls li:nth-child(3) .eb-ic{filter:unset;box-shadow:0px 3.6px 18px 0px #118a11}
[data-index="4"] .eb-chnx-ls li:nth-child(4) .eb-ic{filter:unset;box-shadow:0px 3.6px 18px 0px #18b035}
[data-index="5"] .eb-chnx-ls li:nth-child(5) .eb-ic{filter:unset;box-shadow:0px 3.6px 18px 0px #0c9d14}
.eb-chnx-ls .eb-tt{color:#323232;text-align:center;font-size:24px;font-style:normal;font-weight:700;line-height:normal}
.eb-chnx-ls label{cursor:pointer}
.eb-chnx-ls input{cursor:pointer}
@media screen and (min-width:1025px){
.eb-chnx-ls li:nth-child(1) label:hover{background:#ffd012}
.eb-chnx-ls li:nth-child(2) label:hover{background:#FF6C58}
.eb-chnx-ls li:nth-child(3) label:hover{background:#00B900}
.eb-chnx-ls li:nth-child(4) label:hover{background:#36DE56}
.eb-chnx-ls li:nth-child(5) label:hover{background:#00C70A}
.eb-chnx-ls li:nth-child(1) label:hover .eb-ic{box-shadow:0px 3.6px 18px rgba(180, 140, 31, 0.5)}
.eb-chnx-ls li:nth-child(2) label:hover .eb-ic{box-shadow:0px 3.6px 18px 0px #d74510}
.eb-chnx-ls li:nth-child(3) label:hover .eb-ic{box-shadow:0px 3.6px 18px 0px #118a11}
.eb-chnx-ls li:nth-child(4) label:hover .eb-ic{box-shadow:0px 3.6px 18px 0px #18b035}
.eb-chnx-ls li:nth-child(5) label:hover .eb-ic{box-shadow:0px 3.6px 18px 0px #0c9d14}
}
input[type="text"]{background:none;padding:15px 20px;font-size:16px;width:100%;border:0;border-radius:12px;border:1px solid #d1d5db;transition:all 0.4s;outline:2px solid transparent}
input[type="text"]::placeholder{font-size:16px}
input[type="text"]:focus{position:relative;background:#fafafa;outline:none}
.eb-ip-grpx input[type="text"]:focus{border:1px solid transparent;outline:2px solid #1e52af;outline:2px solid #568be5;background:#fafafa}
input[type="checkbox"]{position:relative;margin:0;display:inline-block;width:20px;height:20px;border-radius:5px;transition:all 0.6s;appearance:none;background:#d0d0d0;-webkit-appearance:none;cursor:pointer}
input[type="checkbox"]:before{content:"";position:absolute;display:block;width:10px;height:8px;left:48%;top:50%;background:url(img/csschatcou-06.png) center center/10px 8px no-repeat;transform:translate(-50%, -58%)}
input[type="checkbox"]:checked{background:#2196f3}
.eb-fm-wr{padding:60px 0 0;text-align:center}
.eb-fm-wr,.eb-bt-wr3{display:none;width:100%;max-width:556px;margin:0 auto}
.eb-fm-wr .eb-ip-grpx{display:flex;align-items:center;justify-content:center}
.eb-fm-wr .eb-ip-grpx+.eb-ip-grpx{padding-top:12px}
.eb-ip-grpx label{display:flex;align-items:center;width:100%;max-width:140px;color:#262626;font-size:18px;font-weight:500;line-height:160%}
.eb-ip-grpx label em{padding-left:2px}
.eb-ip-grpx.eb-chkx label{width:auto;max-width:unset;cursor:pointer}
.eb-ip-grpx.eb-chkx label{padding-left:6px}
.eb-ip-grpx.eb-chkx label,.eb-ip-grpx.eb-chkx a{color:#303030;font-family:Pretendard;font-size:18px;font-weight:400;line-height:normal;letter-spacing:-0.9px}
.eb-ip-grpx.eb-chkx a{position:relative;margin-left:8px}
.eb-ip-grpx.eb-chkx a:before{content:"";display:block;position:absolute;bottom:0;left:0;width:100%;background:#303030;height:1px}
.eb-bt-wr3{padding-top:60px}
.eb-bt-wr3 p{text-align:center;font-weight:400;line-height:150%;word-break:keep-all}
.eb-bt-wr3 p .eb-pntx{font-weight:700}
.eb-bt-wr3 .eb-bt-tx1{color:#414141;text-align:center;font-size:22px;letter-spacing:-0.44px;padding-bottom:20px}
.eb-bt-tx22{text-align:center;color:#303030;font-size:22px;padding-bottom:40px;line-height:150%;letter-spacing:-0.44px}
.eb-bt-wr3 .eb-qrx-bx{display:none;text-align:center}
.eb-bt-wr3 .eb-qrx-bx img{margin:0 auto;text-align:center}
.eb-bt-sbmx{display:block;padding:23.5px 0;margin:0 auto;width:100%;max-width:558px;border-radius:20px;background:#2196f3;color:#fff;text-align:center;font-size:28px;font-style:normal;font-weight:700;line-height:normal;letter-spacing:-0.56px;transition:transform 0.3s}
.eb-bt-sbmx:visited{color:#fff}
.eb-bt-sbmx:link{color:#fff}
input[type="radio"]{opacity:0;visibility:hidden}
[data-index="1"] .eb-fm-wr,[data-index="1"] .eb-bt-wr3{display:block}
[data-index="2"] .eb-fm-wr,[data-index="2"] .eb-bt-wr3,[data-index="3"] .eb-fm-wr,[data-index="3"] .eb-bt-wr3,[data-index="4"] .eb-fm-wr,[data-index="4"] .eb-bt-wr3{display:none}
[data-index="5"] .eb-qrx-bx{display:block}
[data-index="5"] .eb-fm-wr{display:none}
[data-index="5"] .eb-bt-wr3{display:block}
[data-index="5"] .eb-bt-sbmx{display:none}
.eb-scx-chtx-2 .eb-scx-in{padding-bottom:140px}
.eb-scx-chtx-2 .eb-hm-tt{display:block}
.eb-scx-chtx-2 .eb-hm-tt img{padding-left:10px}
.eb-ev-ls2 li .eb-pic-bx2{aspect-ratio:1 / 1;overflow:hidden}
.eb-mdlx{display:none;position:fixed;z-index:9999;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0, 0, 0, 0.5)}
.eb-mdlx .eb-mdlx-ct2{position:relative;background-color:#fefefe;margin:auto;padding:0;width:90%;max-width:1200px;text-align:left;background:#fff;box-sizing:border-box;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);-webkit-animation-name:eb-k-nmtx;-webkit-animation-duration:0.4s;animation-name:eb-k-nmtx;animation-duration:0.4s}
@-webkit-keyframes eb-k-nmtx{from{top:-200px;opacity:0}to{top:0;opacity:1}}
@keyframes eb-k-nmtx{from{top:-200px;opacity:0}to{top:0;opacity:1}}
body.eb-bdyx-lckx{overflow:hidden !important}
.eb-mdlx.on{display:flex;align-items:center}
.eb-mdlx .eb-mdlx-hd{display:flex;background:#ededed;align-items:center;justify-content:space-between;padding:20px 30px}
.eb-mdlx .eb-mdlx-hd h3{color:#000;font-size:24px;font-weight:700;line-height:40px;letter-spacing:-0.06px}
.eb-mdlx .eb-mdlx-hd .eb-bt-cls{margin-left:auto;padding:0;width:30px;border:none;cursor:pointer;height:30px;background:url(img/close.svg) center center/100% no-repeat}
.eb-mdlx .eb-mdlx-ct{display:flex;padding:50px;flex-direction:column;gap:10px;text-align:left;color:#666;font-size:16px;font-weight:400;line-height:24px;letter-spacing:-0.04px}
.eb-cntx-bx strong{display:block;padding-bottom:12px}
@media screen and (max-width: 980px){
.eb-mdlx .eb-mdlx-hd{padding:16px 20px}
.eb-mdlx .eb-mdlx-hd h3{font-size:18px;line-height:normal}
.eb-mdlx .eb-mdlx-ct{padding:40px 24px;font-size:15px;max-height:60vh;overflow-y:auto}
}
@media screen and (max-width: 1350px){
.eb-scx-in{width:90%;padding:0}
}
@media screen and (max-width: 1200px){
.eb-chnx-ls{max-width:700px;margin:0 auto;justify-content:center;flex-wrap:wrap}
.eb-chnx-ls li{flex:unset;width:calc(100% / 3 - 20px);max-width:unset}
}
@media screen and (max-width: 980px){
.eb-lg-pic{max-width:170px;margin:0 auto;padding:40px 0}
.eb-scx-chtx-1{padding-bottom:70px}
.eb-hm-tt{font-size:24px}
.eb-chnx-ls label{padding:10.75px 3px 20px 4px}
.eb-chnx-ls input{margin-bottom:0}
input[type="radio"]{width:15px;height:15px;border-radius:3px}
input[type="radio"]:before{width:7px;height:2px;border-left:2px solid #fff;border-bottom:2px solid #fff}
.eb-chnx-ls{max-width:540px;gap:20px 9px}
.eb-chnx-ls li{overflow:hidden;width:calc(100% / 3 - 17px);border-radius:10px}
.eb-chnx-ls .eb-ic{width:45px;overflow:hidden;height:45px;border-radius:10px;margin-bottom:14px;filter:none !important}
.eb-chnx-ls li:nth-child(1) .eb-ic{background-image:url(img/csschatcou-01.png);filter:drop-shadow(0px 1.8px 9px rgba(180, 140, 31, 0.5))}
.eb-chnx-ls li:nth-child(2) .eb-ic{background-image:url(img/csschatcou-02.png);filter:drop-shadow(0px 1.8px 9px rgba(203, 123, 189, 0.5))}
.eb-chnx-ls li:nth-child(3) .eb-ic{background-image:url(img/csschatcou-03.png);filter:drop-shadow(0px 1.8px 9px rgba(68, 164, 71, 0.5))}
.eb-chnx-ls li:nth-child(4) .eb-ic{background-image:url(img/csschatcou-04.png);filter:drop-shadow(0px 1.8px 9px rgba(68, 164, 71, 0.5))}
.eb-chnx-ls li:nth-child(5) .eb-ic{background-image:url(img/csschatcou-05.png);filter:drop-shadow(0px 1.8px 9px rgba(68, 164, 71, 0.5))}
.eb-chnx-ls .eb-tt{font-size:15px}
.eb-fm-wr{padding:50px 0 0}
.eb-ip-grpx label{font-size:16px}
input[type="text"]{font-size:15px}
input[type="text"]::placeholder{font-size:15px}
.eb-ip-grpx.eb-chkx label,.eb-ip-grpx.eb-chkx a{font-size:15px}
.eb-ip-grpx.eb-chkx a:before{bottom:1px}
.eb-bt-wr3 .eb-bt-tx1{font-size:18px;padding-bottom:10px}
.eb-bt-tx22{font-size:16px;padding-bottom:50px;letter-spacing:-0.32px}
.eb-bt-sbmx{border-radius:14px;font-size:20px;line-height:normal;letter-spacing:-0.4px;padding:18px 0}
.eb-scx-chtx-2 .eb-scx-in{padding-bottom:80px}
.eb-scx-chtx-2 .eb-hm-tt img{max-width:84px;padding-left:2px}
.eb-ev-ls2 li .eb-pic-bx2 img{width:100%;object-fit:cover}
}
@media screen and (max-width: 768px){
.eb-scx-in{width:100%;padding:0 18px}
.eb-scx-chtx-2 .eb-hm-tt{display:block}
.eb-chnx-ls li{width:calc(100% / 3 - 6px)}
.eb-ip-grpx label{flex-shrink:0;width:30%;max-width:unset}
input[type="text"]{padding:15px 12px}
.eb-chnx-ls .eb-ic{overflow:hidden}
}
.eb-tlx-grpx{padding-top:30px}
.swiper-navigation{display:flex;gap:10px;align-items:center;justify-content:center}
.swiper-pagination-fraction{width:unset;position:relative;top:unset;left:unset;right:unset;bottom:unset}
.eb-tlx-grpx button{border:none;width:36px;cursor:pointer;height:36px}
.swiper-navigation-prev{background:url(img/prev-big.svg) center center/100% 100% no-repeat}
.swiper-navigation-next{background:url(img/next-big.svg) center center/100% 100% no-repeat}
@media screen and (max-width:768px){
.eb-tlx-grpx{padding-top:20px}
}
.eb-lat.eb-fm-wr .eb-ip-grpx:not(.eb-chkx){gap:12px}
.eb-lat input[type="text"]{width:calc(100% - 12px)}
.eb-blcx-768{display:none}
@media screen and (max-width:768px){
.eb-blcx-768{display:block}
.eb-lat.eb-fm-wr .eb-ip-grpx{align-items:start}
.eb-lat.eb-fm-wr .eb-ip-grpx.eb-chkx{flex-wrap:wrap}
.eb-lat.eb-fm-wr .eb-ip-grpx:not(.eb-chkx) label{text-align:left;display:block;text-wrap:nowrap}
.eb-lat.eb-fm-wr input[type="text"]::placeholder{font-size:15px}
}
@media screen and (max-width:480px){
.eb-blcx-768{display:none}
.eb-lat.eb-fm-wr .eb-ip-grpx:not(.eb-chkx){flex-direction:column}
.eb-lat.eb-fm-wr .eb-ip-grpx.eb-chkx{gap:4px}
}
