.eb-qk-mn .eb-qk .eb-ic svg{fill:#fff}
html [data-aos=fade-up]{transform:translate3d(0,30px,0);opacity:0}
html [data-aos=fade-left]{transform:translate3d(30px,0,0);opacity:0}
html [data-aos=fade-right]{transform:translate3d(-30px,0,0);opacity:0}
