.eb-hm-pp{display:none}
.eb-pp-grpx-1{display:block}
.eb-pp-grpx-1{position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);z-index:9999999;width:1190px;color:#212121}
.eb-pp-grpx-1::before{position:absolute;content:'';width:200vw;height:200vh;background-color:#00000050;z-index:-1;top:-50%;left:-50%}
.eb-grpx-1-rmtx-grx{display:flex;flex-wrap:wrap}
.eb-grpx-1-rmtx-ls{flex:1 0 calc(25%)}
.eb-grpx-1-rmtx-ls:nth-child(n + 5){border-top:1px solid #d9d9d9}
.eb-grpx-1-rmtx-grx.eb-is-5ly .eb-grpx-1-rmtx-ls:nth-child(1){flex:1 1 100%}
.eb-grpx-1-rmtx-grx.eb-is-5ly .eb-grpx-1-rmtx-ls{flex:1 0 25%}
.eb-grpx-1-rmtx-grx.eb-is-5ly .eb-grpx-1-rmtx-ls:nth-child(n + 2){border-top:1px solid #d9d9d9}
.eb-grpx-1-rmtx-grx.eb-is-6ly .eb-grpx-1-rmtx-ls{flex:1 0 50%}
.eb-grpx-1-rmtx-grx.eb-is-6ly .eb-grpx-1-rmtx-ls:nth-child(n + 3){flex:1 0 25%;border-top:1px solid #d9d9d9}
.eb-grpx-1-rmtx-grx.eb-is-7ly .eb-grpx-1-rmtx-ls{flex:1 0 calc(100% / 3)}
.eb-grpx-1-rmtx-grx.eb-is-7ly .eb-grpx-1-rmtx-ls:nth-child(n + 4){flex:1 0 25%;border-top:1px solid #d9d9d9}
.eb-grpx-1-rmtx-grx.eb-is-8ly .eb-grpx-1-rmtx-ls{flex:1 0 25%}
.eb-grpx-1-rmtx-grx.eb-is-8ly .eb-grpx-1-rmtx-ls:nth-child(n + 5){flex:1 0 25%;border-top:1px solid #d9d9d9}
.eb-grpx-1-rmtx-ls{height:43px;line-height:43px;background-color:#fff;cursor:pointer;border-left:1px solid #d9d9d9;color:#212121;text-align:center;padding:0 10px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.eb-grpx-1-rmtx-ls.on{color:#f38200;font-weight:600}
.eb-grpx-1-rmtx-ls:first-child{border-left:none}
.eb-grpx-1-btmx-gr{width:100%;background-color:rgb( 0, 0, 0, 0.8);color:#fff;height:36px;display:flex;justify-content:space-between;align-items:center}
.eb-cls-bt{cursor:pointer;padding:0 15px;font-size:14px}
.eb-grpx-1-swpx{overflow:hidden;background:#333}
@media screen and (max-width:1366px){
.eb-pp-grpx-1{width:960px}
}
@media screen and (max-width:1200px){
.eb-pp-grpx-1{display:none}
.eb-hm-pp{display:block}
}
