.eb-sec7 .eb-ev-swpx2{width:100%;overflow:hidden}
.eb-sec7 .eb-ev-swpx2 .swiper-slide{width:100%;flex:0 0 auto;height:auto;margin:0;max-width:none;aspect-ratio:1/1}
.eb-sec7 .eb-ev-swpx2 .swiper-slide a{display:block;width:100%;height:100%}
.eb-sec7 .eb-ev-swpx2 .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover}
