.eb-hm-pp-sl{margin:15px 0 5px}
.eb-hm-pp-sl .swiper-slide .eb-pic2{padding-top:115%;position:relative}
.eb-hm-pp-sl .swiper-slide img{max-width:100%;width:100%;height:100%;object-fit:cover;position:absolute;left:0;top:0;object-position:center}
.eb-hm-pp-wr{position:fixed;top:0;left:0;right:0;bottom:0;z-index:999}
.eb-hm-pp-bk{top:0;left:0;right:0;bottom:0;position:absolute;background:rgba(0, 0, 0, .65)}
.eb-hm-pp{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:3000;max-width:calc(100vw - 30px);width:1300px;max-width:calc(100vw - 30px)}
.eb-hm-pp-tp{display:flex;justify-content:flex-end;align-items:flex-end}
.eb-hm-pp-tp .eb-pgnx2{display:none;color:#fff;font-size:1.8rem}
.eb-hm-pp-tp .eb-pgnx2 .eb-brx-spcx{margin:0 5px}
.eb-hm-pp-tp h1{color:#fff;font-family:'Montserrat', sans-serif}
.eb-hm-pp-nv{display:flex}
.eb-hm-pp-nv li{margin-left:10px}
.eb-hm-pp-nv li:first-of-type{margin-left:0}
.eb-hm-pp-nv li > div{color:#fff;width:42px;height:42px;justify-content:center;border:1px solid #fff;align-items:center;font-size:19px;cursor:pointer;text-align:center}
.eb-hm-pp-nv li > div i{font-size:19px;line-height:43px}
.eb-hm-pp-mdx{text-align:center;color:#fff}
.eb-swpx-pgx-pp{width:auto;color:#fff;font-size:13px;background:#000;padding:0 12px;height:100%;border-radius:21px;display:flex;align-items:center}
.eb-swpx-pgx-pp>span{color:#59508f}
.swiper-button-prev-popup{display:flex;align-items:center;justify-content:center;font-size:1.9rem;line-height:1;color:#fff;width:4.2rem;height:4.2rem;border:1px solid #fff;border-radius:50%}
.swiper-button-next-popup{display:flex;align-items:center;justify-content:center;font-size:1.9rem;line-height:1;color:#fff;width:4.2rem;height:4.2rem;border:1px solid #fff;border-radius:50%}
.swiper-button-prev-popup svg,.swiper-button-next-popup svg{fill:#fff !important}
.eb-hm-pp i{color:#fff}
.eb-hm-pp-btmx{display:flex;height:32px}
.eb-hm-pp-cls-wr{display:flex;justify-content:space-between;width:100%}
.eb-hm-pp-cls-wr>label{cursor:pointer;color:#fff;height:100%;font-size:16px;display:flex;align-items:center;position:relative}
.eb-hm-pp-cls-wr>label>input{margin-right:3px}
.eb-hm-pp-cls-wr>label>.eb-svgx{width:1.2em;height:1.2em;margin:0 7px 1px 0;z-index:1;fill:#fff;position:relative}
.eb-hm-pp-cls-wr>label>.eb-svgx svg{position:absolute;left:0;top:0;width:100%;height:100%;fill:#fff}
.eb-hm-pp-cls-wr>label>.eb-svgx .on{opacity:0}
.eb-hm-pp-cls-wr>label>.eb-svgx.eb-ppx-chkx .on{opacity:1}
.eb-hm-pp-cls-wr>label>.eb-svgx.eb-ppx-chkx .off{opacity:0}
.eb-hm-pp-cls{display:flex;align-items:center;justify-content:center;background:none;height:100%;font-family:'Noto Sans KR', sans-serif;font-size:16px;margin-left:auto;color:#fff}
.eb-hm-pp-cls svg{display:flex;align-items:center;justify-content:center;fill:#fff !important;margin-left:10px;margin-top:1px}
.eb-hm-pp .eb-hm-pp-tp.disabled{display:none}
@media screen and (max-width:1800px){
.eb-ckx-swpx-bx ul li .eb-nm{font-size:20px}
}
@media screen and (max-width:1200px){
.eb-hm-pp{width:700px}
.eb-hm-pp-tp h1{font-size:25px}
.eb-hm-pp-nv li{margin-left:7px}
.eb-hm-pp-nv li>div{width:33px;height:33px;font-size:var(--info-font-size)}
.eb-hm-pp-btmx{height:27px}
.eb-hm-pp-cls{border-radius:19px;font-size:16px;margin-left:7px}
.eb-hm-pp-cls-wr>label{border-radius:19px;font-size:16px}
.eb-swpx-pgx-pp{border-radius:19px;font-size:16px}
.eb-hm-pp-cls-wr>label>i{font-size:1.1em;margin:0 10px 0 0}
.eb-swpx-pgx-pp>span.swiper-pagination-total{color:#fff}
.eb-ckx-swpx-bx ul{margin-left:-20px;margin-bottom:-30px}
.eb-ckx-swpx-bx ul li{width:calc(25% - 20px);margin-left:20px;margin-bottom:30px}
.eb-ckx-swpx-bx ul li .eb-nm{font-size:18px}
.eb-ckx-swpx-bx ul li .eb-tpx{font-size:13px}
}
@media screen and (max-width: 768px){
.eb-hm-pp-tp .eb-pgnx2{display:block}
.eb-hm-pp-cls,.eb-hm-pp-cls-wr>label{font-size:14px}
}
