.eb-sb45 .eb-sb-tb{margin-bottom:50px}
.eb-sb45 .eb-grpx-bx2{position:relative;display:flex;justify-content:space-around;align-items:flex-end;height:25rem;padding:0 10%;margin:0 10% 6rem;border-bottom:1px solid #e0e0e0}
.eb-sb45 .eb-grpx-bx2 .eb-grpx{position:relative}
.eb-sb45 .eb-grpx-bx2 .eb-grpx .eb-no{position:absolute;top:-10px;left:50%;transform:translate(-50%, -100%);font-weight:500;font-size:1.6rem;text-align:center;line-height:1.3}
.eb-sb45 .eb-grpx-bx2 .eb-grpx .eb-brx{width:4rem;background-color:var(--blue, #173348);opacity:0.2;transition:height 1s ease-out;height:0}
.eb-sb45 .eb-grpx-bx2 .eb-grpx .eb-yrx{position:absolute;bottom:-5px;left:50%;transform:translate(-50%, 100%);color:var(--blue, #173348);white-space:nowrap;font-size:1.6rem}
.eb-sb45 .eb-grpx-bx2 .eb-grpx.active .eb-no{color:var(--blue, #173348);font-size:1.4rem;font-weight:700}
.eb-sb45 .eb-grpx-bx2 .eb-grpx.active .eb-no strong{font-size:2rem}
.eb-sb45 .eb-grpx-bx2 .eb-grpx.active .eb-brx{opacity:1}
.eb-sb45 .eb-grpx-bx2 .eb-grpx.active .eb-yrx{font-weight:500}
.eb-sb45 .eb-grpx-bx2.active .eb-grpx:nth-child(1) .eb-brx{height:15rem}
.eb-sb45 .eb-grpx-bx2.active .eb-grpx:nth-child(2) .eb-brx{height:10rem;transition-delay:0.2s}
.eb-sb45 .eb-grpx-bx2.active .eb-grpx:nth-child(3) .eb-brx{height:7.5rem;transition-delay:0.4s}
