.eb-pgx-wr2 .eb-cont{color:var(--blue)}
.eb-tp-tt.center{text-align:center}
.eb-tp-tt.eb-whtx{color:#fff}
.eb-tp-tt .eb-ds{font-size:2.2rem;font-weight:700}
.eb-tp-tt .eb-tt{font-size:5.6rem;font-weight:700;font-family:var(--serif);line-height:1.1}
.eb-tp-tt .eb-tt.eb-krx{font-size:4.2rem;font-family:var(--NotoSerif)}
.eb-tp-tt .eb-tt.eb-snsx{font-family:"Pretendard", sans-serif}
.eb-tp-tt .eb-tt b{font-family:var(--NotoSerif);font-weight:500;line-height:1}
.eb-tp-tt .eb-ds + .eb-tt{margin-top:15px}
.eb-tp-tt .eb-tx2{margin-top:1.5rem;font-size:1.8rem;font-weight:500;word-break:keep-all}
.eb-npx-wr{display:flex;align-content:center;justify-content:space-between}
.eb-npx-wr .eb-npx-bx + .eb-npx-bx{margin-left:1rem}
.eb-npx-bx{width:100%}
.eb-npx-bx input{width:100%;height:55px;line-height:55px;padding:0 20px;background-color:#fff;border:1px solid #5a82a1;font-size:1.8rem;font-weight:500}
.eb-npx-bx input::placeholder{color:var(--blue);font-weight:400}
.eb-cont{padding-top:var(--header_Height);transition:padding-top 0.3s}
.eb-pgx-wr2.eb-bscx .eb-cont{padding-top:var(--header_Height)}
.eb-pgx-wr2.eb-bscx .eb-cont.eb-bnnx{padding-top:calc(var(--header_Height) + 10rem)}
.eb-pgx-wr2.eb-bscx .eb-cont.eb-bnnx.eb-nox-bnnx{padding-top:calc(var(--header_Height))}
.eb-kv-sctx{position:relative;padding:36% 8em 0}
.eb-kv-sctx .eb-kv-swpx{position:absolute;left:50%;top:0;width:95%;height:100%;transform:translateX(-50%)}
.eb-kv-sctx .eb-kv-swpx .swiper-slide:before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.1);z-index:10;pointer-events:none}
.eb-kv-sctx .eb-kv-swpx .swiper-slide.eb-bk:before{background-color:rgba(0, 0, 0, 0.3)}
.eb-kv-sctx .eb-kv-swpx .swiper-slide .eb-pic2{width:100%;height:100%}
.eb-kv-sctx .eb-kv-swpx .swiper-slide .eb-pic2 iframe{position:absolute;width:100%;height:150%;left:50%;top:50%;transform:translate(-50%, -50%);object-fit:cover;object-position:center;pointer-events:none}
.eb-kv-sctx .eb-kv-swpx .swiper-slide .eb-pic2 video{width:100%;height:100%;object-fit:cover;object-position:center}
.eb-kv-sctx .eb-kv-swpx .swiper-slide .eb-pic2 img{width:100%;height:100%;object-fit:cover;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges;transform:translateZ(0);backface-visibility:hidden}
.eb-kv-sctx .eb-tx-bx3 p{overflow:hidden}
.eb-kv-sctx .eb-tx-bx3 p span{display:block;transform:translateY(100%)}
.eb-kv-sctx .eb-tx-bx3 .eb-bt1{margin-top:7rem;border-color:#fff;background-color:transparent}
.eb-kv-sctx .eb-tx-bx3 .eb-bt1:before{background-color:#fff}
.eb-kv-sctx .eb-tx-bx3 .eb-bt1 span{color:#fff}
.eb-kv-sctx .swiper-slide .eb-tx-bx3 span,.eb-kv-sctx .swiper-slide .eb-tx-bx3 span{display:block;word-break:keep-all}
.eb-kv-sctx .eb-tx-wr4.eb-dlyx .eb-vwx-bt,.eb-kv-sctx .eb-tx-wr4.eb-dlyx span{transform:translateY(100%) !important;opacity:0 !important}
.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tx2 span,.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tt p span{transform:translateY(0%);transition:transform 0.75s;transition-delay:0s}
.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tt p span{transition:transform 1s}
.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tt p:nth-child(1) span{transition-delay:0.3s}
.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tt p:nth-child(2) span{transition-delay:0.5s}
.eb-kv-sctx .swiper-slide-active .eb-tx-bx3 .eb-tt p:nth-child(3) span{transition-delay:0.7s}
.eb-kv-sctx .swiper-slide-active .eb-bt2{opacity:1;transform:translateY(00px)}
.eb-hd nav .eb-dptx .eb-dptx2 li a{line-height:1.2em}
.eb-hm .eb-kv-sctx .eb-sl-mvx{position:absolute;left:14.5%;bottom:10%;z-index:10;display:flex;align-items:center}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination{position:static}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet{width:0.8rem;height:0.8rem;background-color:#fff;position:relative;opacity:1}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet:before{content:"";position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);width:38px;height:38px;border-radius:50%}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:7rem}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet > svg{position:absolute;left:50%;top:0;transform:translate(-50%, 0%) rotate(-90deg);stroke-dasharray:125;stroke-dashoffset:125}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-crcx{opacity:0}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet-active .eb-crcx{animation:eb-k-drwx 11.8s linear forwards}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet.eb-nox-dlyx .eb-crcx{animation:eb-k-drwx 11s linear forwards;opacity:1}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet-active .eb-crcx.off{animation:none;opacity:0}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet-active{background-color:transparent}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet-active .eb-crcx{opacity:1}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2.off{display:none}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2{display:flex;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);opacity:0;z-index:3}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span{display:block;width:3px;height:13px;border-radius:50px;background-color:#fff}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span + span{margin-left:5px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 svg{fill:#fff;height:12px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet-active .eb-bt2{opacity:1}
@keyframes eb-k-drwx{to{stroke-dashoffset:0}}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx-bt{display:flex;align-items:center;margin-left:50px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-button-next,.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-button-prev{position:static;margin:0;width:auto;height:auto;color:#fff;font-size:18px;opacity:0.5;transition:all 0.3s}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx{position:static;margin-left:50px;color:#ffffff;font-size:1.6rem;font-weight:500;font-family:var(--NotoSerif);margin-top:0}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx .eb-brx{margin:0 0.5rem 0 1rem}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx .active{position:relative;top:-3px;opacity:1;font-size:2.3rem}
.eb-hm .eb-kv-sctx .eb-scr-dwnx{position:absolute;left:50%;bottom:30px;transform:translate(-50%, 0%);text-align:center;z-index:15;color:#fff}
.eb-scr-dwnx2 span{display:block;position:relative;width:23px;height:30px;border:1px solid #fff;border-radius:10px;box-sizing:border-box;margin:0 auto}
.eb-scr-dwnx2 span:before{content:"";display:block;position:absolute;top:2px;left:50%;width:4px;height:6px;border:1px solid #fff;border-radius:2rem;transform:translateX(-50%);box-sizing:border-box;-webkit-animation:eb-k-scr 2s infinite;animation:eb-k-scr 2s infinite}
@-webkit-keyframes eb-k-scr{0%{-webkit-transform:translate(-50%, 0);opacity:0}40%{opacity:1}80%{-webkit-transform:translate(-50%, 20px);opacity:0}100%{opacity:0}}
@keyframes eb-k-scr{0%{transform:translate(-50%, 0);opacity:0}40%{opacity:1}80%{transform:translate(-50%, 20px);opacity:0}100%{opacity:0}}
#eb-i-tmrx{margin:0;width:40px;height:40px;position:relative}
.eb-hm .eb-kv-sctx .eb-tx-bx3{position:absolute;left:12%;top:50%;transform:translateY(-50%);color:#fff;z-index:20}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tx2{margin-bottom:0.6rem;font-size:2.6rem;font-weight:400}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tt{font-size:6.9rem;font-weight:600;line-height:1.3;margin-top:15px}
.eb-pgx-wr2.eb-bscx .eb-cont{padding-top:0}
.eb-sb1 .eb-tp-pic2{display:none}
.eb-ftx-tp .eb-nlnx-wr .eb-nlnx-bt .eb-ic{width:18px;flex-shrink:0}
body{overflow-x:hidden}
table{border-collapse:coll hidden}
*{margin:0;padding:0;font:inherit;color:inherit}
*,:after,:before{box-sizing:border-box}
html,body{height:100%;overflow-x:clip}
img,picture,video,canvas,svg{display:block;width:100%;max-width:100%;object-fit:cover}
button{border:0;background:none;cursor:pointer}
a{text-decoration:none;border-spacing:0}
ul,ol{list-style:none}
fieldset,input{border:0}
.eb-hd .eb-tp .eb-schx-bx .eb-ic svg{display:block;width:unset;max-width:unset;object-fit:unset}
.eb-hm-pp-cls svg{display:block;width:unset;max-width:unset;object-fit:unset}
.eb-hd nav .eb-cls-bt{padding:0}
@media (min-width: 1601px) and (max-width: 1920px){
html{font-size:10px}
}
@media screen and (max-width: 768px){
.eb-hm-pp-sl .swiper-slide img{width:100%}
}
.pc{display:block}
.mo{display:none}
.eb-blnx{position:absolute;width:1px;height:1px;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0)}
.eb-stcx{position:sticky;top:0;height:calc(var(--svh) * 100);overflow:hidden;z-index:10}
.eb-in{width:100%;max-width:148rem;margin:0 auto;padding:0 max(20px, 2rem)}
.eb-in.eb-tp02{max-width:164rem}
.eb-bt2{color:#303030}
.eb-lk-rwx{display:flex;justify-content:space-between;align-items:center;position:relative;width:100%;max-width:24rem;padding:1rem;border-radius:999rem;overflow:hidden;transition:all 0.3s ease}
.eb-lk-rwx::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;background:linear-gradient(
        90deg,
        rgba(47, 166, 206, 1) 0%,
        rgba(210, 111, 168, 1) 50%,
        rgba(229, 118, 39, 1) 100%
    );transition:all 0.3s ease}
.eb-lk-rwx.eb-lk-nvrx{background:#03c75a}
.eb-lk-rwx.eb-lk-kkx{background:#ffdc00}
.eb-scx-crpx .eb-lk-rwx{background:#fff}
.eb-lk-rwx .eb-tx2{position:relative;padding-left:2.6rem;font-weight:600;font-size:1.8rem;line-height:1.3}
.eb-lk-rwx .eb-ic-rwx{width:5.4rem;height:5.4rem;border-radius:100%;background:url(img/cssmain1cs-02.webp) no-repeat center center / 2.4rem 2.4rem #333;transform:rotate(-90deg)}
.eb-hd nav .eb-dptx .eb-chrx-wr{display:inline-block;overflow:hidden}
.eb-hd nav .eb-dptx .eb-chrx-wr .char{backface-visibility:hidden;text-shadow:0 1.5em 0 currentColor}
.eb-scx-sncx{position:relative;height:calc(var(--vh) * 400)}
.eb-scx-sncx .eb-stcx-in{height:100%;display:flex;flex-direction:column;justify-content:center;align-items:center;z-index:10}
.eb-scx-sncx .eb-tt-ar2{color:#252525}
.eb-scx-sncx .eb-tt-ar2 .eb-no{font-family:"Spoqa Han Sans", serif;font-weight:700;font-size:11rem;line-height:1;position:relative}
.eb-scx-sncx .eb-tx-bx{display:inline-block;position:relative;overflow:hidden}
.eb-scx-sncx .eb-tt-ar2 .eb-no:before{content:"SINCE";position:absolute;top:0;left:0;transform:translate(0, -50%);font-size:0.3em;font-weight:normal;display:block}
.eb-scx-sncx .eb-tt-ar2 .eb-no.eb-sncx-onx:before{display:none}
.eb-scx-sncx .eb-tt-ar2 .eb-tx-bx{margin-left:7px}
.eb-scx-sncx .eb-tt-ar2 .eb-tx{display:block;font-size:4.3rem;line-height:1}
.eb-scx-sncx .eb-tt-ar2 .eb-tx:not(:first-child){position:absolute;bottom:-100%;right:0}
.eb-scx-sncx .eb-ds-bx{position:relative;width:100%;overflow:hidden;text-align:center}
.eb-scx-sncx .eb-ds{display:block;margin-top:4px;font-weight:600;font-size:3.6rem;line-height:1.5;letter-spacing:-0.02em;color:#252525}
.eb-scx-sncx .eb-ds:not(:first-child){position:absolute;left:50%;width:100%;transform:translateX(-50%)}
.eb-scx-sncx .eb-ds:nth-child(2){top:100%}
.eb-scx-sncx .eb-ds:nth-child(3){top:200%}
.eb-scx-sncx .eb-scr-ar{margin-top:3.2rem}
.eb-scx-sncx .eb-ic-scr-dwnx{display:block;width:7.5rem;height:7.5rem;background:url(img/scroll-down.svg) no-repeat 50% 50% / 100% auto;animation:eb-k-scr-dwnx 1.5s ease infinite}
.eb-scx-sncx .eb-scr-tx{display:block;text-align:center;font-size:1.7rem;color:#6d6d6d}
.eb-scx-sncx .eb-bk-ar{margin-top:calc(var(--vh) * -100)}
.eb-scx-sncx .eb-bk-bx{display:flex;align-items:center;gap:1.5%;height:200vh}
.eb-scx-sncx .eb-bk-tp .eb-bk{width:16.6%}
.eb-scx-sncx .eb-bk-bt .eb-bk{width:15.625%}
.eb-scx-sncx .eb-bk-bx .eb-bk:nth-child(3){margin-left:auto}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(1){margin-top:91rem}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(2){margin-top:50rem}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(3){margin-top:65rem}
.eb-scx-sncx .eb-bk-bx .eb-pic2{width:100%;object-fit:cover}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(2){margin-top:65rem}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(3){margin-top:34.5rem}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(4){margin-top:91rem}
@keyframes eb-k-scr-dwnx{0%{transform:translateY(0)}50%{transform:translateY(8px)}100%{transform:translateY(0)}}
.eb-scx-slgx{position:relative;z-index:5;height:calc(var(--vh) * 700);pointer-events:none}
.eb-scx-slgx .eb-stcx{display:grid}
.eb-scx-slgx .eb-pic-ar{position:relative;z-index:10;grid-area:1 / 1;display:flex;justify-content:center;align-items:center;height:calc(var(--vh) * 100)}
.eb-scx-slgx .eb-pic-bx{position:relative;flex:1;max-width:29rem}
.eb-scx-slgx .eb-pic-bx + .eb-pic-bx{margin-left:4rem}
.eb-scx-slgx .eb-pic-bx.eb-pic-bx-01{z-index:4}
.eb-scx-slgx .eb-pic-bx:nth-child(2){z-index:3}
.eb-scx-slgx .eb-pic-bx.eb-anix-bx{z-index:2}
.eb-scx-slgx .eb-pic-bx:nth-child(4){z-index:1}
.eb-scx-slgx .eb-ct3{position:relative;grid-area:1 / 1;overflow:hidden}
.eb-scx-slgx .eb-pic-bx.eb-anix-bx{position:static;max-width:34.4rem;aspect-ratio:344 / 290;overflow:hidden;clip-path:url(img/cssmain1cs-03.jpg)}
.eb-scx-slgx .eb-pic-bx.eb-anix-bx.on{position:absolute;left:50%;z-index:10;max-width:unset;margin-left:0}
.eb-scx-slgx .eb-mskx{height:100%;background:url(img/cssmain1cs-04.jpg) no-repeat center center / cover}
.eb-scx-slgx .eb-bk-ar{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0}
.eb-scx-slgx-mox{position:relative}
.eb-scx-slgx-mox .eb-bk-ar2{position:relative;aspect-ratio:720 / 1280;overflow:hidden}
.eb-scx-slgx-mox .eb-bk-ar2 video,.eb-scx-slgx-mox .eb-bk-ar2 .eb-lstx-pic{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover}
.eb-scx-slgx-mox .eb-tx-wr4{position:absolute;bottom:calc(6.5rem + 10.8rem + 8rem);left:0;width:100%;opacity:0;transition:all 0.4s}
.eb-scx-slgx-mox .eb-tx-wr4.on{opacity:1}
.eb-scx-slgx .eb-tx-ar{position:absolute;top:50%;left:50%;width:100%;max-width:132rem;padding:0 max(20px, 2rem);transform:translate(-50%, -50%);color:#fff}
.eb-scx-slgx-mox .eb-tx-ar{width:100%;max-width:132rem;padding:0 max(20px, 2rem);color:#fff}
.eb-scx-slgx-mox .eb-ic-slgx,.eb-scx-slgx .eb-ic-slgx{display:block;width:6.7rem;height:4rem;background:url(img/ico-slogan.svg) no-repeat center center / 100% auto}
.eb-scx-slgx-mox .eb-tt2,.eb-scx-slgx .eb-tt2{display:flex;flex-direction:column;gap:2rem;font-size:5rem;line-height:1.3;letter-spacing:-0.04em}
.eb-scx-slgx .eb-tt2 .eb-pic2{width:24%;object-fit:cover}
.eb-scx-slgx-mox .eb-tt2 .eb-pic2{width:50%;object-fit:cover}
.eb-scx-slgx-mox .eb-tx-bx,.eb-scx-slgx .eb-tx-bx{margin-top:3.25rem}
.eb-scx-slgx-mox .eb-tx-bx .eb-tx,.eb-scx-slgx .eb-tx-bx .eb-tx{font-weight:500;font-size:2.16rem;line-height:1.6}
.eb-scx-slgx-mox .eb-tx-bx .eb-tx + .eb-tx,.eb-scx-slgx .eb-tx-bx .eb-tx + .eb-tx{margin-top:1.9rem}
.eb-scx-slgx-mox .eb-bt-ar,.eb-scx-slgx .eb-bt-ar{display:flex;justify-content:center;align-items:center;position:absolute;left:50%;bottom:-4rem;width:10.8rem;height:10.8rem;border-radius:50%;border:1.5px solid #fff;background-color:rgba(255, 255, 255, 0.1);transform:translate(-50%, 100%)}
.eb-scx-slgx-mox .eb-bt-ar .eb-ic,.eb-scx-slgx .eb-bt-ar .eb-ic{width:2.4rem;height:2.4rem;background:url(img/arw-down.svg) no-repeat center center / 100% auto}
.eb-scx-sv{position:relative;margin-top:calc(var(--svh) * -50);z-index:5}
.eb-scx-sv .eb-tt-wr3{position:relative;z-index:20;height:calc(var(--vh) * 200);pointer-events:none}
.eb-scx-sv .eb-tt-ar2{position:relative;display:flex;justify-content:center;align-items:center;height:calc(var(--svh) * 100)}
.eb-scx-sv .eb-tt-ar2 .eb-tt2{display:flex;justify-content:center;align-items:center;position:relative;width:45.2rem;height:45.2rem;border-radius:50%;overflow:hidden}
.eb-scx-sv .eb-tt-ar2 .eb-bk{position:absolute;width:100%;height:100%;background:linear-gradient(90deg, rgba(77, 176, 130, 1) 0%, rgba(47, 166, 206, 1) 100%)}
.eb-scx-sv .eb-tt-ar2 img{position:relative;width:22.6rem;opacity:0;visibility:hidden;transition:0.3s ease}
.eb-scx-sv .eb-tt-ar2 img.show{opacity:1;visibility:visible}
.eb-scx-sv .eb-sl-wr{position:relative;margin-top:calc(var(--vh) * -200);height:calc(var(--vh) * 400);color:#fff}
.eb-scx-sv .eb-wvx{position:relative;filter:blur(3vw);top:-3vw}
.eb-scx-sv .eb-wvx::before,.eb-scx-sv .eb-wvx::after{content:"";display:block;position:absolute;top:calc(var(--vh) * -2);left:calc(100% + -17px);width:200vw;height:33.84615vw;background:url(img/cssmain1cs-05.webp) 100% / 100% auto;animation:eb-k-wvx 10.2s cubic-bezier(0, 0, 0.9, 0.98) both infinite;pointer-events:none}
.eb-scx-sv .eb-wvx::before{left:0}
.eb-scx-sv .eb-mrqx-ar{position:absolute;left:0;bottom:8.3rem;z-index:-1;display:flex;gap:4rem}
.eb-scx-sv .eb-mrqx-tx{font-weight:700;font-size:21rem;line-height:1.3;color:rgba(255, 255, 255, 0.2);white-space:nowrap;animation:eb-k-mrqx-xx 120s linear infinite forwards}
.eb-scx-sv .eb-stcx-wr{position:absolute}
.eb-scx-sv .eb-nv{position:absolute;top:calc(290 / 920 * 100 * var(--vh));right:71.5625%;z-index:10;text-align:right}
.eb-scx-sv .eb-nv .eb-nv-ls{display:flex;flex-direction:column;gap:2.8rem;margin-top:2.8rem}
.eb-scx-sv .eb-nv .eb-tx{font-size:1.8rem;line-height:1.3}
.eb-scx-sv .eb-nv .eb-nv-it{font-weight:600;font-size:2rem;line-height:1.3;transition:0.3s ease}
.eb-scx-sv .eb-nv .eb-nv-it.active{font-weight:700;font-size:4rem}
.eb-scx-sv .eb-nv .eb-nv-it.active a{text-shadow:0px 2px 20px rgba(0, 0, 0, 0.2)}
.eb-scx-sv .eb-sv-it{position:relative;width:100%;height:calc(var(--vh) * 100)}
.eb-scx-sv .eb-bk-ar{position:absolute;z-index:-1;top:0;left:0;width:100%;height:100%}
.eb-scx-sv .eb-bk-it{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;visibility:hidden;transition:0.3s ease}
.eb-scx-sv .eb-bk-it.active{opacity:1;visibility:visible}
.eb-scx-sv .eb-bk-it:nth-child(1){background:linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
        linear-gradient(98deg, #2363b1 2.58%, #5ccac1 50.63%, #f2b155 97.73%)}
.eb-scx-sv .eb-bk-it:nth-child(2){background:linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
        linear-gradient(97deg, #5a80b5 2.49%, #8185cc 46.73%, #c3af9c 90.96%)}
.eb-scx-sv .eb-bk-it:nth-child(3){background:linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
        linear-gradient(98deg, #c39f9d 5.74%, #69b4bf 90.91%)}
.eb-scx-sv .eb-bk-it:nth-child(4){background:linear-gradient(180deg, rgba(255, 255, 255, 0) 75.98%, #fff 100%),
        linear-gradient(98deg, #7eafec 5.74%, #e6d2e0 48.32%, #bc6d38 90.91%)}
.eb-scx-sv .eb-sl-wr .eb-pic-ar{position:relative}
.eb-scx-sv .eb-sl-wr .eb-pic-bx{position:absolute;top:50%;left:50%;width:26%;max-width:50rem;aspect-ratio:500 / 660;z-index:10;transform:translate(-50%, -50%)}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;visibility:hidden;transition:0.3s ease}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2.show{opacity:1;visibility:visible}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2:nth-child(1){z-index:4}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2:nth-child(2){z-index:3}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2:nth-child(3){z-index:2}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2:nth-child(4){z-index:1}
.eb-scx-sv .eb-tx-wr{position:absolute;top:calc(300 / 920 * 100 * var(--vh));left:calc(1290 / 1920 * 100vw);right:8.3vw;max-width:47rem}
.eb-scx-sv .eb-tx-ar{position:absolute;top:0;left:0;width:100%;opacity:0;visibility:hidden;transition:0.3s ease}
.eb-scx-sv .eb-tx-ar.active{opacity:1;visibility:visible}
.eb-scx-sv .eb-tx-ar .eb-tx{font-size:2rem;line-height:1.3}
.eb-scx-sv .eb-tx-ar .eb-ds,.eb-scx-sv .eb-tx-ar .eb-tt-bx2{text-shadow:0px 2px 20px rgba(0, 0, 0, 0.2)}
.eb-scx-sv .eb-tx-ar .eb-tt2{display:block;font-weight:700;font-size:4rem;line-height:1.3;margin-top:0.4rem}
.eb-scx-sv .eb-tx-ar .eb-ds{margin-top:3rem;font-size:2rem;line-height:1.6;letter-spacing:-0.3px}
.eb-scx-sv .eb-tx-ar .eb-lk-sv{display:flex;justify-content:center;align-items:center;margin-top:4rem;width:10rem;height:10rem;border-radius:50%;border:1.5px solid #fff;background-color:rgba(255, 255, 255, 0.2)}
.eb-scx-sv .eb-tx-ar .eb-ic-sv{width:2.4rem;height:2.4rem;background:url(img/arw-down.svg) no-repeat center center / 100% auto;transform:rotate(-90deg)}
.eb-scx-sv .eb-bk-tx-ar{position:absolute;bottom:0;left:0;width:100%;display:flex;top:calc(100vh - 280px);z-index:-1}
.eb-scx-sv .eb-bk-tx-ar img:first-child{animation:eb-k-rllx 120s linear infinite;padding-right:100px}
.eb-scx-sv .eb-bk-tx-ar img:last-child{animation:eb-k-rllx2 120s linear infinite;padding-right:100px}
.eb-scx-sv .eb-bk-tx-ar img{max-width:unset;width:fit-content}
@keyframes eb-k-rllx{0%{transform:translateX(0)}50%{transform:translateX(-100%)}50.1%{transform:translateX(100%)}100%{transform:translateX(0)}}
@keyframes eb-k-rllx2{0%{transform:translateX(0)}100%{transform:translateX(-200%)}}
@keyframes eb-k-mrqx-xx{0%{transform:translateX(0)}100%{transform:translateX(-100%)}}
@keyframes eb-k-wvx{0%{transform:translateX(0)}100%{transform:translateX(-200vw)}}
.eb-scx-stnx{position:relative;overflow:hidden}
.eb-scx-stnx .eb-stnx-tp{position:relative;padding:43rem 0 44.6rem;background:linear-gradient(
            180deg,
            rgba(244, 220, 208, 0) 81.25%,
            rgba(222, 216, 211, 0.25) 85.94%,
            rgba(200, 221, 214, 0.5) 90.63%,
            #b9d1e5 100%
        ),
        #fff;overflow:hidden}
.eb-scx-stnx .eb-stnx-tp .eb-tt-ar2{display:flex;flex-direction:column;justify-content:center;align-items:center;position:relative;z-index:10;width:100%;max-width:76rem;margin:0 auto;padding:0 2rem;text-align:center}
.eb-scx-stnx .eb-stnx-tp .eb-pic-wr,.eb-scx-stnx .eb-stnx-tp .eb-ds{opacity:0}
.eb-scx-stnx .eb-stnx-tp .eb-ds{margin-top:4rem;color:#252525;font-size:2.2rem;line-height:1.6;letter-spacing:-0.44px;opacity:0}
.eb-scx-stnx .eb-stnx-tp .eb-pthx-ar{position:absolute;top:16%;right:-10%;width:100%;opacity:0}
.eb-scx-stnx .eb-stnx-tp .eb-eyex-bx{position:absolute;top:16%;right:30rem;width:100%;max-width:34rem;aspect-ratio:340 / 210}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr{position:absolute;bottom:0;left:50%;transform:translate(-50%, 0);width:100%;max-width:1440px}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar{position:absolute;bottom:0;width:17.1875vw;max-width:400px;aspect-ratio:1 / 1;opacity:0}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(1){left:16.8125vw}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(2){left:24.4375vw;z-index:1}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(3){left:33.4125vw;z-index:2}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(4){left:41.2125vw;z-index:3}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(5){right:29.4125vw;z-index:7}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(6){right:21.2125vw;z-index:6}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(7){right:13.8125vw;z-index:5}
.eb-scx-stnx .eb-stnx-tp .eb-dr-pic-wr .eb-pic-ar:nth-child(8){right:13.8125vw;z-index:4}
.eb-scx-stnx .eb-crpx{position:relative}
.eb-scx-stnx .eb-crpx .swiper-slide .eb-lk{display:block;height:16rem;padding:5rem 0}
.eb-scx-stnx .eb-crpx .eb-lk img{height:100%;object-fit:contain}
.eb-scx-grnx{min-height:calc(var(--vh) * 100);display:flex;flex-direction:column;background:url(img/cssmain1cs-06.jpg) no-repeat center center / cover;color:#fff;overflow:hidden}
.eb-scx-grnx .eb-in{display:flex;justify-content:space-between;align-items:center}
.eb-scx-grnx .eb-tt-ar2 .eb-tx2{font-size:2.4rem;line-height:1.3}
.eb-scx-grnx .eb-tt-ar2 .eb-tt2{margin-top:4px;font-weight:700;font-size:4rem}
.eb-scx-grnx .left{display:flex;flex-direction:column;justify-content:center;position:relative;padding:14.3rem 0;overflow:hidden;position:relative;z-index:5;padding-left:7.2rem}
.eb-scx-grnx .left .eb-pic2{margin-top:6rem;width:26.6rem;aspect-ratio:266 / 180}
.eb-scx-grnx .eb-tx-ar2{margin-top:5rem}
.eb-scx-grnx .eb-tx2{font-weight:500;font-size:2.2rem;line-height:1.6}
.eb-scx-grnx .eb-tx2 + .eb-tx2{margin-top:2rem}
.eb-scx-grnx .right{width:31.5625vw;transform:translate(-50px, 22px)}
.eb-scx-grnx .right .eb-pic2{aspect-ratio:606 / 725}
.eb-scx-ev{padding:16rem 0;color:#303030}
.eb-scx-ev .eb-tt-ar2 .eb-tt2{font-weight:700;font-size:4.4rem;line-height:1.3;letter-spacing:-0.88px}
.eb-scx-ev .eb-tt-ar2 .eb-ds{margin-top:4px;font-size:2.4rem;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-ev .eb-ct3{margin-top:4.5rem}
.eb-scx-ev .eb-ct3 .eb-dt{font-family:"Spoqa Han Sans", serif;font-size:1.6rem;letter-spacing:-0.32px;color:#6d6d6d}
.eb-scx-ev .eb-tt-bx2{display:flex;align-items:center;gap:1.2rem}
.eb-scx-ev .swiper{overflow:hidden;padding:0 4rem}
.eb-scx-ev .swiper-slide{width:100%;max-width:35rem}
.eb-scx-ev .eb-lk{display:block}
.eb-scx-ev .eb-thmx2{overflow:hidden;border:1px solid #dbdbdb;border-radius:2.4rem}
.eb-scx-ev .eb-thmx2 img{aspect-ratio:350 / 340;object-fit:cover}
.eb-scx-ev .eb-nf-ar{margin-top:2rem}
.eb-scx-ev .eb-nf-ar .eb-lk-tt{display:block;width:100%;margin-bottom:0.6rem;font-weight:500;font-size:2rem;line-height:1.3;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.eb-scx-ev .swiper-controller{display:flex;justify-content:center;gap:1rem;margin-top:7.5rem}
.eb-scx-ev .swiper-btn{position:relative;width:5.4rem;height:5.4rem;border-radius:50%;background-color:#173348;transition:0.4s ease-in-out}
.eb-scx-ev .swiper-btn:hover{background-color:#173348}
.eb-scx-ev .swiper-btn.swiper-button-disabled{background-color:#d5d5d5}
.eb-scx-ev .swiper-btn::before{content:"";display:block;position:absolute;top:50%;left:50%;width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center center;background-size:100% auto;background-image:url(img/arw-down.svg)}
.eb-scx-ev .swiper-btn.eb-prvx::before{transform:translate(-50%, -50%) rotate(90deg)}
.eb-scx-ev .swiper-btn.eb-nxtx::before{transform:translate(-50%, -50%) rotate(-90deg)}
.eb-scx-mp{display:flex;min-height:calc(var(--vh) * 100);overflow:hidden;color:#303030;background:linear-gradient(180deg, #fff 82.34%, #f5f5f5 100%)}
.eb-scx-mp .eb-mp-lf{position:relative;width:56.25%;padding:12rem 0 8.7rem}
.eb-scx-mp .eb-mp-lf .eb-in{max-width:76rem}
.eb-scx-mp .eb-mp-lf::before{content:"";display:block;position:absolute;right:0;bottom:-25px;width:20vw;aspect-ratio:392 / 588;background:url(img/cssmain1cs-07.webp) no-repeat center center / 100% auto}
.eb-scx-mp .eb-tt-ar2 .eb-tt2{font-size:4.4rem;font-weight:700;line-height:1.3;letter-spacing:-0.88px}
.eb-scx-mp .eb-tt-ar2 .eb-tx2{display:block;margin-top:4px;font-size:2.4rem;font-weight:400;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-mp .eb-tt-ar2 .eb-tx2 strong{font-weight:600;text-decoration:underline}
.eb-scx-mp .eb-ctnx-bx{display:flex;align-items:center;gap:8px;margin-top:1rem}
.eb-scx-mp .eb-ctnx{color:#4d4d4d;font-size:18px;line-height:1.3;letter-spacing:-0.36px}
.eb-scx-mp .eb-ctnx-bx .eb-bt2{display:flex;padding:0.6rem 1.4rem;justify-content:center;align-items:center;gap:1rem;border-radius:999px;background:#e6e6e6;color:#4d4d4d;font-size:1.4rem;font-weight:500;line-height:1.3;letter-spacing:-0.28px}
.eb-scx-mp .eb-lk-ar{display:flex;margin-top:3rem}
.eb-scx-mp .eb-lk{display:flex;justify-content:center;align-items:center;position:relative;padding:0.8rem 3rem}
.eb-scx-mp .eb-lk::before{content:"";width:2.6rem;height:2.6rem;background-repeat:no-repeat;background-position:center center;background-size:100% auto}
.eb-scx-mp .eb-lk-nvrx{color:#fff;background-color:#3cb44a}
.eb-scx-mp .eb-lk-nvrx::before{background-image:url(img/ico-mapmark.svg)}
.eb-scx-mp .eb-lk-kkx{color:#303030;background-color:#ffcc00}
.eb-scx-mp .eb-lk-kkx::before{background-image:url(img/ico-mappin.svg)}
.eb-scx-mp .eb-lk-bkx{color:#fff;background-color:#173348}
.eb-scx-mp .eb-lk-bkx::before{content:none}
.eb-scx-mp .eb-lk .eb-tx2{font-size:1.6rem;font-weight:400;line-height:1.3;letter-spacing:-0.317px}
.eb-scx-mp .eb-wyx-ar{position:relative;max-width:53rem;margin-top:12.4rem;margin-left:4rem}
.eb-scx-mp .eb-wyx-ar .eb-ds{font-size:2.4rem;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-mp .eb-wyx-ar .eb-ds strong{font-size:2.4rem;font-weight:600;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-mp .eb-wyx-ls{margin-top:4rem}
.eb-scx-mp .eb-wyx-it{display:flex;align-items:center;gap:1rem}
.eb-scx-mp .eb-wyx-it + .eb-wyx-it{margin-top:2.4rem}
.eb-scx-mp .eb-wyx-it .eb-pic2{flex:1;width:calc(100% - 9.6rem);aspect-ratio:880 / 180;object-fit:cover}
.eb-scx-mp .eb-wyx-it .eb-tmx{display:flex;padding:0.8rem;justify-content:center;align-items:center;font-family:"Korail Round Gothic";font-weight:500;font-size:1.6rem;line-height:1.3;background-color:#e6e6e6;border-radius:1rem;flex-shrink:0}
.eb-scx-mp .eb-mp-rt{width:43.75%}
.eb-scx-mp .eb-mp-rt #eb-i-mp{width:100%;height:100%;aspect-ratio:840 / 920;background:url(img/event42-06.jpg) no-repeat center center / cover}
.eb-scx-rsrx{position:relative;padding:17.8rem 0;color:#303030}
.eb-scx-rsrx::before{content:"";display:block;position:absolute;bottom:0;right:0;width:54.74vw;aspect-ratio:1051 / 721;background:url(img/cssmain1cs-08.webp) no-repeat center center / 100% auto}
.eb-scx-rsrx .eb-in{display:flex;justify-content:center;align-items:center}
.eb-scx-rsrx .eb-rsrx-lf{width:45%}
.eb-scx-rsrx .eb-tt2{font-size:4.4rem;font-weight:700;line-height:1.3;letter-spacing:-0.88px}
.eb-scx-rsrx .eb-tt-ar2{margin-top:6rem}
.eb-scx-rsrx .eb-tt-ar2 .eb-tt2{font-size:3.2rem;letter-spacing:-0.64px}
.eb-scx-rsrx .eb-ds{font-size:2.4rem;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-rsrx .eb-fm{margin-top:6rem}
.eb-scx-rsrx .eb-fm-grpx{display:grid;grid-template-columns:repeat(2, 1fr);gap:1.4rem}
.eb-scx-rsrx .eb-fm-bx{position:relative;width:100%}
.eb-scx-rsrx .eb-fm-cntx{display:flex;width:100%;min-width:11rem;padding:1.8rem 3rem;border:2.5px solid #d0d0d0;border-radius:2rem;font-size:1.8rem;line-height:1.3;color:#333;transition:0.3s ease}
.eb-scx-rsrx .eb-fm-cntx:focus-within{border:2.5px solid transparent;background-image:linear-gradient(white, white),
        linear-gradient(90deg, rgba(47, 166, 206, 1) 0%, rgba(210, 111, 168, 1) 50%, rgba(229, 118, 39, 1) 100%);background-origin:border-box;background-clip:padding-box, border-box}
.eb-scx-rsrx .eb-fm-cntx:invalid{background-color:rgba(ff0000, 0.05)}
.eb-scx-rsrx .eb-fm-cntx::placeholder{transition:0.3s ease;color:#8d8d8d}
.eb-scx-rsrx .eb-fm-cntx:focus-within::placeholder{color:#333}
.eb-scx-rsrx .nice-select{height:unset}
.eb-scx-rsrx .eb-fncx-ar{display:flex;align-items:center;gap:0.6rem;margin-top:2.2rem;margin-left:1rem;margin-bottom:1rem}
.eb-scx-rsrx .eb-fncx-ar .eb-fncx-anix-bx{margin-top:-0.2rem}
.eb-scx-rsrx .eb-fncx-anix-bx input + label{position:relative;display:flex;justify-content:center;align-items:center;width:2.1rem;height:2.1rem;cursor:pointer;background:url(img/ico-steps.svg) no-repeat -5rem -2rem / 9.1rem 6.2rem}
.eb-scx-rsrx2 .eb-fncx-anix-bx input + label{background:url(img/ico-steps.svg) no-repeat -5rem -2rem / 9.1rem 6.2rem}
.eb-scx-rsrx .eb-fncx-anix-bx input:checked + label{background-position:-2.05rem -2.05rem}
.eb-scx-rsrx .eb-chkx{display:flex;align-items:center;font-size:1.6rem;line-height:1.3;letter-spacing:-0.32px;color:#333}
.eb-scx-rsrx .eb-chkx .eb-llx{text-decoration:underline}
.eb-scx-rsrx .eb-bt-pplx{color:#fff;font-size:1.8rem;font-weight:500;line-height:1.3;border-radius:2rem;letter-spacing:-0.36px;background-color:#173348}
.eb-scx-rsrx .eb-tmx-ls{display:grid;grid-template-columns:repeat(2, 1fr);grid-template-rows:repeat(3, auto);grid-auto-flow:column;gap:1rem min(0.4vw, 8rem);margin-top:2.4rem}
.eb-scx-rsrx .eb-tmx-it{display:flex;align-items:center}
.eb-scx-rsrx .eb-tmx-it:nth-child(n + 4){justify-self:flex-end}
.eb-scx-rsrx .eb-tmx-it + .eb-tmx-it{margin-top:1rem}
.eb-scx-rsrx .eb-tmx-it .eb-nf{display:flex}
.eb-scx-rsrx .eb-tmx-it .eb-nf-tt{width:10rem;font-size:2.2rem;line-height:1.3}
.eb-scx-rsrx .eb-tmx-it .eb-nf-tx2{width:15rem;font-size:2.2rem;line-height:1.3}
.eb-scx-rsrx .eb-tmx-it:nth-last-child(1) .eb-nf-tx2{width:21rem}
.eb-scx-rsrx .eb-tmx-it:nth-last-child(2) .eb-nf-tx2{width:21rem}
.eb-scx-rsrx .eb-ic-bx{display:flex;align-items:center;gap:0.2rem}
.eb-scx-rsrx .eb-ic-bx .eb-ic{width:2.4rem;height:2.4rem;background-repeat:no-repeat;background-position:center center;background-size:100% auto}
.eb-scx-rsrx .eb-ic-bx .eb-ic.eb-ic01{background-image:url(img/ico-reserve-1.svg)}
.eb-scx-rsrx .eb-ic-bx .eb-ic.eb-ic02{background-image:url(img/ico-reserve-2.svg)}
.eb-scx-rsrx .eb-ic-bx .eb-ic.eb-ic03{background-image:url(img/ico-reserve-3.svg)}
.eb-scx-rsrx .eb-ic-bx .eb-tx2{font-size:1.5rem;line-height:1.6;color:#6d6d6d}
.eb-scx-rsrx .eb-rsrx-rt{width:60%}
.eb-scx-rsrx .eb-lk-ar{display:flex;flex-wrap:wrap;gap:2rem;max-width:52rem;margin:0 135px 0 auto}
.eb-scx-rsrx .eb-lk{display:flex;flex-direction:column;justify-content:center;align-items:center;position:relative;width:calc(50% - (2rem / 2));padding:5rem 5rem 7rem;gap:0.4rem;border-radius:1rem}
.eb-scx-rsrx .eb-lk::before{content:"";width:15rem;aspect-ratio:1 / 1;background-repeat:no-repeat;background-position:center center;background-size:100% auto}
.eb-scx-rsrx .eb-lk.eb-lk-nvrx{background:#d3f4d1}
.eb-scx-rsrx .eb-lk.eb-lk-nvrx::before{background-image:url(img/ico-book-3d.svg)}
.eb-scx-rsrx .eb-lk.eb-lk-kkx{background:#ffecaf}
.eb-scx-rsrx .eb-lk.eb-lk-kkx::before{background-image:url(img/ico-talk-3d.svg)}
.eb-scx-rsrx .eb-lk.eb-lk-nlnx{background:#beddf3}
.eb-scx-rsrx .eb-lk.eb-lk-nlnx::before{background-image:url(img/ico-ai-3d.svg)}
.eb-scx-rsrx .eb-lk.eb-lk-phnx{padding-bottom:5.3rem;background:#f4dbdb}
.eb-scx-rsrx .eb-lk.eb-lk-phnx::before{background-image:url(img/ico-phone-3d.svg)}
.eb-scx-rsrx .eb-lk .eb-tx2{margin-top:-0.3rem;font-size:2.4rem;font-weight:600;line-height:1.3;letter-spacing:-0.48px}
.eb-scx-rsrx .eb-lk.eb-lk-nvrx .eb-tx2{color:#10390e}
.eb-scx-rsrx .eb-lk.eb-lk-kkx .eb-tx2{color:#322300}
.eb-scx-rsrx .eb-lk.eb-lk-nlnx .eb-tx2{color:#072a43}
.eb-scx-rsrx .eb-lk.eb-lk-phnx .eb-tx2{color:#351414}
.eb-scx-rsrx .eb-lk .eb-tx-smx{font-weight:600;font-size:1.6rem;line-height:1.3;letter-spacing:-0.32px;color:#5b1b21}
.eb-scx-mdx{display:flex;flex-direction:column;justify-content:center;align-items:center;gap:3.5rem;position:relative;padding:13rem 0 15rem;overflow:hidden;background:rgb(255, 255, 255);background:linear-gradient(180deg, #e5d5d1 0%, #dec3d4 50%, #94b1d7 100%);color:#303030}
.eb-scx-mdx .eb-bk-ar{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}
.eb-scx-mdx .eb-bk-ar .eb-tx2{font-family:"GmarketSansMedium", serif;font-weight:700;font-size:21rem;text-align:center;color:rgba(255, 255, 255, 0.1);white-space:nowrap}
.eb-scx-mdx .eb-tt-ar2{position:relative;z-index:10;text-align:center;color:#fff;text-shadow:0 2px 6px rgba(0, 0, 0, 0.3)}
.eb-scx-mdx .eb-tt-ar2 .eb-tt2{font-weight:700;font-size:4.4rem;line-height:1.3;letter-spacing:-0.88px}
.eb-scx-mdx .eb-ct3{position:relative;z-index:5}
.eb-scx-mdx .eb-tb-mn{max-width:48rem;margin:0 auto;padding:2px;border-radius:999em;overflow:hidden;background-image:linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        linear-gradient(to right, #2fa6ce 0%, #d26fa8 50%, #e57627 100%);background-color:rgba(255, 255, 255, 0.5);background-origin:border-box;background-clip:content-box, border-box}
.eb-scx-mdx .eb-tb-ls{display:flex;justify-content:center;align-items:center;padding:1.1rem}
.eb-scx-mdx .eb-tb-it{flex:1;display:flex;justify-content:center;align-items:center;border-radius:999em;color:#303030;font-size:1.8rem;font-weight:600;line-height:1.3;letter-spacing:-0.36px}
.eb-scx-mdx .eb-tb-it button{padding:1.6rem 0}
.eb-scx-mdx .eb-tb-it.active{background:#173348}
.eb-scx-mdx .eb-tb-it.active .eb-tb-tx{color:#fff}
.eb-scx-mdx .eb-tb-ct{width:100vw;margin-top:6.8rem;padding:0 16rem}
.eb-scx-mdx .eb-tb-ct .eb-ct{display:none}
.eb-scx-mdx .eb-tb-ct .eb-ct.active{display:block}
.eb-scx-mdx .swiper-wrapper{width:100%}
.eb-scx-mdx .swiper-slide{width:36rem;border-radius:2.4rem;box-shadow:0px 1rem 2rem 0px rgba(0, 0, 0, 0.1);background:#fff;transition:0.4s ease-in-out}
.eb-scx-mdx .swiper-slide a{display:block;width:100%}
.eb-scx-mdx .swiper-slide + .swiper-slide{margin-left:2.4rem}
@media (hover: hover){
.eb-scx-mdx .swiper-slide:hover{background:#173348}
.eb-scx-mdx .swiper-slide:hover .eb-tt2,.eb-scx-mdx .swiper-slide:hover .eb-dyx{color:#fff}
}
.eb-scx-mdx .swiper-slide .eb-pic-ar{border-radius:2.4rem;overflow:hidden;aspect-ratio:16/9;width:101%;transform:translate(-0.5%)}
.eb-scx-mdx .swiper-slide .eb-pic-ar img{height:100%}
.eb-scx-mdx .swiper-slide .eb-tx-ar2{display:flex;flex-direction:column;gap:2.6rem;padding:2rem 2.4rem 4.2rem 2.4rem}
.eb-scx-mdx .swiper-slide .eb-ttlx-ar{display:flex;flex-direction:column;gap:1.2rem}
.eb-scx-mdx .swiper-slide .eb-tgx{padding:0.5rem 1rem;border-radius:0.6rem;color:#fff}
.eb-scx-mdx .swiper-slide .eb-tgx.eb-tgx-blx{background:#568cd5}
.eb-scx-mdx .swiper-slide .eb-tgx.eb-tgx-bkx{background:#2c2c2c}
.eb-scx-mdx .swiper-slide .eb-tgx.eb-tgx-rdx{background:#e50e0e}
.eb-scx-mdx .eb-lk-mdx .eb-tt2,.eb-scx-mdx .eb-lk-mdx .eb-dyx,.eb-scx-mdx .swiper-slide .eb-tt2,.eb-scx-mdx .swiper-slide .eb-dyx{transition:0.4s ease-in-out}
.eb-scx-mdx .swiper-slide .eb-tt2{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis;color:#303030;font-size:2rem;font-weight:500;line-height:1.3;letter-spacing:-0.4px}
.eb-scx-mdx .swiper-slide .eb-dyx{color:#6d6d6d;font-family:"Spoqa Han Sans Neo";font-size:1.5rem;font-weight:400;line-height:1.3;letter-spacing:-0.3px}
.eb-ft.eb-nwx{padding-top:0}
.eb-ft.eb-nwx .eb-ftx-btmx{border-top:none}
@media screen and (max-width: 2000px){
.eb-hm .eb-kv-sctx .eb-tx-bx3{top:47%}
}
@media screen and (max-width: 1640px){
.eb-kv-sctx{padding-top:36%}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tx2{font-size:2.4rem}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tt{font-size:6rem}
.eb-hm .eb-kv-sctx .eb-sl-mvx{bottom:9%}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:5rem}
}
@media screen and (max-width: 1440px){
.eb-kv-sctx .eb-kv-swpx{width:calc(100% - 40px)}
.eb-hm .eb-kv-sctx .eb-tx-bx3{left:7%}
.eb-hm .eb-kv-sctx .eb-sl-mvx{left:9%}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tx2{font-size:2.2rem}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tt{font-size:5.2rem}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet > svg{width:30px;height:30px;stroke-dasharray:95;stroke-dashoffset:95}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet:before{width:29px;height:29px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-crcx{cx:15px;cy:15px;r:15px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span{width:2px;height:8px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span + span{margin-left:3px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx{font-size:1.4rem}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx .active{font-size:1.25em}
.eb-kv-sctx .eb-tx-bx3 .eb-bt2{margin-top:4.5rem}
}
@media screen and (max-width: 1200px){
.eb-kv-sctx{padding:61% 8rem 0}
.eb-scx-rsrx .eb-in{flex-direction:column;gap:8vw}
.eb-scx-rsrx .eb-rsrx-lf,.eb-scx-rsrx .eb-rsrx-rt{width:100%}
.eb-scx-rsrx .eb-lk-ar{margin:0 auto}
}
@media screen and (max-width: 768px){
.eb-tp-tt .eb-ds{font-size:1.8rem}
.eb-tp-tt .eb-tt{font-size:28px}
.eb-nf-sctx .eb-nf .eb-tt,.eb-tp-tt .eb-tt.eb-krx{font-size:18px}
.eb-tp-tt .eb-tx2{font-size:10px}
.eb-tp-tt .eb-ds + .eb-tt{margin-top:10px}
.eb-kv-sctx{padding:100% 8em 0}
.eb-kv-sctx .eb-kv-swpx{width:100%}
#eb-i-tmrx{width:35px;height:35px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx-bt{margin-left:30px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-bt2 .eb-psx{width:8px;height:10px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-bt2 .eb-psx span{width:2px}
.eb-hm .eb-kv-sctx .eb-tx-bx3{left:var(--in_pd);top:auto;bottom:20%;transform:translateY(0)}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tx2{margin-bottom:0rem;font-size:3vw}
.eb-hm .eb-kv-sctx .eb-tx-bx3 .eb-tt{font-size:6vw;margin-top:10px}
.eb-hm .eb-kv-sctx .eb-bk-lk{position:absolute;width:100%;height:100%;left:0;top:0}
.eb-kv-sctx .eb-tx-bx3 .eb-bt1{display:none}
.eb-hm .eb-kv-sctx .eb-sl-mvx{left:30px;bottom:20px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx{margin-left:0px;margin-top:8px}
.eb-hm .eb-kv-sctx .eb-scr-dwnx{display:none}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx{font-size:11px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .eb-pgnx .active{font-size:1.15em}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet > svg{width:20px;height:20px;stroke-dasharray:80;stroke-dashoffset:80}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet:before{width:19px;height:19px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-crcx{cx:10px;cy:10px;r:10px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span{width:2px;height:6px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 span + span{margin-left:3px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet .eb-bt2 svg{height:8px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet{width:3px;height:3px}
.eb-hm .eb-kv-sctx .eb-sl-mvx .swiper-pagination-bullet + .swiper-pagination-bullet{margin-left:4rem}
.pc{display:none}
.mo{display:block}
.eb-in{padding:0 max(18px, 2.6rem)}
.eb-lk-rwx{max-width:24rem;padding:1rem}
.eb-lk-rwx::before{content:none}
.eb-lk-rwx .eb-tx2{padding-left:1.7rem;font-size:2rem}
.eb-lk-rwx .eb-ic-rwx{width:5rem;height:5rem;background-size:2.1rem 2.1rem}
.eb-scx-sncx .eb-stcx{z-index:10}
.eb-scx-sncx .eb-stcx-in{justify-content:flex-start;padding-top:16rem}
.eb-scx-sncx .eb-stcx-in:before{content:"";position:absolute;top:0;left:0;width:100%;height:50%;background:linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0))}
.eb-scx-sncx .eb-tt-ar2{position:relative;z-index:10}
.eb-scx-sncx .eb-tt-ar2 .eb-no{font-size:7.8rem}
.eb-scx-sncx .eb-tt-ar2 .eb-tx-bx{margin-left:4px}
.eb-scx-sncx .eb-tt-ar2 .eb-tx{font-size:2.8rem}
.eb-scx-sncx .eb-ds{margin-top:2px;font-size:3.6rem}
.eb-scx-sncx .eb-scr-ar{margin-top:2.8rem;width:10rem;height:10rem;background:rgba(255, 255, 255, 0.6);border-radius:50%;display:flex;flex-direction:column;align-items:center}
.eb-scx-sncx .eb-ic-scr-dwnx{width:5.7rem;height:5.7rem}
.eb-scx-sncx .eb-scr-tx{font-size:2rem}
.eb-scx-sncx .eb-bk-bx{gap:1.5%;height:150vh;margin:0 -7.5%}
.eb-scx-sncx .eb-bk-tp .eb-bk,.eb-scx-sncx .eb-bk-bt .eb-bk{width:30%}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(1){margin-top:105.7rem}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(2){margin-top:16.1rem}
.eb-scx-sncx .eb-bk-tp .eb-bk:nth-child(3){margin-top:88.1rem}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(2){margin-top:88.1rem}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(3){margin-top:16.1rem}
.eb-scx-sncx .eb-bk-bt .eb-bk:nth-child(4){margin-top:105.7rem}
.eb-scx-slgx{height:350vh}
.eb-scx-slgx .eb-stcx-wr{height:450vh}
.eb-scx-slgx .eb-pic-ar{position:static;align-self:center;flex-wrap:wrap;max-width:49.5rem;margin:0 auto;height:auto}
.eb-scx-slgx .eb-pic-bx{width:calc((100% - 8px) / 2);max-width:24.3rem;flex:unset}
.eb-scx-slgx .eb-pic-bx + .eb-pic-bx{margin-left:1rem}
.eb-scx-slgx .eb-pic-bx:nth-child(odd){margin-left:0}
.eb-scx-slgx .eb-pic-bx:nth-child(-n + 2){margin-bottom:1rem}
.eb-scx-slgx .eb-pic-bx:nth-child(3){max-width:24.3rem;height:24.3rem;clip-path:url(img/cssmain1cs-03.jpg)}
.eb-scx-slgx .eb-tx-ar{max-width:unset;padding:0 max(18px, 2.6rem)}
.eb-scx-slgx .eb-ic-slgx{width:7.1rem;height:4.3rem}
.eb-scx-slgx .eb-tt2{gap:1rem}
.eb-scx-slgx .eb-tt2 .eb-pic2{width:27.1rem}
.eb-scx-slgx .eb-tx-bx{margin-top:3.4rem}
.eb-scx-slgx .eb-tx-bx .eb-tx{font-size:2.1rem}
.eb-scx-slgx .eb-tx-bx .eb-tx + .eb-tx{margin-top:2rem}
.eb-scx-slgx .eb-bt-ar{bottom:7.8rem;width:8.6rem;height:8.6rem;border-width:1px}
.eb-scx-slgx .eb-bt-ar .eb-ic{width:2.8rem;height:2.8rem}
.eb-scx-sv{margin-top:0}
.eb-scx-sv .eb-tx-wr{position:absolute;top:auto;bottom:0;left:50%;max-width:90%;width:100%;height:35%;transform:translate(-50%, 0)}
.eb-scx-sv .eb-stcx{min-height:860px}
.eb-scx-sv .swiper-service{width:90%;height:100%;margin:0 auto}
.eb-scx-sv .swiper-service .swiper-slide{padding:100px 0 20px}
.eb-scx-sv .swiper-service .eb-no{font-weight:700;font-size:3.4rem;line-height:1.3;padding-left:20px}
.eb-scx-sv .swiper-service .eb-lk{position:absolute;right:0;bottom:0;width:8.6rem;height:8.6rem;border-radius:50%;background:url(img/cssmain1cs-02.webp) no-repeat center center / 2.8rem 2.8rem #333;transform:rotate(-90deg)}
.eb-scx-sv .eb-sl-wr .eb-pic-bx{position:static;top:unset;left:unset;width:100%;max-width:unset;margin-top:4.3rem;transform:translate(0);aspect-ratio:500 / 660}
.eb-scx-sv .eb-sl-wr .eb-pic-bx .eb-pic2{visibility:visible;opacity:1}
.eb-scx-sv .eb-wvx{position:absolute;top:auto;bottom:0}
.eb-scx-stnx .eb-stnx-tp.hide{opacity:0}
.eb-scx-stnx .eb-stnx-tp .eb-tt2{width:80%;margin:0 auto;gap:1.1rem}
.eb-scx-stnx .eb-stnx-tp .eb-pthx-ar,.eb-scx-stnx .eb-stnx-tp .eb-eyex-bx{display:none}
.eb-scx-stnx .eb-stnx-bt{display:block;height:unset;padding-bottom:17.1rem}
.eb-scx-stnx .eb-stnx-ls{display:block;margin-top:-60vh;height:100%}
.eb-scx-stnx .eb-stnx-it{width:100%;padding:6.5rem 3.4rem 0;border-radius:3.4rem;aspect-ratio:unset}
.eb-scx-stnx .eb-stnx-it .eb-tt-ar2 .eb-tx2{font-size:2.8rem}
.eb-scx-stnx .eb-stnx-it .eb-tt-ar2 .eb-tx-clrx{font-size:5.1rem}
.eb-scx-stnx .eb-stnx-it .eb-ds{margin-top:4.3rem;font-size:2.1rem}
.eb-scx-stnx .eb-stnx-it .eb-ic-bx{position:static;margin-top:2.8rem;margin-right:-3.4rem}
.eb-scx-stnx .eb-stnx-it .eb-ic{width:24.6rem;margin-left:auto;aspect-ratio:172 / 184}
.eb-scx-grnx{min-height:100vh;display:flex;flex-direction:column}
.eb-scx-grnx .eb-in{flex-direction:column;gap:4.3rem}
.eb-scx-grnx .eb-tt-ar2 .eb-tx2{font-size:2.4rem;line-height:1.3}
.eb-scx-grnx .eb-tt-ar2 .eb-tt2{margin-top:4px;font-weight:700;font-size:4rem}
.eb-scx-grnx .left{padding-bottom:0;padding-left:0;align-items:center;text-align:center}
.eb-scx-grnx .right{width:100%;max-width:394px;margin:0 auto;transform:translate(4%, 22px)}
.eb-scx-ev .swiper{padding:0}
.eb-scx-ev .eb-in{padding-right:0}
.eb-scx-nw{padding:11.4rem 0}
.eb-scx-nw .eb-tt-ar2 .eb-tt2{font-size:3.4rem}
.eb-scx-nw .eb-ct3{flex-direction:column;gap:11.4rem;margin-top:4.3rem}
.eb-scx-nw .eb-ct3 .eb-tt-bx2{margin-bottom:2rem}
.eb-scx-nw .eb-ct3 .eb-tt2{font-size:2.6rem}
.eb-scx-nw .eb-ct3 .eb-dt{font-size:1.7rem}
.eb-scx-nw .eb-nw-lf{width:100%}
.eb-scx-nw .eb-nw-lf .eb-tt-bx2{display:block}
.eb-scx-nw .eb-nw-lf .eb-tt-bx2 .eb-sb-tt2{margin-top:2px;font-size:2.6rem}
.eb-scx-nw .eb-nw-lf .swiper{overflow:visible}
.eb-scx-nw .eb-nw-lf .swiper-slide{width:100%;max-width:35.7rem}
.eb-scx-nw .eb-nw-lf .eb-lk{border-radius:2.3rem}
.eb-scx-nw .eb-nw-lf .eb-thmx2 img{aspect-ratio:250 / 235}
.eb-scx-nw .eb-nw-lf .eb-nf-ar{padding:2.6rem 2.1rem}
.eb-scx-nw .eb-nw-lf .eb-nf-ar .eb-lk-tt{margin-bottom:4px;font-size:2.1rem}
.eb-scx-nw .eb-nw-lf .swiper-btn{width:5.4rem;height:5.4rem}
.eb-scx-nw .eb-nw-lf .swiper-btn::before{width:2.3rem;height:2.3rem}
.eb-scx-nw .eb-nw-rt{width:100%}
.eb-scx-nw .eb-nw-rt .eb-tb-it + .eb-tb-it{margin-left:1.4rem;padding-left:1.4rem}
.eb-scx-nw .eb-nw-rt .eb-tb-it + .eb-tb-it::before{height:2.8rem}
.eb-scx-nw .eb-nw-rt .eb-bt2.eb-bt-tlnx{max-width:15.7rem;padding:1rem;font-size:1.7rem}
.eb-scx-nw .eb-nw-rt .eb-lk-nc{gap:3.4rem;padding:2.3rem}
.eb-scx-nw .eb-nw-rt .eb-dt .eb-dyx{font-size:3.1rem}
.eb-scx-nw .eb-nw-rt .eb-nc{font-size:2.1rem}
.eb-scx-mp{flex-direction:column}
.eb-scx-mp .eb-mp-lf{width:100%}
.eb-scx-mp .eb-mp-rt{width:100%}
.eb-scx-mp .eb-lk-ar{display:grid;grid-template-columns:repeat(3, 1fr)}
.eb-scx-mp .eb-wyx-ar{margin-top:7rem;margin-left:0rem}
.eb-scx-mp .eb-wyx-ls{flex-direction:column}
.eb-scx-mp .eb-wyx-it{width:100%;padding:0;aspect-ratio:338 / 84;border-radius:2.3rem}
.eb-scx-mp .eb-wyx-it + .eb-wyx-it{margin-top:1.4rem}
.eb-scx-mp .eb-tx-ar2 .eb-tt2{font-size:2.2rem}
.eb-scx-mp .eb-tx-ar2 .eb-tx-smx{font-weight:400;font-size:1.7rem}
.eb-scx-mp .eb-tx-ar2 .eb-tx2{font-size:2rem}
.eb-scx-mp .eb-ic{width:5.7rem;height:5.7rem}
.eb-scx-mp .eb-ctnx-bx{gap:4px;margin-top:1.4rem}
.eb-scx-mp .eb-ctnx{font-size:13px}
.eb-scx-mp .eb-bt2{padding:0.8rem 1.4rem;font-size:1.6rem}
.eb-scx-mp .eb-mp-lf::before{display:none}
.eb-scx-rsrx .eb-fm-grpx{grid-template-columns:repeat(1, 1fr)}
.eb-scx-rsrx .eb-bt-pplx{padding:1em 0}
.eb-scx-rsrx{padding:11.4rem 0 0}
.eb-scx-rsrx .eb-in{display:flex;flex-direction:column;gap:6rem}
.eb-scx-rsrx .eb-rsrx-lf{width:100%}
.eb-scx-rsrx .eb-tt-ar2 .eb-tx2{font-size:2.1rem}
.eb-scx-rsrx .eb-tt-ar2 .eb-tt2{font-size:3.1rem}
.eb-scx-rsrx .eb-tt-ar2 .eb-tx-grdx::before{height:2px}
.eb-scx-rsrx .eb-tmx-ls{margin:2.8rem 0;display:block}
.eb-scx-rsrx .eb-tmx-it + .eb-tmx-it{margin-top:1rem}
.eb-scx-rsrx .eb-tmx-it .eb-nf{gap:2.3rem}
.eb-scx-rsrx .eb-tmx-it .eb-nf-tt{width:12.3rem}
}
