.eb-hghx-lskx-cont .eb-thmx .eb-sb-ctx-tt h3{background:linear-gradient(315deg, #d19e4a, #fbe68d, #d19e4a);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;color:transparent}
.eb-hghx-lskx-cont .eb-xmx-prcx-sec.eb-thmx .eb-nf-cont .eb-tx-wr3 .eb-tt .eb-no{background:linear-gradient(315deg, #d19e4a, #fbe68d, #d19e4a)}
.eb-hghx-lskx-cont .eb-xmx-prcx-sec.eb-thmx .eb-nf-cont .eb-tx-wr3 .eb-tt h5{background:linear-gradient(315deg, #d19e4a, #fbe68d, #d19e4a);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;color:transparent}
.eb-hghx-tgx-wr{font-size:0;margin-top:20px}
.eb-hghx-tgx-wr li{font-family:Pretendard;font-size:clamp(14px, 1.4vw, 16px);font-weight:500;line-height:160%;letter-spacing:-0.02em;padding:5px 10px;background:#d8e2e9;color:#1e293b;display:inline-block;margin-right:10px;margin-bottom:10px}
.eb-hghx-tgx-wr li:last-child{margin:0}
.eb-hghx-lskx-cont .eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx{align-items:center}
.eb-hghx-lskx-cont .eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 .eb-sx-tt{font-size:clamp(16px, 1.4vw, 26px);margin-bottom:6px;color:#01baff !important}
.eb-hghx-lskx-cont .eb-lf-ar .eb-tx2 span{margin-top:20px;display:inline-block}
.eb-hghx-lskx-cont .eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3{width:52.8%}
@media (max-width: 768px){
.eb-hghx-lskx-cont .eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3{width:100%}
}
