figure{margin:0;padding:0}
.eb-in-ct{max-width:1440px;margin:0 auto;position:relative}
.eb-ct-sec{padding:150px 0}
.eb-ct-sec.eb-qpx-md-sec.eb-sec9.eb-gryx-bk2{padding-top:0}
.eb-ct-sec.eb-lsrx-prcx-sec.eb-thmx.eb-sec4 .eb-tt-ar2{margin-bottom:40px}
.eb-ct-sec.eb-lsrx-prcx-sec.eb-thmx.eb-sec4 .eb-tb-ct2 .eb-tt-ar2{margin-bottom:80px}
.eb-bk-gryx{background-color:#f5f6fa}
.eb-bk-gryx2{background-color:#f8fafc}
.eb-bk-gryx3{background-color:#f1f5f9}
.eb-vrfx-hddx{overflow:hidden}
.eb-mo-blcx{display:none}
@media screen and (max-width: 1540px){
.eb-in-ct{width:calc(100% - 100px)}
}
@media screen and (max-width: 1200px){
.eb-in-ct{width:calc(100% - 50px)}
.eb-ct-sec{padding:100px 0}
}
@media screen and (max-width: 768px){
.eb-in-ct{width:calc(100% - 40px)}
.eb-ct-sec{padding:60px 0;overflow:hidden}
.eb-mo-blcx{display:block}
}
.eb-brcx-tx{color:#1e293b;font-size:24px;font-weight:500;line-height:160%;letter-spacing:-0.02em;padding:6px 26px;position:relative;opacity:0;transition:opacity 0.6s ease}
.eb-brcx-tx.eb-twx-flrx-brcx{display:flex;flex-wrap:wrap}
.eb-brcx-tx::before{content:"";display:block;position:absolute;top:0;left:20%;background:url(img/blank.svg) no-repeat center center / 100% auto;height:100%;aspect-ratio:12.5 / 50;transition:left 0.6s ease}
.eb-brcx-tx::after{content:"";display:block;position:absolute;top:0;right:20%;background:url(img/blank.svg) no-repeat center center / 100% auto;height:100%;aspect-ratio:12.5 / 50;transform:rotate(180deg);transition:right 0.6s ease}
.eb-brcx-tx .eb-brcx-in{overflow:hidden;isolation:isolate}
.eb-brcx-tx .eb-tx2{color:#1e293b;display:block;font-size:24px;font-weight:500;line-height:160%;letter-spacing:-0.02em;transform:translateY(1.6em);transition:transform 0.6s ease}
.eb-brcx-tx.aos-animate{opacity:1;transform:translateY(0)}
.eb-brcx-tx.aos-animate::before{left:0;transition-delay:0.3s}
.eb-brcx-tx.aos-animate::after{right:0;transition-delay:0.3s}
.eb-brcx-tx.aos-animate .eb-tx2{transform:translateY(0);transition-delay:0.6s}
@media screen and (max-width: 768px){
.eb-brcx-tx.eb-twx-flrx-brcx{flex-direction:column}
}
.eb-sb-ctx-tt{margin-bottom:80px;text-align:center;display:flex;flex-direction:column;align-items:center}
.eb-sb-ctx-tt .eb-ic{display:flex;gap:12px;margin-bottom:20px}
.eb-sb-ctx-tt .eb-ic i{display:flex;background:url(img/logo-mark-2.svg) no-repeat center center/contain;background-size:40px 24px;width:40px;height:24px}
.eb-sb-ctx-tt .eb-ic span{color:#0f172a;font-family:"Bricolage Grotesque";font-size:24px;font-weight:500;line-height:150%;letter-spacing:-0.02em}
.eb-sb-ctx-tt .eb-brcx-tx{color:#1e293b;font-family:Pretendard;font-size:24px;font-weight:500;line-height:160%;letter-spacing:-0.02em;margin-bottom:20px;padding:6px 26px;position:relative;opacity:0;transition:opacity 0.6s ease}
.eb-sb-ctx-tt .eb-brcx-tx::before{content:"";display:block;position:absolute;top:0;left:20%;background:url(img/blank.svg) no-repeat center center / 100% auto;height:100%;aspect-ratio:12.5 / 50;transition:left 0.6s ease}
.eb-sb-ctx-tt .eb-brcx-tx::after{content:"";display:block;position:absolute;top:0;right:20%;background:url(img/blank.svg) no-repeat center center / 100% auto;height:100%;aspect-ratio:12.5 / 50;transform:rotate(180deg);transition:right 0.6s ease}
.eb-sb-ctx-tt .eb-brcx-tx .eb-brcx-in{overflow:hidden;isolation:isolate}
.eb-sb-ctx-tt .eb-brcx-tx .eb-tx2{color:#1e293b;display:block;font-size:clamp(16px, 1.6vw, 24px);font-weight:500;line-height:160%;letter-spacing:-0.02em;transform:translateY(1.6em);transition:transform 0.6s ease}
.eb-sb-ctx-tt .eb-brcx-tx.aos-animate{opacity:1;transform:translateY(0)}
.eb-sb-ctx-tt .eb-brcx-tx.aos-animate::before{left:0;transition-delay:0.3s}
.eb-sb-ctx-tt .eb-brcx-tx.aos-animate::after{right:0;transition-delay:0.3s}
.eb-sb-ctx-tt .eb-brcx-tx.aos-animate .eb-tx2{transform:translateY(0);transition-delay:0.6s}
.eb-sb-ctx-tt h3{color:#0f172a;font-size:clamp(20px, 2vw, 40px);font-weight:700;line-height:136%;letter-spacing:-0.02em;margin-bottom:40px}
.eb-sb-ctx-tt .eb-stcx-tb{margin-bottom:40px;margin-top:0}
.eb-sb-ctx-tt p{color:#1e293b;font-family:Pretendard;font-size:clamp(14px, 1.5vw, 20px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
.eb-sb-ctx-tt *:last-child{margin-bottom:0}
@media all and (max-width: 768px){
.eb-sb-ctx-tt .eb-brcx-tx{margin-bottom:8px;padding:0 12px}
.eb-brcx-tx{padding:0 12px}
}
.eb-lf-ctx-tt .eb-tt{margin-bottom:40px}
.eb-lf-ctx-tt .eb-tt h5{display:flex;gap:12px;margin-bottom:20px}
.eb-lf-ctx-tt .eb-tt h5 img{width:40px;display:block}
.eb-lf-ctx-tt .eb-tt h5 span{color:#0f172a;font-family:"Bricolage Grotesque";font-size:clamp(14px, 1.5vw, 24px);font-weight:500;line-height:150%;letter-spacing:-0.02em}
.eb-lf-ctx-tt .eb-tt h6{color:#0f172a;font-size:clamp(18px, 1.8vw, 28px);font-weight:600;line-height:140%;letter-spacing:-0.02em}
.eb-lf-ctx-tt .eb-tt h3{color:#0f172a;font-size:clamp(20px, 2vw, 40px);font-weight:700;line-height:136%;letter-spacing:-0.02em}
.eb-lf-ctx-tt .eb-tx2 p{color:#1e293b;font-size:clamp(14px, 1.5vw, 20px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
.eb-lf-ctx-tt .eb-tx2 .eb-sb-tx{margin-top:40px}
.eb-lf-ctx-tt .eb-tx2 .eb-sb-tx .eb-bk-tx{padding:2px 10px;color:#fff;font-size:clamp(12px, 1.2vw, 16px);font-weight:500;line-height:160%;letter-spacing:-0.02em;border-radius:8px;display:block;max-width:fit-content;margin-bottom:10px}
.eb-lf-ctx-tt .eb-tx2 .eb-sb-tx p{color:#334155;font-size:clamp(14px, 1.4vw, 18px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
@media all and (max-width: 768px){
.eb-lf-ctx-tt .eb-tt{margin-bottom:20px}
.eb-lf-ctx-tt .eb-tx2 .eb-sb-tx{margin-top:20px}
}
.eb-smlx-cont .eb-sb-tp-sec{background-image:url(img/csscgcss-01.jpg)}
.eb-xmnx-cont .eb-sb-tp-sec{background-image:url(img/csscgcss-05.jpg)}
.eb-sb-tp-sec{display:flex;background-size:cover;background-position:center;background-repeat:no-repeat;position:relative;height:100vh;max-height:860px;align-items:center;justify-content:center}
.eb-sb-tp-sec .eb-tt-wr h5{color:#fff;text-align:center;font-size:68px;font-weight:700;line-height:130%}
.eb-sb-tp-sec .eb-brdx{position:absolute;bottom:60px;width:100%;pointer-events:none;display:flex;justify-content:center}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in{display:flex;align-items:center;justify-content:center;pointer-events:all;padding:24px 60px;border-radius:16px;background:rgba(255, 255, 255, 0.5);backdrop-filter:blur(15px);border-radius:16px;isolation:isolate;gap:40px}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx{position:relative}
.eb-sb-tp-sec .eb-brdx .eb-symx{width:36px}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx.eb-dptx{border-right:1px solid #fff;padding-right:40px}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx.eb-dptx2{padding-right:0;padding-left:40px}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx .eb-mn-bx-in{display:flex;align-items:center;justify-content:space-between;min-width:225px;cursor:pointer}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in h5{color:#fff;font-size:18px;font-weight:500;line-height:160%;letter-spacing:-0.02em;cursor:pointer}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx .eb-mn-bx-ls{height:0;overflow:hidden;isolation:isolate;position:absolute;top:-40px;left:0;transform:translateY(-100%);background-color:#fff;border-radius:10px;min-width:100%;transition:height 0.5s cubic-bezier(0.4, 0, 0.2, 1)}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx .eb-mn-bx-ls ul{padding:20px}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx li{margin-bottom:4px}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx li:last-of-type{margin-bottom:0}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx li a{display:block;color:#64748b;font-size:16px;font-weight:500;line-height:160%;letter-spacing:-0.02em;transition:color 0.6s ease}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx li a:hover{color:#0f172a}
.eb-sb-tp-sec .eb-tt-wr h2,.eb-tt-wr .eb-sb-pgx-tt{color:#fff;text-align:center;font-family:Pretendard;font-size:clamp(24px, 3vw, 68px);font-style:normal;font-weight:700;line-height:130%;padding-bottom:20px}
.eb-sb-tp-sec .eb-tt-wr .eb-sb-tt{color:#fff;text-align:center;font-size:clamp(14px, 1.5vw, 24px);font-family:Pretendard;font-weight:300;line-height:160%;letter-spacing:-0.48px}
@media all and (max-width: 1200px){
.eb-sb-tp-sec .eb-brdx .eb-mn-bx .eb-mn-bx-in{min-width:150px}
}
@media all and (max-width: 768px){
.eb-sb-tp-sec{height:106.67vw}
.eb-sb-tp-sec .eb-brdx{bottom:20px}
.eb-sb-tp-sec .eb-tt-wr h2,.eb-tt-wr .eb-sb-pgx-tt{padding-bottom:0}
.eb-ntrx-pnx-sec{padding:0}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in{padding:12px 16px;gap:8px;width:calc(100% - 30px)}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx .eb-mn-bx-in{min-width:0}
.eb-sb-tp-sec .eb-brdx .eb-symx{width:20px}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx.eb-dptx{padding-right:8px;flex:1}
.eb-sb-tp-sec .eb-brdx .eb-mn-bx.eb-dptx2{padding-left:8px;flex:1}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in h5{font-size:12px}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx .eb-mn-bx-ls ul{padding:12px;width:max-content}
.eb-sb-tp-sec .eb-brdx .eb-brdx-in .eb-mn-bx li a{font-size:12px}
.eb-sb-ctx-tt{margin-bottom:30px}
.eb-sb-ctx-tt h3{margin-bottom:20px}
}
.eb-pntx-sec{overflow:hidden}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx{display:flex;justify-content:space-between;padding:50px;border-radius:40px;background:linear-gradient(180deg, #f8fafc 0%, #f1f5f9 100%);margin-bottom:40px;gap:50px;position:relative;overflow:hidden}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3{padding-left:30px;padding-top:30px;flex-shrink:0}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt{margin-bottom:25px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt h5{color:#fff;font-family:"Bricolage Grotesque";font-size:clamp(10px, 1vw, 16px);font-weight:500;line-height:160%;letter-spacing:0.02em;margin-bottom:50px;background-color:#1e293b;border-radius:100px;width:max-content;padding:4px 12px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt h3{color:#1e293b;font-family:Pretendard;font-size:clamp(18px, 1.8vw, 34px);font-weight:600;line-height:140%;letter-spacing:-0.02em}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt h6{color:#1e293b;font-family:Pretendard;font-size:clamp(15px, 1.5vw, 20px);font-style:normal;font-weight:600;line-height:160%;letter-spacing:-0.02em}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tx2 p{color:#1e293b;font-family:Pretendard;font-size:clamp(14px, 1.4vw, 20px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr{width:41.67%}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2{border-radius:20px;overflow:hidden;isolation:isolate}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2 video{width:100%}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2 img{width:100%}
.eb-pntx-sec .eb-dcx-tx-wr{margin-top:80px;pointer-events:none;pointer-events:none}
@media all and (max-width: 768px){
.eb-pntx-sec .eb-dcx-tx-wr{margin-top:60px}
}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx{padding:50px 80px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3{width:43.8%;padding:30px 0}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tx2 p{letter-spacing:-0.4px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx{position:relative;width:100%;overflow:hidden}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .swiper-slide .eb-pic2{position:relative;width:100%;height:100%}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .swiper-slide .eb-pic2 img{width:100%;height:auto;display:block}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .eb-ar-grpx{display:flex;gap:8px;position:absolute;left:20px;top:50%;transform:translateY(-50%);z-index:1;width:calc(100% - 40px);justify-content:space-between}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .eb-ar-bt{display:inline-flex;justify-content:center;align-items:center;width:20px;height:20px;border-radius:9999px;border:none;background:url(img/swiper-arrow.svg) no-repeat center center/contain;cursor:pointer;transition:background 0.2s ease, opacity 0.2s ease}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .eb-ar-bt.swiper-button-disabled{opacity:0.3}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .eb-ar-bt svg{width:20px;height:20px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .eb-ar-nxtx{transform:rotate(180deg)}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .swiper-pagination{bottom:14px;z-index:1}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .swiper-pagination .swiper-pagination-bullet{width:8px;height:8px;background:#cbd5e1;opacity:1;transition:background 0.2s ease}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pntx-swpx .swiper-pagination .swiper-pagination-bullet-active{background:#1e293b}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2{position:relative}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2 .eb-nf{position:absolute;left:0;bottom:0;display:inline-flex;padding:21px 20px 22px 20px;justify-content:center;align-items:center;background-color:#181818;color:#fff;font-size:clamp(12px, 1.2vw, 17px);letter-spacing:-0.34px;width:100%;text-align:center}
.eb-dcx-tx-wr{width:100%;overflow:hidden;font-size:clamp(32px, 7.4vw, 140px);padding-bottom:0.2em}
.eb-dcx-tx-wr .eb-dcx-rllx{display:flex;align-items:center;width:max-content;animation:eb-k-dcx-tx-anix linear 15s infinite}
.eb-dcx-tx-wr .eb-dcx-rllx h5{color:#f5f6fa;font-family:"Bricolage Grotesque";font-size:1em;font-style:normal;font-weight:600;line-height:100%;letter-spacing:-0.02em;padding:0 clamp(7.5px, 2vw, 35px)}
@media all and (max-width: 768px){
.eb-dcx-tx-wr .eb-dcx-rllx h5{font-size:60px !important}
}
@keyframes eb-k-dcx-tx-anix{to{transform:translateX(-50%)}from{transform:translateX(0)}}
@media all and (max-width: 1200px){
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx{padding:30px}
}
@media all and (max-width: 768px){
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx{flex-direction:column;gap:24px;padding:16px;border-radius:16px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3{width:100%;padding:12px 0}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt{margin-bottom:4px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt h5{margin-bottom:20px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 .eb-tt h6{margin-bottom:12px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-tx-wr3 p br{display:none}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr{width:100%}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2{border-radius:8px}
.eb-pntx-sec .eb-nf-ls-wr .eb-nf-bx .eb-pic-wr .eb-pic2 .eb-nf{padding:10px}
}
.eb-nmbx-ls-sec .eb-in-ct{display:flex;justify-content:space-between;gap:50px}
.eb-nmbx-ls-sec .eb-tx-wr3{flex-shrink:0}
.eb-nmbx-ls-sec .eb-tx-wr3 img{width:160px;margin-bottom:50px}
.eb-nmbx-ls-sec .eb-tx-wr3 h5{color:#0f172a;font-family:Pretendard;font-size:clamp(20px, 2vw, 40px);font-style:normal;font-weight:700;line-height:136%;letter-spacing:-0.02em}
.eb-nmbx-ls-sec .eb-ls-wr{display:flex;flex-direction:column;gap:16px;width:49.31%}
.eb-nmbx-ls-sec .eb-ls-wr li{display:flex;width:100%;align-items:center;gap:20px;padding:20px;border-radius:20px;border:2px solid transparent;background:#fff;background:linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #2fa6ce 0%, #d26fa8 50%, #e57627 100%) border-box}
.eb-nmbx-ls-sec .eb-ls-wr .eb-no{display:flex;border-radius:12px;background:#1e293b;display:flex;width:48px;height:48px;align-items:center;justify-content:center;color:#fff;text-align:center;font-family:"Bricolage Grotesque";font-size:24px;font-weight:500;line-height:150%;letter-spacing:-0.02em}
@media all and (max-width: 768px){
.eb-nmbx-ls-sec .eb-in-ct{flex-direction:column;justify-content:flex-start;gap:40px}
.eb-nmbx-ls-sec .eb-tx-wr3 img{width:100px;margin-bottom:20px}
.eb-nmbx-ls-sec .eb-ls-wr{width:100%;gap:8px}
.eb-nmbx-ls-sec .eb-ls-wr li{padding:10px;gap:10px;border-radius:10px}
.eb-nmbx-ls-sec .eb-ls-wr .eb-no{width:27px;height:27px;font-size:13px;border-radius:4px}
}
.eb-ev-sec .eb-ev-ls-wr{overflow-x:auto}
.eb-ev-sec .eb-ev-ls-wr .eb-ev-ls{display:flex;gap:25px}
.eb-ev-sec .eb-ev-ls-wr .eb-ev-bx{border-radius:20px;overflow:hidden;isolation:isolate;aspect-ratio:1 / 1;flex:1}
.eb-ev-sec .eb-ev-ls-wr li{min-width:200px}
.eb-ev-sec .eb-ev-ls-wr li img{object-fit:cover}
.eb-rdrx-ls-sec .eb-it-ls-wr{display:flex;gap:30px;justify-content:center}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx{display:flex;flex-direction:column;gap:20px}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-pic-wr img{display:block;width:100%}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-pic-wr.eb-rdsx-pic{border-radius:20px;overflow:hidden;isolation:isolate}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3{flex:1;display:flex;flex-direction:column;text-align:center;align-items:center;gap:12px}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3 .eb-no{display:flex;width:40px;height:40px;justify-content:center;align-items:center;border-radius:50%;background:linear-gradient(180deg, #4daf83 -43.28%, #2fa6ce 143.28%);color:#fff;font-family:"Bricolage Grotesque";font-size:20px;font-weight:500;line-height:100%}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3 p{color:#1e293b;text-align:center;font-family:Pretendard;font-size:clamp(14px, 1.5vw, 20px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3.eb-lf-tx{text-align:left;align-items:flex-start}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3.eb-lf-tx .eb-no-tx{display:flex;align-items:center;gap:12px}
@media all and (max-width: 1200px){
.eb-rdrx-ls-sec .eb-it-ls-wr{flex-wrap:wrap}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx{width:calc(50% - 15px)}
}
@media all and (max-width: 768px){
.eb-rdrx-ls-sec .eb-it-ls-wr{gap:20px}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx{width:100%;gap:12px}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3 .eb-no{width:24px;height:24px;font-size:12px}
.eb-rdrx-ls-sec .eb-it-ls-wr .eb-it-bx .eb-tx-wr3{gap:8px}
}
.eb-xmx-prcx-sec{overflow:hidden}
.eb-xmx-prcx-sec .eb-nf-cont{padding-left:calc(50% - (1440px / 2));padding-right:100px;position:relative}
.eb-xmx-prcx-sec .eb-nf-cont2{padding-left:calc(50% - (1440px / 2));padding-right:100px;position:relative}
.eb-xmx-prcx-sec .swiper-slide{display:flex;align-items:flex-end;gap:clamp(30px, 8vw, 135px);transition:opacity 0.8s ease;opacity:0.5}
.eb-xmx-prcx-sec .eb-pic-wr{width:45.49%;max-width:600px}
.eb-xmx-prcx-sec .eb-pic2{overflow:hidden;isolation:isolate;width:100%;border-radius:500px;transition:all 1s ease;background-color:#fff}
.eb-xmx-prcx-sec .eb-pic2 img{width:100%;height:100%;object-fit:cover;aspect-ratio:131/92}
.eb-xmx-prcx-sec .swiper-slide-active{opacity:1}
.eb-xmx-prcx-sec .swiper-slide-active .eb-pic2{border-radius:30px}
.eb-xmx-prcx-sec .eb-tx-wr3{flex:1;max-width:540px}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tt{display:flex;align-items:center;gap:12px;margin-bottom:30px;flex-wrap:wrap}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tt .eb-no{border-radius:9999px;background:#0f172a;display:flex;padding:4px 12px;color:#fff;font-family:"Bricolage Grotesque";font-size:clamp(10px, 1vw, 16px);font-weight:500;line-height:160%;letter-spacing:0.02em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tt p{color:#0f172a;font-size:clamp(14px, 1.4vw, 20px);font-weight:600;line-height:160%;letter-spacing:-0.02em;width:100%}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tt h5{color:#0f172a;font-size:clamp(18px, 1.8vw, 34px);font-style:normal;font-weight:600;line-height:140%;letter-spacing:-0.02em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2{font-size:clamp(14px, 1.4vw, 20px);min-height:8em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 p{color:#1e293b;font-style:normal;font-weight:600;line-height:160%;letter-spacing:-0.02em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 .eb-smlx-tx{font-size:0.9em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 ul li{color:#1e293b;font-size:clamp(14px, 1.2vw, 18px);font-weight:400;line-height:160%;letter-spacing:-0.02em;list-style-type:disc;margin-left:1.4em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 .eb-hsx-tt-ls{display:flex;flex-direction:column;gap:12px;margin-top:30px}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 .eb-hsx-tt-ls li{display:flex;align-items:flex-start;gap:30px;color:#334155;font-size:clamp(14px, 1.2vw, 18px);font-weight:400;line-height:160%;letter-spacing:-0.02em}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2 .eb-hsx-tt-ls .eb-ls-tt{color:#1e293b;font-weight:600;flex-shrink:0}
.eb-xmx-prcx-sec .eb-bt-wr2{position:absolute;z-index:2;top:clamp(20px, 3vw, 100px);left:calc(50% - (1440px / 2));display:flex;align-items:center;justify-content:center;gap:18px;margin-left:39%}
.eb-xmx-prcx-sec .eb-bt-wr2 .eb-bt2{border:0;padding:0;display:block}
.eb-xmx-prcx-sec .eb-bt-wr2 button svg{display:block}
.eb-xmx-prcx-sec .eb-bt-wr2 button svg path{fill:#1e293b}
.eb-xmx-prcx-sec .eb-bt-wr2 .eb-pgx-wr{display:flex;align-items:center;gap:18px;color:#1e293b;font-family:"Bricolage Grotesque";font-size:clamp(14px, 1.4vw, 24px);font-style:normal;font-weight:500;line-height:160%}
.eb-xmx-prcx-sec .eb-bt-wr2 .eb-pgx-wr .eb-crcx{opacity:0.3}.eb-xmx-prcx-sec .eb-bt-wr2 .eb-pgx-wr .eb-pgx-ttlx{opacity:0.65}
.eb-xmx-prcx-sec .eb-nf-wr .eb-nf-ls{display:flex;align-items:center;justify-content:center;gap:48px;margin-bottom:80px}
.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tt h5,.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tx2 p{color:#fff}
.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tt .eb-no{border-radius:9999px;background:#fff;color:#0f172a}
.eb-xmx-prcx-sec.eb-bk-xmnx{background:linear-gradient(180deg, #454faa 0%, #634b8e 100%)}
.eb-xmx-prcx-sec.eb-hsx-bk .eb-sb-ctx-tt h3,.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tt p,.eb-xmx-prcx-sec.eb-hsx-bk .eb-bt-wr2 .eb-pgx-wr,.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tx2 li,.eb-xmx-prcx-sec.eb-hsx-bk .eb-tx-wr3 .eb-tx2 .eb-hsx-tt-ls .eb-ls-tt{color:#fff}
.eb-xmx-prcx-sec.eb-hsx-bk .eb-bt-wr2 button svg path{fill:#fff}
.eb-sb37 .eb-xmx-prcx-sec .eb-bt-wr2{top:auto;bottom:-95px;left:50%;transform:translateX(-50%);margin-left:0 !important}
.eb-xmx-prcx-sec .eb-nf-cont-wr{position:relative;display:grid}
.eb-xmx-prcx-sec .eb-nf-cont-wr .eb-nf-cont{grid-area:1 / 1;min-width:0;opacity:0;pointer-events:none;transition:opacity 0.8s ease}
.eb-xmx-prcx-sec .eb-nf-cont-wr .eb-nf-cont2{grid-area:1 / 1;min-width:0;opacity:0;pointer-events:none;transition:opacity 0.8s ease}
.eb-xmx-prcx-sec .eb-nf-cont-wr .eb-nf-cont.active{opacity:1;pointer-events:all}
.eb-xmx-prcx-sec .eb-nf-cont-wr .eb-nf-cont2.active{opacity:1;pointer-events:all}
@media screen and (max-width: 1540px){
.eb-xmx-prcx-sec .eb-nf-cont{padding:0 50px}
.eb-xmx-prcx-sec .eb-nf-cont2{padding:0 50px}
.eb-xmx-prcx-sec .eb-bt-wr2{left:50px}
.eb-xmx-prcx-sec .eb-tx-wr3{padding-right:20px}
}
@media screen and (max-width: 1200px){
.eb-xmx-prcx-sec .eb-nf-cont{padding:0 25px}
.eb-xmx-prcx-sec .eb-nf-cont2{padding:0 25px}
.eb-xmx-prcx-sec .eb-bt-wr2{display:none}
.eb-sb37 .eb-xmx-prcx-sec .eb-nf-cont{padding-bottom:70px}
.eb-sb37 .eb-xmx-prcx-sec .eb-bt-wr2{display:flex;bottom:0}
}
@media screen and (max-width: 768px){
.eb-xmx-prcx-sec .eb-nf-cont{padding:0 20px}
.eb-xmx-prcx-sec .eb-nf-cont .swiper-wrapper{margin:0}
.eb-xmx-prcx-sec .eb-nf-cont2{padding:0 20px}
.eb-xmx-prcx-sec .swiper-slide-active .eb-pic2{border-radius:12px}
.eb-xmx-prcx-sec .swiper-slide{flex-direction:column;align-items:flex-start}
.eb-xmx-prcx-sec .eb-pic-wr{width:100%}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tt{margin-bottom:12px}
.eb-xmx-prcx-sec .eb-tx-wr3 .eb-tx2{min-height:6.4em}
}
