*{margin:0;padding:0;scroll-behavior:smooth;font-family:Pretendard,sans-serif;letter-spacing:-1px;box-sizing:border-box;word-break:keep-all}
html{font-size:62.5%}
img{max-width:100%}
a{color:#2C2C2C;text-decoration:none}
a:hover,a:focus,a:visited{text-decoration:none}
.oy-flxx{display:flex}
.oy-hm-wr{width:100%;max-width:980px;margin:0 auto;background:#000000}
.oy-hm-wr .oy-cont{padding:0 40px}
.oy-stcx-mn{position:sticky;top:0;height:98px;line-height:98px;display:flex;background:#fff;gap:1px;z-index:9}
.oy-stcx-mn a{flex:1;background:#979fbd;text-align:center;font-size:2.5rem;color:#fff}
.oy-stcx-mn a.active{background:#6a8bff}
.oy-qk-mn{position:fixed;bottom:0;height:80px;line-height:80px;display:flex;z-index:9;width:100%;max-width:980px}
.oy-qk-mn>*{flex:1;background:#2A2A2A;text-align:center;font-size:3rem;color:#fff;font-weight:600;cursor:pointer}
.oy-qk-mn a{background:#965b35}
.oy-bx-tt{background:#6a8bff;width:100%;line-height:100px;font-size:5.5rem;font-weight:600;color:#fff;text-align:center;margin-top:50px}
.oy-bx{background:#fff;padding:50px 35px;margin-top:30px;min-height:300px;text-align:left;display:flex;flex-direction:column;justify-content:space-between;gap:60px}
.oy-ptx-60{padding-top:60px}
.oy-mtx-0{margin-top:0}
.oy-mtx-60{margin-top:60px}
.oy-mtx-100{margin-top:100px}
.oy-bx .oy-chkx-flxx{align-items:flex-start;gap:24px}
.oy-bx input[type="checkbox"]{opacity:0;width:0;margin:0}
.oy-bx input[type="checkbox"]+ label{position:relative;height:42px;display:block;width:42px}
.oy-bx input[type="checkbox"]+ label::before{display:block;content:'';width:40px;height:40px;border-radius:5px;background-color:#ffffff;border:1px solid #63668b}
.oy-bx input[type="checkbox"]:checked +label::before{background:#6a8bff;border:none}
.oy-bx input[type="checkbox"]:checked +label::after{display:block;content:'';width:50px;height:50px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-size:50px;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E")}
.oy-bx .oy-tt{font-size:5rem;font-weight:500}
.oy-bx .oy-tt span.oy-sb-tt4{font-size:3rem;font-weight:500;color:#656565;display:block;margin-top:10px}
.oy-bx .oy-tt span.oy-bstx{color:#fa3e57;margin-right:4px}
.oy-bx .oy-tt span.oy-htx{color:#fa3e57;display:block;font-size:3rem;font-weight:600;margin-top:-30px}
.oy-bx .oy-tt span.oy-nlyx{color:#bf76ff;display:block;font-size:3rem;font-weight:600;margin-top:-30px}
.oy-bx .oy-tt span.oy-mntx2{color:#4cc9a7;display:block;font-size:3rem;font-weight:600;margin-top:-30px}
.oy-bx .oy-tt span.oy-mntx2 span{color:#6a8bff}
.oy-bx .oy-tt span.oy-tp-tx2{display:block;font-size:3rem;font-weight:600;margin-top:-30px}
.oy-bx .oy-prcx-flxx{justify-content:end;align-items:baseline;gap:10px}
.oy-bx .oy-prcx-sb{font-size:3rem;text-decoration:line-through;color:#656565;font-weight:500}
.oy-bx .oy-prcx2{font-size:6rem;font-weight:700;line-height:1}
.oy-bx .oy-prcx2 span.oy-wnx{font-size:3rem;color:#211f1f;font-weight:400;vertical-align:middle;margin-left:5px}
.oy-ft{padding-bottom:80px}
.oy-pp-wr{display:none;overflow-x:hidden;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:999999;background:rgba(0, 0, 0, 0.7)}
.oy-pp-wr>div{position:absolute;background:#fff;padding:100px 40px 70px;border-radius:20px;z-index:1000;width:550px;transform:translate(-55%, -55%);left:55%;top:55%}
.oy-pp-wr .oy-bt-cls{background:url(img/icon-close.svg) no-repeat center;width:24px;height:24px;position:absolute;right:30px;top:30px}
.oy-pp-wr .oy-pp-cntx{max-width:460px;margin:0 auto;text-align:center}
.oy-pp-wr .oy-pp-cntx .oy-tt2{font-size:3rem;font-weight:700;color:#DDA478;margin-bottom:24px}
.oy-pp-wr .oy-pp-cntx .oy-ds{font-size:2rem;color:#333;margin-bottom:30px;line-height:30px}
.oy-pp-wr .oy-bt-flxx .oy-flxx+ .oy-flxx{margin-top:15px}
.oy-pp-wr .oy-bt-flxx .oy-flxx{border:1px solid #DDDDDD;height:70px;padding:20px 24px;border-radius:12px}
.oy-pp-wr .oy-bt-flxx a{align-items:center;justify-content:space-between;font-size:2rem;font-weight:500;color:#333333}
.oy-pp-wr .oy-bt-flxx a>div:first-child{display:inline-flex;align-items:center;font-size:2rem;font-weight:700;gap:10px}
@media (max-width: 769px){
html{font-size:6px}
.oy-hm-wr{max-width:100%}
.oy-hm-wr .oy-cont{padding:0 15px}
.oy-stcx-mn{flex-wrap:wrap;height:auto !important;line-height:initial !important}
.oy-stcx-mn a{flex:auto;width:calc(50% - 1px);display:inline-flex;min-height:40px;align-items:center;justify-content:center}
.oy-sec01{background-position:center top}
.oy-bx{padding:20px 15px;min-height:auto;gap:20px}
.oy-bx input[type="checkbox"]+ label::before{width:20px;height:20px}
.oy-bx input[type="checkbox"]+ label{width:20px;height:20px}
.oy-bx input[type="checkbox"]:checked +label::after{background-size:20px;background-repeat:no-repeat;width:20px;height:20px}
.oy-bx .oy-tt{font-size:20px}
.oy-bx .oy-tt span.oy-sb-tt4{font-size:15px;margin-top:5px}
.oy-bx .oy-prcx2{font-size:26px}
.oy-bx-tt{height:60px;line-height:60px;font-size:26px}
.oy-bx:has(.oy-nlyx,.oy-mntx2,.oy-htx){padding-top:40px}
.oy-bx .oy-tt span.oy-mntx2,.oy-bx .oy-tt span.oy-nlyx,.oy-bx .oy-tt span.oy-htx{font-size:13px}
.oy-pp-wr>div{max-width:90vw;padding:40px 20px}
.oy-pp-wr .oy-pp-cntx .oy-tt2{font-size:20px;margin-bottom:10px}
.oy-pp-wr .oy-pp-cntx .oy-ds{font-size:15px;line-height:1.4}
.oy-pp-wr .oy-bt-flxx .oy-flxx{height:45px;line-height:45px}
.oy-pp-wr .oy-bt-flxx .oy-flxx img{transform:scale(0.8)}
.oy-pp-wr .oy-bt-cls{transform:scale(0.6);top:15px;right:15px}
.oy-qk-mn{height:60px;line-height:60px}
.oy-ft{padding-bottom:60px}
}
.oy-hm-wr{background:#fff}
.oy-stcx-mn{flex-wrap:wrap;justify-content:space-between;height:calc(97px * 2);background:#bfbdbc}
.oy-stcx-mn a{background:#292a2c;width:calc(100% / 4 - 1px);flex:initial;color:#fff;font-weight:600;line-height:3rem;font-size:2rem;display:flex;flex-direction:column;height:97px;justify-content:center}
.oy-stcx-mn a strong{display:block;color:#f7d802}
.oy-stcx-mn a.active{background:#b75211;color:#fff}
.oy-stcx-mn a.active strong{color:#fff}
.oy-pckx-bx .oy-tx-wr{padding:5.5rem 6.6rem;background:#fff;border-radius:2rem;box-shadow:3.83px 3.214px 2.5px rgba(19,19,19,0.22)}
.oy-pckx-bx + .oy-pckx-bx{margin-top:5rem}
.oy-pckx-bx .oy-chkx-flxx{align-items:center;gap:15px;display:flex}
.oy-pckx-bx input[type="checkbox"]{opacity:0;width:0;margin:0}
.oy-pckx-bx .oy-chkx{margin-top:-7.5rem}
.oy-pckx-bx input[type="checkbox"]+ label{position:relative;height:42px;display:block;width:42px}
.oy-pckx-bx input[type="checkbox"]+ label::before{display:block;content:'';width:40px;height:40px;border-radius:5px;background-color:#ffffff;border:1px solid #63668b}
.oy-pckx-bx input[type="checkbox"]:checked +label::before{background:#6a8bff;border:none}
.oy-pckx-bx input[type="checkbox"]:checked +label::after{display:block;content:'';width:50px;height:50px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-size:50px;background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E")}
.oy-pckx-bx .oy-tt{color:#2d2a2a;font-size:4.5rem;font-weight:600}
.oy-pckx-bx h3{font-size:3.3rem;color:#656565;font-weight:500;padding-top:2.5rem}
.oy-pckx-bx ul{padding-top:4rem}
.oy-pckx-bx li{list-style:none;color:#211f1f;font-weight:600;font-size:3.7rem;padding:2rem 3rem;border-bottom:0.2rem dashed #828392}
.oy-pckx-bx li:last-child{border-bottom:0}
.oy-pckx-bx .oy-ttlx-prcx{display:flex;align-items:center;justify-content:space-between;border-radius:2rem;padding:3rem 8rem;box-shadow:3.83px 3.214px 2.5px rgba(19,19,19,0.22)}
.oy-pckx-bx .oy-ttlx-prcx p{font-size:6.5rem;color:#fff;font-weight:600}
.oy-pckx-bx .oy-ttlx-prcx p span{font-size:4rem;font-weight:400;display:inline-block;margin-left:0.5rem}
.oy-sec08{background:#ffeedc;padding-bottom:100px}
.oy-sec08 .oy-tp-pbx{margin-top:-3.8rem}
.oy-bk-1-pic{background:url(img/cssstyle10-01.jpg)no-repeat center top;background-size:cover;padding-bottom:100px}
.oy-sec03-2{background:url(img/cssstyle10-02.jpg)no-repeat center top;background-size:cover;padding-bottom:100px}
.oy-bk-2-pic{background:#bbeaff url(img/cssstyle10-03.jpg)no-repeat center top;background-size:cover;padding-bottom:100px}
.oy-bk-3-pic{background:url(img/cssstyle10-04.jpg)no-repeat center top;background-size:cover;padding-bottom:100px}
.oy-bx{-webkit-mask:radial-gradient(circle 38px at left center, transparent 98%, black 100%),
    radial-gradient(circle 38px at right center, transparent 98%, black 100%),
    linear-gradient(black, black);-webkit-mask-composite:destination-out;mask:radial-gradient(circle 38px at left center, transparent 98%, black 100%),
    radial-gradient(circle 38px at right center, transparent 98%, black 100%),
    linear-gradient(black, black);mask-composite:exclude;position:relative;padding:55px 55px 45px 55px;gap:40px;position:relative}
.oy-lmtx-bdgx-pic{position:absolute;right:0;top:0}
.oy-bx .oy-prcx2{background:linear-gradient(#dc5809 0%, #b25111 99%);background-clip:text;-webkit-background-clip:text;color:transparent;letter-spacing:-0.04em}
.oy-bx .oy-prcx2 span.oy-wnx{font-weight:500;margin-left:10px}
.oy-bx .oy-tp-tx3{color:#b75211;font-size:3.3rem;font-weight:700;letter-spacing:-0.04em}
.oy-bx .oy-tt{color:#2d2a2a;font-size:4.5rem;font-weight:600;letter-spacing:-0.04em;padding-top:1.5rem}
.oy-bx .oy-bt-tx{color:#656565;font-size:3.3rem;font-weight:500;letter-spacing:-0.04em;padding-top:1.5rem;display:inline-block}
.oy-bx .oy-chkx-flxx .oy-chkx{margin-top:4.5rem}
.oy-bfrx-ftrx-wr{padding-bottom:6rem}
.oy-bx .oy-prcx-flxx strong{display:inline-block;background:#b84408;color:#fff;font-size:3.3rem;border-radius:100px;line-height:1;font-weight:500;padding:1rem 2rem}
.oy-bx .oy-prcx-flxx strong.oy-lngx{padding:1rem 4rem}
.oy-bx .oy-prcx-flxx strong span{font-size:2rem}
.oy-bx .oy-prcx-flxx strong.oy-nnx{background:#fff;padding:0;color:#656565;font-size:3rem}
.oy-bx .oy-prcx-flxx + .oy-prcx-flxx{margin-top:3rem}
.oy-bx .oy-prcx-flxx{gap:20px}
.oy-bx .oy-prcx-flxx.oy-wr{flex-direction:column;align-items:end}
.oy-bx .oy-prcx-flxx .oy-mlnx{display:none}
.oy-bx .oy-prcx-flxx .oy-prcx-rl{justify-content:end;align-items:baseline;gap:20px}
@media (max-width: 900px){
.oy-bx{-webkit-mask:radial-gradient(circle 10px at left center, transparent 98%, black 100%),
		radial-gradient(circle 10px at right center, transparent 98%, black 100%),
		linear-gradient(black, black);-webkit-mask-composite:destination-out;mask:radial-gradient(circle 10px at left center, transparent 98%, black 100%),
		radial-gradient(circle 10px at right center, transparent 98%, black 100%),
		linear-gradient(black, black);mask-composite:exclude}
.oy-lmtx-bdgx-pic{width:23vw}
}
@media (max-width: 769px){
.oy-pckx-bx .oy-tx-wr{padding:30px 15px}
.oy-pckx-bx .oy-ttlx-prcx{padding:20px 15px}
.oy-pckx-bx .oy-ttlx-prcx span img{max-width:25vw}
.oy-pckx-bx .oy-ttlx-prcx p{font-size:26px}
.oy-pckx-bx ul{padding-top:15px}
.oy-pckx-bx li{font-size:5vw;padding:10px}
.oy-pckx-bx h3{font-size:25px}
.oy-pckx-bx input[type="checkbox"]+ label::before{width:20px;height:20px}
.oy-pckx-bx input[type="checkbox"]+ label{width:20px;height:20px}
.oy-pckx-bx input[type="checkbox"]:checked +label::after{background-size:20px;background-repeat:no-repeat;width:20px;height:20px}
.oy-stcx-mn a{height:auto !important;line-height:auto !important}
.oy-bx{padding:30px 15px}
.oy-bx .oy-tp-tx3{font-size:20px}
.oy-bx .oy-tt{font-size:25px}
.oy-bx .oy-bt-tx{font-size:15px}
.oy-bx .oy-chkx-flxx{gap:15px}
.oy-bx .oy-prcx2 span.oy-wnx{margin-left:5px}
.oy-bx .oy-prcx-flxx{gap:10px}
.oy-bx .oy-prcx-flxx.oy-mox-wr{flex-direction:column;align-items:end;gap:5px}
.oy-bx .oy-prcx-flxx strong{font-size:2.5rem}
}
@media (max-width: 640px){
.oy-pckx-bx .oy-tt{font-size:6.8vw}
.oy-pckx-bx h3{font-size:5vw;padding-top:8px}
.oy-sec08 .oy-tp-pbx{margin-top:-1.8rem}
.oy-bx .oy-prcx-flxx strong.oy-nnx{font-size:2.5rem}
}
