body,html{font-family:"Pretendard Variable",
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        "Helvetica Neue",
        "Segoe UI",
        "Apple SD Gothic Neo",
        "Noto Sans KR",
        "Malgun Gothic",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif}
body{isolation:isolate;-ms-overflow-style:none}
::-webkit-scrollbar{display:none}
body.nlisx-ldnx{overflow:hidden}
*{margin:0;padding:0;box-sizing:border-box;text-decoration:none;list-style:none;word-break:keep-all}
:root{--serif:"Noto Serif KR", serif;--bg-main:#f7f4ef;--point:#996441;--text-title:#1f1f1f;--text-body:#6a6a6a;--accent-primary:#ed6d1f;--accent-warm:#7a6759;--line-soft:#d8cfc6;--inline:4.2%;--gap:62vw;--header-h:5rem}
h1,h2,h3{font-family:var(--serif)}
section{position:relative;width:100%}
.nltt{overflow:hidden}
section .nlsec-tt h3::before{color:#eee8e2;position:absolute;top:-100%;text-align:center;width:100%;content:attr(data-title);opacity:0.5;display:block;font-size:max(3rem, 4vw);font-weight:900;z-index:-1}
main{overflow-x:hidden;background:var(--bg-main);position:relative;z-index:1}
img{max-width:100%;display:block}
a{display:block;color:inherit}
#nli-qk-fm{display:none}
.nlbt-bnnx{position:fixed;bottom:0;z-index:80;height:max(62px, 5vh);width:100%;box-shadow:0px -2px 12px 0px rgba(0, 0, 0, 0.04);background-color:#efe8de1f;backdrop-filter:blur(6px);transition:0.5s}
.nlbt-bnnx:hover{background-color:var(--accent-primary)}
.nlbt-bnnx:hover .nlpcx-cntx h5{color:#fff}
.nlbt-bnnx:hover button{background:#fff;color:var(--accent-primary);font-weight:900}
.nlbt-bnnx:hover .nlsgnx{color:#f5f5f5;font-weight:300}
.nlbt-bnnx-wr{width:100%;height:100%;display:flex}
.nlbt-bnnx-wr .nlpcx-cntx{display:flex;max-width:1280px;justify-content:center;margin:0 auto;align-items:center;color:#000;gap:1.5rem}
.nlbt-bnnx-wr .nlpcx-cntx h5{font-size:1.5rem;color:var(--accent-primary);font-weight:700;margin-inline:0.2rem;margin-bottom:1px}
.nlbt-bnnx-wr .nlpcx-cntx .nlsgnx{display:flex;align-items:center;gap:10px;font-size:13px;font-weight:600}
.nlbt-bnnx-wr .nlpcx-cntx .nlsgnx input{width:1rem;height:1rem;margin:0;border:none;border-radius:0;cursor:pointer}
.nlpcx-cntx .nlno-wr{display:flex;align-items:center;max-width:420px;gap:0.25rem}
.nlpcx-cntx .nlsgnx-nm input{max-width:210px}
.nlpcx-cntx input{border:none;border-radius:4px;width:100%;height:40px;padding-left:20px;font-size:16px;box-sizing:border-box;font-family:inherit}
.nlpcx-cntx input:focus{box-shadow:none !important}
.nlbt-bnnx-wr>div{display:flex;width:100%;height:100%}
.nlbt-bnnx-wr .nlmx-cntx{display:none}
.nlbt-bnnx-wr .nlmx-cntx>div{font-size:14px;width:50%;display:flex;justify-content:center;align-items:center;color:#fff}
.nlbt-bnnx-wr .nlmx-cntx a{font-weight:500;width:100%;color:#fff;text-align:center;height:100%;display:flex;align-items:center;justify-content:center;background:var(--accent-primary)}
.nlbt-bnnx-wr .nlmx-cntx div:last-child{background:#fff}
.nlbt-bnnx-wr .nlmx-cntx div:last-child a{color:#000;background:#fff}
.nlbt-bnnx-wr button{cursor:pointer;width:128px;height:2.75rem;border:none;border-radius:500000px;display:flex;justify-content:center;align-items:center;background-color:var(--accent-primary);color:#fff;font-size:1.125rem;font-weight:700}
header{position:fixed;top:0;left:0;width:100%;height:var(--header-h);z-index:9;transition:0.35s ease;opacity:1;backdrop-filter:blur(7px)}
header.hide{transform:translateY(-100%);opacity:0}
header.hide .nllg{filter:grayscale(1)}
header .nlhd-wr{display:flex;align-items:center;justify-content:space-between;padding-block:1rem;padding-inline:var(--inline)}
header .nlhd-wr nav ul{display:flex;gap:1rem}
header .nlhd-wr nav ul li{position:relative}
header .nlhd-wr nav ul li a{padding:1rem;font-size:1rem;color:var(--text-title);transition:0.3s}
header .nlhd-wr nav ul li a:hover{color:var(--accent-primary)}
#nli-m1x{position:relative;width:100%;height:100vh;display:flex;align-items:center;text-align:center;justify-content:center}
#nli-m1x .nlrl{position:absolute;pointer-events:none;width:1px;height:10vh;opacity:0;left:auto;right:auto;bottom:15vh;z-index:9;background:var(--line-soft);transition:0.3s;animation:nlk-mvx 3.2s ease-in-out infinite}
#nli-m1x .nlhm-tt{position:absolute;color:#ffffff;overflow:hidden;perspective:1000px;transform-style:preserve-3d;transition:0.3s;width:100%}
#nli-m1x .nlhm-tt h2{font-size:clamp(1.25rem, 5vw, 2.25rem);text-align:center;color:inherit;width:100%;font-weight:400;animation:nlk-sltx 1.5s 1.2s forwards;transform:translateY(100%);position:relative}
#nli-m1x .nlhm-tt h2::before{position:absolute;top:-100%;display:inline-block;left:50%;transform:translateX(-50%);content:"오늘을 완성하는 인테리어";line-height:1.36;vertical-align:middle;text-align:center;font-weight:400;font-size:1.625rem;color:#fff;background:#ed6e1f;padding-inline:0.625rem;text-align:center;border-radius:4px}
#nli-m1x .nlvdx-cont{width:100%;height:100%}
#nli-m1x video{width:100%;height:100%;object-fit:cover;display:block;scale:0.87;border-radius:2rem}
#nli-m2x{position:relative;height:100vh;display:flex}
#nli-m2x .nlds{display:flex;justify-content:center;align-items:center;width:100%;height:100%;position:relative;gap:var(--gap)}
#nli-m2x p{width:1ch;opacity:0;scale:1.5;transform:translateX(100%);line-height:1.7;font-weight:600;color:var(--accent-warm);font-size:clamp(1.125rem, 1.458vw, 1.75rem);font-family:var(--serif);word-wrap:break-word}
#nli-m2x .left{left:var(--gap)}
#nli-m2x .right{right:var(--gap)}
#nli-m2x p span{display:block}
#nli-m2x .right span{transform:translateX(-100%)}
#nli-m3x{padding-top:8rem;min-height:100vh;display:flex;flex-direction:column;padding-inline:4.2%}
#nli-m3x ul{display:flex;gap:1rem;justify-content:space-between}
#nli-m3x ul li{width:100%;overflow:hidden;position:relative;height:600px;border-radius:14px}
#nli-m3x ul li:nth-of-type(odd){transform:translateY(15%)}
#nli-m3x ul li .nlmgbx{position:absolute;inset:0;scale:1;clip-path:inset(0 0 100% 0);opacity:0.5}
#nli-m3x ul li:hover .nlmgbx img{filter:brightness(0.9)}
#nli-m3x ul li .nlmgbx img{width:100%;height:110%;scale:1.05;opacity:0.2;transform:translateY(-20%);object-fit:cover;transition:0.5s}
#nli-m3x ul li p{position:absolute;text-align:center;align-content:center;font-size:1rem;height:100%;width:100%;opacity:0;color:#fff;font-family:var(--serif);transform:translateY(5%);transition:0.7s}
#nli-m3x ul li:hover p{opacity:1;transform:translateY(0)}
#nli-m3x .nlsec-tt{display:flex;justify-content:flex-end;margin-bottom:2rem;gap:7rem;padding-top:25vh;opacity:0.64}
#nli-m3x .nlsec-tt h3{font-size:clamp(1.375rem, 1.667vw, 2rem);font-family:var(--serif);color:#241e12;font-weight:400}
#nli-m3x .nlsec-tt p{display:block;text-align:left;padding-right:3.5rem;line-height:1.5;color:var(--text-body);font-size:1rem}
#nli-m4x{max-width:100%;width:100%;overflow:hidden;margin-top:1rem;height:100vh}
#nli-m4x .nlm4x-bk{width:100%;height:100%;opacity:0;scale:1.2}
#nli-m4x img{width:100%}
.nlclpx-stcx{position:relative;height:100vh;overflow:hidden}
#nli-m4x .nlbk{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;font-size:4vw;background-size:cover;background-position:center;filter:brightness(0.5)}
#nli-m4x .nlbk:not(:first-child){border-radius:2rem}
#nli-m4x .nlbk>a{position:absolute;bottom:5%;background:#17130c;color:#fff;aspect-ratio:1;line-height:1;overflow:hidden;display:none;justify-content:center;align-items:center;padding:2.75rem;font-weight:100;transition:0.5s;border-radius:1rem;margin-bottom:1rem}
#nli-m4x .nlbk>a:hover{scale:0.94;rotate:180deg}
#nli-m4x .nlbk>a span{background:white;width:2px;height:2.25rem;position:absolute;display:block}
#nli-m4x .nlbk>a span:nth-of-type(2){width:2.25rem;height:2px}
.nldx-sec{position:relative;z-index:2;overflow:hidden;min-height:100vh;padding-block:10rem 6rem;align-content:center;background:#241e12}
.nldx-sec::after{pointer-events:none;position:absolute;content:"";display:none;inset:0;opacity:1;background:#241e12e5;backdrop-filter:blur(4px)}
.nldx-sec .nltt{position:absolute;display:flex;padding-inline:var(--inline);justify-content:space-between;width:100%;top:10%;left:0;z-index:3;color:#fff}
.nldx-sec .nltt h3{font-size:clamp(1.125rem, 1.458vw, 1.75rem);font-weight:400}
.nldx-sec .nltt p{margin-top:1rem;line-height:1.5;opacity:0.9;font-size:1rem;color:#fff}
.nlsl{position:relative;z-index:2;overflow:hidden;width:100%}
.nlsl-ftrx{position:absolute;inset:0;display:flex;align-items:center;justify-content:center;background:rgba(10, 10, 10, 0.25);opacity:0;transition:0.5s;z-index:3}
.nlsl-ftrx a{background:#ed6d1f;color:#fff;aspect-ratio:1;padding:1rem 2rem;border-radius:55rem;align-content:center}
.nlsl:hover .nlsl-ftrx{opacity:1}
.nlsl ul{display:flex;gap:2rem;width:max-content;will-change:transform;animation:nlk-sl 70s linear infinite;position:relative}
.nlsl::before,.nlsl::after{background:linear-gradient(to right, #241e12, rgba(255, 255, 255, 0) 100%);content:"";height:100%;position:absolute;width:16%;z-index:2}
.nlsl::after{right:0;top:0;transform:rotateZ(180deg)}
.nlsl::before{left:0;top:0}
.nlsl ul li a{display:block;border-radius:0.5rem;max-width:20vw;overflow:hidden}
.nlsl ul li a img{width:100%;height:100%;display:block;object-fit:cover}
.nlplsx{transition:0.6s;aspect-ratio:1;height:100%}
.nlplsx:hover{rotate:180deg;scale:1.18}
#nli-m5x{text-align:center;padding-inline:var(--inline);padding-block:10rem}
#nli-m5x .nltt{padding-block:0 8rem;text-align:center}
#nli-m5x .nltt h3{font-size:clamp(1.25rem, 1.667vw, 2rem);font-family:var(--serif);font-weight:400;margin-bottom:1rem;color:var(--text-title)}
#nli-m5x .nltt p{color:var(--text-body)}
#nli-m5x ul{display:flex;background:#ffffff;border-radius:2rem;flex-direction:column;overflow:hidden}
#nli-m5x ul a{display:block;width:100%;color:inherit;font-size:1rem;padding:1.75rem;color:#fff;background:var(--accent-warm);transition:background 0.5s;clip-path:inset(0% 0% 100% 0%)}
#nli-m5x ul a:hover{background:#897364}
#nli-m5x ul li{display:flex;justify-content:space-between;padding-inline:5%;width:100%;margin:0 auto;flex:1;position:relative;padding-block:10vh;border-bottom:1px solid #ebebeb;gap:5rem}
#nli-m5x ul li .nlmgbx{overflow:hidden}
#nli-m5x ul li .nlmgbx img{border-radius:14px}
#nli-m5x ul li .nlds{text-align:left;display:flex;max-width:55%;flex-direction:column;justify-content:space-between;padding-block:1rem}
#nli-m5x ul li .nlds-tt span{display:block;margin-bottom:1.25rem;color:#8f784b}
#nli-m5x ul li .nlds-tt h3{font-size:clamp(1.25rem, 1.667vw, 2rem);margin-bottom:1.5rem;font-weight:500;color:var(--text-title)}
#nli-m5x ul li .nlds-tt p{color:var(--text-title);font-weight:500}
#nli-m5x ul li .nlds-px p{line-height:1.7;color:var(--text-body)}
#nli-m5x ul li .nlds-nf{display:flex;gap:5rem}
#nli-m5x ul li .nlds-nf dt{margin-bottom:1rem;color:var(--text-body)}
#nli-m5x ul li .nlds-nf dd{font-weight:500;color:var(--text-title)}
#nli-m6x{display:flex;justify-content:space-between;padding-inline:var(--inline);align-items:center;width:100%;background:url(img/cssmaincss-01.jpg) no-repeat center / cover;background-attachment:fixed}
#nli-m6x::before{position:absolute;content:"";inset:0;width:100%;height:100%;background:linear-gradient(45deg, rgba(0, 0, 0, 0.45), transparent)}
#nli-m6x .nltt{width:100%;text-align:left;padding-left:1rem}
#nli-m6x h3{font-size:clamp(1.125rem, 1.458vw, 1.75rem);font-family:var(--serif);margin-bottom:1.5rem;color:#fff;font-weight:400}
#nli-m6x p{line-height:1.5;color:var(--bg-main);text-align:left;display:block}
#nli-m6x .nlmgbx{width:50%;height:80vh;overflow:hidden}
#nli-m6x .nlmgbx img{height:100%;object-fit:cover}
#nli-m6x a{display:inline-block;border-radius:5rem;background:var(--accent-primary);color:#fff;padding:0.75rem 1.875rem;margin-top:2rem}
#nli-m6x .nlclcx-bx{display:none}
.nlbk-1{background:#f7f4ef;z-index:1;background:url(img/cssmaincss-02.jpg) no-repeat center / cover;background-attachment:fixed}
.nlbk-2{background:#ede8e1;z-index:2;clip-path:inset(100% 0% 0% 0%);background:url(img/cssmaincss-03.jpg) no-repeat center / cover !important;background-attachment:fixed}
.nlbk-3{background:#e2ddd6;z-index:3;clip-path:inset(100% 0% 0% 0%);background:url(img/cssmaincss-04.jpg) no-repeat center / cover;background-attachment:fixed}
.nlbk-4{background:#e2ddd6;z-index:4;clip-path:inset(100% 0% 0% 0%);background:url(img/cssmaincss-05.jpg) no-repeat center / cover !important;background-attachment:fixed}
.nlbk-5{background:#e2ddd6;z-index:4;clip-path:inset(100% 0% 0% 0%);background:url(img/cssmaincss-06.jpg) no-repeat center / cover !important;background-attachment:fixed}
footer{position:relative;background:var(--accent-warm);color:#fff}
.nlft-wr{display:flex;position:relative;align-items:center;justify-content:space-between;padding:var(--inline)}
.nlft-wr .nlfx-lf{display:flex;gap:5rem;align-items:center}
.nlft-wr .nlfx-nf p{line-height:1.7;font-size:14px;opacity:0.9}
footer .nlfmlx{position:relative}
footer .nlfmlx button{position:relative;cursor:pointer;display:flex;align-items:center;padding:0.625rem 1rem;justify-content:space-between;color:rgba(0, 0, 0, 0.55);width:10rem;font-size:14px;text-align:left;font-weight:600;background:var(--bg-main);border-radius:30px;border:none}
footer .nlfmlx ul{position:absolute;top:-300%;left:0;z-index:3;background:var(--accent-primary);border-radius:1rem;width:100%;padding:1rem;opacity:0;transition:0.3s;visibility:hidden}
footer .nlfmlx ul.open{opacity:1;visibility:visible}
footer .nlfmlx ul li a{padding-block:0.75rem;color:#fff}
footer .nlfx-snsx{display:flex;margin-top:1.25rem;gap:1rem;justify-content:center}
footer .nlfx-snsx li a{padding:0.5rem;aspect-ratio:1;max-width:2.5rem;border:1px solid var(--line-soft);border-radius:5rem}
footer .nlcp{border-top:1px solid var(--line-soft);text-align:center;padding:8px var(--inline) 6px;font-size:14px;font-weight:300}
footer .nlcp p{color:#f7f4ef;font-weight:200;font-size:14px}
#nli-a1x{padding-inline:var(--inline);width:100%;padding-top:var(--header-h)}
#nli-a1x .nlbnnx{height:62vh;border-radius:1.5rem;overflow:hidden;width:100%;background:url(img/cssmaincss-07.jpg) no-repeat center / cover;animation:nlk-clpx-pthx 1.7s ease forwards;clip-path:inset(0% 100% 0% 0%)}
#nli-a1x .nlds{display:flex;align-items:center;gap:6.75rem;overflow:hidden}
#nli-a1x .nlds .nltt{overflow:hidden;padding-block:4.5rem;flex-basis:60%;border-right:1px solid #d9d2cb}
#nli-a1x .nlds .nltt span{overflow:hidden;animation:nlk-fdpx 1s 0.3s ease forwards;transform:translateY(100%);opacity:0;color:var(--accent-primary);font-size:1.125rem;margin-bottom:1.5rem;display:block}
#nli-a1x .nlds .nltt h3{overflow:hidden;animation:nlk-fdpx 1.2s 0.3s ease forwards;transform:translateY(70%);opacity:0;line-height:1.2;font-family:initial;font-weight:500;color:var(--accent-primary);font-size:clamp(1.25rem, 2.25rem, 1.875vw)}
#nli-a1x .nlds .nltt h4{overflow:hidden;animation:nlk-fdpx 1s 0.5s ease forwards;transform:translateY(50%);opacity:0;margin-bottom:10px;line-height:1.2;font-family:initial;font-weight:100;color:var(--text-title);font-size:clamp(1.25rem, 2.25rem, 1.875vw)}
#nli-a1x .nlds .nltt-px{overflow:hidden}
#nli-a1x .nlds .nltt-px p{overflow:hidden;animation:nlk-fdpx 1.3s 0.6s ease forwards;transform:translateY(50%);opacity:0;padding-top:2rem;font-size:1rem;font-weight:300;line-height:1.52;color:#4a4a4a}
.nlcrcx-svgx{overflow:visible}
#nli-a2x{padding-inline:var(--inline);border-block:1px solid #d9d2cb;padding-block:4rem}
#nli-a2x ul{display:flex}
#nli-a2x ul::before{position:absolute;content:"";z-index:-1;left:0;top:50%;height:1px;width:100%;margin:0 auto;background-color:#d9d2cb}
#nli-a2x ul::after{height:100%;background-color:#d9d2cb;position:absolute;left:50%;content:"";display:none;width:1px}
#nli-a2x ul li{position:relative;z-index:1}
#nli-a2x ul li a svg circle{transition:fill 0.3s}
#nli-a2x ul li:hover a svg circle{fill:#fdf0e8;stroke-width:0.5px;transition:0.3s}
#nli-a2x ul li:hover h4{color:var(--accent-primary);transition:0.3s}
#nli-a2x ul li:hover svg circle{stroke:var(--accent-primary);transition:0.4s}
#nli-a2x h4{color:var(--text-title);font-size:1.25rem;font-weight:400;position:absolute;inset:0;align-content:center;text-align:center}
#nli-a3x{display:flex;justify-content:space-between;padding-inline:var(--inline);padding-block:5rem}
#nli-a3x .nlnf{display:flex;align-items:center;justify-content:space-around;width:100%;padding:3rem;background:url(img/cssmaincss-08.jpg).jpg) no-repeat center / cover;background-attachment:fixed;border-radius:50rem}
#nli-a3x .nlnf .nlmp{padding:0}
#nli-a3x .nlnf p{color:#fff;font-size:1.25rem}
#nli-a3x .nlnf>*{flex:1;text-align:center}
@keyframes nlk-clpx-pthx{to{clip-path:inset(0% 0% 0% 0%)}}
@keyframes nlk-fdpx{to{transform:translateY(0);opacity:1}}
@keyframes nlk-mvx{0%{transform:translateY(0)}50%{transform:translateY(30%)}100%{transform:translateY(0%)}}
@keyframes nlk-sltx{0%{transform:translateY(100%);color:var(--accent-primary)}100%{transform:translateY(0%);color:#fff}}
@keyframes nlk-sl{to{transform:translateX(calc(-1 * var(--loop-width)))}}
@media all and (max-width: 768px){
.nlbt-bnnx{height:3rem}
.nlbt-bnnx-wr .nlpcx-cntx{display:none}
.nlbt-bnnx-wr .nlmx-cntx{display:flex}
.nllg{max-width:22vw}
header{height:68px}
header .nlhd-wr nav ul{gap:0}
header .nlhd-wr nav ul li a{padding:0.6rem;font-size:13px}
#nli-m1x video{scale:1;border-radius:0}
#nli-m1x .nlhm-tt h2::before{display:none}
#nli-m2x .nlds{gap:30rem;flex-direction:column}
#nli-m2x p{width:100%;transform:translate(0) !important;text-align:center}
#nli-m2x .right span{transform:none}
#nli-m3x{padding-top:0}
#nli-m3x ul{flex-direction:column;gap:1.5rem}
#nli-m3x ul li{height:400px}
#nli-m3x ul li:nth-of-type(odd){transform:translateY(0)}
#nli-m3x ul li .nlmgbx img{height:120%}
#nli-m3x .nlsec-tt{flex-direction:column;gap:1.25rem;padding-top:3.5rem}
#nli-m3x .nlsec-tt p{font-size:14px}
#nli-m4x{margin-top:5rem}
.nldx-sec{padding-block:0}
.nldx-sec .nltt{gap:2rem}
.nlplsx{width:2.5rem}
.nldx-sec .nltt p{font-size:14px;max-width:92%}
.nlsl ul{gap:1rem}
.nlsl ul li a{max-width:64vw;aspect-ratio:3 / 4}
.nlsl-ftrx a{padding:1rem 1.25rem;font-size:14px}
#nli-m5x{padding-top:7rem}
#nli-m5x .nltt{padding-bottom:5rem}
#nli-m5x .nltt p{font-size:14px;padding-inline:0.5rem;line-height:1.55}
#nli-m5x ul li{flex-direction:column-reverse;gap:1.25rem}
#nli-m5x ul li .nlds{max-width:100%}
#nli-m5x ul li{padding:3rem 2rem 4rem}
#nli-m5x ul li .nlds-tt span{font-size:14px;margin-bottom:1rem}
#nli-m5x ul li .nlds-tt p{font-weight:400;font-size:14px}
#nli-m5x ul li .nlds-px p{font-size:14px;line-height:1.8;margin-block:2rem 2.75rem}
#nli-m5x ul li .nlds-nf{font-size:14px}
#nli-m5x ul li .nlds-nf{gap:0;justify-content:space-between}
#nli-m5x ul a{font-size:14px;padding:1.25rem}
#nli-m6x .nltt{text-align:center}
#nli-m6x p{text-align:center;font-size:14px;line-height:1.64}
#nli-m6x a{font-size:14px}
#nli-m6x2 .nlclcx-bx{display:block}
#nli-m6x h3{margin-bottom:1rem}
:root{--header-h:68px}
#nli-a1x{margin-top:var(--header-h)}
#nli-a1x .nlds{flex-direction:column;align-items:baseline;gap:1.25rem;padding-bottom:3.25rem}
#nli-a1x .nlds .nltt{border-right:none;padding-block:2.5rem 0}
#nli-a1x .nlds .nltt h4{margin-bottom:4px}
#nli-a1x .nlds .nltt-px p{font-size:14px;line-height:1.6;padding-top:0}
#nli-a1x .nlds .nltt span{font-size:14px;margin-bottom:1rem}
#nli-a2x ul{display:grid;grid-template-columns:1fr 1fr;position:relative}
#nli-a2x ul::after{display:block}
#nli-a2x ul li{padding:0.5rem}
#nli-a2x h4{font-size:1rem}
#nli-a2x{padding:0}
.nlcrcx-svgx{width:100%;height:auto}
#nli-a3x{padding-block:3.5rem;padding-inline:0}
#nli-a3x .nlnf{flex-direction:column;border-radius:0;gap:1rem}
#nli-a3x .nlnf>div{width:100%}
#nli-a3x .nlnf p{font-size:14px;background:var(--accent-primary);padding:0.25rem 0.6rem;border-radius:4px}
.nlsb-tt .nlsec-tt p{font-size:14px;line-height:1.5}
footer .nlfx-lg{max-width:100px}
.nlft-wr .nlfx-lf{gap:1rem;flex-direction:column}
.nlft-wr{padding:3rem 3rem 2.5rem;gap:1.75rem;flex-direction:column}
.nlft-wr .nlfx-nf p{font-size:12px;text-align:center}
footer .nlfx-rt{display:flex;flex-direction:column;align-items:center;justify-content:center}
footer .nlfx-snsx{margin-top:2rem}
footer .nlfmlx button{font-size:12px;width:auto;gap:2rem;line-height:0;padding:0.55rem 1rem}
footer .nlfmlx ul li a{font-size:14px}
footer .nlcp p{font-size:12px}
}
.nlfm{display:flex;flex-direction:column;gap:10px;width:100%;background-color:#fff;padding-block:20px 10%;border-radius:20px;position:relative;max-width:1400px;margin:0 auto}
.nlflxx{display:flex;width:100%;gap:1rem}
.nlfm label{position:relative;flex:1}
.nlfm label .nlip{width:100%;border-radius:1rem;padding:10px 10px 20px 1rem;outline:0;border:1px solid #333}
.nlfm label .nlip+span{position:absolute;left:1rem;top:15px;color:#333;font-size:0.9em;cursor:text;transition:0.3s ease}
textarea::placeholder{color:#333;font-size:0.9rem;font-family:"Pretendard Variable",
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        "Helvetica Neue",
        "Segoe UI",
        "Apple SD Gothic Neo",
        "Noto Sans KR",
        "Malgun Gothic",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        sans-serif}
.nlfm label .nlip:placeholder-shown+span{top:15px;left:1rem;font-size:0.9em}
.nlfm label .nlip:focus+span,.nlfm label .nlip:valid+span{top:30px;left:1rem;font-size:0.7em;font-weight:600}
.nlfm label .nlip:valid+span{color:green}
.nlfm textarea{color:#333;font-size:0.9em;min-height:300px;padding:1rem;border-radius:1rem}
.nlsbmx{border:none;outline:none;background-color:#333;padding:10px;color:#fff;height:60px;font-size:16px;transition:0.3s;border-radius:1rem}
.nlsbmx:hover{background-color:rgb(82, 82, 82)}
#nli-box-ls,#nli-box-vx{max-width:1820px;margin:0 auto;padding-bottom:10rem}
.nlsb-tt .nlsec-tt{padding:200px 1rem 0px;margin-bottom:100px;overflow:hidden;text-align:center;position:relative;z-index:1}
.nlsb-tt .nlsec-tt h3{position:relative;z-index:1;margin-bottom:3rem;font-size:max(1.75rem, 2.25vw);color:var(--sub);font-weight:500;opacity:0}
.nlsb-tt .nlsec-tt p{opacity:0}
.nlcnsx-fm{width:360px;height:560px;background:#fff;border-radius:10px;position:absolute;z-index:8;right:10%;top:50%;transform:translateY(-50%)}
@media (max-width: 768px){
.nlcnsx-fm{display:none}
}
.nlcnsx-fm-in{padding:36px 38px;font-family:var(--font-pretendard);display:flex;flex-direction:column;box-sizing:border-box}
.nlcnsx-fm-in h1{font-size:24px;font-weight:600;letter-spacing:-0.02em}
.nlcnsx-fm-fldx{margin-top:20px}
.nlcnsx-fm-lblx{font-size:16px;font-weight:500;margin-bottom:6px;color:#363636}
.nlcnsx-fm-lblx span{color:#c76324}
.nlcnsx-fm-fldx input,.nlcnsx-fm-fldx button{width:100%;height:42px;border-radius:6px;padding-left:12px;font-size:16px;background:#f6f2ec;border:1px solid #efe7dc;box-sizing:border-box;font-family:var(--font-pretendard)}
.nlcnsx-fm-fldx input::placeholder{color:#777}
.nlcnsx-fm-phnx{display:flex;align-items:center;gap:4px}
.nlcnsx-fm-sv{display:flex}
.nlcnsx-fm-rdx{width:50%;display:flex;align-items:center;gap:6px;padding:10px 0;cursor:pointer;font-size:16px;color:#777}
.nlcnsx-fm-rdx input{display:none}
.nlcnsx-fm-rdx-ic{width:16px;height:16px;border-radius:50%;border:2px solid #ccc;position:relative}
.nlcnsx-fm-rdx-ic::after{content:"";width:8px;height:8px;border-radius:50%;background:#e88731;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) scale(0);transition:0.2s ease}
.nlcnsx-fm-rdx input:checked+.nlcnsx-fm-rdx-ic{border-color:#e88731}
.nlcnsx-fm-rdx input:checked+.nlcnsx-fm-rdx-ic::after{transform:translate(-50%, -50%) scale(1)}
.nlcnsx-fm-rdx input:checked+.nlcnsx-fm-rdx-ic+span{color:#000}
.nlcnsx-fm-prvx{margin-top:12px;display:flex;justify-content:space-between;align-items:center;font-size:14px;color:#363636}
.nlcnsx-fm-chcx{display:flex;align-items:center;cursor:pointer}
.nlcnsx-fm-chcx input{display:none}
.nlcnsx-fm-chcx-ic{width:16px;height:16px;border-radius:50%;border:1px solid #ccc5bb;background:#fff;margin-right:8px;position:relative;transition:0.2s}
.nlcnsx-fm-chcx-ic::after{content:"";width:8px;height:8px;border-radius:50%;background:#363636;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) scale(0);transition:0.2s}
.nlcnsx-fm-chcx input:checked+.nlcnsx-fm-chcx-ic{border-color:#363636}
.nlcnsx-fm-chcx input:checked+.nlcnsx-fm-chcx-ic::after{transform:translate(-50%, -50%) scale(1)}
.nlcnsx-fm-prvx-lk{font-size:14px;color:#777;cursor:pointer}
.nlcnsx-fm-sbmx{margin-top:22px}
.nlcnsx-fm-sbmx button{width:100%;height:47px;border:none;border-radius:6px;font-size:18px;font-weight:700;color:#fff;background:#e86d1a;opacity:0.8;cursor:pointer;transition:0.2s}
.nlcnsx-fm-sbmx.active button{opacity:1}
html{overflow-y:scroll}
body{margin:0;padding:0;font-family:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif}
html,h1,h2,h3,h4,h5,h6,form,fieldset,img{margin:0;padding:0;border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
ul,dl,dt,dd{margin:0;padding:0;list-style:none}
legend{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label,input,button,select,img{vertical-align:middle;font-size:1em}
input,button{margin:0;padding:0;font-family:"Malgun Gothic", dotum, sans-serif;font-size:1em}
input[type="submit"]{cursor:pointer}
button{cursor:pointer}
textarea,select{font-family:"Malgun Gothic", dotum, sans-serif;font-size:1em}
select{margin:0}
p{margin:0;padding:0}
hr{display:none}
pre{overflow-x:scroll;font-size:1.1em}
a{color:#000;text-decoration:none}
*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
input[type="text"],input[type="password"],textarea{-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;outline:none}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus,select:focus{-webkit-box-shadow:0 0 5px #9ed4ff;-moz-box-shadow:0 0 5px #9ed4ff;box-shadow:0 0 5px #9ed4ff;border:1px solid #558ab7 !important}
#nli-hdx,#nli-wr,#nli-ftx{min-width:1200px}
#nli-hdx-pp,#nli-hdx-wr,#nli-cont-wrx,#nli-ftx-wrx{width:1200px}
#nli-hdx-pp{z-index:1000;position:relative;margin:0 auto;height:0}
#nli-hdx-pp h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
.nlhdx-ppsx{position:absolute;border:1px solid #e9e9e9;background:#fff}
.nlhdx-ppsx img{max-width:100%}
.nlhdx-ppsx-ft{padding:0;background:#000;color:#fff;text-align:left;position:relative}
.nlhdx-ppsx-ft:after{display:block;visibility:hidden;clear:both;content:""}
.nlhdx-ppsx-ft button{padding:10px;border:0;color:#fff}
.nlhdx-ppsx-ft .nlhdx-ppsx-rjcx{background:#000;text-align:left}
.nlhdx-ppsx-ft .nlhdx-ppsx-rjcx strong{color:white}
.nlhdx-ppsx-ft .nlhdx-ppsx-cls{background:#393939;position:absolute;top:0;right:0}
#nli-hdx{background:#fff}
#nli-hdx-h1x{position:absolute;font-size:0;line-height:0;overflow:hidden}
#nli-tnbx{border-bottom:1px solid #ddd;margin:0 auto}
#nli-tnbx:after{display:block;visibility:hidden;clear:both;content:""}
#nli-hdx-wr{position:relative;margin:0 auto;height:140px;zoom:1}
#nli-hdx-wr:after{display:block;visibility:hidden;clear:both;content:""}
#nli-lg{float:left;padding:30px 0 0}
#nli-hdx-schx h3{position:absolute;font-size:0;line-height:0;overflow:hidden}
#nli-hdx-schx{border-radius:30px;overflow:hidden}
#nli-hdx-schx #nli-schx-stxx{float:left;width:385px;height:45px;padding-left:10px;border-radius:30px 0 0 30px;background:#2c2c2c;border:0;border-right:0;font-size:1.25em;color:#fff}
#nli-hdx-schx #nli-schx-sbmx{float:left;width:60px;height:45px;border:0;background:#2c2c2c;color:#fff;border-radius:0 30px 30px 0;cursor:pointer;font-size:16px}
#nli-hdx-dfnx{float:left}
#nli-hdx-dfnx:after{display:block;visibility:hidden;clear:both;content:""}
#nli-hdx-dfnx li{float:left;font-size:1.083em;line-height:14px;border-right:1px solid #4a4a4a;position:relative;text-align:center;margin:15px 10px 15px 0;padding-right:10px}
#nli-hdx-dfnx li:last-child{padding-right:0;margin-right:0;border-right:0}
#nli-hdx-dfnx li a{display:inline-block;color:#919191}
#nli-hdx-dfnx li.active a{color:#000}
#nli-hdx-qnbx{float:right;text-align:right}
#nli-hdx-qnbx:after{display:block;visibility:hidden;clear:both;content:""}
#nli-hdx-qnbx li{float:left;font-size:1.083em;line-height:14px;border-right:1px solid #4a4a4a;position:relative;text-align:center;margin:15px 10px 15px 0;padding-right:10px}
#nli-hdx-qnbx li:last-child{padding-right:0;margin-right:0;border-right:0}
#nli-hdx-qnbx li span{display:block;margin-top:5px;font-size:0.92em}
#nli-hdx-qnbx li a{display:flex;align-items:center;color:#919191}
#nli-gn{position:relative;background:#fff}
#nli-gn>h2{position:absolute;font-size:0;line-height:0;overflow:hidden}
#nli-gn #nli-gn-1dux{font-size:1.083em;padding:0;border-bottom:1px solid #e0e2e5;zoom:1}
#nli-gn ul:after{display:block;visibility:hidden;clear:both;content:""}
#nli-gn-llx{display:none;position:absolute;border:1px solid #c5d6da;width:100%;background:#fff;z-index:1000;-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);box-shadow:0 2px 5px rgba(0, 0, 0, 0.2)}
#nli-gn-llx h2{font-size:1.3em;padding:15px 20px;border-bottom:1px solid #e7eeef}
#nli-gn-llx-bk{display:none;background:rgba(0, 0, 0, 0.1);width:100%;height:100%;position:fixed;left:0;top:0;z-index:999}
#nli-wr{background:#f5f7f9}
#nli-cont-wrx:after{display:block;visibility:hidden;clear:both;content:""}
#nli-cont-wrx{padding-top:1rem;font-size:14px;margin:0 auto;zoom:1}
#nli-sdx{float:left;width:235px;padding:0;margin-top:1.5rem}
#nli-cont{position:relative;float:left;min-height:500px;height:auto !important;margin:20px 0;font-size:1em;width:100%;zoom:1}
#nli-cont:after{display:block;visibility:hidden;clear:both;content:""}
#nli-cont-tt{font-size:1.333em;margin:0 auto;font-weight:bold}
#nli-cont-tt span{margin:0 auto 10px;display:block;line-height:30px}
#nli-ftx{background:#212020;margin:0 auto;text-align:center}
#nli-ftx h1{position:absolute;font-size:0;line-height:0;overflow:hidden}
#nli-ftx-wrx{max-width:1240px;margin:0;padding:40px 0;position:relative;display:inline-block;text-align:left}
#nli-ftx-wrx:after{display:block;visibility:hidden;clear:both;content:""}
#nli-ftx-lk{text-align:left}
#nli-ftx-lk a{display:block;color:#fff;line-height:2em;font-weight:bold}
#nli-ftx-cmpx h2{font-size:1.2em;margin-bottom:20px}
#nli-ftx-cmpx{font-weight:normal;color:#e3e3e3;line-height:2em}
#nli-ftx-ctcx{margin:20px 0 10px}
#nli-ftx-cp{text-align:center;width:1200px;margin:0 auto;padding:20px 0;color:#5b5b5b;font-size:0.92em;border-top:1px solid #383838}
#nli-tp-bt{position:fixed;bottom:20px;right:20px;width:50px;height:50px;line-height:46px;border:2px solid #333;color:#333;text-align:center;font-size:15px;z-index:90;background:rgba(255, 255, 255, 0.5)}
#nli-tp-bt:hover{border-color:#3059c7;background:#3059c7;color:#fff}
#nli-hdx-lgnx-msgx{position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.nlsndx-nlyx{display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
#nli-skpx-tox-cont a{z-index:100000;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden}
#nli-skpx-tox-cont a:focus,#nli-skpx-tox-cont a:active{width:100%;height:75px;background:#21272e;color:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}
#nli-cptx{display:inline-block;position:relative}
#nli-cptx legend{position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#nli-cptx #nli-cptx-pic{height:40px;border:1px solid #898989;vertical-align:top;padding:0;margin:0}
#nli-cptx #nli-cptx-mp3x{margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url(img/cssdefault-02.png) no-repeat;text-indent:-999px;border-radius:3px}
#nli-cptx #nli-cptx-rldx{margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url(img/cssdefault-02.png) no-repeat 0 -40px;text-indent:-999px;border-radius:3px}
#nli-cptx #nli-cptx-kyx{margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#nli-cptx #nli-cptx-nf{display:block;margin:5px 0 0;font-size:0.85em;letter-spacing:-0.1em}
#nli-box-vx-ct ul{display:block;list-style-type:disc;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#nli-box-vx-ct ol{display:block;list-style-type:decimal;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#nli-box-vx-ct li{display:list-item}
a.nlbt,.nlbt{line-height:35px;height:35px;padding:0 10px;text-align:center;font-weight:bold;border:0;font-size:1.4em;align-content:center;-webkit-transition:background-color 0.3s ease-out;-moz-transition:background-color 0.3s ease-out;-o-transition:background-color 0.3s ease-out;transition:background-color 0.3s ease-out}
.nlbt-sbmx2{border:0;background:#3a8afd;color:#fff;cursor:pointer;border-radius:3px}
.nlbt-sbmx2:hover{background:#2375eb}
.nlwrx-ct textarea{border:1px solid #d0d3db;background:#fff;color:#000;vertical-align:middle;border-radius:3px;padding:5px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075)}
.nlrqrx,textarea.nlrqrx{background-image:url(img/cssdefault-03.png) !important;background-repeat:no-repeat !important;background-position:right top !important}
#nli-vldx-chcx{margin:100px auto;width:500px}
#nli-vldx-chcx h1{margin-bottom:20px;font-size:1.3em}
#nli-vldx-chcx p{margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}
.nlsvx-mmbx{color:#333}
.nlpgx-wr{clear:both;float:left;display:inline-block}
.nlpgx-wr:after{display:block;visibility:hidden;clear:both;content:""}
.nlpgx{text-align:center}
.nlpgx-pgx,.nlpgx-crrx{display:inline-block;vertical-align:middle;background:#eee;border:1px solid #eee}
.nlpgx a:focus,.nlpgx a:hover{text-decoration:none}
.nlpgx-pgx{color:#959595;font-size:1.083em;height:30px;line-height:28px;padding:0 5px;min-width:30px;text-decoration:none;border-radius:3px}
.nlpgx-pgx:hover{background-color:#fafafa}
.nlpgx-strx{text-indent:-999px;overflow:hidden;background:url(img/cssdefault-04.png) no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.nlpgx-ndx{text-indent:-999px;overflow:hidden;background:url(img/cssdefault-06.png) no-repeat 50% 50% #eee;padding:0;border:1px solid #eee}
.nlpgx-strx:hover,.nlpgx-ndx:hover{background-color:#fafafa}
.nlpgx-crrx{display:inline-block;background:#3a8afd;border:1px solid #3a8afd;color:#fff;font-weight:bold;height:30px;line-height:30px;padding:0 10px;min-width:30px;border-radius:3px}
#nli-dvcx-chnx{display:block;margin:0.3em;padding:0.5em 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}
@media(max-width:1440px){
#nli-hdx-pp{width:90% !important;z-index:10000;display:flex;justify-content:space-between;flex-wrap:wrap;align-items:flex-start}
.nlhdx-ppsx{position:relative;width:49% !important;left:auto !important;top:20vh !important;margin-bottom:2%;font-size:14px}
.nlhdx-ppsx-ct{width:100% !important;height:auto !important}
.nlhdx-ppsx img{width:100% !important;display:block}
}
@media(max-width:1024px){
.nlhdx-ppsx{width:49% !important}
}
@media(max-width:768px){
.nlhdx-ppsx{width:100% !important;position:absolute}
}
