.ewclsx{position:relative}
.ewclsx:before{content:"Closed";position:absolute;top:50%;left:50%;z-index:2;transform:translate(-50%,-50%);font-family:Pretendard,sans-serif;font-size:var(--font-size-32);font-weight:500;color:var(--white);letter-spacing:-.02;opacity:.7}
.ewclsx:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background:#000;opacity:.5;z-index:1}
@media(max-width:1024px){
.ewclsx:before{font-size:24px}
}
