.ewdtrx{width:100%;min-height:fit-content;margin:0 auto;box-sizing:border-box;font-size:20px;word-break:keep-all;color:var(--themeBlack);line-height:150%}
.ewdtrx .ewbnx-blcx-grpx{width:100%!important}
.ewdtrx h1{font-weight:700}
.ewdtrx h1.ewbnx-nlnx-ct span,.ewdtrx h1.ewbnx-nlnx-ct strong{font-size:var(--font-size-44);font-weight:var(--font-weight-bold)}
.ewdtrx h2{font-weight:700}
.ewdtrx h2.ewbnx-nlnx-ct span,.ewdtrx h2.ewbnx-nlnx-ct strong{font-size:var(--font-size-40);font-weight:var(--font-weight-bold)}
.ewdtrx h3{font-size:var(--font-size-32);font-weight:700;word-break:keep-all;color:var(--themeBlack)}
.ewdtrx h3.ewbnx-nlnx-ct span,.ewdtrx h3.ewbnx-nlnx-ct strong{font-size:var(--font-size-32);font-weight:var(--font-weight-bold)}
.ewdtrx p{font-size:var(--font-size-20);word-break:keep-all;color:var(--themeBlack)}
.ewdtrx p:empty{height:30px}
.ewdtrx strong{font-weight:700;word-break:keep-all;color:var(--themeBlack)}
.ewdtrx .ewbnx-flx-blcx-ct-wr{width:100%;max-width:100%!important}
.ewdtrx [data-file-block] .ewbnx-kv-mdx{border-radius:0;box-sizing:border-box}
.ewdtrx img{width:auto;max-width:100%}
.ewdtrx div[data-content-type=checkListItem] p{margin-left:10px}
.ewdtrx table{width:100%}
.ewdtrx table,.ewdtrx table td{border:1px solid var(--themeGrayCC)}
.ewdtrx .ewbnx-flx-cptx,.ewdtrx figcaption{padding-top:8px;text-align:left;font-size:var(--font-size-14);color:var(--themeGray66)}
.ewdtrx .ewbnx-blcx-ct{margin-top:0}
.ewdtrx .ewbnx-blcx-ct[data-type*=f]{padding:0!important}
.ewdtrx .ewbnx-blcx-ct:has(.ewfntx){padding:0!important}
.ewdtrx .ewfntx .ewlrtx-ic-wr{display:none!important}
.ewdtrx .ewfntx[data-alert-type=f28] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-28)}
.ewdtrx .ewfntx[data-alert-type=f24] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-24)}
.ewdtrx .ewfntx[data-alert-type=f22] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-22)}
.ewdtrx .ewfntx[data-alert-type=f20] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-20)}
.ewdtrx .ewfntx[data-alert-type=f18] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-18)}
.ewdtrx .ewfntx[data-alert-type=f16] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-16)}
.ewdtrx .ewfntx[data-alert-type=f14] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-14)}
.ewdtrx .ewfntx[data-alert-type=f12] .ewnlnx-ct{font-weight:inherit;color:inherit;font-size:var(--font-size-12)}
.ewdtrx .ewbnx-blcx-clmx-ls{width:100%;margin:0 auto;gap:20px}
.ewdtrx .ewbnx-blcx-clmx-ls .ewbnx-blcx-clmx{padding:0}
.ewdtrx .ewbnx-blcx-clmx-ls .ewbnx-blcx-clmx .ewbnx-blcx-ct{margin-top:0}
@media(max-width:960px){.editor{text-align:left;font-size:16px}.editor .bn-file-block-content-wrapper{width:100%!important}.editor img{width:100%}.editor p,.editor strong{font-size:var(--font-size-16)}.editor .bn-file-caption{padding-top:12px;font-size:var(--font-size-12)}}
