.ewwhtx-nsdx .swiper .swiper-slide{transition:all .5s ease-out 0s}
.ewwhtx-nsdx .swiper .swiper-button-prev{margin-top:0;top:0;left:auto;right:46px;width:34px;height:34px}
.ewwhtx-nsdx .swiper .swiper-button-prev:after{font-size:0;background-image:url(../img/icons/next-dark.svg);background-size:100% 100%;width:34px;height:34px;transform:rotate(180deg)}
.ewwhtx-nsdx .swiper .swiper-button-next{margin-top:0;top:0;right:0;width:34px;height:34px}
.ewwhtx-nsdx .swiper .swiper-button-next:after{font-size:0;background-image:url(../img/icons/next-dark.svg);background-size:100% 100%;width:34px;height:34px}
@media only screen and (max-width:960px){
.ewwhtx-nsdx .swiper .swiper-button-prev{top:auto;bottom:0;left:auto;right:36px;width:24px;height:24px}
.ewwhtx-nsdx .swiper .swiper-button-next{top:auto;bottom:0;right:4px;width:24px;height:24px}
}
.ewdtlx-wr{min-height:100vh;overflow:hidden}
.ewdtlx-wr .ewdtrx ol{list-style:decimal!important;padding-left:24px!important}
.ewdtlx-wr .ewdtrx ul{list-style:disc!important;padding-left:24px!important}
.ewdtlx-wr .ewdtrx li{display:list-item!important}
.ewdtlx-wr .ewdtrx li>p{margin:0}
.ewdtlx-wr .ewdtrx strong{display:inline;font-weight:700;line-height:inherit;color:inherit}
.ewdtlx-wr .ewdtrx del,.ewdtlx-wr .ewdtrx s,.ewdtlx-wr .ewdtrx strike{text-decoration:line-through}
.ewdtlx-wr .ewdtrx u{text-decoration:underline}
.ewdtlx-wr .ewdtrx em,.ewdtlx-wr .ewdtrx i{font-style:italic}
.ewdtlx-wr .ewdtrx del[style],.ewdtlx-wr .ewdtrx em[style],.ewdtlx-wr .ewdtrx i[style],.ewdtlx-wr .ewdtrx s[style],.ewdtlx-wr .ewdtrx span[style],.ewdtlx-wr .ewdtrx strike[style],.ewdtlx-wr .ewdtrx strong[style],.ewdtlx-wr .ewdtrx u[style]{color:unset;background-color:unset}
.ewdtlx-wr .ewdtrx [data-text-color=default]{color:inherit!important}
.ewdtlx-wr .ewdtrx [data-text-color=gray]{color:#9b9a97!important}
.ewdtlx-wr .ewdtrx [data-text-color=brown]{color:#64473a!important}
.ewdtlx-wr .ewdtrx [data-text-color=orange]{color:#d9730d!important}
.ewdtlx-wr .ewdtrx [data-text-color=yellow]{color:#dfab01!important}
.ewdtlx-wr .ewdtrx [data-text-color=green]{color:#0f7b6c!important}
.ewdtlx-wr .ewdtrx [data-text-color=blue]{color:#0b6e99!important}
.ewdtlx-wr .ewdtrx [data-text-color=purple]{color:#6940a5!important}
.ewdtlx-wr .ewdtrx [data-text-color=pink]{color:#ad1a72!important}
.ewdtlx-wr .ewdtrx [data-text-color=red]{color:#e03e3e!important}
.ewdtlx-wr .ewdtrx [data-color=gray]{color:#9b9a97!important}
.ewdtlx-wr .ewdtrx [data-color=brown]{color:#64473a!important}
.ewdtlx-wr .ewdtrx [data-color=orange]{color:#d9730d!important}
.ewdtlx-wr .ewdtrx [data-color=yellow]{color:#dfab01!important}
.ewdtlx-wr .ewdtrx [data-color=green]{color:#0f7b6c!important}
.ewdtlx-wr .ewdtrx [data-color=blue]{color:#0b6e99!important}
.ewdtlx-wr .ewdtrx [data-color=purple]{color:#6940a5!important}
.ewdtlx-wr .ewdtrx [data-color=pink]{color:#ad1a72!important}
.ewdtlx-wr .ewdtrx [data-color=red]{color:#e03e3e!important}
.ewdtlx-wr .ewdtrx [data-background-color=default]{background-color:transparent!important}
.ewdtlx-wr .ewdtrx [data-background-color=gray]{background-color:#ebeced!important}
.ewdtlx-wr .ewdtrx [data-background-color=brown]{background-color:#e9e5e3!important}
.ewdtlx-wr .ewdtrx [data-background-color=orange]{background-color:#faebdd!important}
.ewdtlx-wr .ewdtrx [data-background-color=yellow]{background-color:#fbf3db!important}
.ewdtlx-wr .ewdtrx [data-background-color=green]{background-color:#ddedea!important}
.ewdtlx-wr .ewdtrx [data-background-color=blue]{background-color:#ddebf1!important}
.ewdtlx-wr .ewdtrx [data-background-color=purple]{background-color:#eae4f2!important}
.ewdtlx-wr .ewdtrx [data-background-color=pink]{background-color:#f4dfeb!important}
.ewdtlx-wr .ewdtrx [data-background-color=red]{background-color:#fbe4e4!important}
.ewdtlx-wr .ewdtrx [data-bg-color=gray]{background-color:#ebeced!important}
.ewdtlx-wr .ewdtrx [data-bg-color=brown]{background-color:#e9e5e3!important}
.ewdtlx-wr .ewdtrx [data-bg-color=orange]{background-color:#faebdd!important}
.ewdtlx-wr .ewdtrx [data-bg-color=yellow]{background-color:#fbf3db!important}
.ewdtlx-wr .ewdtrx [data-bg-color=green]{background-color:#ddedea!important}
.ewdtlx-wr .ewdtrx [data-bg-color=blue]{background-color:#ddebf1!important}
.ewdtlx-wr .ewdtrx [data-bg-color=purple]{background-color:#eae4f2!important}
.ewdtlx-wr .ewdtrx [data-bg-color=pink]{background-color:#f4dfeb!important}
.ewdtlx-wr .ewdtrx [data-bg-color=red]{background-color:#fbe4e4!important}
.ewdtlx-wr .ewdtrx [data-align=left],.ewdtlx-wr .ewdtrx [data-text-align=left],.ewdtlx-wr .ewdtrx [data-text-alignment=left]{text-align:left!important}
.ewdtlx-wr .ewdtrx [data-align=center],.ewdtlx-wr .ewdtrx [data-text-align=center],.ewdtlx-wr .ewdtrx [data-text-alignment=center]{text-align:center!important}
.ewdtlx-wr .ewdtrx [data-align=right],.ewdtlx-wr .ewdtrx [data-text-align=right],.ewdtlx-wr .ewdtrx [data-text-alignment=right]{text-align:right!important}
.ewdtlx-wr .ewdtrx [data-align=justify],.ewdtlx-wr .ewdtrx [data-text-align=justify],.ewdtlx-wr .ewdtrx [data-text-alignment=justify]{text-align:justify!important}
.ewdtlx-wr .ewdtrx [data-table-resize-handle]{pointer-events:auto!important;z-index:10}
.ewdtlx-wr .ewwhtx-dtlx{height:max-content;max-width:100%;width:100%;margin-top:0}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx{white-space:pre-line}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx strong{display:inline;font-size:inherit;font-weight:700;line-height:inherit;color:inherit}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx p{font-size:20px;line-height:150%;word-break:keep-all;color:inherit}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h3{font-size:28px;font-weight:700}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h3 span,.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h3 strong{font-size:28px}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h4{font-size:22px;font-weight:700}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h4 span,.ewdtlx-wr .ewwhtx-dtlx .ewdtrx h4 strong{font-size:22px}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx table{width:max-content!important;min-width:100%!important;max-width:none!important;table-layout:fixed!important;margin:0 auto;border-collapse:collapse;border:1px solid #d2cdc7}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx table td,.ewdtlx-wr .ewwhtx-dtlx .ewdtrx table th{min-width:80px;border:1px solid #d2cdc7;padding-top:50px;padding-bottom:50px;vertical-align:top;box-sizing:border-box}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx table td p,.ewdtlx-wr .ewwhtx-dtlx .ewdtrx table th p{margin:0;color:inherit}
.ewdtlx-wr .ewwhtx-dtlx .ewdtrx .ewfntx-bldx+.ewfntx-bldx{margin-top:20px}
@media(max-width:960px){.detail-wrap .whatson-detail .editor h3{font-size:22px}.detail-wrap .whatson-detail .editor h4{font-size:18px}.detail-wrap .whatson-detail .editor strong{font-size:inherit}.detail-wrap .whatson-detail .editor p{font-size:16px}.detail-wrap .whatson-detail .editor table td,.detail-wrap .whatson-detail .editor table th{padding-top:30px;padding-bottom:30px}}
.ewdtlx-wr .ewnsdx-dtlx{padding:0 20px;min-height:1500px;box-sizing:border-box}
.ewdtlx-wr .ewnsdx-dtlx .swiper{overflow:visible}
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-prev{left:30px;width:48px;height:48px;opacity:1}
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-prev:after{font-size:0;background-image:url(../img/icons/next-white.svg);background-size:100% 100%;width:100%;height:100%;transform:rotate(180deg)}
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-next{right:30px;width:48px;height:48px;opacity:1}
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-next:after{font-size:0;background-image:url(../img/icons/next-white.svg);background-size:100% 100%;width:100%;height:100%}
@media only screen and (max-width:960px){
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-prev{margin-top:-12px;left:0;width:24px;height:24px}
.ewdtlx-wr .ewnsdx-dtlx .swiper .swiper-button-next{margin-top:-12px;right:0;width:24px;height:24px}
}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx{margin-top:120px}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx .ewbnx-blcx-clmx-ls{margin:0 auto}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx .ewbnx-blcx-clmx-ls .ewbnx-blcx-clmx .ewbnx-flx-blcx-ct-wr{width:100%!important}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx [data-content-type]:not([data-content-type=image]):not([data-content-type=table]){max-width:900px;margin:0 auto}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx [data-content-type=table]{max-width:none!important;width:100%!important;overflow-x:auto;margin:0 auto}
.ewdtlx-wr .ewnsdx-dtlx .ewdtrx [data-content-type=table] table{width:max-content!important;min-width:100%!important;max-width:none!important;table-layout:fixed!important}
@media(max-width:960px){.detail-wrap .inside-detail{width:fit-content;max-width:100%;margin:0 auto;padding:0 20px;box-sizing:border-box}}
