.ewkyx-kv{position:relative;display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;box-sizing:border-box;background-color:#151418}
.ewkyx-kv>img{z-index:-2;display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%) scale(1.3);width:100%;height:100%;object-fit:cover}
.ewkyx-kv .ewtx-ar{z-index:2;position:absolute;bottom:12%;left:50%;transform:translateX(-50%);width:100%;max-width:calc(100% - 160px);padding:0 20px;box-sizing:border-box;text-align:center}
.ewkyx-kv h1{color:var(--white);opacity:.7}
.ewkyx-kv h2{color:var(--white);line-height:140%;white-space:pre-line;word-break:keep-all}
@media(max-width:960px){.key-visual .text-area{bottom:13%;width:100%;max-width:100%}}
