.ewcstx-ppvx.ant-popover .ant-popover-inner{border-radius:0!important;border:1px solid var(--themeLGrey);padding:20px;box-sizing:border-box}
.ewcstx-ppvx.ant-popover .ant-btn{padding:0}
@media(max-width:960px){.custom-popover.ant-popover{margin-top:-10px!important}}
.ewcstx-mdlx{box-sizing:border-box}
.ewcstx-mdlx .ant-modal-close{top:40px;right:40px;width:40px;height:40px}
