.ewcstx-ppvx.ant-popover .ant-popover-inner{border-radius:0!important;border:1px solid var(--themeLGrey);padding:20px;box-sizing:border-box}
.ewcstx-ppvx.ant-popover .ant-btn{padding:0}
@media(max-width:960px){
.ewcstx-ppvx.ant-popover{margin-top:-10px!important}
}
.ewcstx-ppvx-bt{position:absolute;top:0;right:0;padding:0!important;height:21px}
.ewcstx-ppvx-bt span{font-family:Pretendard,Marcellus,sans-serif!important}
@media(max-width:960px){
.ewcstx-ppvx-bt{height:18px}
}
:is(.ewpnx-1,.ewpnx-2,.ewpnx-3,.ewpnx-4,.ewpnx-5,.ewpnx-6,.ewpnx-enx-1,.ewpnx-enx-2,.ewpnx-enx-3,.ewpnx-enx-4,.ewpnx-enx-5,.ewpnx-enx-6,.ewpnx-spcx){position:absolute;display:flex;flex-direction:column;align-items:center;justify-content:center}
.ewpnx-1{top:4.75%;right:6.58%}
.ewpnx-2{top:28.6%;left:59%}
.ewpnx-3{top:48.5%;right:8.5%}
.ewpnx-4{right:14%;bottom:27.13%}
.ewpnx-5{top:22.5%;left:2.25%}
.ewpnx-6{top:30%;right:19.3%}
.ewmp-wr img,.ewmp-wr img.ewfdx-outx{transition:opacity .3s ease-in-out 0s}
.ewmp-wr img.ewfdx-outx{opacity:0!important}
.ewmp-wr img.ewfdx-inx{transition:opacity .3s ease-in-out .1s;opacity:1!important}
.ewcstx-mp-swpx{box-sizing:border-box;overflow-y:visible}
.ewcstx-mp-swpx .swiper-pagination{top:auto!important;bottom:-2px!important;z-index:10;height:fit-content;line-height:1!important}
.ewcstx-mp-swpx .swiper-pagination .swiper-pagination-bullet{width:8px;height:8px;background:var(--themeWhite);opacity:1}
.ewcstx-mp-swpx .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--themeBlack)}
.ewcstx-mdlx{box-sizing:border-box}
.ewcstx-mdlx .ant-modal-content{padding:100px 150px;box-sizing:border-box}
.ewcstx-mdlx .ant-modal-close{top:40px;right:40px;width:40px;height:40px}
