.ewpp-swpx{width:100%;height:calc(100% - 60px)}
@media (max-width:960px){
.ewpp-swpx{width:100%;height:calc(100% - 36px)}
}
.ewpp-swpx .swiper-pagination-bullet{opacity:100%;background-color:#ccc;width:12px;height:12px;border-radius:50%}
.ewpp-swpx .swiper-pagination-bullet-active{opacity:100%;background-color:#3c3a34;width:24px;height:12px;border-radius:20px}
@media (max-width:960px){
.ewpp-swpx .swiper-pagination-bullet{width:6px;height:6px;border-radius:50%}
.ewpp-swpx .swiper-pagination-bullet-active{width:14px;height:7px;border-radius:10px}
}
