.ant-picker-header-super-next-btn,.ant-picker-header-super-prev-btn{display:none!important}
.ewcstx-slcx-smlx.ant-select .ant-select-selector{padding:0!important;border:none!important;outline:none!important;border-radius:0!important}
@media(max-width:959px){
.ewcstx-slcx-smlx.ant-select .ant-select-selector{height:18px!important}
}
.ewcstx-slcx-smlx.ant-select .ant-select-selector .ant-select-selection-wrap{align-items:center}
.ewcstx-slcx-smlx.ant-select .ant-select-selector .ant-select-selection-wrap .ant-select-selection-search{width:100%;padding-inline-end:28px!important}
.ewcstx-slcx-smlx.ant-select .ant-select-selector:focus{border:none!important;outline:none!important;border-radius:0!important}
.ewcstx-slcx-smlx.ant-select .ant-select-selection-item{min-width:52px;width:fit-content;font-size:18px;font-weight:700!important;padding-inline-end:24px!important}
@media(max-width:959px){
.ewcstx-slcx-smlx.ant-select .ant-select-selection-item{font-size:14px}
}
.ewcstx-slcx-smlx.ant-select .ant-select-arrow{margin-top:-12px!important;right:0;width:24px;height:24px}
@media(max-width:959px){
.ewcstx-slcx-smlx.ant-select .ant-select-arrow{margin-top:-18px!important;width:auto;height:auto}
}
.ewnptx2{height:41px!important}
.ewnptx2 .ant-select-selector{border:1px solid #e6e2e1!important;outline:none!important;border-radius:4px!important;height:41px!important}
.ewnptx2 .ant-select-selector:focus{border:none!important;outline:none!important;border-radius:none!important}
.ewnptx .ant-select-item-option-content,.ewmtpx .ant-select-item-option-content{font-size:14px;font-weight:600;text-align:left}
.ewrlxx .ant-modal-content{border-radius:0!important}
