.ant-picker-header-super-next-btn,.ant-picker-header-super-prev-btn{display:none!important}
.ewnptx2{height:41px!important}
.ewnptx2 .ant-select-selector{border:1px solid #e6e2e1!important;outline:none!important;border-radius:4px!important;height:41px!important}
.ewnptx2 .ant-select-selector:focus{border:none!important;outline:none!important;border-radius:none!important}
@media(max-width:1023px){
.ewnptx2{height:34px}
}
.ewnptx .ant-select-item-option-content,.ewmtpx .ant-select-item-option-content{font-size:14px;text-align:left}
